{%extends "base/cocpage.html"%}
{%load pgfilters%}
{%block title%}Code of Conduct Committee{%endblock%}
{%block cocmain%}

<h1>Code of Conduct Committee <i class="fas fa-users"></i></h1>

<p><em>Last updated: October 14, 2024. {%git_changes_link%}</em></p>

<h3>Contact</h3>

<p>
  You can contact the <a href="/about/policies/coc/">Code of Conduct</a>
  Committee at <a href="mailto:coc@postgresql.org">coc@postgresql.org</a>.
</p>

<h3>Current Members</h3>

<table class="table table-striped cocc-table">
  <tbody>
    <tr>
      <td>Chris Travers (Chair)<br/><em>chris.travers (at) gmail.com</em></td>
      <td>
        Chris Travers has 25 years of experience with PostgreSQL in many roles
        from DBA to developer and is active on commitfiests.
        He also actively presents at conferences around the world.  He is deeply
        committed to helping expand Postgres worldwide.  He has been involved in
        leading other open source software projects through the years, including
        LedgerSMB which he helped found. He currently lives in Indonesia for
        family reasons and believes in helping ensure that the PostgreSQL
        community and we can come together across diverse cultural and other
        backgrounds in our community to build the economic commons that
        economically support so many of us.
      </td>
    </tr>
    <tr>
      <td>Floor Drees<br/><em>floordrees (at) gmail.com</em></td>
      <td>
        Floor Drees is the Head of Education for Tembo. She's been an outspoken
        member of the open source community for decades. Floor has been working
        in Community and Developer Relations roles for the better part of her
        career. She's one of the organizers of PGDay Lowlands, and outside the
        Postgres realm is a Devopsdays Core team member, and Devopsdays
        Amsterdam organizer.
      </td>
    </tr>
    <tr>
      <td>Hari Kiran<br/><em>hari.sysdba (at) gmail.com </em></td>
      <td>
        Hari Kiran is a PostgreSQL Evangelist at pgEdge and OpenSource DB,
        working with Customers on Distributed Multi-master PostgreSQL solutions.
        With extensive experience in the PostgreSQL ecosystem, Hari is
        passionate about helping businesses migrate to scalable and resilient
        Postgres architectures. A strong advocate for community building, Hari
        has played a key role in organizing and sponsoring PostgreSQL events,
        such as PGDay Hyderabad 2024 and PGConf India. He is committed to
        fostering growth and innovation within the Postgres community, combining
        technical expertise with a forward-looking vision for the future of
        open-source databases.
      </td>
    </tr>
    <tr>
      <td>Michael Goldberg<br/><em>mic.goldberg (at) gmail.com </em></td>
      <td>
        Michael Goldberg is a co-organizer of PGDay Israel conferences since
        2017, co-founder of PostgreSQL Israeli Community, member of PG BootCamp
        initiative, PostgreSQL translator, part of the PostgreSQL press releases
        translation team, and maintainer of the PostgreSQL Israel and PGDay
        Israel websites. Michael is the Containers Product Architect at Spot by
        Netapp.
      </td>
    </tr>
    <tr>
      <td>Pavel Luzanov<br/><em>pavel.luzanov (at) gmail.com </em></td>
      <td>
        Pavel Luzanov has been working with PostgreSQL at Postgres Professional
        since 2015. Before that, he spent over 20 years working with Oracle DBMS
        as an application developer, architect and project manager. At Postgres
        Professional, he specializes in educational projects: training courses,
        certification exams, blogging, books. Pavel is a regular speaker at the
        PGConf.Russia series of conferences.
      </td>
    </tr>
    <tr>
      <td>Sergei Kim<br/><em>serk.kmh (at) gmail.com</em></td>
      <td>
        Sergei Kim is passionate about Architecting the Future. As a Solutions
        Architect at EPAM, he specializes in crafting innovative solutions that
        bridge the gap between vision and reality. Nestled in the picturesque
        Netherlands, he's made it his mission to design and develop
        cutting-edge, distributed, and highly-loaded systems that pave the way
        for tomorrow's digital landscape.
      </td>
    </tr>
    <tr>
      <td>Simon Pane<br/><em>simon.pane (at) strategicdbs.com</em></td>
      <td>
        Simon Pane works as a Principal Consultant for Pythian, specializing in
        PostgreSQL and Oracle on-premises and in the cloud.  Simon is located in
        Canada and has been working with relational databases for over 25 years.
        As well as having been heavily involved in the community as a regular
        presenter and blogger, he is a past user-group Board Director and has
        served as a volunteer member of several formal industry and community
        Advisory Boards.
      </td>
    </tr>
    <tr>
      <td>Sonia Valeja<br/><em>sonia_vlj (at) live.com</em></td>
      <td>
        Sonia Valeja is an IT professional with over a decade of experience
        managing a range of PostgreSQL projects across diverse geographies.
        Throughout her career, she has taken on various roles, including PL/SQL
        Developer, Oracle to PostgreSQL Migration Expert, Database Lead, DBA,
        Corporate Trainer, PostgreSQL Developer, and many more. In addition to
        co-authoring the book PostgreSQL for Job Seekers, published in June
        2023, she also developed a LinkedIn Learning course titled PostgreSQL
        Backup Tool - pgBackRest, which was launched in April 2024.
      </td>
    </tr>
  </tbody>
</table>

<h3>Past Members</h3>

<ul>
  <li>Aleksandra Abramova (2022&ndash;2024)</li>
  <li>Anastasia Lubennikova (2020&ndash;2022)</li>
  <li>Anthony Nowocien (2022&ndash;2024)</li>
  <li>Carole Arnaud (2019&ndash;2021)</li>
  <li>Eliza Bennett (2022&ndash;2024; Chair, 2023&ndash;2024)</li>
  <li>Fábio Telles Rodriguez (2020&ndash;2021)</li>
  <li>Ilaria Battiston (2021&ndash;2023)</li>
  <li>Ilya Kosmodemiansky (2018&ndash;2020)</li>
  <li>Jeanette Bromage (2020&ndash;2022)</li>
  <li>Jonathan Katz (2018&ndash;2020)</li>
  <li>L&aelig;titia Avrot (2018&ndash;2019)</li>
  <li>Lucie Šimečková (2021&ndash;2024)</li>
  <li>Michael Goldberg (2020&ndash;2023; 2024&ndash;; Chair, 2022&ndash;2023)</li>
  <li>Stacey Haysler (Chair, 2018&ndash;2021)</li>
  <li>Stefan Fercot (2021&ndash;2023)</li>
  <li>Umair Shahid (2019&ndash;2022; Chair, 2021&ndash;2022)</li>
  <li>Vik Fearing (2018&ndash;2019)</li>
</ul>

{%endblock%}
