{%extends "base/page.html"%}
{%block title%}Code of Conduct Committee{%endblock%}
{%block contents%}

<h1>Code of Conduct Committee <i class="fas fa-users"></i></h1>

<p><i>Last updated: September 14, 2018</i></p>

<p>The <a href="/about/policies/coc/">Code of Conduct</a> committee consists of the
    following people:</p>

<ul>
    <li>Stacey Haysler (Chair)</li>
    <li>Lætitia Avrot</li>
    <li>Vik Fearing</li>
    <li>Jonathan Katz</li>
    <li>Ilya Kosmodemiansky</li>
</ul>

<p>
  You can contact the Code of Conduct Committee at
  <a href="mailto:coc@postgresql.org">coc@postgresql.org</a>.
</p>
{%endblock%}
