{%extends "base/page.html"%}
{%block title%}Code of Conduct Committee{%endblock%}
{%block contents%}

<h1>Code of Conduct Committee <i class="fas fa-users"></i></h1>

<p><i>Last updated: October 17, 2019</i></p>

<h3>Contact</h3>

<p>
  You can contact the <a href="/about/policies/coc/">Code of Conduct</a>
  Committee at <a href="mailto:coc@postgresql.org">coc@postgresql.org</a>.
</p>

<h3>Current Members</h3>

<table class="table table-striped cocc-table">
  <tbody>
     <tr>
      <td>Stacey Haysler (Chair)</td>
      <td>
        Stacey Haysler is the CFO and COO of PostgreSQL Experts, Inc., in
        Alameda, California. She is a PostgreSQL Global Development Group
        Contributor, and is also a principal organizer of the San Francisco
        PostgreSQL Users’ Group and PgDay San Francisco.
      </td>
     </tr>
     <tr>
      <td>Carole Arnaud</td>
      <td>
        Carole Arnaud is an executive board member of Dalibo and team manager.
        She lives in Nantes, France. She was part of the PGDay France committee
        from 2015 to 2018, and has been a co-organizer of pgDay Paris since
        2018.
      </td>
     </tr>
     <tr>
      <td>Ilya Kosmodemiansky</td>
      <td>
        Ilya Kosmodemiansky is a CEO and co-founder at Data Egret, lives in
        Saarbruecken, Germany. He is a co-organizer of usergroups and meetups
        (PostgreSQL User group Frankfurt-am-Main, DevOpsSaar meetup) and is part
        of the organization team of several conferences (PGConf.EU, FOSDEM
        PGDay, PGDay.Russia). He is also a member of the Sponsorship Committee
        of PostgreSQL Project.
      </td>
     </tr>
     <tr>
      <td>Jonathan Katz</td>
      <td>
        Jonathan S. Katz is the Director of Cloud Engineering &amp; Growth at
        Crunchy Data, and lives in New York. He is a PostgreSQL Global
        Development Group Major Contributor focused on advocacy, the website,
        and releases, and also serves on the board of the United States
        PostgreSQL Association.
      </td>
     </tr>
     <tr>
      <td>Umair Shahid</td>
      <td>
        Umair Shahid heads Marketing &amp; Products for 2ndQuadrant and is based
        in Islamabad, Pakistan. He serves as a member of PgUS User Group
        committee along with being the organizer for Islamabad and Dubai
        PostgreSQL Users' Groups. As part of his day job, he organizes the
        annual PostgresLondon event.
      </td>
     </tr>
  </tbody>
</table>

<h3>Past Members</h3>

<table class="table table-striped cocc-table">
  <tbody>
     <tr>
      <td>L&aelig;titia Avrot</td>
      <td>
        L&aelig;titia Avrot is a Database Consultant for EnterpriseDB and lives
        in France, near Lyon. She is one of the Co-Founders of Postgres Women
        and is also an organizer of the Postgres Lyon User Group.
      </td>
     </tr>
     <tr>
      <td>Vik Fearing</td>
      <td>
        Vik Fearing is a consultant and trainer for 2ndQuadrant France, and
        lives in Paris, France. He has been in the PostgreSQL community since
        2008 and is the founder and co-organizer of pgDay Paris, co-organizer of
        PostgreSQL Conference Europe, and a volunteer and speaker at many other
        conferences around the world. He is also a moderator for several of the
        PostgreSQL mailing lists as well as an IRC channel operator for
        #postgresql and #postgresqlfr. He is an inaugural member of the
        PostgreSQL Code of Coduct Committee and part of the team behind the
        @PostgreSQL Twitter account. In his spare time, he likes to write minor
        patches to the PostgreSQL codebase.
      </td>
     </tr>
  </tbody>
</table>

{%endblock%}
