{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}Recognized Contributors{%endblock%}
{%block contents%}

<h1>Recognized Contributors <i class="fas fa-gavel"></i></h1>

<p>
  The PostgreSQL <a href="/community/contributors/">Contributor Profiles</a>
  page includes people who have made substantial, long-term contributions of
  time and effort to the PostgreSQL project. One-time-only or short-term
  contributions are not usually considered adequate for listing, unless they
  involve quite large amounts of code and time.
</p>

<p>
  For a list of all code contributions to a specific release, see the
  <a href="/docs/release/">Release Notes</a> for released versions of
  PostgreSQL.
</p>

<p>
  Financial contributions get listed on the
  <a href="/about/sponsors/">Sponsors</a> pages, not here.
</p>

<h2>Contributors levels</h2>

<h3>Current Contributors</h3>
<p>
  The <a href="/community/contributors/">Contributor Profiles</a> page
  lists Core Team members and two levels of PostgreSQL Contributors:
</p>
<ul>
  <li><strong>Core Team</strong> people on the
      <a href="/developer/core/">PostgreSQL Core Team</a>
  </li>
  <li><strong>Major Contributors</strong> individuals that have provided
      a sustained stream of contributions, having substantial positive
      impact on the development of the PostgreSQL Community, over many years.
  </li>
  <li><strong>Contributors</strong> individuals that have provided a sustained
       stream of notable contributions in recent years.
  </li>
</ul>

<h3>Past Contributors</h3>
<p>
  This section lists people who were in the Core Team, Major Contributor,
  or Contributor section, but have stopped contributing for an extended
  period of time.
</p>
<ul>
  <li><strong>Past Major Contributors</strong>: previous Major Contributors and
    previous Core Team members</li>
  <li><strong>Past Contributors</strong>: previous Contributors</li>
</ul>

<h2>Types of Contributions</h2>

<p>
  Contributions to the PostgreSQL Project that may be considered by the
  committee include, but are not limited to:
</p>
<ul>
  <li>Code: Author, review, test, and/or commit patches that are pushed
      to the primary PostgreSQL git repository, and/or to closely related
      external projects such as PostGIS, pgjdbc, PGAdmin</li>
  <li>Translation: user facing messages in source code, documentation</li>
  <li>Community mailing list participation: report bugs, suggest features,
      contribute to ongoing discussions, answer questions, list moderation</li>
  <li>Governance of the PostgreSQL project or community recognized NPOs:
      Core Team, NPO Board of Directors, NPO Officers, NPO Committees</li>
  <li>Maintenance and operation of community controlled infrastructure:
      Sysadmin Team, Web Team</li>
  <li>Other Community recognized committee participation:
      Security, Code of Conduct</li>
  <li>Management of the development process and software lifecycle:
      Commitfest managers, Release Management Team, Release Team,
      Packagers, Buildfarm animal maintenance</li>
  <li>Organization and execution of community recognized conferences:
      Organizing committee, Selection Committee, Speakers, Volunteers</li>
  <li>Open Education: PostgreSQL related Blogs, articles, uncompensated
      training/tutorials</li>
  <li>Open Support (in addition to community mailing lists):
      #postgresql IRC channel, Postgres slack channel, Stack Overflow
  </li>
</ul>
<p> If there is a type of contribution that you feel should be listed here or
  expanded upon, email
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>.
</p>


<h2>Contributors Committee Governance</h2>
<p>
  The governance of the 
  <a href="/about/governance/contributors/">Contributors Committee</a> is
  described on the <a href="/about/governance/contributors/">Contributors Committee</a>
  page.
</p>

<h2>Nominating New Recognized Contributors</h2>
<p>
  If there is a PostgreSQL contributor who you think is making sustained
  contributions of the type described here, email a description of their
  contributions to
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>.
</p>
{%endblock%}
