{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}Funds Group{%endblock%}

{%block contents%}
<h1>PostgreSQL Funds Group <i class="far fa-money-bill-alt"></i></h1>

<p><em>Last updated: March 1, 2019. {%git_changes_link%}</em></p>

<h2 id="charter">Charter</h2>

<p>
  <strong>Governance Charter of the Relationship</strong> between the PostgreSQL
  project and Software in the Public Interest, Inc.
</p>

<h3>Core Team Membership</h3>

<p>
  The <a href="/developer/core/">Core Team</a> of the PostgreSQL project
  currently consists of the following people:
</p>

<ul>
  <li>Peter Eisentraut</li>
  <li>Magnus Hagander</li>
  <li>Tom Lane</li>
  <li>Bruce Momjian</li>
  <li>Dave Page</li>
</ul>

<p>The Core Team appoints its own members.</p>

<h3>Fundraising Group Membership</h3>

<p>
  The Fundraising Group (a.k.a. Funds Group) of the PostgreSQL project initially
  consisted of the members of The PostgreSQL Foundation Inc. that were active at
  the time of its termination. Thereafter, the Fundraising Group appoints its
  own members using the normal procedures for proposals and votes, as described
  below. The current membership is shown
  <a href="https://wiki.postgresql.org/wiki/PGFGMembers">here</a>.
</p>

<h3>Fundraising Group Elected Positions</h3>

<p>
  The Fundraising Group elects an SPI Liaison and an Deputy SPI Liaison. The
  appointments are subject to the veto of the Core Team. The appointments do not
  have an explicit duration, but either may be replaced at any time using the
  normal procedures for proposals and votes, as described below.
</p>

<p>
  The duty of the SPI Liaison is primarily to represent the interests and
  decisions of the Fundraising Group to SPI. Additionally the SPI Liaison will
  submit to SPI on an ongoing basis a list of persons eligible for automatic SPI
  contributing membership in recognition of their contributions to the
  PostgreSQL project.
</p>

<p>
  The duty of the Deputy SPI Liaison is to perform the duties of the SPI Liaison
  in the case that the SPI Liaison is unavailable for a non-trivial amount of
  time, or upon explicit request of the SPI Liaison or the Fundraising Group.
</p>

<h3>Proposals and Voting</h3>

<p>
  Proposals must be made explicitly via email on the funds group
  <a href="mailto:funds-group@lists.postgresql.org">mailing list</a>, and be
  seconded prior to discussion and voting.
</p>

<p>
  Decisions require discussion and voting in accordance with
  <a href="#votes">how the fundraising group votes</a> in order to be valid.
</p>

<h2 id="votes">Voting</h2>

<h3>Methods</h3>

<p>
  Votes may be collected using either of two methods:
</p>

<ul>
  <li>
    Openly on the mailing list
    <ul>
      <li>
        Anything reasonably clear as to the vote is acceptable, e.g.
        <ul>
          <li><strong>Yes</strong>: yes/+1/aye/yea/affirmative</li>
          <li><strong>No</strong>: no/-1/nay,negative</li>
          <li><strong>Abstain</strong>: abstain/0/pass</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Confidentially via private email to 2 selected members (Vote Collectors)</li>
</ul>

<h3>Open Voting Details</h3>

<p>
  If the vote is determined to be done with the Open Voting method, all votes
  will be sent directly to the mailing list. Voting results should be summarized
  by the member making the motion once the voting period is closed. Any member
  can review the openly available votes for verification of the results.
</p>

<h3>Confidential Voting Details</h3>

<p>
  If the vote is determined to be done with the Confidential Voting method, the
  member who makes the motion may propose the Vote Collectors. The Vote
  Collectors must agree to this responsibility. If they reject the request,
  other members must be selected until 2 are found which agree. If no members
  are specifically selected, the default Vote Collectors are the SPI Liaison and
  the Alternate SPI Liaison.
</p>

<ul>
  <li>
    Members will send their ballot to both Vote Collectors using the email
    address subscribed to the Funds Group mailing list
  </li>
  <li>Both Vote Collectors will tabulate the votes independently</li>
  <li>
    Votes which do not appear on both lists will be discarded after contacting
    the member involved to allow them to re-vote. Although not required, email
    voting should utilize use PGP to sign the vote if possible.
  </li>
  <li>
    Ballots are confidential. They may not be shared except by the Vote
    Collectors for verification purposes.
  </li>
  <li>
    The Vote Collectors should post an email to the Funds Group mailing list no
    later then 24 hours before the end of the vote, listing who has voted, as a
    reminder to all to vote and notification those whose ballot may not have
    been received.
  </li>
  <li>
    The vote results should be posted to the mailing list within 24 hours of the
    vote closing.
  </li>
</ul>

<h3>Process</h3>

<h4>Fund Requests</h4>

<ul>
  <li>
    <a href="#requests">Fund requests</a> must be for reimbursement of
    expenditures which generally fit within the
    <a href="#requests">funding request guidelines</a>.
  </li>
  <li>
    <a href="#requests">Fund requests</a> less than or equal to $1000 USD may go
    through the following special process:
    <ul>
      <li>
        Any member may forward the request to the Funds Group mailing list, or
        the request might come directly to the list via moderation
      </li>
      <li>
        If there are no objections, the Liaison may approve and fund the request
        after 72 hours
      </li>
      <li>
        If there are any objections the request must be processed as any other
        motion, as discussed below
      </li>
    </ul>
  </li>
  <li>
    <a href="#requests">Fund requests</a> greater than $1000 USD must be
    processed as any other motion, as discussed below
  </li>
</ul>

<h4>Motions</h4>

<ul>
  <li>All current members of the Funds Group may submit a motion</li>
  <li>Any other current member must second all motions</li>
  <li>All current members of the Funds Group are eligible to vote</li>
  <li>
    Debate:
    <ul>
      <li>Shall commence once the motion is seconded</li>
      <li>Shall take place on the mailing list</li>
      <li>
        Shall end no sooner than 72 hours after the motion was seconded, unless
        a longer debate period was specifically requested as part of the motion
        (in no case shall debate be less than 72 hours)
      </li>
      <li>
        May be extended through a no-debate motion which is seconded and
        approved via the Open Voting method
      </li>
    </ul>
  </li>
  <li>
    Votes:
    <ul>
      <li>Shall take place on the mailing list or privately as discussed below</li>
      <li>
        Quorum is 5 voting members, or (TRUNCATE(TRUNCATE(N/3)/2)*2) + 1 where N
        is the number of active members, whichever is larger -- for example,
        with 18 active members, (TRUNCATE(TRUNCATE(N/3)/2)*2) + 1 = 7, so the
        quorum is 7
      </li>
      <li>Determined by a simple majority vote, of the voting members</li>
      <li>
        Allow the option to "abstain" -- votes of "abstain" are counted as
        participating for quorum purposes
      </li>
      <li>
        Will remain open for 72 hours from the end of debate, unless a longer
        voting period was specifically requested as part of the motion (in no
        case shall voting be less than 72 hours)
      </li>
    </ul>
  </li>
  <li>
    Method
    <ul>
      <li>The voting method may be determined by the member who makes the motion</li>
      <li>
        If no voting method is thus determined, the vote takes place using the
        Open Voting method, on the mailing list
      </li>
      <li>
        Only one method will be used per vote.
      </li>
    </ul>
  </li>
</ul>

<h2 id="requests">Funding Requests</h2>

<h3>Requesting Funding</h3>

<h4>Types of Fund Requests</h4>

<p>Examples of <a href="">Funds Group</a> fund requests:</p>

<ul>
  <li>
    Travel to technical conferences or tradeshows
    <ul>
      <li>
        We have provided funds to assist speakers of various PostgreSQL related
        conferences with their travel expenses
      </li>
    </ul>
  </li>
  <li>Swag (T-shirts, folders, flyers, etc.)</li>
  <li>
    Cost of operations
    <ul>
      <li>
        PostgreSQL community infrastructure (for web, email, git, etc.)
      </li>
    </ul>
  </li>
  <li>Professional services (video editing, graphics)</li>
</ul>

<h4>How to Request Funds</h4>

<p>
  To request funding, send an email to
  <a href="mailto:funds-group@lists.postgresql.org">funds-group@lists.postgresql.org</a>
  describing:
</p>

<ul>
  <li>What you are seeking funds for</li>
  <li>Total estimated amount of requested funds</li>
</ul>

<h3>What is Considered for Funding Approval</h3>

<p>If requesting funds to provide a talk:</p>

<ul>
  <li>Where the talk is being held</li>
  <li>Expected attendance to the talk</li>
  <li>Cost</li>
  <li>Will you provide the talk under a FOSS or Creative Commons license</li>
</ul>

<p>If requesting funds for an event:</p>

<ul>
  <li>Are you charging for the event</li>
  <li>Where are the proceeds going</li>
  <li>What will the result of the event be?</li>
  <li>What is the benefit to the community?</li>
</ul>

<h3>Professional Services Funding</h3>

<p>
  Funding requests will be evaluated, if for professional services such as video
  editing, graphics design etc., according to the following (not necessarily
  complete) set of criteria:
</p>

<ul>
  <li>What is the benefit to the community</li>
  <li>
    At least one competitive bid
    <ul>
      <li>References for each vendor</li>
      <li>Your recommendation for which vendor to select and why</li>
    </ul>
  </li>
  <li>
    Provide an estimate from the selected vendor in writing
    <ul>
      <li>The estimate should include exactly what will be provided</li>
      <li>How much wiggle room we have (executive edits, moves, adds, changes)</li>
      <li>When the services will be delivered</li>
      <li>What the deliverable is</li>
    </ul>
  </li>
</ul>

<p>
  We are <strong>not</strong> necessarily looking for the cheapest solution, but
  rather the overall <strong>best</strong> solution. We may be willing to pay
  more if a particular provider has a significantly superior track record (for
  example).
</p>
{%endblock%}
