{%extends "base/page.html"%}
{%block title%}Project Name{%endblock%}
{%block contents%}

<h1>Project Name <i class="fas fa-gavel"></i></h1>

<p><em>Last updated: July 5, 2018</em></p>

<h2>"PostgreSQL" versus "Postgres"</h2>

<p>The name Postgres is an accepted alias for the PostgreSQL project. However it
    is an alias or nickname and is not the official name of the project. Per
    Dave Page, PostgreSQL Core Team:</p>

<blockquote>
  <p>
    Following recent discussions on a name change for the project, it has become
    clear that consensus within the community will never be reached. In light of
    this, the core team have discussed the matter in depth and decided that the
    project shall continue to use the name PostgreSQL, but accept the use of
    Postgres as an alias.
  </p>
  <p>Regards, Dave</p>
</blockquote>

<p>Ref: <a
        href="https://www.postgresql.org/message-id/473D7617.6070900@postgresql.org">Project
    name - statement from the core team</a>.</p>

{%endblock%}
