{%extends "base/page.html"%}
{%load pgfilters%}
'{%block title%}Trademark Policy{%endblock%}
{%block contents%}

<h1>Trademark Policy <i class="fas fa-gavel"></i></h1>

<p><em>Last updated: August 28, 2018. {%git_changes_link%}</em></p>

<h2>Policy</h2>

<p>The PostgreSQL <a href="https://wiki.postgresql.org/wiki/Logo">elephant
    logo</a> (Slonik) and the names "PostgreSQL" and "Postgres" are registered
    trademarks of the <a href="http://www.postgres.ca/">PostgreSQL Community
        Association of Canada</a>. If you wish to use either name or logo in any
    way, you must comply with this policy.</p>

<ul>
    <li>The names and logo, or derivatives of them may be used to promote
        PostgreSQL based products or services.
    </li>
    <li>The names and logo, or derivatives of them may be used to promote or
        serve PostgreSQL or related projects and their communities.
    </li>
    <li>You may not state or otherwise lead people to believe, that you
        represent the PostgreSQL Global Development Group in any way other than
        as an individual or corporate contributor to the project.
    </li>
</ul>

<h2>Examples</h2>

<p>The following are examples of acceptable uses of the logo:</p>

<ul>
    <li>Inclusion of the name(s) or logo on your website offering PostgreSQL
        support or consultancy services.
    </li>
    <li>Inclusion of the name(s) or logo on your website from which you offer
        PostgreSQL-related or PostgreSQL-derived software products.
    </li>
    <li>Inclusion of a modified version of the logo on a PostgreSQL user forum
        that you run.
    </li>
    <li>Inclusion of the name(s) or logo in your software or documentation to
        indicate that it runs on or with PostgreSQL.
    </li>
    <li>Use of the name(s) or logo on websites, publications or merchandise,
        modified or unmodified, for PostgreSQL user groups, events, or
        non-profit organizations which support PostgreSQL.
    </li>
    <li>Use of the name(s) or logo to advertise PostgreSQL-related content in a
        public event.
    </li>
    <li>Use of the name(s) or logo in news articles or blogs which reference the
        PostgreSQL Project or database system.
    </li>
</ul>

<h2>Unacceptable use</h2>

<p>The following are example of uses of the logo which are NOT acceptable:</p>

<ul>
    <li>Use of the name(s) or logo in a software product that is unrelated to
        PostgreSQL and does not run on it, or work with it.
    </li>
    <li>Use of the name(s) or logo to promote a product that directly competes
        with PostgreSQL but is otherwise unrelated.
    </li>
    <li>Use of the name(s) or logo for a club or function that is unrelated to
        PostgreSQL.
    </li>
</ul>

<h2>Contact</h2>

<p>The PostgreSQL Community Association of Canada has designated the PostgreSQL
    Core Team to be its authoritative agent in most matters regarding trademark
    usage. If you have any questions about this policy, or its interpretation,
    please email them at
    <a href="mailto:pgsql-core@postgresql.org">pgsql-core@postgresql.org</a>.
</p>

{%endblock%}
