{%extends "base/page.html"%}
{%load pgfilters%}
'{%block title%}Trademark Policy{%endblock%}
{%block contents%}

<h1>Trademark Policy <i class="fas fa-gavel"></i></h1>

<p><em>Last updated: December 8, 2020. {%git_changes_link%}</em></p>

<p>
  This policy pertains to our trademarks. Specifically, the terms
  <em>Postgres</em> and <em>PostgreSQL</em> and the Elephant Logo (Slonik) are
  all registered trademarks of the
  <a href="https://www.postgres.ca/">PostgreSQL Community Association of Canada</a>.
  If you wish to use these marks, you must comply with this policy.
</p>

<h3>Why This Matters</h3>

<p>
  We have implemented this Trademark Policy because it is important to the
  Community that our trademarks are not used in ways that confuse people. For
  example, we do not want people to use our trademarks:
</p>

<ul>
  <li>
    with software that is not related to PostgreSQL, does not run on it or work
    with it,
  </li>
  <li>to suggest (falsely) that PostgreSQL is not open source software,</li>
  <li>
    to suggest that they are somehow sponsored by, affiliated with, endorsed by
    or approved by the PostgreSQL Project when they are not,
  </li>
  <li>
    on competitive products (i.e. databases that are not PostgreSQL, or built on
    or derived from PostgreSQL), or to use them with unrelated goods and
    services.
  </li>
</ul>

<p>
  If these things happen, over time, our marks will lose their meaning. As the
  Community grows, the best way to ensure that this does not happen is by
  setting and enforcing standards for how our marks are used.
</p>

<h3>Fair Uses That Don’t Require Prior Approval</h3>

<p>
  You may make fair use of <em>Postgres</em> or <em>PostgreSQL</em> to refer to
  the software in true factual statements. For example:
</p>

<ul>
  <li>
    If it’s true, you can say in your software or documentation that certain
    software runs on, with, or is derived from <em>PostgreSQL</em>&reg;
    software.
  </li>
  <li>
    You can use the trademarks to accurately advertise <em>PostgreSQL</em>&reg;
    software-related content in a public event.
  </li>
  <li>
    You can use the names <em>Postgres</em>&reg; or <em>PostgreSQL</em>&reg; in
    articles and blogs and forums to reference the database system.
  </li>
  <li>
    You may use <em>Postgres</em>&reg; or <em>PostgreSQL</em>&reg; in the title
    of a book about the software.
  </li>
  <li>
    You may (if accurate) identify yourself as an individual or corporate
    contributor to the <em>Postgres</em>&reg; or <em>PostgreSQL</em>&reg;
    database project.
  </li>
  <li>
    You may use <em>Postgres</em> or <em>PostgreSQL</em> on your website as
    links to our website at: <a href="/">https://www.postgresql.org</a>.
  </li>
</ul>

<p>
  As long as you do not state or imply that that you or your business are
  affiliated with, endorsed, sponsored or approved by the PostgreSQL Community
  Association of Canada, PostgreSQL Global Development Group, PostgreSQL
  Project, PostgreSQL Core Team, or PostgreSQL Community, these kinds of uses of
  the words Postgres and PostgreSQL are generally fine.
</p>

<h3>Other Approved Uses</h3>

<ul>
  <li>
    If your event or conference satisfies the
    <a href="/about/policies/conferences/">Community Recognition Guidelines</a>,
    you may use the marks to promote the event, including in the event name.
  </li>
  <li>
    <a href="/about/policies/user-groups/">Recognized PostgreSQL User Groups</a>
    may use the marks to promote their events, activities and groups.
  </li>
  <li>
    <a href="/about/policies/npos/">Recognized PostgreSQL nonprofit organizations</a>
    may use the marks in their materials in support of the project, including
    in their group names, e.g.
    <a href="https://www.postgresql.us">United States PostgreSQL Association</a>.
  </li>
</ul>

<h3>How To Use Our Marks</h3>

<p>
  Please adhere to the following guidelines when using the marks as permitted
  under this <a href="">Trademark Policy</a>. If you fail to do so, we may
  revoke your permission to use them.
</p>

<ul>
  <li>
    The marks should not be modified in any way without prior approval. They
    should not be presented with other trademarks or logos.
  </li>
  <li>
    <p>The Elephant Logo (Slonik) must appear in one of the forms below:</p>
    <p>
      <img class="img-fluid logo-preview" src="/media/img/about/press/elephant.png" alt="PostgreSQL Logo" />
      <img class="img-fluid logo-preview" src="/media/img/about/press/elephant-bw.png" alt="PostgreSQL Logo" />
    </p>
  </li>
  <li>
    Particularly if these uses are commercial in nature, we encourage you to
    present the marks with <em>Postgres</em>, <em>PostgreSQL</em> or the
    Elephant Logo (Slonik) followed by the &reg; symbol wherever practicable. If
    you use the outline version of Slonik, this should be followed by the
    &trade; symbol.
  </li>
  <li>
    Wherever possible, include the line:
    <em>
      Postgres, PostgreSQL and the Slonik Logo are trademarks or registered
      trademarks of the PostgreSQL Community Association of Canada, and used
      with their permission.
    </em>
  </li>
  <li>
    Do not seek to register any trademark containing one of our marks or a
    variant thereof.
  </li>
  <li>Do not use the marks in a business name or trade name.</li>
  <li>
    Do not use the marks in a way that would disparage the software, the
    PostgreSQL Community Association of Canada, PostgreSQL Global Development
    Group, PostgreSQL Project, PostgreSQL Core Team, or PostgreSQL Community.
  </li>
</ul>

<h3>Uses That Require Approval</h3>

<p>
  For pretty much any use not discussed above, you must contact us for
  permission before you use our marks. For example, if you want to use our marks
  (or some variant of them) in your company name, product name or domain name,
  you must obtain prior approval. We will try to work with you to permit uses
  that support the <em>PostgreSQL</em>&reg; project and our Community. Please
  note, however, that we will approve uses in our sole discretion, and that we
  will not be able to approve uses if we believe that they will cause confusion
  about your relationship with the PostgreSQL Community Association of Canada,
  PostgreSQL Global Development Group, PostgreSQL Project, PostgreSQL Core Team,
  or PostgreSQL Community.
</p>

<h3>Additional Information</h3>

<p>
  The
  <a href="https://www.postgres.ca">PostgreSQL Community Association of Canada</a>
  does NOT make any express or implied warranties, including but not limited to
  the warranties of non-infringement of any third-party intellectual property
  rights. We reserve the right to update this Trademark Policy from time to time
  without notice. Uses that predate this version of the Trademark Policy (i.e.
  uses prior to December 8, 2020) do not require permission from us so long as
  the use is consistent with this Policy. However, if you think you may have
  used the trademarks in the past in ways that would violate this Policy, we
  suggest seeking permission. Our aim is to work with you to support uses that
  support the project, however PostgreSQL Community Association of Canada
  reserves the right to deny trademark use that violates this Policy. Past use
  in violation of this policy does not confer a right to continue that use.
</p>

<p>
  Please feel free to reach out to us by emailing
  <a href="mailto:board@lists.postgres.ca">board@lists.postgres.ca</a> with any
  questions or requests for approval.
</p>
{%endblock%}
