{%extends "base/page.html"%}
{%block title%}@postgresql Twitter Account Policy{%endblock%}
{%block contents%}

<h1>@postgresql Twitter Account Policy <i class="fas fa-gavel"></i></h1>

<p><em>Last updated: January 19, 2018</em></p>

<p>This policy applies to the manual use of the @postgresql Twitter account.</p>

<ul>
    <li>Tweets are allowed which relate to approved News & Events as defined in
        the News and Events Approval Policies (a.k.a. the -announce policy),
        provided that the tweets are:
        <ul>
            <li>Of a reasonable frequency (as defined by the moderators, with
                the following guidelines):
            </li>
            <li>Tweets/Re-tweets about Core and "Family" News are not
                frequency-limited.
            </li>
            <li>Tweets/Re-tweets about Proprietary & External OSS Project News
                should not be more than weekly.
            </li>
            <li>Tweets/Re-tweets about the activity of a PostgreSQL recognized
                community conference or event should not be more than daily.
            </li>
            <li>Tweets/Re-tweets about the activity of a particular Open Source
                & Database Conference or Event should not be more than weekly.
            </li>
            <li>Tweets/Re-tweets about finding information contained on a
                website within the PostgreSQL infrastructure are not frequency
                limited.
            </li>
        </ul>
    </li>
    <li>Are not commercial in nature (Tweets about a given organization
        sponsoring a conference are ok, tweets which are attempting to solicit
        sponsorship for an event are not).
    </li>
</ul>

<p>In addition to approved News & Events, these kinds of Events may also be
    tweet'd about, following the same guidelines set forth above:</p>

<ul>
    <li>Local PostgreSQL User Group (PUG) meetings and related efforts to
        establish PUGs. PUGs are encouraged to have their own Twitter handle
        which @postgresql will retweets appropriate tweets from.
    </li>
    <li>PostgreSQL Weekly news (weekly tweet highlighting the -announce post).
    </li>
    <li>Tweets/Re-tweets are also allowed for acceptable blog posts, media
        coverage, and tweets about PostgreSQL, provided these are not commercial
        in nature, using the same guidelines as set forth in the Planet
        PostgreSQL policy.
    </li>
</ul>

<p>Replies to mentions are also allowed when and if appropriate, per these
    guidelines:</p>

<ul>
    <li>Acceptable:
        <ul>
            <li>Answering a PostgreSQL-specific question to provide help.</li>
            <li>Providing a helpful suggestion or comment.</li>
            <li>Professional discussion regarding specific technical aspects of
                PostgreSQL as compared to other products or projects.
            </li>
        </ul>
    </li>

    <li>Not acceptable:
        <ul>
            <li>Off-topic tweets which are not related to PostgreSQL.</li>
            <li>Degrading or attacking other products, projects, or
                individuals.
            </li>
            <li>Unprofessional behavior of any kind.</li>
        </ul>
    </li>
</ul>

<p>Tweets should follow the same guidelines as one would use when posting to the
    project mailing lists.</p>

{%endblock%}
