{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}Recognised PostgreSQL User Groups{%endblock%}
{%block contents%}

<h1>Recognised PostgreSQL User Groups <i class="fas fa-gavel"></i></h1>

<p><em>Last updated: November 19, 2020 {%git_changes_link%}</em></p>

<p>
  Recognised PostgreSQL User Groups, aka "PUGs", may
  be listed on the <a href="/community/user-groups/">PostgreSQL Website</a> as
  such. To become recognised as PostgreSQL User Group, the user group must
  self-certify that they meet the criteria below, aimed at ensuring they meet
  the standards of openness expected in the PostgreSQL Community.
</p>

<p>
  Use of the terms "MAY", "MUST", "MUST NOT", "SHOULD" and "SHOULD NOT" in the
  criteria below should be interpreted per
  <a href="https://www.ietf.org/rfc/rfc2119.txt" target="_blank" rel="noopener">RFC2119</a>,
  where:
</p>

<ul>
  <li>MUST and MUST NOT are requirements, and</li>
  <li>MAY, SHOULD, and SHOULD NOT are optional, recommended guidelines.</li>
</ul>

<h3>General</h3>

<ul>
  <li>
    The PostgreSQL User Group MUST be primarily focused on PostgreSQL and
    related technologies. PostgreSQL User Groups that target a broad range of
    database products are not eligible as PostgreSQL User Groups.
  </li>
  <li>
    PostgreSQL User Groups are for the entire PostgreSQL community and are
    public in nature. There MUST NOT be any requirement of a Non-Disclosure
    Agreement (NDA) or similar contract for an attendee to attend the Meetup.
  </li>
  <li>
    The PostgreSQL User Group MUST adopt and follow an appropriate Code of
    Conduct to ensure a safe and enjoyable environment for anyone who wishes to
    participate.
    <ul>
      <li>
        The PostgreSQL User Group SHOULD adopt the
        <a href="/about/policies/coc/">PostgreSQL Code of Conduct</a>.
      </li>
    </ul>
  </li>
  <li>
    The PostgreSQL User Group MUST have at least one event every two calendar
    years in order to maintain its recognition as a PostgreSQL User Group.
  </li>
  <li>
    The <a href="/developer/core/">PostgreSQL Core Team</a> reserves the right
    to recognise, not recognise, or rescind a previous recognition for any
    PostgreSQL User Group without justification.
  </li>
  <li>These criteria MAY be reviewed and potentially updated at any time.</li>
</ul>

<h3>Organisers</h3>

<ul>
  <li>The PostgreSQL User Group Organizers MUST be individuals.</li>
  <li>
    The PostgreSQL User Group Organizers MUST be listed on the membership site
    for the PostgreSQL User Group.
  </li>
  <li>
    The PostgreSQL User Group Organizers SHOULD NOT consist of 50% or more of
    the same company or group of companies under the same ultimate ownership or
    management.
  </li>
</ul>

<h3>Events</h3>

<ul>
  <li>
    Anyone MAY submit a PostgreSQL-related talk proposal. The Organizers SHOULD
    choose to accept or reject the talk proposal based on a simple majority
    vote.
  </li>
  <li>
    Anyone MAY offer to host a PostgreSQL User Group. The meeting space SHOULD
    be in the region represented by the PostgreSQL User Group. The Organizers
    SHOULD choose to accept or reject the space based on a simple majority vote.
  </li>
  <li>
    A Speaker MUST disclose in advance if the primary content of their talk
    involves a closed-source product or a project that is not directly related
    to PostgreSQL.
  </li>
  <li>
    Organizations MAY promote their business at a PostgreSQL User Group event
    if:
    <ul>
      <li>
        Their business SHOULD help drive further adoption of PostgreSQL AND
      </li>
      <li>
        Any content presented at the PostgreSQL User Group MUST be technical in
        nature.
      </li>
    </ul>
  </li>
</ul>

<h3>Sponsorship</h3>

<ul>
  <li>
    The PostgreSQL User Group group MUST disclose on its web page any
    organizations that provide financial or in-kind sponsorship to the Community
    User Group.
  </li>
  <li>
    The PostgreSQL User Group SHOULD mention any Sponsors in the introductions
    of the user group meeting.
  </li>
</ul>
{%endblock%}
