{%extends "base/page.html"%}
{%block title %}Advantages{%endblock%}
{%block contents%}
<h1>Advantages</h1>
<p>PostgreSQL offers many advantages for your company or business over other database systems.</p>

<a name="immunity"></a>
<h2>Immunity to over-deployment</h2>
<p>Over-deployment is what some proprietary database vendors regard as their #1 licence compliance problem.&nbsp; With PostgreSQL, no-one can sue you for breaking licensing agreements, as there is <b>no associated licensing cost for the software.</b></p>
<p>This has several additional advantages:</p>
<ul>
<li>More profitable business models with wide-scale deployment.</li>
<li>No possibility of being audited for license compliance at any stage.</li>
<li>Flexibility to do concept research and trial deployments without needing to include additional licensing costs.</li>
</ul>

<a name="support"></a>
<h2>Better support than the proprietary vendors</h2>
<p>In addition to our strong support offerings, we have a vibrant community of PostgreSQL professionals and enthusiasts that your staff can draw upon and contribute to.</p>

<a name="staffsavings"></a>
<h2>Significant saving on staffing costs</h2>
<p>Our software has been designed and created to have much lower maintenance and tuning requirements than the leading proprietary databases, yet still retain all of the features, stability, and performance.</p>
<p>In addition to this, our training programs are generally regarded as being far more cost effective, manageable, and practical in the real world than that of the leading proprietary database vendors.</p>

<a name="reliability"></a>
<h2>Legendary reliability and stability</h2>
<p>Unlike many proprietary databases, it is extremely common for companies to report that PostgreSQL has never, ever crashed for them in several years of high activity operation.&nbsp; Not even once.&nbsp; It just works.</p>

<a name="extensible"></a>
<h2>Extensible</h2>
<p>The source code is available to all at no charge.&nbsp; If your staff have a need to customise or extend PostgreSQL in any way then they are able to do so with a minimum of effort, and with no attached costs.&nbsp; This is complemented by the community of PostgreSQL professionals and enthusiasts around the globe that also actively extend PostgreSQL on a daily basis.</p>

<a name="crossplat"></a>
<h2>Cross platform</h2>
<p>PostgreSQL is available for almost every brand of Unix (34 platforms with the latest stable release), and Windows compatibility is available via the Cygwin framework.  Native Windows compatibility is also available with version 8.0 and above.</p>

<a name="highvolume"></a>
<h2>Designed for high volume environments</h2>
<p>We use a multiple row data storage strategy called MVCC to make PostgreSQL extremely responsive in high volume environments.&nbsp; The leading proprietary database vendor uses this technology as well, for the same reasons.</p>

<a name="gui"></a>
<h2>GUI database design and administration tools</h2>
<p>There are many high-quality GUI Tools available for PostgreSQL from both open source developers and commercial providers. A list is available on our wiki as  a <a href="http://wiki.postgresql.org/wiki/Community_Guide_to_PostgreSQL_GUI_Tools">community guide</a> to PostgreSQL GUI Tools. 

<a name="features"></a>
<h2>Technical Features</h2>
<p>Please see the <a href="/about/featurematrix/">Feature Matrix</a> for a summary of PostgreSQL's features.
</p>

{%endblock%}

