{%extends "base/page.html"%}
{%block title%}Awards{%endblock%}
{%block contents%}
<h1>Awards</h1>
<h2>PostgreSQL, Award Winning Software</h2>
<br/>
<br/>
<br/>
<table cellpadding="5">
	<tr>
		<td>
			<b>2008 Developer.com Product of the Year, Database Tool</b>
			<br/>
			<br/>
			"And the winner is PostgreSQL. This one surprised us and taught us something about our audience base. We need to do a better job of covering this topic! Postgresql.org touts this product as "The world's most advanced open source database" and after seeing the votes, they may just be correct."
		</td>
		<td align="center" valign="middle">
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>2006 Linux Journal Editors' Choice Awards for Best Database</b>
			<br/>
			<br/>
			"It handles everything we throw at it and just keeps working, flawlessly.  It's almost invisible from an administrative perspective.  It handles huge quantities of data, and it has all of the goodies that we expect in a relational database (such as referential integrity, column-level constraints and checks, server-side functions, subselects and unions).  The original 8.1 release, which came out in November 2005, included a number of new features, such as two-phase commits.  We can't recommend PostgreSQL highly enough."
		</td>
		<td align="center" valign="middle">
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>2005 Linux Journal Editors' Choice Awards for Best Database</b>
			<br/>
			<br/>
			"More and more organizations are working with high-end database systems but can't afford, or don't want, a full-time database administrator. PostgreSQL complies with SQL standards but needs less babysitting than complicated legacy databases. Ludovic calls it, "easy to install, configure and relatively easy to tune for performance." In our June 2005 issue, he covered Slony-I, which adds replication to PostgreSQL, giving you multisite redundancy, increased performance or both. Reuven points out that PostgreSQL has programmer-friendly features, which for 8.0, include server-side scripting in Perl."
		</td>
		<td align="center" valign="middle">
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>2004 ArsTechnica Best Server Application Award</b>
			<br/>
			<br/>
			"It's rare for any kind of sizable organization to not use a database for anything, and to that end, PostgreSQL provides a very reliable solution for Linux users. Sporting many advanced features missing from other available database packages, PostgreSQL is a perennial favorite for many of our developers. "
		</td>
		<td align="center" valign="middle">
			<img src="/layout/images/about/awards/ArsTechnicaLogo.png" />
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>2004 Linux Journal Editors' Choice Awards for Best Database</b>
			<br/>
			<br/>
			"I strongly recommend PostgreSQL to anyone who needs a relational database."
		</td>
		<td align="center" valign="middle">
			<img src="/layout/images/about/awards/LinuxJournalEditorsChoice2004.png" />
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>2004 Linux New Media Award For Best Database</b>
			<br/>
			<br/>
			"The PostgreSQL team has demonstrated that it is possible to produce a database with the price and ease of administration of MySQL, but with the feature set of Oracle. "
		</td>
		<td align="center" valign="middle">
			<img src="/layout/images/about/awards/LinuxNewMediaAward2004.jpg" />
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>2003 Linux Journal Editors' Choice Awards for Best Database</b>
			<br/>
			<br/>
		</td>
		<td align="center" valign="middle">
			<img src="/layout/images/about/awards/LinuxJournalEditorsChoice2003.png" />
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>2002 Linux New Media Editors Choice Award for Best Database</b>
			<br/>
			<br/>
		</td>
		<td align="center" valign="middle">
			<img src="/layout/images/about/awards/LinuxNewMediaAward2002.jpg" />
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>2000 Linux Journal Editors' Choice Awards for Best Database</b>
			<br/>
			<br/>
			"For ``big-database'' features and the configurability and administration advantages of open source, we give PostgreSQL a big thumbs-up."
		</td>
		<td align="center" valign="middle">
			<img src="/layout/images/about/awards/LinuxJournalEditorsChoice2000.png" />
		</td>
	</tr>
	<tr><td colspan="2"><hr /></td></tr>
	<tr>
		<td>
			<b>1999 LinuxWorld Editor's Choice Award for Best Database</b>
			<br/>
			<br/>
		</td>
		<td align="center" valign="middle">
			<img src="/layout/images/about/awards/LinuxWorldEditorsChoice1999.gif" />
		</td>
	</tr>
</table>


{%endblock%}
