{%extends "base/page.html"%}
{%block title%}Case Studies{%endblock%}
{%block contents%}
<h1>Case Studies</h1>
<h2>How does PostgreSQL make a difference for businesses?</h2>
<p>These case studies are just some of the success stories from companies around the world. Each study highlights one or more important aspects of how PostgreSQL solved specific business needs, lowered cost of ownership, and reduced deployment time for a complex data management infrastructure.</p>
<h2>Organizations Using PostgreSQL</h2>
<a href="http://www.osbr.ca/ojs/index.php/osbr/article/view/1142/1093">Afilias</a> <span class="txtMediumGrey"></span><br />
<a href="/files/about/casestudies/wcgcasestudyonpostgresqlv1.2.pdf">BASF</a> <span class="txtMediumGrey">(PDF format)</span><br />
<a href="/about/casestudies/mohawk" target="_self">Mohawk Software</a><br />
<a href="/files/about/casestudies/Proximity10.pdf">Proximity</a> <span class="txtMediumGrey">(PDF format)</span><br />
<a href="/files/about/casestudies/RadioParadise.pdf">Radio Paradise</a> <span class="txtMediumGrey">(PDF format)</span><br/>
<a href="/about/casestudies/shannonmedical" target="_self">Shannon Medical Center</a><br />
<a href="/files/about/casestudies/Spiros.pdf">Spiros Louis Stadium</a> <span class="txtMediumGrey">(PDF format)</span><br/>
<a href="/files/about/casestudies/OpenSourceSoftware_Dravis.pdf">The Dravis Group OSS Report</a> <span class="txtMediumGrey">(PDF format)</span><br/>
<a href="/files/about/casestudies/travelpost_case_study.pdf">Travelpost</a> <span class="txtMediumGrey">(PDF format)</span><br/>
<a href="/files/about/casestudies/valhalla_case_study.pdf">Valhalla</a> <span class="txtMediumGrey">(PDF format)</span><br/>
<a href="/about/casestudies/vanten" target="_self">Vanten Inc.</a><br />
<br />
<br />
<a href="/about/casestudies/submitcontact">Share Your Story</a><br />
{%endblock%}
