{%extends "base/page.html"%}
{%block title%}Contact{%endblock%}
{%block contents%}

<h1>Contact <i class="fa fa-address-book"></i></h1>

<h2>Report a Bug</h2>

<p>The PostgreSQL community takes pride in releasing software that will reliably store your data. If you believe you have discovered a bug, please follow the button below and follow the instructions on how to <a href="/account/submitbug/">submit a bug report</a>.</p>

<p><a href="/account/submitbug/">Submit a Bug Report</a></p>

<p>If you believe you have found a security issue, please read the section below.</p>

<h2>Report a Security Issue</h2>

<p>If you believe you have found a security issue, please send an email to <a href="mailto:security@postgresql.org">security@postgresql.org</a>.</p>

<h2>Support</h2>

<p>If you have general questions about PostgreSQL or are looking for help with using PostgreSQL, please visit the <a href="/support/">support section</a> of the website to find out how to get in touch.</p>

<h2>Code of Conduct Committee</h2>

<p>If you are the recipient of behavior that violates the PostgreSQL <a href="/about/policies/coc/">Code of Conduct</a>, please report it promptly to the Code of Conduct Committee at <a href="mailto:coc@postgresql.org">coc@postgresql.org</a>. In the unfortunate event that you wish to make a complaint against some member of the Committee, you may instead contact any of the other <a href="/about/policies/coc_committee/">Committee member(s)</a> individually.</p>

<h2>Fundraising and donations</h2>

<p>For information about fundraising and donations, including financial sponsorship for PostgreSQL-related activities, please visit the <a href="/about/donate/">donation</a> page or contact the
funds group directly at <a href="mailto:funds-group@postgresql.org">funds-group@postgresql.org</a>.
</p>

<h2>User Group Liaison</h2>

<p>If you are looking for support for a PostgreSQL User Group, looking to start a user group, or need resources for a user group, please contact <a href="mailto:usergroups@postgresql.org">usergroups@postgresql.org</a>. For a list of active <a href="/community/user-groups/">PostgreSQL User Groups</a>, please visit the <a href="/community/user-groups/">local user groups</a> page.</p>

<h2>Press Enquiries</h2>

<p>For press enquiries, please refer to the <a href="/about/press/">Press</a>
  section.</p>

<h2>Webmasters</h2>

<p>Contact the PostgreSQL webmasters at <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>.</p>

<h2>Twitter</h2>

<p>Follow us on <a href="https://twitter.com/postgresql" target="_blank">Twitter</a>.</p>

{%endblock%}
