{%extends "base/page.html"%}
{%block title%}Contact{%endblock%}
{%block contents%}

<h1>Contact <i class="fa fa-address-book"></i></h1>

<h2>Report a Bug</h2>

<p>The PostgreSQL community takes pride in releasing software that will reliably store your data. If you believe you have discovered a bug, please follow the button below and follow the instructions on how to <a href="/account/submitbug/">submit a bug report</a>.</p>

<p><a href="/account/submitbug/">Submit a Bug Report</a></p>

<p>If you believe you have found a security issue, please read the section below.</p>

<h2>Report a Security Issue</h2>

<p>If you believe you have found a security issue, please send an email to <a href="mailto:security@postgresql.org">security@postgresql.org</a>.</p>

<h2>Fundraising and donations</h2>

<p>Provide a donation, information on donations, want help with fundraising or wish financial sponsorship.</p>

<p>
Please see the page about <a href="/about/donate/">donations</a> or contact the
funds group directly at <a href="mailto:funds-group@postgresql.org">funds-group@postgresql.org</a>.
</p>

<h2>User Group Liaison</h2>

<p>If you are looking for support for a PostgreSQL User Group, looking to start a user group, or need resources for a user group, please contact <a href="mailto:usergroups@postgresql.org">usergroups@postgresql.org</a>. For a list of active <a href="/community/user-groups/">PostgreSQL User Groups</a>, please visit the <a href="/community/user-groups/">local user groups</a> page.</p>

<h2>Press Enquiries</h2>

<p>For press enquiries, please refer to the <a href="/about/press/">Press</a> section.
This section includes information on regional contacts as well.</p>

<h2>Technical Support</h2>
<p>If you are looking for help with PostgreSQL, or for help on how to better use the <a href="/">PostgreSQL.org</a> website, please click on the URL below.</p>
<p><a href="/support/">Community Support</a></p>

<h2>Webmasters</h2>

<p>Contact the PostgreSQL webmasters at <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>.</p>

<h2>Twitter</h2>

<p>Follow us on <a href="https://twitter.com/postgresql" target="_blank">Twitter</a>.</p>

{%endblock%}
