{%extends "base/page.html"%}
{%block title%}Contact{%endblock%}
{%block contents%}

<h1>Contact</h1>

<h2>Fundraising and donations</h2>

<p>Provide a donation, information on donations, want help with fundraising or wish financial sponsorship.</p>

<p>
Please see the page about <a href="/about/donate/">donations</a> or contact the
funds group directly at <a href="mailto:funds-group@postgresql.org">funds-group@postgresql.org</a>.
</p>

<h2>User Group Liaison</h2>

<p>A member of a PostgreSQL User group, looking to start a user group or need resources for a user group. </p>

<p>Please contact <a href="mailto:usergroups@postgresql.org">usergroups@postgresql.org</a>.</p>

<h2>Press Enquiries</h2>

<p>For press enquiries, please refer to the <a href="/about/press">Press</a> section.
This section includes information on regional contacts as well.</p>

<h2>Technical Support</h2>
<p>If you are looking for help with PostgreSQL, or this website.</p>
<p><a href="/support">Community support</a></p>

<h2>Webmasters</h2>

<p>Contact the PostgreSQL webmasters at <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>.</p>

<h2>Twitter</h2>

<p>Follow us on <a href="https://twitter.com/postgresql" target="_blank">Twitter</a>.</p>

{%endblock%}
