{%extends "base/page.html"%}
{%block title%}Donate{%endblock%}
{%block contents%}

<h1>Donate <i class="far fa-money-bill-alt"></i></h1>

<h2>General PostgreSQL efforts</h2>
<p>PostgreSQL is an affiliated project of <a href="http://www.spi-inc.org/">Software in the Public Interest.</a> Funds donated to PostgreSQL are used
to sponsor general PostgreSQL efforts. These funds are managed by the Fund raising group.</p>
<p><a class="btn btn-primary" href="/about/donate_pg_org/">Donate to PostgreSQL</a></p>

<h2>PostgreSQL Europe (PgEU)</h2>
<p>PostgreSQL Europe is a European region non profit focusing on the support of other PostgreSQL groups in Europe.
You may also use this link to donate to specific European groups such as those in Germany or the
United Kingdom.</p>
<p><a class="btn btn-primary" href="https://www.postgresql.eu/donate/">Donate to PgEU</a></p>

<h2>PostgreSQL United States (PgUS)</h2>
<p>PostgreSQL United States is a non profit for PostgreSQL in the United States.
It focuses on Education, User Groups, and Advocacy.</p>
<p><a class="btn btn-primary" href="https://postgresql.us/donate/">Donate to PgUS</a></p>

<h2>Tax deductibility</h2>
<p>Please be aware that PostgreSQL contributions may or may not be tax exempt. For more information please
refer to the party you are donating to and your tax professional.</p>

<h2>PostgreSQL Nonprofit Organisation (NPO) Recognition</h2>
<p>For information about how <a href="/community/recognition/#npos">Recognised PostgreSQL Nonprofit Organisations (NPOs)</a> become recognised, please review the guidelines <a href="/community/recognition/#npos">here</a>.

<h2>Questions</h2>
<p>If you have any questions about donations please contact either the
<a href="mailto:funds-group@postgresql.org">PostgreSQL Funds Group</a> or the
respective organisation you are donating to.
</p>
{%endblock%}
