{%extends "base/page.html"%}
{%block title%}Donate{%endblock%}
{%block contents%}

<h1>Donate</h1>

<h3>General PostgreSQL efforts</h3>
<p>PostgreSQL is an affiliated project of <a href="http://www.spi-inc.org/">Software in the Public Interest.</a> Funds donated to PostgreSQL are used
to sponsor general PostgreSQL efforts. These funds are managed by the Fund raising group. <a href="/about/donate_pg_org/">Donate to
PostgreSQL.</a>
</p>

<h3>PostgreSQL Europe (PgEU)</h3>
<p>PostgreSQL Europe is a European region non profit focusing on the support of other PostgreSQL groups in Europe. 
You may also use this link to donate to specific European groups such as those in Germany or the
United Kingdom. <a href="http://www.PostgreSQL.eu/donate">Donate to PostgreSQL Europe.</a></p>

<h3>PostgreSQL United States (PgUS)</h3>
<p>PostgreSQL United States is a non profit for PostgreSQL in the United States.
It focuses on Education, User Groups, and Advocacy. <a href="http://www.PostgreSQL.us/donate">Donate to PostgreSQL United States.</a><p>

<h3>Tax deductibility</h3>
<p>Please be aware that PostgreSQL contributions may or may not be tax exempt. For more information please
refer to the party you are donating to and your tax professional.</p>

<h2>Questions</h2>
<p>If you have any questions about donations please contact either the
<a href="mailto:jdrake@PostgreSQL.org">PostgreSQL fund raising contact</a> or the
respective organization your are donating to.
</p>

 
{%endblock%}
