{%extends "base/page.html"%}
{%block title%}Donate{%endblock%}
{%block contents%}

<h1>Donate to PostgreSQL <i class="far fa-money-bill-alt"></i></h1>

<p>PostgreSQL donations are managed by the <a href="https://wiki.PostgreSQL.org/wiki/SponsorShip">funds group</a>. The money donated goes to many vital services that the PostgreSQL community needs including advocacy materials, conference expenses, legal expenses, and travel costs.</p>

<h2>Donate by Credit Card</h2>
<p>Credit card transactions are currently unavailable.</p>
{% comment %}
<p>PostgreSQL donations are processed via Paysimple (third party) and deposited
  into the PostgreSQL account at Software in the Public Interest (SPI).</p>

<form method="post" action="https://www.usaepay.com/interface/epayform/">
  <input name="UMdescription" value="PostgreSQL General Contribution" type="hidden" />
  <input name="UMkey" value="faI13GX2IiFk4j415yTWXIGo7i3Hb6M5" type="hidden" />
  <input name="UMcommand" value="sale" type="hidden" />
  <div class="form-group">
    <select id="donate_amount" class="form-control" name="UMamount" size="7">
       <option value="10.00">10.00 USD</option>
       <option value="25.00">25.00 USD</option>
       <option value="50.00">50.00 USD</option>
       <option value="100.00">100.00 USD</option>
       <option value="250.00">250.00 USD</option>
       <option value="500.00">500.00 USD</option>
       <option value="1000.00">1000.00 USD</option>
    </select>
  </div>
  <div class="submit-row">
    <input class="btn btn-primary cp_button_609397530555" type="submit" value="Donate via SPI" />
  </div>
</form>
{% endcomment %}

<h2>For other amounts or to donate via American, Canadian Check or Money Order:</h2>
<p>Donations can also be made by mailing a check or sending a money order to Software in the Public Interest, Inc.</p>
<p><strong>Please be sure to put "PostgreSQL" in the MEMO field.</strong></p>
<p>You can mail the check or money order to:<br />
Software in the Public Interest, Inc.<br />
1732 1st Ave #20327<br />
New York, NY 10128-5177<br />
United States<br />
</p>


<h2>Tax deductibility</h2>
<p>Please be aware that PostgreSQL contributions may or may not be tax exempt. For more information please see the <a href="http://www.spi-inc.org/donations">SPI website</a> and your local tax advisor. If you would like to donate non-monetary items such as computers or other equipment, please contact the <a
href="mailto:funds-group@postgresql.org">PostgreSQL Funds Group</a>.</p>

<h2>Infrastructure Donations</h2>
<p>There are many companies that donate <a href="/about/servers/">servers.</a></p>


{%endblock%}
