{%extends "base/page.html"%}
{%block title%}Governance{%endblock%}

{%block contents%}
<h1>Project Governance Directory<i class="fa fa-users"></i></h1>
<p>
This page lists links to pages for the various teams and committees that
comprise the governance hierarchy of the project. Please see the individual
linked pages for more information about each group, including membership
and charter.
</p>

<h2>Core Team</h2>
<p>
  The <a href="/developer/core/">PostgreSQL Core Team</a>
  (Core) is the central arbiter of PostgreSQL project
  <a href="/about/policies/">policy</a> and governance.
</p>

<h2>Sysadmin Team</h2>
<p>
  The <a href="/about/governance/sysadmin/">PostgreSQL Sysadmin Team</a>
  (PGInfra) runs all of the postgresql.org infrastructure. This includes
  a wide variety of public and non-public services.
</p>

<h2>Committers</h2>
<p>
  The <a href="/developer/committers/">PostgreSQL Committers</a>
  are the people with access to push to the
  <a href="https://git.postgresql.org/gitweb/?p=postgresql.git">git repository</a>.
</p>

<h2>Security Team</h2>
<p>
  The <a href="/support/security/">PostgreSQL Security Team</a>
  presides over the reporting and fixing of vulnerabilities related
  to PostgreSQL and closely related projects. For security vulnerabilities
  in PostgreSQL or any of the installers linked from the
  <a href="/download/">PostgreSQL download page</a>, please email
  <a href="mailto:security@postgresql.org">security@postgresql.org</a>.
  For reporting non-security bugs, please visit the
  <a href="/account/submitbug/">Report a Bug</a> page.
  If you are unsure if an issue is a security vulnerability, please err on the
  side of caution and email
  <a href="mailto:security@postgresql.org">security@postgresql.org</a>.
</p>

<h2>Code of Conduct Committee</h2>
<p>
  The <a href="/about/policies/coc_committee/">Code of Conduct Committee</a>
  are the people who receive and investigate all complaints related to the
  <a href="/about/policies/coc/">PostgreSQL Code of Conduct</a>.
</p>

<h2>Contributors Committee</h2>
<p>
  The <a href="/about/governance/contributors/">Contributors Committee</a>
  curates the <a href="/community/contributors/">Contributor Profiles</a>
  page.
</p>

<h2>Sponsors Committee</h2>
<p>
  The <a href="/about/policies/sponsorship/">Sponsors Committee</a>
  maintains the <a href="/about/sponsors/">Sponsors</a> pages.
</p>

<h2>Non Profit Organizations</h2>
<p>
  Several <a href="/about/donate/">Non Profit Organizations</a>
  serve the PostgreSQL Project in a variety of ways.
</p>

{%endblock%}
