{%extends "base/page.html"%}
{%block title%}Policies{%endblock%}
{%block contents%}

<h1>Policies <i class="fas fa-gavel"></i></h1>

<p>Formal policies governing various aspects of the PostgreSQL Project can
    be found here:</p>

<h2>General Policies</h2>

<ul>
    <li><a href="/about/policies/trademarks/">Trademarks</a></li>
    <li><a href="/about/policies/privacy/">Privacy</a></li>
    <li>
      <a href="/about/policies/coc/">Code of Conduct</a>
      <ul>
        <li>
          <a href="/about/policies/coc_committee/">Committee</a>
        </li>
      </ul>
    </li>
    <li><a href="/about/policies/funds-group/">Funds Group</a></li>
</ul>

<h2>PostgreSQL Project Policies</h2>

<ul>
    <li><a href="/about/policies/project-name/">Project Name</a></li>
    <li><a href="/support/versioning/">Versioning</a></li>
    <li><a href="/support/security/">Security</a></li>
    <li><a href="/about/policies/archives/">Archives</a></li>
</ul>

<h2>Content Policies</h2>

<ul>
    <li><a href="/about/policies/news-and-events/">News &amp; Events</a></li>
    <li><a href="/about/policies/services-and-hosting/">Professional
        Services &amp; Hosting</a></li>
    <li><a href="/about/policies/planet-postgresql/">Planet PostgreSQL</a></li>
    <li><a href="/about/policies/twitter/">@postgresql Twitter Account</a></li>
</ul>

<h2>Community Recognition Policies</h2>

<ul>
    <li><a href="/about/policies/sponsorship/">PostgreSQL Sponsorship</a></li>
    <li><a href="/about/policies/conferences/">Conferences</a></li>
    <li><a href="/about/policies/npos/">Non-Profit Organisations</a></li>
    <li><a href="/about/policies/user-groups/">User Groups</a></li>
</ul>

{%endblock%}
