{%extends "base/page.html"%}
{%block title%}Press{%endblock%}
{%block contents%}

<h1>Press</h1>

<p>For press enquiries, please see the <a href="/about/press/contact/">Press Contacts</a>.</p>

<h2>PostgreSQL 10 Press Information</h2>

<ul>
<li><a href="/about/press/presskit10.html">Press Kit</a></li>
<li><a href="/about/press/faq/">Frequently Asked Questions</a></li>
<li><a href="/about/press/contact/">Press Contacts</a></li>
</ul>

<h2>Press Kit in Other Languages</h2>

<ul>
  <li><a href="/about/press/presskit10/my/">Burmese</a></li>
  <li><a href="/about/press/presskit10/cn/">Chinese</a></li>
  <li><a href="/about/press/presskit10/fr/">French</a></li>
  <li><a href="/about/press/presskit10/de/">German</a></li>
  <li><a href="/about/press/presskit10/il/">Hebrew</a></li>
  <li><a href="/about/press/presskit10/hi/">Hindi</a></li>
  <li><a href="/about/press/presskit10/id/">Indonesian</a></li>
  <li><a href="/about/press/presskit10/it/">Italian</a></li>
  <li><a href="/about/press/presskit10/kr/">Korean</a></li>
  <li><a href="/about/press/presskit10/pt/">Portuguese</a></li>
  <li><a href="/about/press/presskit10/ru/">Russian</a></li>
  <li><a href="/about/press/presskit10/es/">Spanish</a></li>
  <li><a href="/about/press/presskit10/th/">Thai</a></li>
  <li><a href="/about/press/presskit10/vi/">Vietnamese</a></li>
</ul>

{%endblock%}
