{%extends "base/page.html"%}
{%block title%}Press{%endblock%}
{%block contents%}

<h1>Press</h1>

<p>For press enquiries, please see the <a href="/about/press/contact">Press Contacts</a>.</p>

<h2>PostgreSQL 9.2 Press Information</h2>

<ul>
<li><a href="/about/press/presskit92.html">Press Kit</a></li>
<li><a href="/about/press/faq">Frequently Asked Questions</a></li>
<li><a href="/about/press/contact">Press Contacts</a></li>
</ul>

<h2>Press Kit in Other Languages</h2>

<ul>
<li><a href="/about/press/presskit92/zh_CN">Chinese</a></li>
<li><a href="/about/press/presskit92/fr">French</a></li>
<li><a href="/about/press/presskit92/ca">Catalan</a></li>
<li><a href="/about/press/presskit92/nl">Dutch</a></li>
<li><a href="/about/press/presskit92/de">German</a></li>
<li><a href="/about/press/presskit92/el">Greek</a></li>
<li><a href="/about/press/presskit92/it">Italian</a></li>
<li><a href="/about/press/presskit92/jp">Japanese</a></li>
<li><a href="/about/press/presskit92/pl">Polish</a></li>
<li><a href="/about/press/presskit92/pt">Portuguese</a></li>
<li><a href="/about/press/presskit92/ru">Russian</a></li>
<li><a href="/about/press/presskit92/es">Spanish</a></li>
<li><a href="/about/press/presskit92/ua">Ukranian</a></li>

</ul>

{%endblock%}
