{%extends "base/page.html"%}
{%block title%}Press{%endblock%}
{%block contents%}

<h1>Press</h1>

<p>For press enquiries, please see the <a href="/about/press/contact">Press Contacts</a>.</p>

<h2>PostgreSQL 9.1 Press Information</h2>

<ul>
<li><a href="/about/press/presskit91.html">Press Kit</a></li>
<li><a href="/about/press/faq">Frequently Asked Questions</a></li>
<li><a href="/about/press/contact">Press Contacts</a></li>
</ul>

<h2>Press Kit in Other Languages</h2>

<ul>
<li><a href="/about/press/presskit91.html.zh_cn">Chinese</a></li>
<li><a href="/about/press/presskit91.html.fr">French</a></li>
<li><a href="/about/press/presskit91.html.de">German</a></li>
<li><a href="/about/press/presskit91.html.el">Greek</a></li>
<li><a href="/about/press/presskit91.html.it">Italian</a></li>
<li><a href="/about/press/presskit91.html.ja">Japanese</a></li>
<li><a href="/about/press/presskit91.html.ro">Romanian</a></li>
<li><a href="/about/press/presskit91.html.ru">Russian</a></li>
<li><a href="/about/press/presskit91.html.es">Spanish</a></li>
</ul>

{%endblock%}
