{%extends "base/page.html"%}
{%block title%}PostgreSQL Featured Users{%endblock%}
{%block contents%}

<h1>Featured Users</h1>
<p>Here are a few of the hundreds of companies who have built products, solutions, web sites and tools using the world's most advanced open source database system. If you work for a major corporation or organization and you would like to be included in this list, please <a href="mailto:webmaster@postgresql.org">drop us a line</a>.</p>


<h2>BioPharm</h2>
<ul>
	<li>Affymetrix</li>
	<li>American Chemical Society</li>
	<li>BASF, Agricultural Product Division (<a href="/files/about/casestudies/wcgcasestudyonpostgresqlv1.2.pdf">case study</a>)</li>
	<li>Institut de Biologie et Chimie des Protéines</li>
	<li>Genentech, Inc. (<a href="http://conferences.oreillynet.com/cs/os2004/view/e_sess/5336">presentation</a>)</li>
</ul>
<h2>e-Commerce</h2>
<ul>
	<li>CD Baby (<a href="http://www.oreillynet.com/pub/wlg/6286?wlg=yes">article</a>)</li>
	<li>Champion Products</li>
	<li>Endpoint Corporation</li>
	<li>Etsy.com</li>
	<li>Freeportway</li>
    <li>FlightAware (<a href="http://bsdtalk.blogspot.com/2006/05/bsdtalk042-interview-with-karl.html">podcast</a>)</li>
    <li>FlightStats</li>
	<li>RedSherriff (<a href="http://www.computerworld.com.au/index.php?id=1482975508">article</a>)</li>
	<li>Whitepages.com</li>
</ul>
<h2>Education</h2>
<ul>
	<li>.LRN Project</li>
	<li>Berkman Center for Internet &amp; Society at Harvard University</li>
	<li>Cognivity</li>
	<li>Moscow State University, Moscow, Russia</li>
	<li>Sternberg Astronomical Institute, Russia</li>
	<li>Texas Cooperative Extension</li>
	<li>University of Alabama, Birmingham</li>
	<li>University of California, Berkeley</li>
	<li>University of New South Wales</li>
	<li>University of Oslo, Norway</li>
	<li>University of Sydney</li>
	<li>University of Western Sydney</li>
	<li>University of Jyväskylä, Finland</li>
	<li>Charles University in Prague, Czech Republic</li>
        <li>Universit&eacute; Saint-Joseph (USJ) in Lebanon</li>
</ul>
<h2>Finance</h2>
<ul>
	<li>Journyx Timesheets</li>
	<li>Logictree Systems</li>
	<li>Trust-Commerce</li>
</ul>
<h2>Gaming</h2>
<ul>
	<li>MobyGames</li>
</ul>
<h2>Government</h2>
<ul>
	<li>City of Garden Grove, California</li>
	<li>National Physical Laboratory of India</li>
	<li>The National Weather Service</li>
	<li>Registre Francais des Emissions Polluantes</li>
	<li>United Nations Children's Fund</li>
	<li>United Nations Industrial Development Organisation</li>
	<li>U.S. Agency for International Development</li>
	<li>U.S. Centers For Disease Control and Prevention</li>
	<li>U.S. Department of Labor</li>
	<li>U.S. General Services Administration</li>
	<li>U.S. State Department</li>
</ul>
<h2>Healthcare</h2>
<ul>
	<li>CalorieKing.com</li>
	<li>GNUmed (<a href="http://wiki.gnumed.de/bin/view/Gnumed/DbStructure">white-paper</a>)</li>
	<li>Shannon Medical Center (<a href="/about/casestudies/shannonmedical">white-paper</a>)</li>
</ul>
<h2>Manufacturing</h2>
<ul>
	<li>eXo2.net Corp</li>
</ul>
<h2>Media</h2>
<ul>
	<li>Chicagocrime.org</li>
	<li>Creative Commons</li>
	<li>Greenpeace</li>
	<li>IMDB.com, The Internet Movie Database</li>
	<li>Macworld</li>
	<li>Penny Arcade</li>
	<li>the451.com</li>
	<li>The Washington Post U.S. Congress Votes Database</li>
</ul>
<h2>Open Source Projects</h2>
<ul>
	<li>Bricolage</li>
	<li>Debian</li>
	<li>FreshPorts</li> 
	<li>FLPR (FreeBsd,LightHttpd,PostgreSQL,Ruby)</li>
	<li>GForge</li>
	<li>LAMP (Linux/Apache/Middleware(Perl,PHP,Python,Ruby)/PostgreSQL)</li>
	<li>OpenACS</li>
	<li>PostGIS (<a href="http://postgis.refractions.net/documentation/casestudies/">case studies</a>)</li>
	<li>SourceForge</li>
</ul>
<h2>Retail</h2>
<ul>
	<li>ADP Dealer Services (<a href="http://informationweek.com/story/showArticle.jhtml?articleID=165702187">article</a>)</li>
	<li>Courage To Change</li>
    <li>Safeway</li>
	<li>Tsutaya</li>
	<li>The Rockport Company, LLC</li>
</ul>
<h2>Technology</h2>
<ul>
	<li>Afilias (<a href="http://www.computerworld.com.au/index.php?id=760310963">article</a>)</li>
	<li>Apple (<a href="http://developer.apple.com/appleapplications/ardsql.html">article</a>)</li>
	<li>Fujitsu</li>
	<li>OmniTI</li>
	<li>Red Hat</li>
	<li>Sirius IT</li>
	<li>Sun Microsystems</li>
</ul>
<h2>Telecom</h2>
<ul>
	<li>Cisco</li>
	<li>Juniper Networks (<a href="http://www.juniper.net/techpubs/en_US/nsm2009.1/topics/task/verify/firewall-profiler-database-querying-nsm.html">documentation</a>)</li>
	<li>NTT Data</li>
	<li>Optus</li>
	<li>Rambler Internet Holdings</li>
	<li>Skype</li>
	<li>Telstra</li>
</ul>
<br />
<br />

These users are listed here as a demonstration of their confidence in using PostgreSQL. This is not a solicitation list or directory. Please do not contact these companies with commercial offers or requests for interviews (contact <a href="mailto:press@postgresql.org">press@postgresql.org</a> instead).

{%endblock%}
