/**
* -----------------------------------------
* REFERENCE STANDARD COLORS:
* (in order from lightest to darkest)
*
* #e7eae8: Extremely light gray, used for alternating color boxes such as on mailinglists.html
* #d7dad8: Medium gray, used in Dropotron
* #666: Dark gray, official PostgreSQL gray color and equivalent to RGB(102,102,102)
* #688297: Grayish blue, used in Dropotron
* #336791: Medium blue, official PostgreSQL blue color
* #264d6d: Dark blue
*
* -----------------------------------------
* All padding: 0 0 0 0; and margin: 0 0 0 0; definitions are top, right, bottom, left specifications, respectively.
*/

/** CUSTOM FONTS */
@import url('/media/css/open-sans-woff.css');
@import url('/media/css/open-sans-woff2.css');

/** STANDARD COLOR DEFINITIONS (complete list) **/
:root {
  --a-fg-color: #336791;
  --a-highlight-fg-color: #193145;
  --alert-warning-bg-color: #fff3cd;
  --alert-warning-bdr-color: #ffeeba;
  --b-fg-color: #474747;
  --blockquote-bdr-color: #e7eae8;
  --body-bg-color: inherit;
  --body-fg-color: inherit;
  --btn-decoration-bdr-color: #666;
  --btn-decoration-bg-color: #666;
  --btn-default-bdr-color: #ccc;
  --btn-default-bg-color: #fff;
  --btn-default-fg-color: #333;
  --btn-download-bdr-color: #336791;
  --btn-download-decoration-bdr-color: inherit;
  --btn-download-decoration-bg-color: #e7eae8;
  --btn-download-bg-color: #fff;
  --btn-download-active-bg-color: #e7eae8;
  --btn-download-fg-color: #336791;
  --btn-light-bdr-color: #6c757d;
  --btn-light-bg-color: #6c757d;
  --btn-light-fg-color: #fff;
  --btn-primary-bdr-color: #336791;
  --btn-primary-bg-color: #336791;
  --btn-primary-fg-color: #fff;
  --btn-secondary-bdr-color: inherit;
  --btn-secondary-bg-color: inherit;
  --btn-secondary-fg-color: inherit;
  --button-input-bdr-color: #ced4da;
  --button-input-bg-color: #fff;
  --button-input-fg-color: #495057;
  --carousel-b-fg-color: #336791;
  --carousel-fg-color: #999;
  --carousel-i-fg-color: rgba(0, 0, 0, 0.8);
  --carousel-i-sdw-color: #000;
  --carousel-i-sdw-v-color: #e6e6e6;
  --carousel-image-bdr-color: #ddd;
  --carousel-li-active-bg-color: #555;
  --carousel-li-bg-color: #999;
  --carousel-li-sdw-color: rgba(0,0,0,0.2);
  --cta-bg-color: #336791;
  --cta-fg-color: #fff;
  --cta-header-fg-color: #fff;
  --custom-select-bdr-color: #ced4da;
  --custom-select-bg-color: #fff;
  --custom-select-fg-color: #495057;
  --doccontent-blockquote-table-caution-bdr-color: #e2b21f;
  --doccontent-blockquote-table-caution-bg-color: #fff3cd;
  --doccontent-blockquote-table-note-bdr-color: #ced4da;
  --doccontent-blockquote-table-note-bg-color: #d1ecf1;
  --doccontent-blockquote-table-tip-bdr-color: #84c578;
  --doccontent-blockquote-table-tip-bg-color: #e8f7e6;
  --doccontent-blockquote-table-warning-bdr-color: #df421e;
  --doccontent-blockquote-table-warning-bg-color: #fbeded;
  --doccontent-blockquote-td-warning-bg-color: #fbeded;
  --doccontent-blockquote-td-warning-fg-color: #495057;
  --doccontent-callout-fg-color: initial;
  --doccontent-code-bg-color: inherit;
  --doccontent-code-fg-color: inherit;
  --doccontent-code-warning-note-bg-color: transparent;
  --doccontent-pre-code-bg-color: #f8f9fa;
  --doccontent-pre-code-callout-bg-color: transparent;
  --doccontent-pre-code-fg-color: inherit;
  --doccontent-table-bdr-color: #dee2e6;
  --doccontent-table-bg-color: #e0ecef;
  --doccontent-table-fg-color: #336791;
  --doccontent-table-td-bdr-color: #dee2e6;
  --doccontent-table-td-bg-color: #fff;
  --doccontent-table-td-caution-bdr-color: #f3e4d5;
  --doccontent-table-td-caution-bg-color: #fff3cd;
  --doccontent-table-td-fg-color: inherit;
  --doccontent-table-td-pre-bg-color: inherit;
  --doccontent-table-td-warning-bdr-color: #ffd7d7;
  --doccontent-table-td-warning-bg-color: #fff3cd;
  --doccontent-table-th-bdr-color: #dee2e6;
  --doccontent-table-th-bg-color: #e9ecef;
  --doccontent-table-th-fg-color: inherit;
  --doccontent-table-tt-code-bg-color: inherit;
  --doccontent-table-tt-code-fg-color: inherit;
  --doccontent-table-warning-bdr-color: #ced4da;
  --doccontent-td-warning-bdr-color: #bd4147;
  --doccontent-td-warning-bg-color: #fbeded;
  --doccontent-title-code-bg-color: inherit;
  --doccontent-title-code-fg-color: inherit;
  --feature-grid-bdr-color: #fff;
  --feature-grid-bg-color: #336791;
  --feature-grid-header-color: #fff;
  --feature-i-fg-color: #336791;
  --fieldset-form-group-bdr-color: #ddd;
  --footer-a-fg-color: #336791;
  --h2-decoration-bg-color: #e7eae8;
  --header-a-fg-color: inherit;
  --header-fg-color: #336791;
  --hr-bdr-color: #e7eae8;
  --i-fa-heart-fg-color: #b52525;
  --i-fas-fg-color: #336791;
  --navbar-bg-color: inherit;
  --navbar-fg-color: inherit;
  --navbar-sdw-color: rgba(0,0,0,0.2);
  --navbar-toggler-img: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  --pg-bdr-blue-color: #336791;
  --pg-bg-blue-color: #336791;
  --pg-bg-gray-color: #e7eae8;
  --pg-bg-light-blue-color: #008bb9;
  --pg-bg-purple-color: #e6e6fa;
  --pg-feature-bg-color: #f5f5f5;
  --pg-jumbotron-grdt-end-color: rgba(0, 0, 0, 0.5);
  --pg-jumbotron-grdt-start-color: rgba(0, 0, 0, 0.5);
  --pg-shoutbox-bg-color: #336791;
  --pg-shoutbox-fg-color: #fff;
  --pg-sidenav-a-fg-color: #336791;
  --pg-text-blue-color: #008bb9;
  --pgcontent-a-decoration-fg-color: #193145;
  --pgcontent-doccontent-a-fg-color: #840032;
  --pgcontent-doccontent-a-not-tabindex-fg-color: #336791;
  --pgcontent-fa-fg-color: #336791;
  --pgcontent-pre-bdr-color: #ced4da;
  --pgcontent-span-newsdatefg-color: #fff;
  --pgcontent-span-newstag-fg-color: #fff;
  --styled-select-input-bdr-color: #e7eae8;
  --styled-select-input-bg-color: #fff;
  --table-td-bdr-color: #dee2e6;
  --table-td-bg-color: inherit;
  --table-td-fg-color: inherit;
  --table-th-bdr-color: #dee2e6;
  --table-th-bg-color: unset;
  --table-th-fg-color: inherit;
  --td-fm-no-bg-color: #ffdddd;
  --td-fm-no-fg-color: inherit;
  --td-fm-obs-bg-color: #ddddff;
  --td-fm-obs-fg-color: inherit;
  --td-fm-unk-bg-color: #ffffaa;
  --td-fm-unk-fg-color: inherit;
  --td-fm-yes-bg-color: #ddffdd;
  --td-fm-yes-fg-color: inherit;
  --ul-divided-bdr-color: #e7eae8;
  --ul-errorlist-fg-color: #bd4147;
}

/** DARK COLOR (overrides only) **/
[data-theme="dark"] {
    --a-fg-color: #699eca;
    --a-highlight-fg-color: #50b0f0;
    --alert-warning-bg-color: #bcb5b5;
    --alert-warning-bdr-color: #bcb5b5;
    --b-fg-color: #f3f5f9;
    --body-bg-color: #212121;
    --body-fg-color: #f3f5f9;
    --btn-download-bdr-color: #699eca;
    --btn-download-decoration-bdr-color: #d4d4d4;
    --btn-download-decoration-bg-color: #4a4a4a;
    --btn-download-bg-color: #212121;
    --btn-download-active-bg-color: #4A4A4A;
    --btn-download-fg-color: #699eca;
    --btn-primary-bdr-color: #699eca;
    --btn-primary-bg-color: #699eca;
    --btn-primary-fg-color: #000;
    --btn-secondary-bdr-color: #6b6b6b;
    --btn-secondary-bg-color: #212121;
    --btn-secondary-fg-color: #fff;
    --btn-light-bdr-color: #ccc;
    --btn-light-bg-color: #d4d4d4;
    --btn-light-fg-color: rgb(1, 1, 1);
    --button-input-bdr-color: #6b6b6b;
    --button-input-bg-color: #4a4a4a;
    --button-input-fg-color: #f3f5f9;
    --custom-select-bdr-color: #6b6b6b;
    --custom-select-bg-color: #4a4a4a;
    --custom-select-fg-color: #f3f5f9;
    --cta-header-fg-color: #f3f5f9;
    --doccontent-blockquote-table-caution-bg-color: #171709;
    --doccontent-blockquote-table-note-bdr-color: #84c578;
    --doccontent-blockquote-table-note-bg-color: #4a4a4a;
    --doccontent-blockquote-table-tip-bdr-color: #84c578;
    --doccontent-blockquote-table-tip-bg-color: none;
    --doccontent-blockquote-table-warning-bg-color: #1e0c0c;
    --doccontent-callout-fg-color: #f3f5f9;
    --doccontent-pre-code-bg-color: #4a4a4a;
    --doccontent-table-bdr-color: #6b6b6b;
    --doccontent-table-bg-color: #4a4a4a;
    --doccontent-table-td-bdr-color: #6b6b6b;
    --doccontent-table-td-bg-color: #212121;
    --doccontent-table-td-fg-color: #f3f5f9;
    --doccontent-table-th-bdr-color: #6b6b6b;
    --doccontent-table-th-bg-color: #6b6b6b;
    --doccontent-table-th-fg-color: #f3f5f9;
    --footer-a-fg-color: #699eca;
    --h2-decoration-bg-color: #6b6b6b;
    --header-fg-color: #699eca;
    --hr-bdr-color: #6b6b6b;
    --navbar-bg-color: #212121;
    --navbar-fg-color: #f3f5f9;
    --navbar-toggler-img: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243, 245, 249, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    --pg-bg-gray-color: #2e2e2e;
    --pg-shoutbox-bg-color: #699eca;
    --pg-shoutbox-fg-color: #000;
    --pg-sidenav-a-fg-color: #699eca;
    --pgcontent-a-decoration-fg-color: #50b0f0;
    --pgcontent-doccontent-a-fg-color: #699eca;
    --pgcontent-fa-fg-color: #6b6b6b;
    --table-td-bdr-color: #4a4a4a;
    --table-td-fg-color: #f3f5f9;
    --table-th-bdr-color: #4a4a4a;
    --table-th-bg-color: #303030;
    --table-th-fg-color: #f3f5f9;
    --td-fm-no-bg-color: #ff8882;
    --td-fm-no-fg-color: #000;
    --td-fm-obs-fg-color: #000;
    --td-fm-unk-fg-color: #000;
    --td-fm-yes-bg-color: #89ff96;
    --td-fm-yes-fg-color: #000;
}


/** GLOBAL CONFIGURATION */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--body-fg-color);
  background-color: var(--body-bg-color);
  font-size: 11.5pt;
}

input, select, textarea, .btn-default {
  background-color: var(--button-input-bg-color);
  border-color: var(--button-input-bdr-color);
  color: var(--button-input-fg-color);
}

.table th {
  background-color: var(--table-th-bg-color);
  border-color: var(--table-th-bdr-color) !important;
  color: var(--table-th-fg-color);
}

/* We need to do this otherwise the striping on the feature matrix will break */
/* unless someone brighter than me can figure it out of course. */
@media (prefers-color-scheme: dark) {
  .table th {
    background-color: var(--table-th-bg-color) !important;
  }
}

.table td {
  background-color: var(--table-td-bg-color);
  border-color: var(--table-td-bdr-color);
  color: var(--table-td-fg-color);
}

p {
  margin-bottom: 0.5rem;
}

dl, ol, ul {
  margin-bottom: 0.5rem;
}

.table td, .table th {
  padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: var(--header-fg-color);
  /*margin: 0 0 0.5em 0;*/
}

h2 {
  font-size: 1.6em;
  margin: 1em 0;
}

h3 {
  font-size: 1.4em;
  font-weight: initial;
}

.h4, h4 {
  font-size: 1.1rem;
  text-transform: capitalize !important;
}

.h5, h5 {
  font-size: 0.98rem;
}

#pgContentWrap h2:after, #pgSideNav h2:after {
  background-color: var(--h2-decoration-bg-color);
  content: '\a0';
  flex-grow: 1;
  height: 2px;
  position: relative;
  margin: .5em 0 .5em .75em;
}

#pgContentWrap h2, #pgSideNav h2 {
  display: flex;
  flex-direction: row;
}

h2.centered-lines {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

h2.centered-lines:after, h2.centered-lines:before {
  background-color: var(--h2-decoration-bg-color);
  content: '\a0';
  flex-grow: 1;
  height: 2px;
  position: relative;
  margin: 0.5em 0;
}

h2.centered-lines:after {
  margin-left: 0.75em;
}

h2.centered-lines:before {
  margin-right: 0.75em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: var(--header-a-fg-color);
}

a, .news a {
  color: var(--a-fg-color);
  font-weight: 600;
  text-decoration: none;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

a:hover, a:active {
  color: var(--a-highlight-fg-color);
  text-decoration: none;
}

b, strong, th {
  font-weight: 600;
  color: var(--b-fg-color) !important;
}

i, em {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 2px var(--hr-bdr-color);
  margin: 0 0 3em 0;
}

.image {
  width: 100%;
  margin: 1em 0 2em 0;
}

/**
p, ul, ol, dl, table {
  margin-bottom: 3em;
}*/

/** Global styles */

.pg-bg-blue {
  background-color: var(--pg-bg-blue-color);
}

.pg-bg-light-blue {
  background-color: var(--pg-bg-light-blue-color);
}

.pg-bg-purple {
  background-color: var(--pg-bg-purple-color);
}

.pg-bg-gray {
  background-color: var(--pg-bg-gray-color);
}

.pg-border-color-blue {
  border-color: var(--pg-bdr-blue-color);
}

.pg-text-blue {
  color: var(--pg-text-blue-color)
}

.pg-text-light-blue {
  color: var(--pg-text-blue-color);
}

.pgFrontFeature {
  background: var(--pg-feature-bg-color) url(/media/img/feature/feature_elephant.png) right bottom no-repeat;
  /* background: var(--pg-feature-bg-color) url(/media/img/feature/feature_elephant.png) right bottom no-repeat; */
}

.pgFrontContainer {
  padding: 1em 2em;
}

/* Utility */
.ws-pre {
  white-space: pre;
}

/* #BLOCKQUOTE */

blockquote {
  border-left: solid 5px var(--blockquote-bdr-color);
  padding: 0 4em 0 .5em;
  margin: 1em 0 1em 0;
  font-style: italic;
}

.item blockquote {
  border-left: none;
  margin: 0;
}

.item blockquote img {
  margin-bottom: 10px;
}

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}

/* # CAROUSEL */

.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 0 auto 4rem auto;
  padding: 0 3rem;
}
.carousel .item {
  text-align: center;
  overflow: hidden;
  min-height: 12rem;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid var(--carousel-image-bdr-color);
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  margin-top: 4rem;
  padding: 0 1rem;
}
.carousel .overview {
  font-style: italic;
  color: var(--carousel-fg-color);
}
.carousel .overview b {
  text-transform: uppercase;
  color: var(--carousel-b-fg-color);
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: var(--carousel-i-fg-color);
  text-shadow: 0 3px 3px var(--carousel-i-sdw-v-color), 0 0 0 var(--carousel-i-sdw-color);
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: var(--carousel-li-bg-color);
  border-color: transparent;
  box-shadow: inset 0 2px 1px var(--carousel-li-sdw-color);
}
.carousel-indicators li.active {
  background: var(--carousel-li-active-bg-color);
  box-shadow: inset 0 2px 1px var(--carousel-li-sdw-color);
}

/* #FEATURED SECTIONS */

.community {
  width: 1em !important;
  margin: 0 5px 0 0 !important;
  display: inline-block;
}

.feature {
  text-align: center;
  padding: 2em;
}

.feature ul, ul.feature {
  padding: 0;
}

.feature li {
  list-style-type: none;
  padding-left: 0.3em;
  text-align: left;
}

.feature i {
  font-size: 2.5em;
  margin: 20px 0;
  color: var(--feature-i-fg-color);
}

.feature img {
  width: 2.5em;
  margin: 20px 0;
}

.feature p {
  text-align: left;
}

.feature-grid {
  background-color: var(--feature-grid-bg-color);
  text-align: center;
  padding: 3em 0;
  border: solid 1px var(--feature-grid-bdr-color);
}

.feature-grid h3 {
  color: var(--feature-grid-header-color);
}

.feature button.btn.btn-center.btn-primary {
  position: relative;
  bottom: 0;
  margin: 0.25rem auto;
}

.text {
  margin-bottom: 2.5em;
}

li.non-badged {
  padding-left: 2em;
}

/* #LIST */

#footer ul {
  cursor: default;
  padding: 0;
}

a.icon {
  text-decoration: none !important;
}

footer img {
  height: 2rem;
  margin-bottom: 1rem;
}

#footer ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 .2em;
  font-size: 2em;
}

ul.errorlist {
  color: var(--ul-errorlist-fg-color);
  font-weight: 600;
  list-style-type: none;
  padding: 0;
}

ul.meta {
  font-size: 0.85em;
  padding-left: 0;
}

ul.meta li {
  display: inline-block;
  margin-right: 1em;
}

ul.meta li i {
  margin-right: 4px;
}

ul.divided > li {
  border-top: solid 2px var(--ul-divided-bdr-color);
  padding-top: 1.35em;
  margin-top: 1.35em;
  list-style: none;
}

ul.divided > li:first-child {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}

.divided h3 {
  font-size: 1.2em;
}

ul.bold {
  font-weight: 600;
  list-style-type: none;
  padding-left: 0;
}

/* #ICONS */

.icon {
  position: relative;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/** BASE STYLES */

/** SHOUTOUT BOX */
.pg-shout-box {
  background-color: var(--pg-shoutbox-bg-color);
  font-weight: 600;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.pg-shout-box div {
  color: var(--pg-shoutbox-fg-color) !important;
}

.pg-shout-box a {
  color: var(--pg-shoutbox-fg-color);
  text-decoration: underline;
}

/* #JUMBOTRON */

.pg-jumbotron {
  background-image: linear-gradient( var(--pg-jumbotron-grdt-start-color), var(--pg-jumbotron-grdt-end-color) ), url("/media/img/misc/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  margin: 0;
  text-align: center;
}

.pg-jumbotron-header {
  font-size: 2.5rem;
}

/* #CTA */

.cta {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  margin: 0;
}

.cta-text {
  padding: 4em;
  text-align: center;
  color: var(--cta-fg-color);
  background-color: var(--cta-bg-color);
}

.cta-text h2 {
  color: var(--cta-header-fg-color);
}

.cta-1 {

}

.cta-2 {
  background-image: url("/media/img/misc/bugs.jpg");
}

.cta-3 {
  background-image: url("/media/img/misc/training.jpg");
}

/* #MARGIN */

.margin {
  margin: 0 auto 4em auto;
}

/* #FOOTER */

#footer {
  text-align: center;
  padding: 5em 0 2em 0;
}

#footer a {
  color: var(--footer-a-fg-color);
}

/* #LIST DESKTOP */

ul.actions {
  text-align: center;
  margin: 2em 0 0 0;
}

/* #SIDEBAR DESKTOP */

.sidebar {
  padding-top: 6em;
}

.col-lg-7 {
  padding-top: 4em;
}

.navbar .logo {
  height: 2rem;
  margin-left: 0;
  margin-bottom: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: var(--navbar-toggler-img)
}

.nav-item > a {
  font-weight: 400;
}

.logo {
  height: 2rem;
  margin-left: 5px;
  margin-bottom: 5px;
}

.navbar {
  color: var(--navbar-fg-color) !important;
  background-color: var(--navbar-bg-color) !important;
  box-shadow: 0 3px 15px var(--navbar-sdw-color);
  transition: all 0.3s;
}

/* #SIDEBAR UL STYLING */

#pgSideNav {
  padding: 1em;
}

#pgSideNav a {
  color: var(--pg-sidenav-a-fg-color);
  font-weight: normal;
}

#pgSideNav ul {
  list-style-type: circle;
  padding-left: 1.3em;
}

/* DOCUMENTATION */
/*
 * The documentation classes are divided up by newer/older version of the docs
 * Newer version of the docs are "lowercase" classed
 * Older version of the docs are "UPPERCASE" classed
 * Also, newer styles will be in classes vs. older ones that have i
 */

.docs-version-selected {
  font-weight: 600;
  text-decoration: underline;
}

/**
 * docContent represents the main "box" where the documentation is rendered.
 * We namespace everything to ensure these styles do not interfere across the
 * rest of the site
 */

/**
 * General styles
 */

#pgContentWrap .alert-warning {
  background-color: var(--alert-warning-bg-color);
  border-color: var(--alert-warning-bdr-color);
}

#docContent {
  font-size: 0.9rem;
  margin-top: 1rem;
}

#docContent p {
  margin-bottom: 1rem;
}

#docContent dt {
  font-weight: 600;
}

#docContent hr {
  margin: 0 0 0.5em 0;
}

/* #docContent hr.c1 {
  margin: 0 0 3em 0;
} */

/* For code, order matters here.
 * For instance, we don't want to have any any padding on code blocks that
 * are within the "screen" element
 * This is also higher up as some inherited rules affected the display of the
 * code in certain areas
 */

#docContent br.table-break {
  display: none;
}

#docContent pre {
  padding: 0.8rem;
}

pre,
code,
#docContent kbd,
#docContent tt.LITERAL,
#docContent tt.REPLACEABLE {
  font-size: 0.9rem !important;
  color: var(--doccontent-pre-code-fg-color) !important;
  background-color: var(--doccontent-pre-code-bg-color);
  border-radius: .25rem;
  margin: .6rem 0;
  font-weight: 400;
}

#docContent .note pre,
#docContent .note code,
#docContent .note kbd,
#docContent .note tt.LITERAL,
#docContent .note tt.REPLACEABLE,
#docContent .warning pre,
#docContent .warning code,
#docContent .warning kbd,
#docContent .warning tt.LITERAL,
#docContent .warning tt.REPLACEABLE,
#docContent .tip pre,
#docContent .tip code,
#docContent .tip kbd,
#docContent .tip tt.LITERAL,
#docContent .tip tt.REPLACEABLE,
#docContent .caution pre,
#docContent .caution code,
#docContent .caution kbd,
#docContent .caution tt.LITERAL,
#docContent .caution tt.REPLACEABLE {
  background-color: var(--doccontent-pre-code-callout-bg-color) !important;
  border: none;
  padding: 0 !important;
}

#docContent .SCREEN code,
#docContent .screen code {
  padding: 0;
}

#docContent .USERINPUT > code,
#docContent .userinput > code {
  font-weight: 600;
}

#docContent .REPLACEABLE,
#docContent tt.REPLACEABLE,
#docContent .replaceable {
  font-weight: 800;
  font-style: italic;
}

#docContent .REPLACEABLE > code,
#docContent .replaceable > code {
  font-weight: 800;
}

/**
 * Documentation Tables
 */
#docContent .table .title > strong,
#docContent .TABLE,
#docContent .TABLE b {
  color: var(--doccontent-table-fg-color);
  font-weight: 600;
}

#docContent table.table,
 #docContent table.informaltable,
 #docContent table.CALSTABLE {
   background-color: var(--doccontent-table-bg-color);
   border: 2px solid var(--doccontent-table-bdr-color);
   border-spacing: 0;
   border-collapse: collapse;
   width: initial;
   margin: 2ex 0;
 }

#docContent table.table th,
#docContent table.informaltable th,
#docContent table.CALSTABLE th {
  background-color: var(--doccontent-table-th-bg-color);
  color: var(--doccontent-table-th-fg-color);
  border-color: var(--doccontent-table-th-bdr-color);
  padding: 0.5ex 0.5ex;
}

#docContent table.table th[align="left"],
#docContent table.table td[align="left"] {
  text-align: left;
}

#docContent table.table th[align="center"],
#docContent table.table td[align="center"] {
  text-align: center;
}

#docContent table.table th[align="right"],
#docContent table.table td[align="right"] {
  text-align: right;
}

#docContent table.table th[valign="top"],
#docContent table.table td[valign="top"] {
  vertical-align: top;
}

#docContent table.table th[valign="middle"],
#docContent table.table td[valign="middle"] {
  vertical-align: middle;
}

#docContent table.table th[valign="bottom"],
#docContent table.table td[valign="bottom"] {
  vertical-align: top;
}

#docContent table.table td,
#docContent table.informaltable td,
#docContent table.CALSTABLE td {
  background-color: var(--doccontent-table-td-bg-color);
  color: var(--doccontent-table-td-fg-color);
  border-color: var(--doccontent-table-td-bdr-color);
  padding: 0.5ex 0.5ex;
}

/** We use some overrides for code in tables, which makes it more readable */
#docContent table.table tt,
#docContent table.informaltable tt,
#docContent table.CALSTABLE tt,
#docContent table.table code,
#docContent table.informaltable code,
#docContent table.CALSTABLE code {
  background-color: var(--doccontent-table-tt-code-bg-color);
  color: var(--doccontent-table-tt-code-fg-color);
  font-size: inherit !important;
  margin: 0;
  padding: 0;
  word-break: unset;
}

#docContent table.table th.func_table_entry p,
#docContent table.table td.func_table_entry p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding-left: 4em;
  text-align: left;
}

/** Formatting for entries in tables of catalog/view columns **/
#docContent table.table th.catalog_table_entry p,
#docContent table.table td.catalog_table_entry p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding-left: 4em;
  text-align: left;
}

#docContent table.table th.catalog_table_entry p.column_definition {
  text-indent: -3.5em;
  word-spacing: 0.25em;
}

#docContent table.table td.catalog_table_entry p.column_definition {
  text-indent: -3.5em;
}

#docContent table.table p.column_definition code.type {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#docContent table.table td.catalog_table_entry pre.programlisting {
  background-color: var(--doccontent-table-td-pre-bg-color);
  border: 0;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  padding: 0 0 0 4em;
}

#docContent table.table p.func_signature {
  text-indent: -3.5em;
}

#docContent table.table td.func_table_entry pre.programlisting {
  background-color: var(--doccontent-table-td-pre-bg-color);
  border: 0;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  padding: 0 0 0 4em;
}

/**
 * Titles, Navigation
 */
#docContent .title {
  display: block;
}

#docContent .title:after {
  display: none;
}

#docContent h2.SECT2 tt,
#docContent .title code {
  background-color: var(--doccontent-title-code-bg-color) !important;
  color: var(--doccontent-title-code-fg-color) !important;
  font-size: inherit !important;
}

#docContent h2 code {
  font-size: inherit !important;
  margin: 0 0.5em;
}

#docContent .NAVHEADER table th,
#docContent .navheader table th {
  text-align: center;
}

/**
 * Table of contents
 */
#docContent .TOC,
#docContent .toc {
  margin-bottom: 1rem;
}

#docContent div.TOC > dl > dd,
#docContent div.toc > dl > dd {
  margin-left: 2rem;
}

#docContent div.TOC > dl > dt.c2,
#docContent div.toc > dl > dt.c2 {
  font-weight: 400;
  margin-bottom: 1rem;
}

#docContent .TOC tt, #docContent .TOC dt a,
#docContent .toc tt, #docContent .toc dt a {
  font-weight: 400;
}

#docContent .TOC dd, #docContent .TOC dl,
#docContent .toc dd, #docContent .toc dl {
  margin: 0;
}

#docContent .TOC span.refpurpose,
#docContent .toc span.refpurpose {
  font-weight: normal;
}

/** Do not show any highlighting on code literals in TOC */
#docContent .TOC tt,
#docContent .toc code {
  background-color: var(--doccontent-code-bg-color) !important;
  color: var(--doccontent-code-fg-color) !important;
}

/** Additional formatting for "simplelist" structures */
#docContent table.simplelist td {
  padding-left: 2em;
  padding-right: 2em;
}

/**
 * Styles for anchors to deeper documentation links. This makes an element
 * (currently "#") appear next to links, so a reader can click on it and have
 * the anchor appear in the URL.
 */
#docContent a.id_link {
  color: inherit;
  visibility: hidden;
  text-decoration: none;
}

#docContent a.id_link:hover:after {
  content: "Permalink to this heading";
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
  border: 1px solid #444444;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  position: relative;
  top: 20px;
}

#docContent *:hover > a.id_link {
  visibility: visible;
}

/**
  * Various callout boxes for docs, including warning, caution, note, tip
  */
#docContent table.CAUTION, table.WARNING,
#docContent blockquote.CAUTION, #docContent blockquote.NOTE, #docContent blockquote.TIP, #docContent blockquote.WARNING,
#docContent .caution, #docContent .note, #docContent .tip, #docContent .warning
{
  border-width: 1px;
  border-style: solid;
  font-style: initial;
  margin: 4ex auto;
  max-width: 40rem;
  padding: 1rem;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

#docContent table.WARNING {
  border-color: var(--doccontent-table-warning-bdr-color);
}

#docContent table.CAUTION, table.WARNING {
  display: block;
  overflow: auto;
  padding: 0;
}

#docContent table.CAUTION td, #docContent table.CAUTION th,
#docContent table.WARNING td, #docContent table.WARNING th {
  border-width: 0;
  padding-left: 2ex;
  padding-right: 2ex;
}

#docContent table.CAUTION td, #docContent table.CAUTION th {
  background-color: var(--doccontent-table-td-caution-bg-color);
  border-color: var(--doccontent-table-td-caution-bdr-color);
}

#docContent table.WARNING td, #docContent table.WARNING th {
  background-color: var(--doccontent-table-td-warning-bg-color);
  border-color: var(--doccontent-table-td-warning-bdr-color);
}

#docContent table.CAUTION,
#docContent table.WARNING,
#docContent blockquote.CAUTION p:last-child,
#docContent blockquote.NOTE p:last-child,
#docContent blockquote.TIP p:last-child,
#docContent blockquote.WARNING p:last-child,
#docContent .caution p:last-child,
#docContent .note p:last-child,
#docContent .tip p:last-child,
#docContent .warning p:last-child
{
  margin-bottom: 0 !important;
}

#docContent blockquote.CAUTION,
#docContent table.CAUTION,
#docContent .caution {
  border-color: var(--doccontent-blockquote-table-caution-bdr-color);
  background-color: var(--doccontent-blockquote-table-caution-bg-color);
}

#docContent blockquote.NOTE,
#docContent .note {
  border-color: var(--doccontent-blockquote-table-note-bdr-color);
  background-color: var(--doccontent-blockquote-table-note-bg-color);
}

#docContent blockquote.TIP,
#docContent .tip {
  border-color: var(--doccontent-blockquote-table-tip-bdr-color);
  background-color: var(--doccontent-blockquote-table-tip-bg-color);
}

#docContent blockquote.WARNING,
#docContent .warning {
  background-color: var(--doccontent-blockquote-table-warning-bg-color);
  border-color: var(--doccontent-blockquote-table-warning-bdr-color);
}

#docContent blockquote.TIP h3, #docContent blockquote.NOTE h3, #docContent blockquote.CAUTION h3, #docContent blockquote.WARNING h3,
#docContent .tip h3, #docContent .note h3, #docContent .caution h3, #docContent .warning h3 {
  text-align: center;
  margin: 0.25rem 0 0.5rem 0;
  color: var(--doccontent-callout-fg-color);
}


#docContent blockquote.WARNING td.c2, #docContent blockquote.WARNING td,
#docContent .warning td.c2, #docContent .warning td {
  border: 1px solid var(--doccontent-td-warning-bdr-color);
}

#docContent blockquote.WARNING td.c2,
#docContent .warning td.c2 {
  color: var(--doccontent-blockquote-td-warning-fg-color);
  background-color: var(--doccontent-blockquote-td-warning-bg-color);
}

#docContent .warning td.c2 {
  background-color: var(--doccontent-td-warning-bg-color);
}

/**
 * Background color of code should be transparent
 */

#docContent table.WARNING code,
#docContent blockquote.NOTE code {
   background-color: var(--doccontent-code-warning-note-bg-color) !important;
}

/**
 * Listing out variables
 */
#docContent .VARIABLELIST dt,
#docContent .variablelist dt {
  font-family: monospace;
  font-weight: 400;
}

#docContent .VARIABLELIST dt,
#docContent .variablelist dt {
  font-family: monospace;
  font-weight: 400;
}

#docContent .variablelist dd {
  margin-top: 1rem;
}

#docContent .VARIABLELIST dd,
#docContent .variablelist dd {
  margin-inline-start: 2rem;
}

#docContent ul.itemizedlist {
  margin-left: 2.5rem;
}

#docContent ul.itemizedlist > li > p {
  margin-left: 0 !important;
}

#docContent .VARIABLELIST p,
#docContent .variablelist p,
#docContent .VARIABLELIST pre,
#docContent .variablelist pre {
  margin: 1rem 0 1rem 2rem !important;;
}
/**
 * Footnotes
 */
#docContent .FOOTNOTES hr,
#docContent .footnotes hr {
  margin-bottom: 1.25rem;
}

/* #PGCONTENTWRAP */

#pgContentWrap a:not([href]):not([tabindex]),
#docContent a:not([href]):not([tabindex]) {
  text-decoration: none;
  color: var(--pgcontent-doccontent-a-not-tabindex-fg-color) !important;
}

#pgContentWrap a, #docContent a {
  color: var(--pgcontent-doccontent-a-fg-color);
  text-decoration: none;
  -moz-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

#pgContentWrap a:hover, #pgContentWrap a:active {
  color: var(--pgcontent-a-decoration-fg-color);
  text-decoration: none;
}

#pgContentWrap {
  padding: 1em 2em;
  margin: 0 auto;
  width: 100%;
}

#pgContentWrap h3, #pgContentWrap h4 {
  margin: 1em 0;
}

#pgContentWrap .fa, #pgContentWrap .far, #pgContentWrap .fas, #pgContentWrap .fab {
  color: var(--pgcontent-fa-fg-color);
  margin: 0 5px;
}

#pgContentWrap .logo-preview {
  max-width: 10% !important;
}

#pgContentWrap i.fa.fa-heart {
  color: var(--i-fa-heart-fg-color);
}

i.fas {
  color: var(--i-fas-fg-color);
}

/* #CODE */

pre {
  padding: 0.8rem;
  border: 1px solid var(--pgcontent-pre-bdr-color);
  margin: 1rem 0;
}

pre.code {
  padding: .2rem .4rem;
  font-size: 90%;
  border-radius: .25rem;
}

/* News and events getting markdown from end users */
#pgContentWrap .newseventwrap h1 {
  font-size: 1.2em;
}
#pgContentWrap .newseventwrap h2 {
  display: block;
  font-size: 1.1em;
}
#pgContentWrap .newseventwrap h3 {
  font-size: 1.0em;
}
#pgContentWrap strong.event-highlight {
  font-weight: 600;
}
hr.eventseparator {
  width: 80%;
  margin-bottom: 1em;
}


/* #STYLEDSELECT */

/**
* Used on mailinglists.html as part of the mailinglist subscribe functionality.
*/

.styledSelect, .styledInput {
  width: 100%;
  height: 34px;
  overflow: hidden;
  background-color: var(--styled-select-input-bg-color);
  border: solid 2px var(--styled-select-input-bdr-color);
}

.styledInput[name="search"] {
  width: 98%;
  height: 3.6em;
}

/* Buttons */

.btn {
  width: 14em;
  margin: 1em auto;
}

.btn-double-width {
  width: 28em;
}

.btn-center {
  text-align: center;
  display: block;
}

.btn-primary {
  background-color: var(--btn-primary-bg-color);
  border-color: var(--btn-primary-bdr-color);
  color: var(--btn-primary-fg-color) !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active, .btn:active:focus, .btn.active:focus {
  background-color: var(--btn-decoration-bg-color);
  border-color: var(--btn-decoration-bdr-color);
  cursor: pointer;
}

.btn-outline-secondary {
  background-color: var(--btn-secondary-bg-color);
  border-color: var(--btn-secondary-bdr-color);
  color: var(--btn-secondary-fg-color) !important;
}

.btn-inline-block {
  display: inline-block;
}

.form-row .btn-primary {
  margin: 0.5em 0;
}

button.btn.btn-default {
  color: var(--btn-default-fg-color);
  background-color: var(--btn-default-bg-color);
  border-color: var(--btn-default-bdr-color);
  width: initial;
  margin: auto 0;
  height: 100%;
  cursor: pointer;
}

.btn-light {
  color: var(--btn-light-fg-color);
  background-color: var(--btn-light-bg-color);
  border-color: var(--btn-light-bdr-color);
}

/* Input */

input.form-control {
  height: 2.5em;
  margin: auto 0;
}

input#q {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

input {
  padding-left: 0.5em;
}

input[type=checkbox] {
  vertical-align: middle;
  margin-left: 5px;
  width: auto;
}

input[type=checkbox]:focus {
  outline: none;
  box-shadow: none;
}

.custom-select {
  background-color: var(--custom-select-bg-color) !important;
  border-color: var(--custom-select-bdr-color) !important;
  color: var(--custom-select-fg-color) !important;
  margin: 2px;
}

/* For the thread viewer, keep the width inline with the parent element */
#thread_select.custom-select {
  width: auto;
}

th.formfieldnamecontainer {
  padding-right: 1em;
}

.pgGenericFormTable input, .pgGenericFormTable textarea {
  margin: 0.5em 0;
}

.form-check div.describedcheckbox {
  margin-left: 3rem;
  font-style: italic;
}

.form-check-input[type=radio] {
  margin-top: .4rem;
}

.text-center.fixed-height h3 {
  height: 3.5em;
}

fieldset.form-group {
    border: 1px groove var(--fieldset-form-group-bdr-color);
}
fieldset.form-group legend {
    width:inherit;
    padding-left: 1rem;
    padding-right: 1rem;
}

/** This code is for pgarchives */

/**
 * general navigation padding just for the archives; removable after the
 * universal notifier is available
 */
 .archive {
   margin-top: 4rem;
 }

/** Thread Lists */
.thread-list {
  font-size: 0.8em;
}

.thread-list th, .thread-list td {
  padding: 0;
}

/** Messages */

h3.messages {
  text-transform: none;
  font-size: 1.2em;
}

.message-header {
  font-size: 0.7em;
  line-height: 1.2em;
  padding-bottom: 0.3em;
}

.message-header th, .message-header td {
  padding: 0;
 }

.message-header select {
  height: auto;
  padding: 0;
}

.message-content {
  display: inline-block;
  font-family: monospace, monospace;
  font-size: 0.7em;
  line-height: 1.2em;
  margin: 0 auto;
  white-space: pre-wrap;
}

.message-content p {
  margin-bottom: -1.2em;
}

.message-responses {
  font-size: 0.7em;
  line-height: 1.5em;
}

.message-attachments, .message-nav {
  font-size: 0.7em;
  line-height: 1.2em;
}

/* Message Subjects */
h1.subject {
  text-transform: none;
  font-size: 1.2em;
}

/* Feature matrix */
form#featurematrix_version_filter {
  text-align: center;
}
input.featurematrix_version {
  margin-right: 15px;
}
input.featurematrix_version:last-child {
  margin-right: 0;
}
hr#featurematrix_version_divider {
  margin: 0;
}

td.fm_no {
  background-color: var(--td-fm-no-bg-color);
  color: var(--td-fm-no-fg-color);
}
td.fm_yes {
  background-color: var(--td-fm-yes-bg-color);
  color: var(--td-fm-yes-fg-color);
}
td.fm_obs {
  background-color: var(--td-fm-obs-bg-color);
  color: var(--td-fm-obs-fg-color);
}
td.fm_unk {
  background-color: var(--td-fm-unk-bg-color);
  color: var(--td-fm-unk-fg-color);
}

div#feature-matrix-filter {
    border-color: var(--hr-bdr-color) !important;
}

/* Code of Conduct Committee */
table.cocc-table tbody tr td:nth-child(1) {
  width: 20%;
}

table.coc-report-table thead tr th:nth-child(1) {
  width: 50%;
}

/* Contributors */
table.contributor-table thead tr th {
  width: 50%;
}

/* News archive */
#pgContentWrap span.newstag {
    white-space: nowrap;
}
#pgContentWrap span.newstag a i.fa {
    color: var(--pgcontent-span-newstag-fg-color);
}
#pgContentWrap div.newsdate span.badge i.fa {
    color: var(--pgcontent-span-newsdatefg-color);
}
#pgContentWrap div.newstags {
    padding-bottom: 3rem;
}

/* Downloads/products */

.btn-download {
  border-color: var(--btn-download-bdr-color);
  border-width: 2px;
  color: var(--btn-download-fg-color) !important;
  background-color: var(--btn-download-bg-color);
}

.btn-download:hover {
  background-color: var(--btn-download-decoration-bg-color);
  border-color: var(--btn-download-decoration-bdr-color);
}

.btn-download-active {
  background-color: var(--btn-download-active-bg-color);
}

.download-subnav {
  display: none;
}

table.product-table thead tr th:nth-child(1) {
  width: 60%;
}
table.product-table thead tr th:nth-child(2) {
  width: 10%;
}
table.product-table thead tr th:nth-child(3) {
  width: 10%;
}
table.product-table thead tr th:nth-child(4) {
  width: 20%;
}

/* Downloads // yum */
li#dnfmodule {
  display: none;
}

/* Professional servies */
table.profserv-table tbody tr th {
  width: 20%;
}

/* Sponsors */
table.sponsor-table tbody tr th {
  width: 20%;
}
table.sponsor-table tbody tr td:nth-child(2) {
  width: 50%;
}
table.sponsor-table tbody tr td:nth-child(3) {
  width: 30%;
}

/**
* This sets the rule for the rendering in the sponsors table. The name is chosen
* to ensure compatibility with various browser plugins that may otherwise hide
* images.
**/
img.organisation-logo {
  max-height: 65px;
  max-width: 150px;
}
th.organisation-logo {
  height: 65px;
  width: 150px;
  background-color: white !important;
  text-align: center;
}

/** Release Notes */
#release-notes .navheader,
#release-notes .navfooter,
#release-notes .NAVHEADER,
#release-notes .NAVFOOTER,
#release-notes .titlepage,
#release-notes h1.SECT1,
#release-notes .toc {
  display: none;
}

#release-notes .version-list h2:after {
  content: none;
}

.release-notes-list {
  list-style-type: none;
}

.release-notes-list :not(.collapsed) > .right,
.release-notes-list .collapsed > .down {
  display: none;
}

.release-notes-list .collapsed > .right,
.release-notes-list :not(.collapsed) > .down {
  display: block;
}

/* Moderation preview */
.moderation-mdpreview-wrap {
    max-width: 650px;
}


/** ALL RESPONSIVE QUERIES HERE */
/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 1280px) {
  input#q {
    display: none;
  }
   #docSearchForm input#q {
    display: block;
  }
}

@media (max-width: 992px) {
  .archive {
    margin-top: 2rem;
  }
  .navbar {
    padding: 5px 10px;
  }
  .navbar-toggler-icon {
    width: 1rem;
    height: 1.5rem;
  }
  #docContent table.table {
    font-size: 70%;
  }
}

@media (max-width: 768px) {

  .jumbotron.jumbotron-fluid.pg-jumbotron {
    padding: 4em;
  }

  .pg-jumbotron .btn, button.btn.btn-primary {
    margin: 5px auto;
  }

  .text {
    height: initial;
  }

  .cta-text {
    padding: 4em;
  }

  .cta {
    padding: 6em;
  }

  ul.divided, ul.menu, #footer ul {
    padding: 0;
    text-align: center;
  }

  ul.feature {
    padding: 0 0 1em 0 !important;
  }

  .feature-grid {
    padding: 0;
  }

  #pgSideNav {
    padding: 1em 0;
  }

  #pgSideNav ul {
    padding: 0;
    margin: 1em 0 0 1em;
  }

  #pgSideNav ul ul {
    margin: 0;
  }

  #pgContentWrap {
    padding: 0;
  }

  #pgContentWrap ul {
    padding-left: 1em;
  }

  #docContent table.table {
    font-size: 50%;
  }

}

@media (min-width: 576px) {
  /** NAVBAR */
  .nav-item > a {
    font-size: 0.95rem;
  }
}
@media (max-width: 575px) {
  /** HOMEPAGE JUMBOTRON */
  .pg-jumbotron-header {
    font-size: 1.5rem;
  }

  .btn-double-width {
    width: 18em;
  }
}

/* Script copy buttons */
.pg-script-container {
  position: relative;
}

.pg-script-copy-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.nobr {
  white-space: nowrap;
}
