{%extends "base/page.html"%}
{%block title%}Change email{%endblock%}
{%block contents%}
<h1>Change email</h1>
{%if token%}
<h2>Awaiting confirmation</h2>
<p>
A confirmation token was sent to {{token.email}} on {{token.sentat|date:"Y-m-d H:i"}}.
Wait for this token to arrive, and then click the link that is sent
in the email to confirm the change of email.
</p>
<p>
The token will be valid for approximately 24 hours, after wihch it will
be automatically deleted.
</p>
<p>
To create a new token (and a new email), fill out the form below again.
Note that once a new token is created, the old token will no longer be
valid for use.
</p>

<h2>Change email</h2>
{%else%}
<p>
To change your email address, input the new address below. Once you
click Change, a verification token will be sent to the new email address,
and once you click the link in that email, your email will be changed.
</p>
{%endif%}

<form method="post" action=".">{% csrf_token %}

<table class="pgGenericFormTable">
{%if form.errors %}
 <tr class="errorheader">
  <td colspan="2">Please correct the errors below, and re-submit the form.</td>
 </tr>
{%endif%}
{%for field in form%}
 {%if field.errors %}
 <tr class="error">
  <td colspan="2">{{field.errors.as_ul}}</td>
 </tr>
 {%endif%}
 <tr {%if field.errors%}class="errorinfo"{%endif%}>
  <th>{{field.label_tag}}{%if field.help_text %}<br/>
   <span class="formfieldhelp">{{field.help_text}}</span>{%endif%}</th>
  <td>{{field}}</td>
 </tr>
{%endfor%}
</table>

<input type="submit" value="Change email" />
</form>
{%endblock%}
