{%extends "base/page.html"%}
{%block title%}{%if success%}Email changed{%else%}Change email{%endif%}{%endblock%}
{%block contents%}

{%if success%}
<h1>Email changed</h1>
<p>
Your email has successfully been changed to {{user.email}}.
</p>
<p>
Please note that if you are using your account from a different
community site than <i>www.postgresql.org</i>, you may need to log
out and back in again for the email to be updated on that site.
</p>
{%else%}
<h1>Change email</h1>
<p>
The token <code>{{token}}</code> was not found.
</p>
<p>
This can be because it expired (tokens are valid for approximately
24 hours), or because you did not paste the complete URL without any
spaces.
</p>
<p>
Double check the URL, and if it is correct, restart the process by
clicking change in your profile to generate a new token and try again.
</p>
{%endif%}

<p>
<a href="/account/profile/">Return</a> to your profile.
</p>
{%endblock%}
