{%extends "base/page.html"%}
{%block title%}Your account{%endblock%}
{%block contents%}
<h1>Your account</h1>
<p>
This page contains information about your postgresql.org account.
</p>

<h1>Submitted data</h1>
<p>
Submitted data should be moved to a subpage!
</p>

<h2>News articles</h2>
<ul>
{%for article in newsarticles%}
<li><a {%if not article.approved%} style="color:red;"{%endif%} href="/account/news/{{article.id}}/">{{article}}</a></li>
{%endfor%}
</ul>
<a href="/account/news/new/">Submit news</a>

<h2>Events</h2>
<ul>
{%for event in events%}
<li><a {%if not event.approved%} style="color:red;"{%endif%} href="/account/events/{{event.id}}/">{{event}}</a></li>
{%endfor%}
</ul>
<a href="/account/events/new/">Submit event</a>

<h2>Organisations</h2>
<ul>
{%for org in organisations%}
<li><a {%if not org.approved%} style="color:red;"{%endif%} href="/account/organisations/{{org.id}}">{{org}}</a></li>
{%endfor%}
</ul>
<a href="/account/organisations/new/">New organisation</a>

<h2>Products</h2>
<ul>
{%for product in products%}
<li><a {%if not product.approved%} style="color:red;"{%endif%} href="/account/products/{{product.id}}">{{product}}</a></li>
{%endfor%}
</ul>
<a href="/account/products/new/">New product</a>

{%endblock%}

