{%extends "base/page.html"%}
{%block contents%}
<h1>Log in</h1>
<p>
Please log in to your community account to reach this area. If you do not already have an account,
you may <a href="/account/signup/">sign up</a> for one now. If you have one but have lost your
password, you can use the <a href="/account/reset/">password reset</a> form.
</p>

<form action="." method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <label for="id_username">Username:</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">Password:</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

{%endblock%}

