{%extends "base/page.html"%}
{%block title%}Organisations{%endblock%}
{%block contents%}
<h1>Organisations</h1>
<p>
The following organisations are registered in our database. Note that any
organisations listed as <i>Migrated Connections</i> are organisations that
have been migrated from our old website and not been given a proper
manager in the new system. If you are the manager of one of these
organisations, please send an email to
<a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>
letting us know this, and including the name of your community account.
We will then link your account to this organisation.
</p>
<table>
 <tr>
  <th>Organisation</th>
  <th>Manager</th>
 </tr>
{%for o in orgs%}
 <tr>
  <td>{{o.name}}</td>
  <td>{%for m in o.managers.all%}{{m.first_name}} {{m.last_name}}{%if not forloop.last%}<br/>{%endif%}{%endfor%}</td>
 </tr>
{%endfor%}
</table>
{%endblock%}

