{%extends "base/page.html"%}
{%block contents%}
<h1>Change password</h1>
<p>
From this form you can change the password of your community account.
</p>

<form action="." method="post" id="login-form">
  <div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password">Old password:</label>{{ form.old_password }}
  </div>
  <div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1">New password</label>{{ form.new_password1 }}
  </div>
  <div class="form-row">
    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Change password" />
  </div>
</form>

{%endblock%}
