{%extends "base/page.html"%}
{%block title%}Password reset{%endblock%}
{%block contents%}

<h1>Password reset <i class="fas fa-key"></i></h1>
<p>
If you've forgotten your password, you can enter your email address in the field below
and we'll email you instructions for setting a new one.
</p>

<form action="" method="post">{% csrf_token %}
  <div class="form-group">
    {{ form.email.errors }}
    {{ form.email }}
  </div>
  <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

{% endblock %}
