{%extends "base/page.html"%}
{%block title%}Security Information{%endblock%}
{%block contents%}

<h1>Security Information</h1>

<p>
If you wish to report a new security vulnerability in PostgreSQL, please
send an email to 
<a href="mailto:security@postgresql.org">security@postgresql.org</a>.
For reporting non-security bugs, please see the <a href="/support/submitbug">Report a Bug</a> page.
</p>

<p>

The PostgreSQL Global Development Group (PGDG) takes security seriously,
allowing our users to place their trust in the web sites and applications
built around PostgreSQL. Our approach covers fail-safe configuration options,
a secure and robust database server as well as good integration with other
security infrastructure software. 
</p>

<p>
PostgreSQL security updates are primarily made available as <a href="/support/versioning">minor version</a>
upgrades. You are always advised to use the latest minor version available, 
as it will likely also contain other non-security related fixes. All known
security issues are always fixed in the next major release, when it comes out.
</p>

<p>
PGDG believes that accuracy, completeness and availability of security
information is essential for our users. We choose to pool all information on
this one page, allowing easy searching for vulnerabilities by a range of
criteria. 
</p>

<p>
The following table lists all known security issues.
Please note that versions prior to 8.3 are no longer
supported and vulnerabilities for these versions may not be included
in this list. New vulnerabilities in these versions are no longer patched.
</p>

<p>
Vulnerabilities list which major releases they were present
in, and which version they are fixed in for each. If the vulnerability
was exploitable without a valid login, this is also stated. They also
list a vulnerability class, but we urge all users to read the description
to determine if the bug affects specific installations or not.
</p>

<div class="tblBasic">
 <table border="0" cellpadding="0" cellspacing="0" class="tblBasicGrey">
  <tr>
   <th class="colFirst">Reference</th>
   <th class="colMid">Affected<br/>versions</th>

   <th class="colMid">Fixed in</th>
   <th class="colMid"><a href="#comp">Component</a></th>
   <th class="colMid"><a href="#cls">Class</a></th>
   <th class="colLast">Description</th>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-2143">CVE-2012-2143</a></td>
   <td class="colMid">9.1, 9.0, 8.4, 8.3</td>
   <td class="colMid">9.1.4, 9.0.8, 8.4.12, 8.3.19</td>
   <td class="colMid">contrib module</td>
   <td class="colMid">C</td>
   <td class="colLast">Passwords containing the byte 0x80 passed to the crypt() function in pg_crypto are incorrectly truncated if DES encryption was used</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-0866">CVE-2012-2655</a></td>
   <td class="colMid">9.1, 9.0, 8.4, 8.3</td>
   <td class="colMid">9.1.4, 9.0.8, 8.4.12, 8.3.19</td>
   <td class="colMid">core server</td>
   <td class="colMid">D</td>
   <td class="colLast">SECURITY DEFINER and SET attributes on procedural call handlers are not ignored and can be used to crash the server</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-0866">CVE-2012-0866</a></td>
   <td class="colMid">9.1, 9.0, 8.4, 8.3</td>
   <td class="colMid">9.1.3, 9.0.7, 8.4.11, 8.3.18</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">Permissions on a function called by a trigger are not properly checked.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-0867">CVE-2012-0867</a></td>
   <td class="colMid">9.1, 9.0, 8.4</td>
   <td class="colMid">9.1.3, 9.0.7, 8.4.11</td>
   <td class="colMid">core server, limited deployments</td>
   <td class="colMid">A</td>
   <td class="colLast">SSL certificate name checks are truncated to 32 characters, allowing connection spoofing under some circumstances when using third party certificate authorities.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-0868">CVE-2012-0868</a></td>
   <td class="colMid">9.1, 9.0, 8.4, 8.3</td>
   <td class="colMid">9.1.3, 9.0.7, 8.4.11, 8.3.18</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">Line breaks in object names can be exploited to execute arbitrary SQL when reloading a pg_dump file.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-4015">CVE-2010-4015</a></td>
   <td class="colMid">9.0, 8.4, 8.3, 8.2</td>
   <td class="colMid"> 9.0.3, 8.4.7, 8.3.14, 8.2.20</td>
   <td class="colMid">contrib module</td>
   <td class="colMid">C</td>
   <td class="colLast">An authenticated database user can cause a buffer overrun by calling functions from the intarray optional module with certain parameters.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-3433">CVE-2010-3433</a></td>
   <td class="colMid">9.0, 8.4, 8.3, 8.2, 8.1, 8.0, 7.4</td>
   <td class="colMid">9.0.1, 8.4.5, 8.3.12, 8.2.18, 8.1.22, 8.0.26, 7.4.30</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">An authenticated database user can manipulate modules and tied variables in some external procedural languages to execute code with enhanced privileges.<a href="http://wiki.postgresql.org/wiki/20101005securityrelease">Details</a></td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-1975">CVE-2010-1975</a></td>
   <td class="colMid">8.4, 8.3, 8.2, 8.1, 8.0, 7.4</td>
   <td class="colMid">8.4.4, 8.3.11, 8.2.17, 8.1.21, 8.0.25, 7.4.29</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">An unprivileged database user can remove superuser-only
settings that were applied to his account with ALTER USER by a superuser, thus
bypassing settings that should be enforced.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-1169">CVE-2010-1169</a></td>
   <td class="colMid">8.4, 8.3, 8.2, 8.1, 8.0, 7.4</td>
   <td class="colMid">8.4.4, 8.3.11, 8.2.17, 8.1.21, 8.0.25, 7.4.29</td>
   <td class="colMid">core server, limited deployments</td>
   <td class="colMid">C</td>
   <td class="colLast">A vulnerability in Safe.pm and PL/Perl can allow an authenticated user to run arbitrary Perl code on the database 
                       server if PL/Perl is installed and enabled.</td>

  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2010-1170">CVE-2010-1170</a></td>
   <td class="colMid">8.4, 8.3, 8.2, 8.1, 8.0, 7.4</td>
   <td class="colMid">8.4.4, 8.3.11, 8.2.17, 8.1.21, 8.0.25, 7.4.29</td>
   <td class="colMid">core server, limited deployments</td>

   <td class="colMid">C</td>
   <td class="colLast">Insecure permissions on the pltcl_modules table could allow an authenticated user to run arbitrary Tcl code on the
                       database server if PL/Tcl is installed and enabled.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-4034">CVE-2009-4034</a></td>
   <td class="colMid">8.4, 8.3, 8.2, 8.1, 8.0, 7.4</td>

   <td class="colMid">8.4.2, 8.3.9, 8.2.15, 8.1.19, 8.0.23, 7.4.27</td>
   <td class="colMid">client, core server, limited deployments</td>
   <td class="colMid">A</td>
   <td class="colLast">NULL Bytes in SSL Certificates can be used to falsify client or server authentication. This only affects users who have SSL enabled, perform certificate name validation or client certificate authentication, and where the Certificate Authority (CA) has been tricked into issuing invalid certificates. The use of a CA that can be trusted to always issue valid certificates is recommended to ensure you are not vulnerable to this issue.</td>
  </tr>

  <tr valign="top">

   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-4136">CVE-2009-4136</a></td>
   <td class="colMid">8.4, 8.3, 8.2, 8.1, 8.0, 7.4</td>
   <td class="colMid">8.4.2, 8.3.9, 8.2.15, 8.1.19, 8.0.23, 7.4.27</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">Privilege escalation via changing session state in an index function. This closes a corner case related to vulnerabilities CVE-2009-3230 and CVE-2007-6600 (below).</td>

  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-3229">CVE-2009-3229</a></td>
   <td class="colMid">8.4, 8.3, 8.2</td>
   <td class="colMid">8.4.1, 8.3.8, 8.2.14</td>
   <td class="colMid">core server</td>

   <td class="colMid">D</td>
   <td class="colLast">Authenticated non-superusers can shut down the backend server by re-LOAD-ing libraries in $libdir/plugins, if any libraries are present there.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-3230">CVE-2009-3230</a></td>
   <td class="colMid">8.4, 8.3, 8.2, 8.1, 8.0, 7.4</td>

   <td class="colMid">8.4.1, 8.3.8, 8.2.14, 8.1.18, 8.0.22, 7.4.26</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">The fix for issue CVE-2007-6600 (below) failed to include protection against misuse of RESET SESSION AUTHORIZATION.</td>
  </tr>

  <tr valign="top">

   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-3231">CVE-2009-3231</a></td>
   <td class="colMid">8.3, 8.2</td>
   <td class="colMid">8.3.8, 8.2.14</td>
   <td class="colMid">core server</td>
   <td class="colMid">A</td>
   <td class="colLast">If PostgreSQL is configured with LDAP authentication, and your LDAP configuration allows anonymous binds, it is possible for a user to authenticate themselves with an empty password.</td>

  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2009-0922">CVE-2009-0922</a></td>
   <td class="colMid">8.3, 8.2, 8.1, 8.0, 7.4</td>
   <td class="colMid">8.3.7, 8.2.13, 8.1.17, 8.0.21, 7.4.25</td>
   <td class="colMid">core server</td>

   <td class="colMid">D</td>
   <td class="colLast">It is possible to cause a momentary denial of service when there is a failure to convert a localized error message to the client-specified encoding. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-6600">CVE-2007-6600</a><br/><a href="/about/news.905">Announcement</a></td>
   <td class="colMid">8.2, 8.1, 8.0, 7.4, 7.3</td>

   <td class="colMid">8.2.6, 8.1.11, 8.0.15, 7.4.19, 7.3.21</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">Two vulnerabilities in how ANALYZE executes user defined functions that are part of expression indexes allows users to gain superuser privileges. A valid login that has permissions to create functions and tables is required to exploit this vulnearbility.</td>
  </tr>

  <tr valign="top">

   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-4769">CVE-2007-4769</a><br/><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-4772">CVE-2007-4772</a><br/><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-6067">CVE-2007-6067</a><br/><a href="/about/news.905">Announcement</a></td>
   <td class="colMid">8.2, 8.1, 8.0, 7.4</td>
   <td class="colMid">8.2.6, 8.1.11, 8.0.15, 7.4.19</td>
   <td class="colMid">core server</td>
   <td class="colMid">B</td>

   <td class="colLast">Three vulnearbilities in the regular expression handling libraries can be exploited to cause a backend crash, infinite loops or memory exhaustion. This vulnearbility can be exploited through frontend applications that allow unfiltered regular expressions to be passed in queries.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-6601">CVE-2007-6601</a><br/><a href="/about/news.905">Announcement</a></td>
   <td class="colMid">8.2, 8.1, 8.0, 7.4, 7.3</td>
   <td class="colMid">8.2.6, 8.1.11, 8.0.15, 7.4.19, 7.3.21</td>

   <td class="colMid">contrib module</td>
   <td class="colMid">C</td>
   <td class="colLast">DBLink functions combined with local trust or ident access control could be used by a malicious user togain superuser privileges. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-2138">CVE-2007-2138</a><br/><a href="/about/news.791">Announcement</a></td>

   <td class="colMid">8.2, 8.1, 8.0, 7.4, 7.3</td>
   <td class="colMid">8.2.4, 8.1.9, 8.0.13, 7.4.17, 7.3.19</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">A vulnerability involving insecure search_path settings allows unprivileged users to gain the SQL privileges of the owner of any SECURITY DEFINER function they are allowed to call. Securing such a function requires both a software update and changes to the function definition.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-0556">CVE-2007-0556</a></td>
   <td class="colMid">8.2, 8.1, 8.0</td>
   <td class="colMid">8.2.2, 8.1.7, 8.0.11</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>

   <td class="colLast">A vulnerability involving changing the data type of a table column can easily be exploited to cause a backend crash, and in principle might be used to read database content that the user should not be able to access.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-0555">CVE-2007-0555</a></td>
   <td class="colMid">8.2, 8.1, 8.0, 7.4, 7.3</td>
   <td class="colMid">8.2.2, 8.1.7, 8.0.11, 7.4.16, 7.3.13</td>

   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">A vulnerability allows suppressing the normal checks that a SQL function returns the data type it's declared to do. These errors can easily be exploited to cause a backend crash, and in principle might be used to read database content that the user should not be able to access.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-5542">CVE-2006-5542</a><br/><a href="http://www.postgresql.org/about/news.664">Announcement</a></td>

   <td class="colMid">8.1</td>
   <td class="colMid">8.1.5</td>
   <td class="colMid">core server</td>
   <td class="colMid">D</td>
   <td class="colLast">A bug in the logging of V3 protocol messages can cause a denial of service. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-5541">CVE-2006-5541</a><br/><a href="http://www.postgresql.org/about/news.664">Announcement</a></td>
   <td class="colMid">8.1, 8.0, 7.4</td>
   <td class="colMid">8.1.5, 8.0.9, 7.4.14</td>
   <td class="colMid">core server</td>
   <td class="colMid">D</td>

   <td class="colLast">A bug in the coercion of unknown literals to ANYARRAY can cause a denial of service. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-5540">CVE-2006-5540</a><br/><a href="http://www.postgresql.org/about/news.664">Announcement</a></td>
   <td class="colMid">8.1</td>
   <td class="colMid">8.1.5</td>

   <td class="colMid">core server</td>
   <td class="colMid">D</td>
   <td class="colLast">A bug in the handling of aggregates in UPDATE can cause a denial of service. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-2314">CVE-2006-2314</a><br/><a href="/docs/techdocs.52">FAQ</a></td>

   <td class="colMid">8.1, 8.0, 7.4, 7.3</td>
   <td class="colMid">8.1.4, 8.0.8, 7.4.13, 7.3.15</td>
   <td class="colMid">core server</td>
   <td class="colMid">A</td>
   <td class="colLast">The widely-used practice of escaping ASCII single quote "'" by turning it into "\'" is unsafe when operating in multibyte encodings that allow 0x5c (ASCII code for backslash) as the trailing byte of a multibyte character.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-2313">CVE-2006-2313</a><br/><a href="/docs/techdocs.52">FAQ</a></td>
   <td class="colMid">8.1, 8.0, 7.4, 7.3</td>
   <td class="colMid">8.1.4, 8.0.8, 7.4.13, 7.3.15</td>
   <td class="colMid">core server</td>
   <td class="colMid">A</td>

   <td class="colLast">An attacker able to submit crafted strings to an application that will embed those strings in SQL commands can use invalidly-encoded multibyte characters to bypass standard string-escaping methods, resulting in possible SQL injection.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-0553">CVE-2006-0553</a><br/><a href="http://archives.postgresql.org/pgsql-announce/2006-02/msg00008.php">Announcement</a></td>
   <td class="colMid">8.1</td>
   <td class="colMid">8.1.3</td>

   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">A bug in the handling of SET ROLE allows escalation of privileges to any other database user, including superuser. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-0678">CVE-2006-0678</a><br/><a href="http://archives.postgresql.org/pgsql-announce/2006-02/msg00008.php">Announcement</a></td>

   <td class="colMid">8.0, 7.4, 7.3</td>
   <td class="colMid">8.0.7, 7.4.12, 7.3.14</td>
   <td class="colMid">core server</td>
   <td class="colMid">D</td>
   <td class="colLast">A bug in the handling of SET SESSION AUTHORIZATION can cause a backend crash in Assert enabled builds. This will cause the postmaster to restart all backend, resulting in a denial of service. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2006-0105">CVE-2006-0105</a><br/><a href="http://archives.postgresql.org/pgsql-announce/2006-01/msg00001.php">Announcement</a></td>
   <td class="colMid">8.1, 8.0</td>
   <td class="colMid">8.1.2, 8.0.6</td>
   <td class="colMid">core server, win32 only</td>
   <td class="colMid">B</td>

   <td class="colLast">On Windows only, the postmaster will exit if too many connection requests arrive simultaneously. This does not affect existing database connections, but will prevent new connections from being established until the postmaster is manually restarted.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://archives.postgresql.org/pgsql-announce/2006-01/msg00001.php">Announcement</a></td>
   <td class="colMid">8.1, 8.0, 7.4, 7.3</td>
   <td class="colMid">8.1.2, 8.0.6, 7.4.11, 7.3.13</td>

   <td class="colMid">contrib module</td>
   <td class="colMid"></td>
   <td class="colLast">There is a signedness bug in Openwall gen_salt code that pgcrypto uses. This makes the salt space for md5 and xdes algorithms a lot smaller than it should be. This only affects the gen_salt() function with md5 or xdes.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://www.postgresql.org/docs/8.0/static/release-8-0-3.html">Release notes</a></td>
   <td class="colMid">8.0, 7.4</td>

   <td class="colMid">8.0.3, 7.4.8</td>
   <td class="colMid">core server</td>
   <td class="colMid">D</td>
   <td class="colLast">Calling COALESCE() with two NULL parameters would cause the current backend to crash, causing a denial of service. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">

   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2005-1410">CVE-2005-1410</a><br/><a href="http://archives.postgresql.org/pgsql-announce/2005-05/msg00001.php">Announcement</a></td>
   <td class="colMid">8.0, 7.4</td>
   <td class="colMid">8.0.3, 7.4.8</td>
   <td class="colMid">contrib module</td>
   <td class="colMid">D</td>
   <td class="colLast">The tsearch2 contrib module declares several functions as internal even though they don't take an internal argument. This allows attackers to cause a denial of service and may possibly have other impacts. A valid login is required to exploit this vulnerability.<br/>Note! See the <a href="http://archives.postgresql.org/pgsql-announce/2005-05/msg00001.php">announcement</a> for special upgrade instructions.</td>

  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2005-1409">CVE-2005-1409</a><br/><a href="http://archives.postgresql.org/pgsql-announce/2005-05/msg00001.php">Announcement</a></td>
   <td class="colMid">8.0, 7.4, 7.3</td>
   <td class="colMid">8.0.3, 7.4.8, 7.3.10</td>
   <td class="colMid">core server</td>

   <td class="colMid">D</td>
   <td class="colLast">Public EXECUTE access is given to certain character conversion functions that are not designed to be safe against malicious arguments. This can cause at least a denial of service. A valid login is required to exploit this vulnerability.<br/>Note! See the <a href="http://archives.postgresql.org/pgsql-announce/2005-05/msg00001.php">announcement</a> for special upgrade instructions.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2005-0247">CVE-2005-0247</a></td>

   <td class="colMid">8.0, 7.4</td>
   <td class="colMid">8.0.2, 7.4.8</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">Multiple buffer overflows in the PL/PGSQL parser may allow attackers to execute arbitrary code. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2005-0246">CVE-2005-0246</a></td>
   <td class="colMid">8.0, 7.4, 7.3</td>
   <td class="colMid">8.0.1, 7.4.7, 7.3.9</td>
   <td class="colMid">contrib module</td>
   <td class="colMid">D</td>

   <td class="colLast">The intagg contrib module allows attackers to cause a denial of service. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2005-0245">CVE-2005-0245</a></td>
   <td class="colMid">8.0, 7.4, 7.3</td>
   <td class="colMid">8.0.1, 7.4.7, 7.3.10</td>

   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">Multiple buffer overflows in the PL/PGSQL parser may allow attackers to execute arbitrary code. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2005-0244">CVE-2005-0244</a></td>

   <td class="colMid">8.0, 7.4, 7.3</td>
   <td class="colMid">8.0.1, 7.4.7, 7.3.9</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">EXECUTE permissions are not properly checked when creating aggregates. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2005-0227">CVE-2005-0227</a></td>
   <td class="colMid">8.0, 7.4, 7.3</td>
   <td class="colMid">8.0.1, 7.4.7, 7.3.9</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>

   <td class="colLast">Any database user is permitted to load arbitrary shared libraries using the LOAD command. A valid login is required to exploit this vulnerability.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2004-0977">CVE-2005-0977</a></td>
   <td class="colMid">7.4, 7.3</td>
   <td class="colMid">7.4.6, 7.3.8</td>

   <td class="colMid">client contrib module</td>
   <td class="colMid"></td>
   <td class="colLast">Contrib script make_oidjoins_check uses unsafe temporary files. This script is not a user-facing script.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst"><a href="http://www.postgresql.org/docs/7.4/static/release-7-4-3.html">Release notes</a></td>
   <td class="colMid">7.4</td>

   <td class="colMid">7.4.3</td>
   <td class="colMid">core server</td>
   <td class="colMid">C</td>
   <td class="colLast">A buffer overrun vulnerability exists in the enlargeStringInfo function and can be triggered by injecting bogus data in the datastream of an existing connection. A valid login is required to exploit this vulnerability.</td>
  </tr>
 </table>
</div>

<a name="cls"></a>
<h2>Vulnerability Classes</h2>
<p>
The following vulnerability class references are used in the above table:
</p>

<div class="tblBasic">
 <table border="0" cellpadding="0" cellspacing="0" class="tblBasicGrey">
  <tr>
   <th class="colFirst">Class</th>
   <th class="colLast">Description</th>

  </tr>

  <tr valign="top">
   <td class="colFirst">A</td>
   <td class="colLast">A vulnerability that is exploitable for privilege escalation <i>without</i> requiring a prior login.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst">B</td>
   <td class="colLast">A vulnerability that is exploitable for denial-of-service <i>without</i> requiring a prior login.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst">C</td>

   <td class="colLast">A vulnerabilty that is exploitable for privilege escalation, but requiring a valid prior login.</td>
  </tr>

  <tr valign="top" class="lastrow">
   <td class="colFirst">D</td>
   <td class="colLast">A vulnerability that is exploitable for denial-of-service, but requiring a valid prior login.</td>
  </tr>
  
 </table>

</div>

<a name="comp"></a>
<h2>Components</h2>
<p>
The following component references are used in the above table:
</p>

<div class="tblBasic">
 <table border="0" cellpadding="0" cellspacing="0" class="tblBasicGrey">
  <tr>
   <th class="colFirst">Component</th>

   <th class="colLast">Description</th>
  </tr>

  <tr valign="top">
   <td class="colFirst">core server</td>
   <td class="colLast">This vulnerability exists in the core server product.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst">client</td>
   <td class="colLast">This vulnerability exists in a client library or client application only.</td>
  </tr>

  <tr valign="top">
   <td class="colFirst">contrib module</td>
   <td class="colLast">This vulnerability exists in a contrib modules. Contrib modules are not installed by default when PostgreSQL is installed from source. They may be installed by binary packages.</td>

  </tr>

  <tr valign="top" class="lastrow">
   <td class="colFirst">client contrib module</td>
   <td class="colLast">This vulnerability exists in a contrib module used on the client only.</td>
  </tr>

 </table>
</div>


{%endblock%}
