{%extends "base/page.html"%}
{%block title%}Versioning policy{%endblock%}
{%block contents%}

<h1>Versioning policy</h1>

<p>
<i>We always recommend that all users run the latest available minor release for whatever major version is in use.</i>
</p>

<p>
PostgreSQL major releases include new features and occur roughly once every year. A major release is numbered by increasing either the first or second part of the version number, e.g. 8.2 to 8.3.
</p>

<p>
Major releases usually change the internal format of system tables and data files.  These changes are often complex, so we do not maintain backward compatibility of all stored data.  A dump/reload of the database or use of the <a href="http://www.postgresql.org/docs/current/static/pgupgrade.html">pg_upgrade</a> module is required for major upgrades.
</p>

<p>
Minor releases are numbered by increasing the third part of the version number, e.g. 8.1.5 to 8.1.6. The PostgreSQL team only adds bug fixes to minor releases. All users should upgrade to the most recent minor release as soon as possible. While upgrades always have some risk, PostgreSQL minor releases fix only frequently-encountered, <a href="/support/security">security</a>, and data corruption bugs to reduce the risk of upgrading. <i>The community considers not upgrading to be riskier than upgrading</i>.
</p>

<p>
Upgrading to a minor release does not require a dump and restore; merely stop the database server, install the updated binaries, and restart the server.  For some releases, manual changes may be required to complete the upgrade, so always read the release notes before upgrading.
</p>

<p>The <a href="http://wiki.postgresql.org/wiki/PostgreSQL_Release_Support_Policy">PostgreSQL release support policy</a>
explains the support lifecycle you can expect from the community for a given PostgreSQL major release.</p>
{%endblock%}
