Devrim Gündüz <devrim@gunduz.org> Devrim GUNDUZ <devrim@gunduz.org>
Devrim Gündüz <devrim@gunduz.org> Devrim Gunduz <devrim@gunduz.org>
Sarah Conway <sarah.conway@crunchydata.com> xenophenes <sarah.conway@crunchydata.com>
David Rader <davidr@openscg.com> Rader, David <davidr@openscg.com>
Jonathan S. Katz <jonathan.katz@excoventures.com> Jonathan Katz <jonathan.katz@excoventures.com>
Joe Conway <mail@joeconway.com> jconway2 <jconway2@nautilus.joeconway.com>
Álvaro Herrera <alvherre@kurilemu.de> <alvherre@alvh.no-ip.org>
