Django>=2.2,<2.3
psycopg2==2.8.5
pycryptodomex>=3.4.7,<3.5
Markdown==3.0.1
requests-oauthlib==1.0.0
cvss==2.2
pytidylib==0.3.2
pycodestyle==2.4.0
pynliner==0.8.0
Babel==2.6.0
bleach==3.1.4
PyYAML==3.13
pytest>=6.1,<7.0
pytest-django>=4.1.0,<5.0
