{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}Contributor Profiles{%endblock%}
{%block contents%}
<h1>PostgreSQL Contributor Profiles <i class="fa fa-users"></i></h1>

<p>These are the fine people that make PostgreSQL what it is today!</p>

<p>
    For a list of all code contributions to a specific release, see the
  <a href="/docs/release/">Release Notes</a> for released versions of PostgreSQL.
</p>
<p>
    Existing contributors can update their information in their
    <a href="/account/profile/">user profile</a>.
</p>

{%for t in contributortypes%}
<h2>{{t.typename}}</h2>
{%if t.extrainfo%}<p>{{t.extrainfo|safe}}</p>{%endif%}

<table class="table table-striped contributor-table">
  <thead>
    {%if t.detailed%}
    <tr>
     <th scope="col">Contributor</th>
     <th scope="col">Contribution</th>
    </tr>
    {%endif%}
  </thead>
  <tbody>
    {%for c in t.contributor_set.all %}
     {%if t.detailed%}
      <tr>
       <td>{{c.firstname}} {{c.lastname}} {%if t.showemail and c.email%}({{c.email|hidemail}}){%endif%}
          {%if c.company %}
          <br/>
            {% if c.companyurl %}
              <a href="{{c.companyurl}}" target="_blank" rel="noopener">{{c.company}}</a>
            {% else %}
              {{c.company}}
            {% endif %}
          {% endif %}
          <br/>
          {{c.location}}
        </td>
        <td>{{c.contribution}}</td>
       </tr>
     {%else%}
      {%if forloop.counter0|divisibleby:"2" %}
       <tr>
        <td>{{c.firstname}} {{c.lastname}}{%if t.showemail and c.email%} ({{c.email|hidemail}}){%endif%}</td>
        {%if forloop.last%}
        <td></td>
       </tr>
        {%endif%}
      {%else%}
        <td>{{c.firstname}} {{c.lastname}}{%if t.showemail and c.email%} ({{c.email|hidemail}}){%endif%}</td>
       </tr>
      {%endif%}
     {%endif%}
    {%endfor%}
  </tbody>
</table>
{%endfor%}

<p>All contributors are listed in alphabetical order.
  To suggest additions or corrections to this list, please email the
  <a href="/about/governance/contributors/">Contributors Committee</a> at
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>.
    See the <a href="/about/policies/contributors/">Recognized Contributors Policy</a>
    for more information on becoming a recognized contributor.
</p>

{%endblock%}
