{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}People in the PostgreSQL Community{%endblock%}
{%block contents%}
<h1>People in the PostgreSQL Community <i class="fa fa-users"></i></h1>
<p>These are the fine people who have made contributions to PostgreSQL over the years.</p>

<p>Recognized Significant and Major Contributors are listed on the
 <a href="/community/contributors/">PostgreSQL Recognized Contributors page</a>.
</p>

<p style="text-align: justify;">
  {%for c in people %}
    <nobr>{%if c.user%}<a href="/community/people/{{c.user.username}}/">{{c.firstname}} {{c.lastname}}</a>{%else%}{{c.firstname}} {{c.lastname}}{%endif%} {%if not forloop.last%}&middot;{%endif%}</nobr>
  {%endfor%}
</p>

<p>People are listed in alphabetical order.
  If you are listed and want to claim your profile page, write a mail including your community account name to
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>.
</p>

<h1>Contribution Badges</h1>

<div class="badges-grid">
{%for b in badges %}
    <figure>
        <a href="/community/badge/{{b.slug}}/">
        <img src="{%if b.has_image %}/community/badge/{{b.slug}}/image/{%else%}/media/img/about/press/elephant.png{%endif%}">
        <figcaption>{{b}}</figcaption>
        </a>
    </figure>
{%endfor%}
</div>

{%endblock%}
