{%extends "base/page.html"%}
{%block title%}FreeBSD packages{%endblock%}
{%block contents%}

<h1>FreeBSD packages</h1>

<h2>FreeBSD Ports</h2>

<p>PostgreSQL packages are available for FreeBSD from the <a href="http://www.freebsd.org/ports">FreeBSD 
	Ports and Packages Collection</a>. Please see the ports documentation for information on how
to install ports.</p>

<p>A list of <a href="http://www.freebsd.org/cgi/ports.cgi?query=postgresql&stype=name&sektion=databases">PostgreSQL 
	packages</a> can be found using the Ports Search tool on the FreeBSD website.</p>

{%endblock%}
