{%extends "base/page.html"%}
{%block title%}Linux downloads (other){%endblock%}
{%block contents%}

<h1>Linux downloads <img class="logo" src="/media/img/linux.svg" alt="Linux Logo" /></h1>
<p>
Please select your distribution below:
</p>

<a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/debian/">Debian<br/><img class="logo" src="/media/img/debian.svg" alt="Debian Logo" /></a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/redhat">Red Hat/Rocky/CentOS<br/><img class="logo" src="/media/img/redhat.svg" alt="Red Hat Logo" /></a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/suse">SUSE<br/><img class="logo" src="/media/img/suse.png" alt="SUSE Logo" /></a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/ubuntu">Ubuntu<br/><img class="logo" src="/media/img/ubuntu.svg" alt="Ubuntu Logo" /></a>
<a role="button" class="btn btn-outline-dark btn-download" href="#generic">Other Linux<br/><img class="logo" src="/media/img/linux.svg" alt="Linux Logo" /></a>

<a name="generic"></a>
<h2>Generic linux distributions</h2>
<p>
PostgreSQL is available integrated with the package management on most
Linux platforms. When available, this is the recommended way to install
PostgreSQL, since it provides proper integration with the operating system,
including automatic patching and other management functionality.
</p>
<p>
In other cases, most Linux systems also make it easy to build from source.
</p>
{%endblock%}
