{%extends "base/page.html"%}
{%block title%}Linux downloads (other){%endblock%}
{%block contents%}

<h1>Linux downloads (other)</h1>
<p>
<b>Note!</b> These are the generic Linux download instructions. If you
are using one of the major Linux distributions, you should read the
distribution specific instructions:
</p>
<ul>
 <li><a href="/download/linux/redhat/">RedHat</a> family Linux (including CentOS/Fedora/Scientific/Oracle variants)</li>
 <li><a href="/download/linux/debian/">Debian</a> GNU/Linux and derivatives</li>
 <li><a href="/download/linux/ubuntu/">Ubuntu</a> Linux and derivatives</li>
 <li><a href="/download/linux/suse/">SuSE</a> and OpenSuSE</li>
</ul>

<h2>Generic linux distributions</h2>
<p>
PostgreSQL is available integrated with the package management on most
Linux platforms. When available, this is the recommended way to install
PostgreSQL, since it provides proper integration with the operating system,
including automatic patching and other management functionality.
</p>
<p>
Should packages not be available for your distribution, or there are
issues with your package manager, there are graphical installers available.
</p>
<p>
Finally, most Linux systems make it easy to build from source.
</p>

<h2>Integrated installation</h2>
<p>
For information about how to perform this installation, please consult
the documentation for your Linux distribution.
</p>

{%include "pages/download/linux/linux_oneclick.inc" %}

{%include "pages/download/linux/linux_source.inc" %}
{%endblock%}
