{%extends "base/page.html"%}
{%block title%}macOS packages{%endblock%}
{%block contents%}

<h1><span class="text-lowercase">mac</span>OS packages <img class="logo" src="/media/img/apple.png" alt="Apple Logo" /></h1>

<p>You can get macOS PostgreSQL packages from several different sources.</p>

<h2>Interactive installer by EDB</h2>

<p>
<a href="https://www.enterprisedb.com/downloads/postgres-postgresql-downloads"> Download the installer</a>
certified by EDB for all supported PostgreSQL versions.
</p>

<p>
  <strong>Note!</strong> This installer is hosted by EDB and not on the PostgreSQL community servers.
  If you have issues with the website it's hosted on, please contact
  <a href="mailto:webmaster@enterprisedb.com">webmaster@enterprisedb.com</a>.
</p>

<p>
This installer includes the PostgreSQL server, pgAdmin; a graphical tool for managing and developing
your databases, and StackBuilder; a package manager that can be used to download and install
additional PostgreSQL tools and drivers. Stackbuilder includes management,
integration, migration, replication, geospatial, connectors and other tools.
</p>

<p>
This installer can run in graphical, command line, or silent install modes.
</p>

<p>
The installer is designed to be a straightforward, fast way to get up and running with
PostgreSQL on macOS.
</p>

<p>
<em>Advanced users</em> can also download a
<a href="https://www.enterprisedb.com/download-postgresql-binaries">zip archive</a>
of the binaries, without the installer.
This download is intended for users who wish to include PostgreSQL as part of another application installer.
</p>

<h3>Platform support</h3>

<p>
  The installers are tested by EDB on the following platforms.
  They will generally work on newer versions of macOS as well:
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">PostgreSQL Version</th>
      <th scope="col">64-bit macOS Platforms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>16</td>
      <td>11.x (amd64), 12.x (arm64)</td>
    </tr>
    <tr>
      <td>15</td>
      <td>10.14 - 12.x (amd64), 12.x (arm64)</td>
    </tr>
    <tr>
      <td>14</td>
      <td>10.14 - 12.x (amd64), 12.x (arm64)</td>
    </tr>
    <tr>
      <td>13</td>
      <td>10.14 - 11.0</td>
    </tr>
    <tr>
      <td>12</td>
      <td>10.13 - 10.15</td>
    </tr>
    <tr>
      <td>11</td>
      <td>10.12 - 10.14</td>
    </tr>
    <tr>
      <td>10</td>
      <td>10.11 - 10.13</td>
    </tr>
  </tbody>
</table>

<h2>Postgres.app</h2>
<p>
<a href="https://postgresapp.com">Postgres.app</a> is a simple, native macOS app that runs in the menubar without the need of an installer. Open the app, and you have a PostgreSQL server
ready and awaiting new connections. Close the app, and the server shuts down.
</p>

<h2>Homebrew</h2>

<p>
PostgreSQL can also be installed on macOS using
<a href="https://brew.sh">Homebrew</a>. For example, to install PostgreSQL 15,
you can use the following command:
</p>

<p>
  <code>
    brew install postgresql@15
  </code>
</p>

<p>
  You can use <a href="https://formulae.brew.sh">Homebrew Formulae</a> to
  search for PostgreSQL and other packages. To find a specific major version of
  PostgreSQL, search for <code>postgresql@NN</code>, where <code>NN</code>
  represents the major version. For example,
  <a href="https://formulae.brew.sh/formula/postgresql@15"><code>postgresql@15</code></a>.
</p>

<h2>MacPorts</h2>

<p>
PostgreSQL packages are also available for macOS from the
<a href="https://www.macports.org/">MacPorts Project</a>. Please see the
MacPorts documentation for information on how to install ports.
</p>

<p>
A list of
<a href="https://www.macports.org/ports.php?by=name&substr=postgresql">PostgreSQL packages</a>
can be found using the portfiles search tool on the MacPorts website.
</p>

<h2>Fink</h2>

<p>
PostgreSQL packages are available for macOS from the
<a href="https://www.finkproject.org/">Fink Project</a>.
Please see the Fink documentation for information on how to install packages.
</p>

<p>
A list of
<a href="https://pdb.finkproject.org/pdb/browse.php?summary=postgresql">PostgreSQL packages</a>
can be found using the package search tool on the Fink website.
</p>
{%endblock%}
