{%extends "base/page.html"%}
{%block title%}Mac OS X packages{%endblock%}
{%block contents%}

<h1>Mac OS X packages</h1>
<p>
PostgreSQL is the default database on Mac OS X Server as of version 10.7.
The standard version of Mac OS X includes only the PostgreSQL commandline
client utilities.
</p>
<p>
Mac OS X Server 10.7 ships with PostgreSQL 9.0. Minor updates are provided
by Apple, but not necessarily right after a new PostgreSQL minor release.
</p>
<p>
There are several other installers available for PostgreSQL on Mac OS X,
which is the recommended way to install.
</p>

<h2>One click installer</h2>

<p>
A one click installer is available for for Mac OS X that includes PostgreSQL,
pgAdmin, PL/Java and the PL/pgSQL debugger plugin. The installer for
PostgreSQL 8.3 and 8.4 supports Mac OS X 10.4 and above on Intel and PPC. For
PostgreSQL 9.0 and later, Mac OS X 10.5 and above are supported for 32 and
64-bit Intel CPUs.
</p>

<p>
<a href="http://www.enterprisedb.com/products/pgdownload.do#osx">Download</a>
the installer from EnterpriseDB for all supported versions.
</p>

<h2>Postgres.app</h2>
<p>
<a href="http://postgresapp.com">Postgres.app</a> is a simple, native Mac OS X app that runs in the menubar without the need of an installer. Open the app, and you have a PostgreSQL server 
ready and awaiting new connections. Close the app, and the server shuts down.
</p>

<h2>Fink</h2>

<p>
PostgreSQL packages are available for Mac OS X from the
<a href="http://www.finkproject.org/">Fink Project</a>.
Please see the Fink documentation for information on how to install packages.
</p>

<p>
A list of
<a href="http://pdb.finkproject.org/pdb/browse.php?summary=postgresql">PostgreSQL packages</a>
can be found using the package search tool on the Fink website.
</p>

<h2>MacPorts</h2>

<p>
PostgreSQL packages are also available for Mac OS X from the
<a href="http://www.macports.org/">MacPorts Project</a>. Please see the
MacPorts documentation for information on how to install ports.
</p>

<p>
A list of
<a href="http://www.macports.org/ports.php?by=name&substr=postgresql">PostgreSQL packages</a>
can be found using the portfiles search tool on the MacPorts website.
</p>

{%endblock%}
