{%extends "base/page.html"%}
{%block title%}NetBSD packages{%endblock%}
{%block contents%}

<h1>NetBSD packages <img class="logo" src="/media/img/netbsd.svg" alt="NetBSD Logo" /></h1>

<h2>NetBSD Packages Collection</h2>

<p>
  PostgreSQL packages are available for NetBSD from the
  <a href="http://www.netbsd.org/docs/software/packages.html" target="_blank" rel="noopener">NetBSD Packages Collection (pkgsrc)</a>.
  Please see the pkgsrc documentation for information on how to install packages.
</p>

<p>
  A list of
  <a href="https://ftp.netbsd.org/pub/pkgsrc/current/pkgsrc/databases/README.html" target="_blank" rel="noopener">PostgreSQL packages</a>
  can be found on the NetBSD website.
</p>
{%endblock%}
