{%extends "base/page.html"%}
{%block title%}Solaris packages{%endblock%}
{%block contents%}

<h1>Solaris packages <img class="logo" src="/media/img/solaris.png" alt="Solaris Logo" /></h1>

<p>
The PostgreSQL community currently does not provide binary packages for Solaris.
</p>
<p>
PostgreSQL can still be built from source and used on Solaris. Please see
<a href="https://buildfarm.postgresql.org/cgi-bin/show_status.pl">the PostgreSQL buildfarm status</a>
for information about which combiantions of versions and compilers are actively being tested.
</p>
{%endblock%}
