{%extends "base/page.html"%}
{%block title%}Solaris packages{%endblock%}
{%block contents%}

<h1>Solaris packages</h1>

<p><b><a href="/ftp/binary">Download</a></b> Solaris packages from the solaris
subdirectory of the version you require from our file browser.</p>

<p>Packages for OpenSolaris and Solaris 10 and 11 are available for Sparc and i386 platforms.</p>

<p>Although produced by Oracle (previously Sun), these packages are not officially supported by them.</p>

<p>Solaris packages are installed by unpacking the compressed tar files
directly into the install directory; see the README files for details.</p>

<p><i>The Solaris PostgreSQL packages are maintained by Bjorn Munch at
       <a href="http://www.oracle.com/">Oracle</a>, formerly at Sun Microsystems.</i></p>

{%endblock%}
