{%extends "base/page.html"%}
{%block title%}Windows installers{%endblock%}
{%block contents%}

<h1>Windows installers <img class="logo" src="/media/img/windows.svg" alt="Windows Logo" /></h1>

<h2>Interactive installer by EDB</h2>

<p>
<a href="https://www.enterprisedb.com/downloads/postgres-postgresql-downloads"> Download the installer</a>
 certified by EDB for all supported PostgreSQL versions.
</p>

<p>
  <strong>Note!</strong> This installer is hosted by EDB and not on the PostgreSQL community servers.
  If you have issues with the website it's hosted on, please contact
  <a href="mailto:webmaster@enterprisedb.com">webmaster@enterprisedb.com</a>.
</p>

<p>
  This installer includes:
</p>

<ul>
  <li>The PostgreSQL server</li>
  <li>pgAdmin, a graphical tool for managing and developing your databases</li>
  <li>StackBuilder, a package manager for downloading and installing 
    additional PostgreSQL tools and drivers. Stackbuilder includes management,
    integration, migration, replication, geospatial, connectors and other tools.</li>
</ul>  

<p>
This installer can run in graphical or silent install modes.
</p>

<p>
The Windows installer is designed to be a straightforward, fast way to get up and running with
PostgreSQL. In the unlikely event that you have issues with the installer,
please report them on the <a href="https://github.com/EnterpriseDB/edb-installers/issues">
installer Github page</a>. Issues with the installed packages should be reported to the
appropriate project directly.
</p>

<p>
Advanced users can also download a
<a href="https://www.enterprisedb.com/download-postgresql-binaries">zip archive</a>
of the binaries, without the installer.
This download is intended for users who wish to include PostgreSQL as part of another application installer.
</p>

<h3>Platform support</h3>

<p>The installers are tested by EDB on the following platforms.
    They can generally be expected to run on other comparable versions,
    for example, desktop releases of Windows:</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>PostgreSQL Version</th>
      <th>64 Bit Windows Platforms</th>
      <th>32 Bit Windows Platforms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">17</th>
        <td>2022, 2019</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>2022, 2019</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>2019, 2016</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>2019, 2016</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>2019, 2016</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>2019, 2016, 2012 R2</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

{%endblock%}
