{%extends "base/page.html"%}
{%load pgfilters%}
{%block contents%}
<div class="row">
  <div class="col-lg-9">
{%block cocmain%}{%endblock%}
  </div>
  <div class="col-lg-3">
    <h1>Translations</h1>
    <ul>
      <li><span lang="en"><a href="/about/policies/coc/">English</a></span></li>
{%for l in "pages/about/policies/coc"|list_templates|sort_lower%}
      <li><span lang="{{l}}"><a href="/about/policies/coc/{{l}}/">{{l|languagename}}</a></span></li>
{%endfor%}
      <li><a href="/about/policies/coc-translations/">How to Translate</a></li>
    </ul>
    <h1>Committee</h1>
    <ul>
      <li><a href="/about/policies/coc_committee/">Current committee</a></li>
    </ul>
    <h1>Annual Reports</h1>
    <ul>
{% for t in "pages/about/policies/coc/reports"|list_templates|sort_lower:True %}
      <li><a href="/about/policies/coc/reports/{{t}}/">{{t}}</a></li>
{%endfor%}
    </ul>
  </div>
</div>
{%endblock%}
