{%extends "base/page.html"%}
{%block contents%}
<div class="row">
  <div class="col-lg-9">
{%block cocmain%}{%endblock%}
  </div>
  <div class="col-lg-3">
    <h1>Translations</h1>
    <ul>
      <li><span lang="en"><a href="/about/policies/coc/">English</a></span></li>
      <li><span lang="ja"><a href="/about/policies/coc/ja/">Japanese</a></span></li>
    </ul>
    <h1>Committee</h1>
    <ul>
      <li><a href="/about/policies/coc_committee/">Current committee</a></li>
    </ul>
    <h1>Annual Reports</h1>
    <ul>
      <li><a href="/about/policies/coc/reports/2019/">2019</a></li>
      <li><a href="/about/policies/coc/reports/2018/">2018</a></li>
    </ul>
  </div>
</div>
{%endblock%}
