{%extends "base/page.html"%}
{%block contents%}
<h1>{{operation|default:"Edit"}} {{formitemtype}}</h1>
<form method="post" action=".">
{%if form_intro%}
<p>
{{form_intro|safe}}
</p>
{%endif%}

<table class="pgGenericFormTable">
{{form.as_table}}
</table>
<input type="submit" value="{{savebutton|default:"Save"}}">
</form>
{%endblock%}

{% block extrahead %}
{{ block.super }}
{%if markdownfields%}
<link rel="stylesheet" type="text/css" href="/media/css/showdown_preview.css" />
<script type="text/javascript" src="/media/showdown/showdown.js"></script>
<script type="text/javascript" src="/media/js/showdown_preview.js"></script>
<script language="javascript">
   window.onload = function() {
      {%for mdf in markdownfields %}
         attach_showdown_preview('id_{{mdf}}', 0);
      {%endfor%}
   }
</script>
{%endif%}
{%endblock%}

