{%extends "base/page.html"%}
{%block title%}PostgreSQL 9.6 — материалы для прессы{%endblock%}
{%block contents%}

<div><span>This page in: </span>
<span lang="en"><a href="/about/press/presskit96/en">English</a></span>
/ <span lang="fr"><a href="/about/press/presskit96/fr">Français</a></span>
/ <span lang="de"><a href="/about/press/presskit96/de">Deutsch</a></span>
/ <span lang="id"><a href="/about/press/presskit96/id">Bahasa Indonesia</a></span>
/ <span lang="it"><a href="/about/press/presskit96/it">Italiano</a></span>
/ <span lang="pt"><a href="/about/press/presskit96/pt">Português</a></span>
/ <span lang="es"><a href="/about/press/presskit96/es">Español</a></span>
/ <span lang="de"><a href="/about/press/presskit96/de">Deutsch</a></span>
/ <span lang="ru"><a href="/about/press/presskit96/ru">Русский</a></span><br/><br/>
</div>

<h1>PostgreSQL 9.6 — материалы для прессы</h1>

<h2>Содержание</h2>

<p>
 &nbsp; <a href="#original_release">Официальный пресс-релиз</a><br />
 &nbsp; <a href="#features">Подробнее о новинках</a><br />
 &nbsp; <a href="#download">Где скачать</a><br />
 &nbsp; <a href="#docs">Документация</a><br />
 &nbsp; <a href="#license">Лицензия</a><br />
 &nbsp; <a href="#contact">Контакты</a><br />
 &nbsp; <a href="#graphics">Графика и логотипы</a><br />
 &nbsp; <a href="#about">О проекте PostgreSQL</a><br />
 &nbsp; <a href="#quoted_companies">Информация о компаниях, упомянутых в цитатах, и полные тексты цитат</a><br />
 &nbsp; <a href="#companies">Корпоративная поддержка</a><br />
</p>

<img src="https://www.postgresql.org/media/img/about/press/elephant64.png" alt="PostgreSQL Elephant Logo" />

<a name="original_release"></a><h2>Официальный пресс-релиз</h2>

<p>29 сентября 2016: PostgreSQL 9.6, новая версия лидирующей реляционной системы управления базами данных (СУБД)
выпущена сегодня Всемирной группой разработки PostgreSQL. Этот релиз предоставляет пользователям широкие возможности
как для вертикального, так и для горизонтального масштабирования нагрузок на базы данных. Среди новых возможностей:
параллелизация запросов, усовершенствование синхронной репликации, фразовый поиск, а также многочисленные улучшения
в области производительности и юзабилити.</p>

<b>Вертикальное масштабирование и параллелизация выполнения запросов</b>

<p>В версии 9.6 добавлена поддержка параллелизации некоторых операций, что позволяет одновременно использовать
несколько или даже все доступные ядра сервера для ускорения ответа на запрос. Данный релиз содержит возможности
параллелизации последовательного чтения (таблиц), операций соединения и агрегирования. В зависимости от конкретной
ситуации и доступности ядер, параллелизм позволяет достигать вплоть до 32-кратного ускорения запросов при работе с
Big Data.</p>

<p>&laquo;Я мигрировал всю нашу платформу для изучения геномов — все 25 миллиардов строк из MySQL — в единую базу данных
под управлением Postgres, воспользовавшись такими преимуществами, как сжатие строк с типом данных JSONB и отличными
режимами индексирования GIN, BRIN и B-tree. С появлением версии 9.6 я планирую хорошую получить отдачу от
параллелизации запросов, получив улучшенное масштабирование для запросов на довольно больших таблицах&raquo;, — говорит
Майк Софен (Mike Sofen), главный архитектор компании Synthetic Genomics.</p>

<b>Горизонтальное масштабирование средствами синхронной репликации и модуля postgres_fdw</b>

<p>Две новые опции были добавлены в механизм синхронной репликации PostgreSQL, что позволяет обеспечивать
согласование операций чтения на масштабе всего кластера баз данных. Во-первых, теперь стало возможным конфигурировать
группы реплик, работающих с синхронной репликацией. Во-вторых, режим "remote_apply" позволяет получить согласованное
представление данных на масштабе нескольких узлов. Всё это работает на основе встроенного механизма репликации и
предназначено для получения массива &laquo;идентичных&raquo; узлов серверов баз данных для балансироваки нагрузки, содержащей
операции чтения.</p>

<p>Драйвер интеграции данных &laquo;из PostgreSQL в PostgreSQL&raquo; — модуль postgres_fdw – получил новые возможности для
осуществления операций на удалённых серверах. За счёт &laquo;проталкивания&raquo; ("pushing down") операций сортировки,
соединений и групповых обновлений пользователи теперь имеют возможность распределения нагрузки между несколькими
серверами PostgreSQL. В ближайшее время планируется внедрение данных улучшений и в другие FDW-драйверы.</p>

<p></p>&laquo;Благодаря возможностям удалённого выполнения операций JOIN, UPDATE и DELETE, адаптеры сторонних данных
(Foreign Data Wrappers, FDW) теперь представляют собой полноценное решение для распределения данных между
PostgreSQL и другими базами данных. Например, PostgreSQL может быть использовать для обработки данных,
поступающих в два или более различных типов СУБД&raquo;, — сказал Джулианто Сутанданг (Julyanto Sutandang),
директор по бизнес-решениям в компании Equnix.</p>

<b>Улучшенный полнотекстовый поиск по фразам</b>

<p>Система полнотекстового поиска в PostgreSQL теперь поддерживает так называемый &laquo;фразовый поиск&raquo;.
Он позволяет пользователям находить точные совпадения по фразам, а также документы, где слова встречаются
на заданном удалении друг от друга, применяя при этом GIN-индексы. Получив также новые возможности тонкой
настройки полнотекстового поиска, PostgreSQL становится высококачественной системой &laquo;гибридного поиска&raquo;,
что подразумевает возможность одновременного использования различных типов данных и операций поиска по ним:
реляционного, JSON и полнотекстового.</p>

<b>Ещё более беспроблемный, быстрый и простой в использовании</b>

<p>Благодаря обратной связи и тестированию многочисленными PostgreSQL-пользователями на базах данных большого
объёма, проекту, с выходом данного релиза, успешно удалось улучшить многие аспекты производительности и юзабилити.
Репликация, операции агрегирования, индексирования, сортировки и хранимые процедуры стали более эффективными,
а сам PostgreSQL ещё более продуктивно использует ресурсы при работе с новыми версиями ядра Linux.
Накладные расходы при администрировании больших таблиц и работе с нагрузками сложного профиля также
уменьшились — в частности, за счёт улучшений механизма VACUUM.</p>

<a name="features"></a><h2>Подробнее о новинках</h2>
<p>Более подробную информацию о новых возможностях можно найти по следующим ссылкам
(данные материалы предоставлены на английском языке):</p>
<ul>
  <li><a href="https://www.postgresql.org/docs/current/static/release-9-6.html">Информация об изменениях</a></li>
  <li><a href="https://wiki.postgresql.org/wiki/NewIn96">Что нового в PostgreSQL 9.6</a></li>
  <li><a href="/about/featurematrix">Матрица возможностей</a></li>
  <li><a href="https://momjian.us/main/writings/pgsql/features.pdf">Основные возможности (слайды)</a></li>
  <li><a href="https://www.youtube.com/watch?v=HjAeLE9aNhQ">&laquo;Заглянем слону под хобот: 9.6&raquo; (видео)</a></li>
  <li><a href="https://www.youtube.com/watch?v=RkkUbQP3G0A">Производительность PostgreSQL 9.6 (видео)</a></li>
</ul>

<a name="download"></a><h2>Где скачать</h2>
<ul>
  <li><a href="/download">Основная страница загрузки</a> с ссылками на установщики для Windows, Linux, OSX, BSD и Solaris, а также дополнительные инструменты</li>
  <li><a href="/ftp/source/v9.6.0">Исходный код</a></li>
  <li><a href="https://hub.docker.com/_/postgres/">Docker-образ для Postgres</a></li>
  <li><a href="http://pgxn.org">Сеть расширений PostgreSQL (PGXN)</a></li>
</ul>

<a name="docs"></a><h2>Документация</h2>

<p>
Документация в формате HTML и страницы с руководством устанавливаются вместе с PostgreSQL, но вы можете без
каких-либо ограничений просматривать, пользоваться поиском и комментировать нашу подробную, интерактивную
<a href="/docs/9.6/interactive">онлайн-документацию</a>.
</p>

<a name="license"></a><h2>Лицензия</h2>
<p>PostgreSQL использует <a href="/about/licence">собственную</a>, BSD-подобную лицензию, которая требует только
сохранения в лицензируемом исходном коде информации об авторских правах и текста самой лицензии.
Эта <a href="http://www.opensource.org/licenses/postgresql">сертифицированная организацией OSI</a> лицензия
широко известна своей гибкостью и удобством для бизнеса, поскольку она не запрещает использовать PostgreSQL
в составе коммерческих и закрытых приложений. Наряду с поддержкой множеством компаний и совместным владением
исходного кода, наша лицензия делает PostgreSQL очень популярной среди производителей, желающих внедрить СУБД
в свой продукт без каких-либо отчислений, привязки к производителю или риска изменений в лицензировании.</p>

<a name="contact"></a><h2>Контакты</h2>

<p>Web-страницы</p>
<ul>
<li><a href="https://www.postgresql.org">Домашняя страница PostgreSQL</a></li>
<li><a href="http://RuPostgres.org">#RuPostgres (#PostgreSQLRussia) — сообщество русскоязычных пользователей PostgreSQL</a></li>
</ul>

<p>Контакты для прессы</p>
<p>Россия<br />
Николай Самохвалов<br />
<a href="mailto:RU@POSTGRESQL.ORG">ru@postgresql.org</a><br />
+7-905-783-9804</p>



<a name="graphics"></a><h2>Графика и логотипы</h2>

<img src="https://www.postgresql.org/media/img/about/press/elephant64.png" alt="PostgreSQL Elephant Logo" />

<ul>
<li><a href="https://www.postgresql.org/media/img/about/press/elephant.png">Логотип слона PostgreSQL в формате PNG</a></li>
<li><a href="https://www.postgresql.org/media/img/about/press/elephant64.png">Значок слона PostgreSQL</a></li>
<li><a href="https://www.postgresql.org/media/img/about/press/slonik_with_black_text_and_tagline.gif">Баннер PostgreSQL с логотипом, слоном и слоганом</a></li>
</ul>
<p>Модификация и распространение всех приведенных логотипов разрешена в соответствии с лицензией PostgreSQL.
Имя и логотип PostgreSQL являются торговыми марками ассоциации сообщества PostgreSQL Канады
(The PostgreSQL Community Association of Canada).</p>

<a name="about"></a><h2>О проекте PostgreSQL</h2>
<p>PostgreSQL является ведущей СУБД с открытыми исходными текстами, с глобальным сообществом из тысяч пользователей
и разработчиков, объединяющим множество компаний и организаций. Проект PostgreSQL создаётся на основе более
чем 25-летнего опыта проектирования и разработки, начавшейся в Калифорнийском университете Беркли, и в настоящее
время разрабатывается беспрецедентными темпами. Продуманный набор возможностей PostgreSQL не только не уступает
ведущим коммерческим СУБД, но и превосходит их развитой функциональностью, расширяемостью, безопасностью и
стабильностью. Вы можете получить дополнительную информацию о PostgreSQL и присоединиться к нашему сообществу
по адресу <a href="https://www.postgresql.org">PostgreSQL.org</a>.</p>

<a name="quoted_companies"></a><h2>Информация о компаниях, упомянутых в цитатах, и полные тексты цитат</h2>
<p>&laquo;Являясь главным архитектором баз данных в компании Synthetic Genomics, я был поражён, столкнувшись с мощью PostgreSQL 9.5,
его гибкостью и богатым набором программных инструментов. Я мигрировал всю нашу платформу для изучения геномов —
все 25 миллиардов строк из MySQL — в единую базу данных под управлением Postgres, воспользовавшись такими преимуществами,
как сжатие строк с типом данных JSONB и отличными режимами индексирования GIN, BRIN и B-tree.
С появлением версии 9.6 я планирую хорошую получить отдачу от параллелизации запросов, получив улучшенное масштабирование
для запросов на довольно больших таблицах. Postgres 9.5 показал себя как крайне крайне стабильная, удивительно
производительная и, на мой взгляд, лучшая реляционно- и документоориентированная СУБД на рынке на данный момент&raquo;, —
говорит Майк Софен (Mike Sofen), главный архитектор компании Synthetic Genomics.</p>
<p>Компания <a href="https://www.syntheticgenomics.com/">Synthetic Genomics, Inc.</a> (SGI) — глобальный лидер в областях
синтетической биологии и синтетической геномики, использующая интеллектуальную собственность в этих быстро
развивающихся дисциплинах для проектирования и создания биологических систем, призванных решать глобальные задачи
достижения стабильности. CGI предоставляет решения по исследованию в области геномики, биопроизводства и прикладных продуктов.
Исследовательский сегмент сфокусирован на решениях в области геномики для академических и коммерческих исследовательских
организаций и производств. Коммерческие продукты и сервисы включают: инструментарий, реагенты, сервисы синтеза ДНК,
биоинформатические сервисы и программное обеспечение.
Email: <a href="mailto:media@syntheticgenomics.com">media@syntheticgenomics.com</a> (англ.)</p>
<p>
&laquo;Благодаря возможностям удалённого выполнения операций JOIN, UPDATE и DELETE, адаптеры сторонних данных
(Foreign Data Wrappers, FDW) теперь представляют собой полноценное решение для распределения данных между PostgreSQL
и другими базами данных. Например, PostgreSQL может быть использовать для обработки данных, поступающих в два
или более различных типов СУБД&raquo; — сказал Джулианто Сутанданг (Julyanto Sutandang), директор по
бизнес-решениям в компании Equnix.</p>
<p>Компания <a href="http://www.equnix.co.id/">Equnix</a> — IT-поставщик для крупного бизнеса, предоставляющий
решения, основанные исследованиях, разработке и Open Source. Equnix является PostgreSQL-компанией.
Email (англ. и индонезийский): <a href="mailto:info@equnix.co.id">Info@equnix.co.id</a>, телефон +6221-22866662.
</p>

<a name="companies"></a><h2>Корпоративная поддержка</h2>

<p>Проекту PostgreSQL помогают многочисленные компании, спонсирующие разработчиков, предоставляющие ресурсы для
хостинга и финансовую поддержку. Некоторые из них представлены на странице
<a href="https://www.postgresql.org/about/sponsors/">компаний-спонсоров</a>.</p>

<p>Помимо этого, множество компаний занимается <a href="/support/professional_support">поддержкой СУБД PostgreSQL</a>,
от индивидуальных консультантов до многонациональных корпораций.</p>

<p><a href="/about/donate">Пожертвования</a> также тепло приветствуются.</p>
<p>А ещё вы можете купить сувенирную продукцию нашего <a href="http://www.zazzle.com/postgresql">магазина PostgreSQL на платформе Zazzle </a>.</p>

{% endblock %}
