{%extends "base/page.html"%}
{%block title%}Developers{%endblock%}
{%block contents%}
<h1>Developers <i class="fa fa-code"></i></h1>

<h2>Who are we?</h2>

<p>A PostgreSQL database developer is someone who is actually working on the project, not someone using it to develop
an application or a website. We don't hire programmers, we reach across the Internet, drawing the best database
developers in the world to PostgreSQL. Read about the <a href="/community/contributors/">people behind PostgreSQL</a> and
check out the <a href="/files/community/conference06/conference_group.html">group picture</a> from the 2006
PostgreSQL Anniversary Summit.
</p>

<h2>What will you find here?</h2>

<p>The information available in this section will mainly interest PostgreSQL developers. Here you'll find the
<a href="/developer/roadmap/">roadmap</a> with current <a href="https://wiki.postgresql.org/wiki/Todo">TODO list</a>, <a href="/developer/coding/">coding</a> and
<a href="/developer/testing/">testing</a> information, <a href="https://commitfest.postgresql.org">CommitFests</a>, <a href="/list/">mailing lists</a>, and
the developer <a href="https://wiki.postgresql.org/wiki/Developer_FAQ">FAQ</a>. Keep in mind the information available here is not
necessarily available in the release version of PostgreSQL - it may not yet even be in the development version.
</p>

<h2>What is a CommitFest?</h2>

A <a href="https://commitfest.postgresql.org">CommitFest</a> is a period during
the PostgreSQL feature development where
<a href="https://wiki.postgresql.org/wiki/Committers">committers</a> and
<a href="/community/contributors/">contributors</a> focus on
<a href="https://wiki.postgresql.org/wiki/Reviewing_a_Patch">reviewing</a>,
<a href="/developer/testing/">testing</a>, and getting patches committed.
Patches are registered in the
<a href="https://commitfest.postgresql.org">CommitFest application</a>,
which PostgreSQL developers use to track the patch status.

There are typically 5 CommitFests in a major release cycle: July, September,
November, January, and March. The March CommitFest is the final CommitFest in a
major release, which is followed by "feature freeze" and the beginning of the
<a href="/developer/beta/">beta</a> period. A
"<a href="https://wiki.postgresql.org/wiki/CommitFest_Checklist">CommitFest Manager</a>"
manages a CommitFest and has responsibilities to help manage the list of
patches.

Anyone can participate in a CommitFest and it is a great way to get started
contributing to PostgreSQL. You can submit a patch to be included in a
CommitFest, sign up to review a patch, or become a CommitFest Manager
(though CommitFest Managers tend to have some level of experience in the
community).

<h2>Google Summer of Code Program</h2>

<p>The PostgreSQL Project is a proud participant in Google's Summer of Code program. If you are interested in working on a PostgreSQL related project, please check out our <a href="https://wiki.postgresql.org/wiki/GSoC">Summer of Code</a> page.</p>

{%endblock%}
