{%extends "base/page.html"%}
{%block title%}Developers{%endblock%}
{%block contents%}
<h1>Developers</h1>

<h2>Who are we?</h2>

<p>A PostgreSQL database developer is someone who is actually working on the project, not someone using it to develop
an application or a website. We don't hire programmers, we reach across the Internet, drawing the best database
developers in the world to PostgreSQL. Read about the <a href="/community/contributors/">people behind PostgreSQL</a> and
check out the <a href="/files/community/conference06/conference_group.html">group picture</a> from the 2006
PostgreSQL Anniversary Summit.
</p>

<h2>What will you find here?</h2>

<p>The information available in this section will mainly interest PostgreSQL developers. Here you'll find the
<a href="/developer/roadmap/">roadmap</a> with current <a href="https://wiki.postgresql.org/wiki/Todo">TODO list</a>, <a href="/developer/coding/">coding</a> and
<a href="/developer/testing/">testing</a> information, <a href="/community/lists/#developer">mailing lists</a>, and
the developer <a href="https://wiki.postgresql.org/wiki/Developer_FAQ">FAQ</a>. Keep in mind the information available here is not
necessarily available in the release version of PostgreSQL - it may not yet even be in the development version.
</p>


<h2>Google Summer of Code Program</h2>

<p>The PostgreSQL Project is a proud participant in Google's Summer of Code program. If you are interested in working on a PostgreSQL related project, please check out our <a href="/developer/summerofcode/">Summer of Code</a> page.</p>

{%endblock%}
