{%extends "base/page.html"%}
{%block title%}Downloads{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/download.js?{{gitrev}}"></script>
{%endblock%}
{%block contents%}

<h1>Downloads <i class="fa fa-download"></i></h1>

<h2>PostgreSQL Downloads</h2>

<p>
PostgreSQL is available for download as ready-to-use packages or installers for
various platforms, as well as a source code archive if you want to build it
yourself.
</p>

<h3>Packages and Installers</h3>

<p>Select your operating system family:</p>

<a role="button" id="btn-download-linux" class="btn btn-outline-dark btn-download" href="/download/linux/">
  Linux<br/>
  <img class="logo" src="/media/img/linux.svg" alt="Linux Logo" />
</a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/macosx/">
  macOS<br/>
  <img class="logo" src="/media/img/apple.png" alt="Apple Logo" />
</a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/windows/">
  Windows<br/>
  <img class="logo" src="/media/img/windows.svg" alt="Windows Logo" />
</a>
<a role="button" id="btn-download-bsd" class="btn btn-outline-dark btn-download" href="/download/bsd/">
  BSD<br/>
  <img class="logo" src="/media/img/bsd.png" alt="BSD Logo" />
</a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/solaris/">
  Solaris<br/>
  <img class="logo" src="/media/img/solaris.png" alt="Solaris Logo" />
</a>

<!-- sub-navigation for Linux distributions -->
<div id="download-subnav-linux" class="download-subnav">
  <p>Select your Linux distribution:</p>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/debian/">
    Debian<br/>
    <img class="logo" src="/media/img/debian.svg" alt="Debian Logo" />
  </a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/redhat">
    Red Hat/CentOS<br/>
    <img class="logo" src="/media/img/redhat.svg" alt="Red Hat Logo" />
  </a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/suse">
    SUSE<br/>
    <img class="logo" src="/media/img/suse.png" alt="SUSE Logo" />
  </a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/ubuntu">
    Ubuntu<br/>
    <img class="logo" src="/media/img/ubuntu.svg" alt="Ubuntu Logo" />
  </a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/#generic">
    Other Linux<br/>
    <img class="logo" src="/media/img/linux.svg" alt="Linux Logo" />
  </a>
</div>

<!-- sub-navigation for BSD distributions -->
<div id="download-subnav-bsd" class="download-subnav">
  <p>Select your BSD operating system:</p>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/openbsd/">OpenBSD<br/><img class="logo" src="/media/img/openbsd.gif" alt="OpenBSD Logo" /></a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/freebsd/">FreeBSD<br/><img class="logo" src="/media/img/freebsd.svg" alt="FreeBSD Logo" /></a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/netbsd/">NetBSD<br/><img class="logo" src="/media/img/netbsd.svg" alt="NetBSD Logo" /></a>
</div>

<h3>Source code</h3>

<p>
The source code can be found in the main <a href="/ftp/source/">file browser</a>
or you can access the source control repository directly
at <a href="https://git.postgresql.org/gitweb/?p=postgresql.git;a=summary" target="_blank" rel="noopener">git.postgresql.org</a>.
Instructions for building from source can be found in the
<a href="/docs/current/installation.html">documentation</a>.
</p>

<h3>Beta/RC Releases and development snapshots (unstable)</h3>

<p>
There are source code and binary <a href="/download/snapshots/">packages</a>
of beta and release candidates, and of the current development code available
for testing and evaluation of new features. Note that these builds should
be used <strong>for testing purposes only</strong>, and not for production systems.
</p>

<h2>3rd party distributions</h2>

<h3>Machine Learning and Data Visualization with PostgreSQL</h3>
<p>
  <a href="https://www.2ndquadrant.com/en/resources/2uda/">Download 2UDA</a>
  for Windows, macOS, and Linux - certified by 2ndQuadrant for all supported
  versions of PostgreSQL.
</p>
<p>
  2ndQuadrant Unified Data Analytics (2UDA) is a data analytics application
  suite that unifies databases, machine learning, data mining, and
  visualization. The application can be installed using a user-friendly,
  one-click desktop installer. 2UDA builds on the capabilities of Orange, an
  open source machine learning and data visualization tool, by integrating it
  with the PostgreSQL database.
</p>

<h3>Ready to run stacks</h3>
<p>
'LAPP', 'MAPP' and 'WAPP' (Linux/Mac/Windows + Apache + PHP + PostgreSQL)
stacks are available from
<a href="https://bitnami.com/tag/postgresql">BitNami</a>.
</p>

<h2>Additional Software</h2>

<h3>Software Catalogue</h3>

<p>There is much software available that is not bundled with PostgreSQL. The <a href="/download/product-categories">Software
Catalogue</a> offers a listing of many commercial and Open Source applications, interfaces and extensions to PostgreSQL
that you may find useful.</p>

<p>If you wish to have your product listed in the catalogue, please fill out this <a href="/account/products/new/">form</a>.</p>

<h2>File Browser</h2>
<p>You can download most of the software we publish from a mirror site using our <a href="/ftp/">File Browser</a>.</p>

{%endblock%}
