{%extends "base/page.html"%}
{%block title%}Downloads{%endblock%}
{%block contents%}
<div id="pgDownloadsWrap">

<h1>Downloads</h1>

<h2>PostgreSQL Core Distribution</h2>

<p>
The core of the PostgreSQL object-relational database management system
is available in several source and binary formats.
</p>

<h3>Binary packages</h3>

<p>
Pre-built binary packages are available for a number of different operating
systems:
</p>
<ul>
 <li>BSD
  <ul>
   <li><a href="/download/freebsd/">FreeBSD</a></li>
   <li><a href="/download/openbsd/">OpenBSD</a></li>
  </ul>
 </li>
 <li>Linux
  <ul>
   <li><a href="/download/linux/redhat/">RedHat/CentOS/Fedora/Scientific</a> families Linux</li>
   <li><a href="/download/linux/debian/">Debian</a> GNU/Linux</li>
   <li><a href="/download/linux/ubuntu/">Ubuntu</a> Linux</li>
   <li><a href="/download/linux/suse/">SuSE</a> and OpenSuSE</li>
   <li><a href="/download/linux/">Other</a> Linux</li>
  </ul>
 </li>
 <li><a href="/download/macosx/">Mac OS X</a></li>
 <li><a href="/download/solaris/">Solaris</a></li>
 <li><a href="/download/windows/">Windows</a></li>
</ul>

<h3>Source code</h3>

<p>
The source code can be found in the main <a href="/ftp/source">file browser</a>
or you can access the source control repository directly
at <a href="http://git.postgresql.org/gitweb/?p=postgresql.git;a=summary">git.postgresql.org</a>.
Instructions for building from source can be found in the
<a href="/docs/current/static/installation.html">documentation</a>.
</p>

<h3>Beta/RC Releases and development snapshots (unstable)</h3>

<p>
There are source code and binary <a href="/download/snapshots">packages</a>
of beta and release candidates, and of the current development code available
for testing and evaluation of new features. Note that these builds should
be used <b>for testing purposes only</b>, and not for production systems.
</p>

<h2>3rd party distributions</h2>

<h3>Live CD</h3>
<p>
<a href="http://www.pglivecd.org">PostgreSQL Live CD</a> is a Fedora based
PostgreSQL live CD, containing packages from the PostgreSQL Yum repository.
Live CDs are bootable CD images that allow you to run and test PostgreSQL
and a selection of related tools and software, without installing anything
on your PC.
</p>

<h3>PostgreSQL and Hadoop Integration</h3>
<p>
<a href="http://www.bigsql.org/se/bigsql">BigSQL</a> provides
a developer friendly bundle of tools for the data guru focused
on analytics. This bundle combines Postgres and Hadoop through the
<a href="http://www.hadoopfdw.org">HadoopFDW</a> to allow for 
simplified analysis of data using included and integrated analytics 
tools such as HBase, Hive, Pig, DataFu, Flume, Sqoop and others.
</p>

<h3>Live CD and virtual machine appliance</h3>
<p>
<a href="http://www.turnkeylinux.org/appliances/postgresql">TurnKey PostgreSQL</a>
is an Ubuntu based live CD and software appliance featuring a Mac OS X-themed
Web management interface and a Python configuration and installation console.
</p>

<h3>Ready to run stacks</h3>
<p>
'LAPP', 'MAPP' and 'WAPP' (Linux/Mac/Windows + Apache + PHP + PostgreSQL)
stacks are available from
<a href="http://bitnami.org/tag/postgresql">BitNami</a>.
</p>

<h2>Additional software</h2>

<h3>Software Catalogue</h3>

<p>There is much software available that is not bundled with PostgreSQL. The <a href="/download/product-categories">Software 
Catalogue</a> offers a listing of many commercial and Open Source applications, interfaces and extensions to PostgreSQL
that you may find useful.</p>

<p>If you wish to have your product listed in the catalogue, please fill out this <a href="/account/products/new/">form</a>.</p>

<h3>pgFoundry</h3>

<p><a href="http://pgfoundry.org/">pgFoundry</a> is home to a huge array of PostgreSQL related projects. As well as 
downloading software, you can observe or participate in the development activities of the projects that interest you.</p>

<h2>File Browser</h2>
<p>You can download most of the software we publish from a mirror site using our <a href="/ftp/">File Browser</a>.</p>

</div>
{%endblock%}
