{%extends "base/page.html"%}
{%block title%}Support{%endblock%}
{%block contents%}

<h1>Support</h1>

<p>PostgreSQL has a wide variety of community and commercial support options available for users.
The <a href="/community/">Community</a> section of this website details the support options available to users from the PostgreSQL
community, including <a href="/community/lists/">mailing lists</a> and <a href="/community/irc/">IRC</a>.
And don't forget to read the <a href="/docs/faq/">FAQs</a> and <a href="/docs/">documentation</a>.
</p>

<p>Commercial support is also available from one of the many companies providing <a href="/support/professional_support">professional services</a>
to the PostgreSQL community. A listing of companies that provide <a href="/support/professional_hosting">hosting</a> with PostgreSQL access is
also available.</p>

<h2>Bug Reporting</h2>

<p>Found a bug in PostgreSQL? Please read over our <a href="/docs/current/static/bug-reporting.html">bug reporting guidelines</a>
and then report it using our <a href="/account/submitbug/">bug reporting form</a>.</p>

<p>You can see previous bug reports, and track your own on the <a href="/list/pgsql-bugs/">pgsql-bugs@postgresql.org</a> mailing
list.</p>
{%endblock%}
