{%extends "base/page.html"%}
{%block title%}Mailing Lists{%endblock%}
{%block contents%}

<h1>Mailing Lists</h1>

<p>The following is a list of PostgreSQL related mailing lists.</p>

<h3>How to Subscribe or Unsubscribe</h3>

<p>Fill out this <a href="/community/lists/subscribe">form</a>.</p>

<!-- this text is duplicated in system/form/subscribe.php -->
<p>Please do not subscribe to mailing lists using e-mail accounts protected by
mail-back anti-spam systems. These are extremely annoying to the list
maintainers and other members, and you may be automatically unsubscribed.
</p>

<h3>Archives</h3>

<p>Before posting to a list, you may wish to search the <a href="http://archives.postgresql.org">archives</a>.</p>

<p>The mailing lists are also available at the PostgreSQL <a href="news://news.postgresql.org">news server</a>.
However, in order to post to a list, you must still subscribe to that list (but it is possible to subscribe without
receiving mail).</p>

{% for l in lists %}
{%ifchanged l.group %}
{%if not forloop.first %}
 </table>
</div>

{%endif%}
<h2>{{l.group.groupname}}</h2>
<div class="tblBasic">
<table border="0" cellpadding="0" cellspacing="0" class="tblBasicGrey">
<tr>
	<th class="colFirst">List</th>
	<th class="colLast">Description</th>
</tr>

{%endifchanged%}
<tr>
    <td class="colFirst"><a href="http://archives.postgresql.org/{{l.listname}}/">{{l.maybe_shortdesc}}</a></td>
    <td class="colLast">{{l.description}}</td>
</tr>
{%endfor%}
 </table>
</div>

{%endblock%}

