{%extends "base/form.html"%}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
$(function() {
   var part = document.URL.substring(document.URL.indexOf('#')+1);
   $('#id_lists').val(part);
});
</script>
{%endblock%}
{%block pre_form_header%}
<h1>Subscribe</h1>
<p>
The PostgreSQL project is currently migrating all mailinglists from an
old legacy system to a new more modern system. As this migration goes
on, there will unfortunately be two different sets of subscribe and
unsubscribe methods.
</p>
<p>
To subscribe to one of the lists that have been migrated, please use
the <a href="https://lists.postgresql.org/manage/">new system</a>.
</p>
<p>
If the list you want to subscribe to is listed below, it has not yet
been migrated. For these lists, please use the form below. Use the
same form to unsubscribe from one of these lists.
</p>
{%endblock%}
