{%extends "base/page.html"%}
{%block title%}Linux downloads (Debian){%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/download.js?{{gitrev}}"></script>
{%endblock%}
{%block contents%}

<h1>Linux downloads (Debian) <img class="logo" src="/media/img/debian.svg" alt="Debian Logo" /></h1>
<p>
PostgreSQL is available in all Debian versions by default. However, Debian
"snapshots" a specific version of PostgreSQL that is then supported throughout
the lifetime of that Debian version.
The PostgreSQL project maintains an <a href="#apt">Apt repository</a> with all supported
of PostgreSQL available.
</p>

<h2>Included in Distribution</h2>
<p>
Debian includes PostgreSQL by default. To install PostgreSQL on Debian,
use the <code>apt</code> (or other apt-driving) command:
</p>
<pre class="code">
apt install postgresql
</pre>

<a name="apt"></a>
<h2>PostgreSQL Apt Repository</h2>
<p>
If the version included in your version of Debian is not the one you want,
you can use the <a href="https://apt.postgresql.org" target="_blank" rel="noopener">PostgreSQL Apt Repository</a>. This repository will integrate
with your normal systems and patch management, and provide automatic
updates for all supported versions of PostgreSQL throughout the support
<a href="/support/versioning/">lifetime</a> of PostgreSQL.
</p>
<p>
The PostgreSQL Apt repository supports the current versions of Debian:
</p>
<ul>
  <li>trixie (13.x)</li>
  <li>bookworm (12.x)</li>
  <li>bullseye (11.x)</li>
  <li>forky (testing)</li>
  <li>sid (unstable)</li>
</ul>
<p>
on the following architectures:
</p>
<ul>
  <li>amd64</li>
  <li>arm64</li>
  <li>ppc64el</li>
</ul>

<p>
Automated repository configuration:
</p>

<div class="pg-script-container">
    <pre id="script-box" class="code">sudo apt install -y postgresql-common
sudo /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh</pre>
    <button id="copy-btn-root" class="pg-script-copy-btn pg-script-copy-btn-root" title="Copy to clipboard (without sudo, for root)"><i class="fas fa-terminal"></i></button>
    <button id="copy-btn" class="pg-script-copy-btn" title="Copy to clipboard"><i class="far fa-copy"></i></button>
</div>

<p>
To manually configure the Apt repository, follow these steps:
</p>

<div class="pg-script-container">
    <pre id="script-box2" class="code"># Import the repository signing key:
sudo apt install curl ca-certificates
sudo install -d /usr/share/postgresql-common/pgdg
sudo curl -o /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc --fail https://www.postgresql.org/media/keys/ACCC4CF8.asc

# Create the repository configuration file:
. /etc/os-release
sudo sh -c "echo 'deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt $VERSION_CODENAME-pgdg main' > /etc/apt/sources.list.d/pgdg.list"

# Update the package lists:
sudo apt update</pre>
    <button id="copy-btn2-root" class="pg-script-copy-btn pg-script-copy-btn-root" title="Copy to clipboard (without sudo, for root)"><i class="fas fa-terminal"></i></button>
    <button id="copy-btn2" class="pg-script-copy-btn" title="Copy to clipboard"><i class="far fa-copy"></i></button>
</div>

Install PostgreSQL: (replace "18" by the version you want)

<div class="pg-script-container">
    <pre id="script-box3" class="code">sudo apt install postgresql-18</pre>
    <button id="copy-btn3-root" class="pg-script-copy-btn pg-script-copy-btn-root" title="Copy to clipboard (without sudo, for root)"><i class="fas fa-terminal"></i></button>
    <button id="copy-btn3" class="pg-script-copy-btn" title="Copy to clipboard"><i class="far fa-copy"></i></button>
</div>

<p>
For more information about the apt repository, including answers to frequent
questions, please see the
<a href="https://wiki.postgresql.org/wiki/Apt" target="_blank" rel="noopener">PostgreSQL Apt Repository wiki page</a>.
</p>

<h2>Packages</h2>
<p>
The repository contains many different packages including third party
addons. The most common and important packages are (substitute the
version number as required):
</p>
<table class="table table-striped">
  <tbody>
    <tr>
     <th scope="row">postgresql-client-18</th>
     <td>client libraries and client binaries</td>
    </tr>
    <tr>
     <th scope="row">postgresql-18</th>
     <td>core database server</td>
    </tr>
    <tr>
     <th scope="row">postgresql-doc-18</th>
     <td>documentation</td>
    </tr>
    <tr>
     <th scope="row">libpq-dev</th>
     <td>libraries and headers for C language frontend development</td>
    </tr>
    <tr>
     <th scope="row">postgresql-server-dev-18</th>
     <td>libraries and headers for C language backend development</td>
    </tr>
  </tbody>
</table>
{%endblock%}
