{%extends "base/page.html"%}
{%block title%}Linux downloads (SUSE){%endblock%}
{%block contents%}

<h1>Linux downloads (SUSE) <img class="logo" src="/media/img/suse.png" alt="SUSE Logo" /></h1>
<p>
PostgreSQL is available in all SUSE versions by default. However,
SUSE Linux "snapshots" a specific version of PostgreSQL
that is then supported throughout the lifetime of that SUSE version.
</p>
<a name="zypper"></a><h2>PostgreSQL RPM Repository</h2>
<p>
This repository will integrate with your normal systems and patch management,
and provide automatic updates for PostgreSQL 12+ throughout
the support <a href="/support/versioning/">lifetime</a> of PostgreSQL.
</p>
<p>
The PostgreSQL RPM repository currently supports SUSE Enterprise Linux 15 SP5 and 12 SP5.
</p>
<p>
To use the SUSE RPM repository, please follow these <a href="https://zypp.postgresql.org/howtozypp">instructions</a>.
</p>

<h2>Included in distribution</h2>
<p>
RPMs for SUSE Linux and openSUSE are available from the
<a href="https://build.opensuse.org/" target="_blank" rel="noopener">openSUSE Build Service</a>
in the project <em>server:database:postgresql</em>.
Platform-specific RPM packages are available for PostgreSQL
as well as a variety of related software.
Use the <a href="https://software.opensuse.org/search" target="_blank" rel="noopener">search facility</a>
to find suitable packages. Documentation is also available there.
</p>
{%endblock%}
