{%extends "base/page.html"%}
{%block title%}Linux downloads (SuSE){%endblock%}
{%block contents%}

<h1>Linux downloads (SuSE)</h1>
<p>
PostgreSQL is available in all SuSE versions by default. However,
SuSE Linux "snapshots" a specific version of PostgreSQL
that is then supported throughout the lifetime of that SuSE version.
</p>
<h2>Included in distribution</h2>
<p>
RPMs for SUSE Linux and openSUSE are available from the
<a href="https://build.opensuse.org/">openSUSE Build Service</a>
in the project <i>server:database:postgresql</i>.
Platform-specific RPM packages are available for PostgreSQL
as well as a variety of related software.
Use the <a href="http://software.opensuse.org/search">search facility</a>
to find suitable packages. Documentation is also available there.
</p>

{%include "pages/download/linux/linux_openscg.inc" %}

{%include "pages/download/linux/linux_oneclick.inc" %}

<h3>Platform support</h3>

<p>The installers are tested by EnterpriseDB on the following platforms.
    They may also work on other variations or versions:</p>

<div class="tblBasic">
  <table border="0" cellpadding="0" cellspacing="0" class="tblBasicGrey">
    <tr>
      <th>PostgreSQL Version</th>
      <th>64 Bit Platforms</th>
      <th>32 Bit Platforms</th>
    </tr>
    <tr>
      <td>9.6</td>
      <td>SLES 12.x</td>
      <td>SLES 12.x</td>
    </tr>
    <tr>
      <td>9.5</td>
      <td>SLES 12.x</td>
      <td>SLES 12.x</td>
    </tr>
    <tr>
      <td>9.4</td>
      <td>SLES 11.x</td>
      <td>SLES 11.x</td>
    </tr>
    <tr>
      <td>9.3</td>
      <td>SLES 11.x</td>
      <td>SLES 11.x</td>
    </tr>
    <tr>
      <td>9.2</td>
      <td>SLES 11.x</td>
      <td>SLES 11.x</td>
    </tr>
  </table>
</div>

{%include "pages/download/linux/linux_source.inc" %}
{%endblock%}
