{%extends "base/page.html"%}
{%block title%}Linux downloads (Ubuntu){%endblock%}
{%block contents%}

<h1>Linux downloads (Ubuntu)</h1>
<p>
PostgreSQL is available in all Ubuntu versions by default. However,
Ubuntu "snapshots" a specific version of PostgreSQL that is then
supported throughout the lifetime of that Ubuntu version. Other
versions of PostgreSQL are available through the PostgreSQL apt
repository.
</p>

<script type="text/javascript">
 <!--
 function updateSeries(select) {
  var deb = document.getElementById('series-deb');
  deb.innerHTML = select.value;
 }
 -->
</script>

<h2>PostgreSQL Apt Repository</h2>
<p>
If the version included in your version of Ubuntu is not the one you want,
you can use the PostgreSQL Apt Repository. This repository will integrate
with your normal systems and patch management, and provide automatic
updates for all supported versions of PostgreSQL throughout the support
<a href="/support/versioning/">lifetime</a> of PostgreSQL.
</p>
<p>
The PostgreSQL apt repository supports LTS versions of Ubuntu (14.04 and 16.04)
on amd64, i386 and ppc64el architectures as well as select non-LTS versions(17.04).
While not fully supported, the packages often work on other non-LTS versions as well,
by using the closest LTS version available.
</p>
<p>
To use the apt repository, follow these steps:
</p>
<ul>
 <li>
  <select id="field.series" name="field.series" onchange='updateSeries(this);'>
   <option selected="selected" value="YOUR_UBUNTU_VERSION_HERE">Choose your Ubuntu version</option>
   <option value="zesty">Zesty (17.04)</option>
   <option value="xenial">Xenial (16.04)</option>
   <option value="trusty">Trusty (14.04)</option>
  </select>
 </li>
 <li>Create the file <i>/etc/apt/sources.list.d/pgdg.list</i>, and add a line
 for the repository
 <code>deb http://apt.postgresql.org/pub/repos/apt/ <span id="series-deb">YOUR_UBUNTU_VERSION_HERE</span>-pgdg main</code>
 </li>
 <li>Import the repository signing key, and update the package lists
   <code>
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | \<br/>
&nbsp;&nbsp;sudo apt-key add -<br/>
sudo apt-get update
   </code>
 </li>
</ul>
<p>
For more information about the apt repository, including answers to frequent
questions, please see the apt page on
<a href="https://wiki.postgresql.org/wiki/Apt">the wiki</a>.
</p>

<h2>Included in distribution</h2>
<p>
Ubuntu includes PostgreSQL by default. To install PostgreSQL on
Ubuntu, use the <i>apt-get</i> (or other apt-driving) command:
</p>
<code>
apt-get install postgresql-9.6
</code>
<p>
The repository contains many different packages including third party
addons. The most common and important packages are (substitute the
version number as required):
</p>
<ul>
 <li>postgresql-client-9.6 - client libraries and client binaries</li>
 <li>postgresql-9.6 - core database server</li>
 <li>postgresql-contrib-9.6 - additional supplied modules</li>
 <li>libpq-dev - libraries and headers for C language frontend development</li>
 <li>postgresql-server-dev-9.6 - libraries and headers for C language backend development</li>
 <li>pgadmin3 - pgAdmin III graphical administration utility</li>
</ul>

{%include "pages/download/linux/linux_openscg.inc" %}

{%include "pages/download/linux/linux_oneclick.inc" %}

<h3>Platform support</h3>

<p>The installers are tested by EnterpriseDB on the following platforms.
    They may also work on other variations or versions:</p>

<div class="tblBasic">
  <table border="0" cellpadding="0" cellspacing="0" class="tblBasicGrey">
    <tr>
      <th>PostgreSQL Version</th>
      <th>64 Bit Platforms</th>
      <th>32 Bit Platforms</th>
    </tr>
    <tr>
      <td>10</td>
      <td>Ubuntu 14.04 LTS</td>
      <td>Ubuntu 14.04 LTS</td>
    </tr>
    <tr>
      <td>9.6</td>
      <td>Ubuntu 14.04 LTS</td>
      <td>Ubuntu 14.04 LTS</td>
    </tr>
    <tr>
      <td>9.5</td>
      <td>Ubuntu 14.04 LTS</td>
      <td>Ubuntu 14.04 LTS</td>
    </tr>
    <tr>
      <td>9.4</td>
      <td>Ubuntu 14.04 LTS</td>
      <td>Ubuntu 14.04 LTS</td>
    </tr>
    <tr>
      <td>9.3</td>
      <td>Ubuntu 12.04 LTS</td>
      <td>Ubuntu 12.04 LTS</td>
    </tr>
    <tr>
      <td>9.2</td>
      <td>Ubuntu 12.04 LTS</td>
      <td>Ubuntu 12.04 LTS</td>
    </tr>
  </table>
</div>

{%include "pages/download/linux/linux_source.inc" %}
{%endblock%}
