{%extends "admin/base_site.html"%}

{%block breadcrumbs%}
<div class="breadcrumbs"><a href="/admin/">Home</a></div>
{%endblock%}

{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}

{%block content%}
<div id="content-main">
<h1>Reset password</h1>
<p>
  Resetting the password the password of a user will clear the current password and send a
  password reset link to <i>{{user.email}}</i>.
</p>
{%if is_oauth%}
<p>
  <strong>WARNING!</strong> This is currently an OAuth integrated account. Resetting the password
  of this account will turn it into a regular account with a local password!!
</p>
{%endif%}
<form method="post" action=".">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit" value="Reset password">
</div>
</form>
{%endblock%}
