{%extends "base/page.html"%}
{%block title%}Community{%endblock%}
{%block contents%}
<div id="pgCommunityWrap">
<div id="pgCommunity">
<h1>Community</h1>

<p>PostgreSQL is well supported by its active community. Current developments are chronicled in the <a href="/community/weeklynews">PostgreSQL Weekly News</a> and there are more than a dozen <a href="/community/lists">mailing lists</a> available, categorized into topics like administration, announcements, jobs, performance, and SQL. We also have several PostgreSQL User Groups in the world, and there is also an active <a href="/community/irc">IRC</a> community.</p>

<p>In addition to the resources available on this site, there are also links to <a href="/community/international">international sites</a> that contain PostgreSQL information in various languages. PostgreSQL community <a href="/community/resources">resources</a> are also highlighted in this section of the website.</p>
</div>
</div>

{%if survey%}
<div id="pgSurveyWrap">
<div id="pgSurvey">
  <dl>
    <dt>User Survey</dt>
    <dd>{{survey.question}}</dd>
    <dd>
      <form method="post" action="/community/survey/vote/{{survey.id}}/"><!-- CSRF exempt -->
      <p>
      {%for q in survey.questions%}
      <input type="radio" name="answer" value="{{q.value}}" id="surv_opt_{{q.value}}" /><label for="surv_opt_{{q.value}}">{{q.text}}</label><br />
      {%endfor%}
      </p>
      <p><input id="surveySubmit" type="submit" name="submit" value="Vote" /></p>
      </form>
    </dd>
    <dd><a href="/community/survey/{{survey.id}}-{{survey|slugify}}/">Results</a></dd>
  </dl>
</div>
</div>
{%endif%}

<div id="pgPlanetWrap">
<div id="pgPlanet">
 <dl>
  <dt>Planet PostgreSQL</dt>
  <dd><ul>
   {%for post in planet%}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
   {%endfor%}
  </ul></dd>
  <dd><a href="http://planet.postgresql.org">More</a></dd>
 </dl>
</div>
</div>

{%endblock%}
