h1,
h2,
h3,
h4 {
    color: #000000;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 30px;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

p,
ul,
ol {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
}
p li,
ul li,
ol li {
    list-style-position: inside;
    margin-left: 5px;
}

a {
    color: #3498db;
    text-decoration: underline;
}
