{%extends "news/mail/base.html"%}
{%load pgmarkdown%}
{%block title%}{{news.title}}{%endblock%}

{%block content%}
<table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="width: 100%;">
<tr>
  <td><img style="width: 50px; height: 50px;" height="50" width="50" src="cid:slonik.png@img" alt="PostgreSQL logo"></td>
  <td style="text-align: center;"><h1>{{news.title}}</h1></td>
  <td><img style="width: 50px; height: 50px;" height="50" width="50" src="cid:slonik.png@img" alt="PostgreSQL logo"></td>
</tr>
</table>
{{news.content|markdown}}
{%endblock%}

{%block footer%}
This email was sent to you from the PostgreSQL project.
{%endblock%}
