{% extends "pages/about/press/presskit11/base.html" %}
{% block title %}PostgreSQL 11 Press Kit - Russian{% endblock title %}
{% block presskit_language %}- Russian{% endblock presskit_language %}

{% block presskit_content %}
<p>18 октября 2018 - Всемирная группа разработки PostgreSQL объявила сегодня о
выходе PostgreSQL 11, новейшей версии лидирующей реляционной системы управления
базами данных (СУБД) с открытым исходным кодом.</p>

<p>В PostgreSQL 11 содержится ряд улучшений производительности, при этом некоторые
из них специально направлены на очень большие базы данных с нагрузками,
требующими большого количества вычислений. Кроме этого, в PostgreSQL 11:</p>

<ul>
<li>значительно улучшена система секционирования таблиц,</li>

<li>появились хранимые процедуры, поддерживающие управление транзакциями,</li>

<li>улучшен параллелизм выполнения запросов и появились возможности
параллелизации выполнения DDL-команд,</li>

<li>впервые представлены возможности JIT-компиляции для ускорения обработки
выражений в запросах.</li>
</ul>

<p>«При работе над PostgreSQL 11 наше сообщество разработчиков сфокусировалось на
добалении функций, которые улучшают возможности PostgreSQL по управлению очень
большими базами данных», — говорит Брюс Момджан (Bruce Momjian), <a href="https://www.postgresql.org/developer/core/">член основной
команды</a> <a href="https://www.postgresql.org">Всемирной группы
разработки PostgreSQL</a>. — «PostgreSQL уже
зарекомендовал себя как высокопроизводительная система для транзакционных
нагрузок, теперь же, с появлением PostgreSQL 11, разработчикам становится
ещё проще эксплуатировать и масштабировать приложения класса Big Data».</p>

<p>Используя плоды более чем 20 лет открытой разработки, PostgreSQL сегодня —
система, которую выбирают разработчики во всём мире. Проект продолжает получать
признание в индустрии — недавно PostgreSQL получил звание «СУБД 2017» от проекта
DB-Engines и был отмечен в <a href="https://sdtimes.com/sdtimes-100/2018/best-in-show/database-and-database-management-2018/">SD Times 2018 100</a>.</p>

<p>PostgreSQL 11 — первый базовый релиз со времени выхода PostgreSQL 10 5-го
октября 2017. Следующее обновление PostgreSQL 11, содержащее исправления багов,
будет PostgreSQL 11.1, а следующий базовый релиз, включающий новые возможности,
— PostgreSQL 12.</p>

<h3 id="">Улучшение качества и производительности системы секционирования</h3>

<p>В PostgreSQL 11 добавлена возможность секционирования по хэш-ключу, также
известная как «хэш-секционирование», дополняющая уже существующие
секционирование по списку значений и по интервалу. В PostgreSQL 11 получили
дальнейшее развитие возможности федерации данных с расширением функционала
секций, использующих обёртку сторонних данных <a href="https://www.postgresql.org/docs/current/static/postgres-fdw.html">postgres_fdw</a>.</p>

<p>Для упрощения управления секциями в PostgreSQL 11 вводится понятие «секции по
умолчанию», которая получает данные, не удовлетворяющие условиям ни одной из
секций. Также появилась возможность создавать первичные ключи, внешние ключи,
индексы и триггеры, которые автоматически распространяются на все секции.
И наконец, PostgreSQL 11 поддерживает автоматическое перемещение строк в
соответствующую секцию, когда данные в строке изменяются.</p>

<p>В PostgreSQL 11 улучшена производительность запросов, требующих чтения данных
из секций, за счёт новой стратегии исключения секций. Кроме этого, PostgreSQL 11
поддерживает популярную возможность "upsert" для секционированных таблиц, что
помогает пользователям упрощать код приложений и снижать сетевые издержки при
работе с данными в БД.</p>

<h3 id="-1">Поддержка транзакций в хранимых процедурах</h3>

<p>Возможность создавать функции, определяемые пользователем, существует в
PostgreSQL более 20 лет, но до PostgreSQL 11 в таких функциях невозможно было
управлять транзакциями. В PostgreSQL 11 появилась возможность создавать хранимые
процедуры, внутри которых поддерживается полноценное управление транзакциями,
что позволяет разработчикам создавать более развитые серверные приложения —
например, те, в которых требуется массивная обработка данных.</p>

<p>SQL-процедуры могут быть созданы за счёт использования команды <code>CREATE PROCEDURE</code>,
а вызваны с помощью команды <code>CALL</code>. Поддерживается использование следующих
языков для написания процедур: PL/pgSQL, PL/Perl, PL/Python и PL/Tcl.</p>

<h3 id="-2">Улучшенные возможности параллелизации выполнения запросов</h3>

<p>В PostgreSQL 11 улучшена производительность параллельного выполнения запросов
за счёт улучшений производительности параллельного сканирования таблиц и
параллельного выполнения соединения по хэшу, а также более эффективно
производится сканирование секционированных данных. PostgreSQL теперь может
исполнять запросы SELECT, использующие <code>UNION</code>, в параллельном режиме, если
нижележащие запросы невозможно было распараллелить.</p>

<p>В PostgreSQL 11 добавлена поддержка параллелизма для нескольких DDL-команд, в
частности, такую поддержку получило создание btree-индексов, осуществляемое
при выполненнии стандартных команд <code>CREATE INDEX</code>. Несколько DDL-команд, которые
создают таблицы или материализованные представления на основе выполнения
запросов, теперь тоже поддерживают паралеллизацию — среди них <code>CREATE TABLE .. AS</code>,
<code>SELECT INTO</code> и <code>CREATE MATERIALIZED VIEW</code>.</p>

<h3 id="jitjustintime">JIT-компиляция (Just-in-Time) для выражений</h3>

<p>В PostgreSQL 11 появилась поддержка JIT-компиляции (Just-In-Time) для ускорения
некоторых определённых выражений во время исполнения запросов. JIT-компиляция
выражения для PostgreSQL использует проект LLVM, чтобы ускорять выполнение
выражений в предложении WHERE, целевых списках, агрегатах, проекциях, а также
в некоторых внутренних операциях.</p>

<p>Чтобы воспользоваться преимуществами JIT-компиляции, необходимо установить
зависимости LLVM и включить поддержку JIT-компиляции либо в конфигурационном
файле PostgreSQL (<code>jit = on</code>), либо в PostgreSQL-сессии (выполнив <code>SET jit = on</code>).</p>

<h3 id="-3">Различные улучшения для пользователей</h3>

<p>Развитие реляционной СУБД PostgreSQL немыслимо без активной обратной связи со
стороны сообщества пользователей и упорного труда людей, которые создают
PostgreSQL. Ниже приведены некоторые из новых возможностей PostgreSQL 11,
созданных, чтобы улучшить пользователей с системой в целом:</p>

<ul>
<li>Для <code>ALTER TABLE .. ADD COLUMN .. DEFAULT ..</code> со значением по умолчанию, не
являющимся <code>NULL</code>, теперь не производится полное обновление таблицы, что
даёт чрезвычайное ускорение выполнения данной команды для больших таблиц.</li>

<li>«Покрывающие индексы», позволяющие пользователю добавлять столбцы в
определение индекса с помощью использования  предложения <code>INCLUDE</code>, что помогает
получать «сканирование только индекса» (index-only scans) в планах запросов —
отметим, что так можно включать в индекс столбцы с типами данных, для которых
нет поддержки btree-индексирования.</li>

<li>Дополнительные возможности для работы с оконными функциями, включая поддержку
<code>RANGE</code> при использовании <code>PRECEDING</code>/<code>FOLLOWING</code>, <code>GROUPS</code> и исключения фреймов.</li>

<li>Чтобы выйти из инструмента командной строки PostgreSQL (psql) теперь можно
использовать ключевые слова <code>quit</code> и <code>exit</code>.</li>
</ul>

<p>Полный <a href="https://www.postgresql.org/docs/11/static/release-11.html">список новых возможностей</a>,
включённых в данный релиз, можно найти по ссылке (англ.):</p>

<p><a href="https://www.postgresql.org/docs/11/static/release-11.html">https://www.postgresql.org/docs/11/static/release-11.html</a></p>
{% endblock presskit_content %}

{% block presskit_about %}
<h2 id="postgresql">О PostgreSQL</h2>

<p><a href="https://www.postgresql.org">PostgreSQL</a> является ведущей СУБД с открытыми
исходными текстами, с глобальным сообществом из тысяч пользователей и
разработчиков, объединяющим множество компаний и организаций. Проект PostgreSQL
базируется на более чем 30-летнем опыте проектирования и разработки, начавшихся
в Калифорнийском университете Беркли, и в настоящее время продолжает развиваться
беспрецедентными темпами. Богатый набор возможностей PostgreSQL не только не
уступает ведущим коммерческим СУБД, но и превосходит их развитой
функциональностью, расширяемостью, безопасностью и стабильностью. Чтобы получить
дополнительную информацию о PostgreSQL и участвовать в жизни нашего сообщества,
посетите сайт <a href="https://www.postgresql.org">PostgreSQL.org</a>.</p>
{% endblock presskit_about %}
