{%extends "admin/base.html"%}
{%block branding%}Welcome to the PostgreSQL website administration site | <strong><a href="/admin/pending/">Pending</a></strong> moderation | <strong><a href="/admin/purge/">Purge</a></strong> from frontend{%endblock%}

{%block extrahead%}
<link rel="stylesheet" href="/media/css/jquery-ui.css" type="text/css">
<link href="/media/selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/selectable/js/jquery.dj.selectable.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/admin_pgweb.css">
{%endblock%}
