{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/css/showdown_preview.css" />
<script type="text/javascript" src="/media/showdown/showdown.js"></script>
<script type="text/javascript" src="/media/js/showdown_preview.js"></script>
<script type="text/javascript" src="/media/js/admin_pgweb.js"></script>
{%endblock%}

{%block form_top%}
{%if original.is_approved%}
<div class="module aligned">
  <h2 class="moderror">This {{opts.verbose_name}} has already been approved! Be very careful with editing!</h2>
</div>
{%endif%}
<p>
  <a href="/admin/_moderate/{{opts.model_name}}/{{original.pk}}/" class="button">Moderate this {{opts.verbose_name}}</a>
</p>
{%endblock%}

{% block after_field_sets %}
<p>
  <a href="/admin/_moderate/{{opts.model_name}}/{{original.pk}}/" class="button">Moderate this {{opts.verbose_name}}</a>
</p>
{%if original.is_approved%}

<div class="module aligned">
  <h2 class="moderror">This {{opts.verbose_name}} has already been approved! Be very careful with editing!</h2>
</div>
{%endif%}
{% endblock %}
