{%extends "base/page.html"%}
{%block title%}PostgreSQL 9.1 Press Kit{%endblock%}
{%block contents%}

<h1>Δελτίο Τύπου για την PostgreSQL 9.1</h1>

<h2>Contents</h2>
  

<p>
 &nbsp; <a href="#original_release">Κείμενο Αρχικής Έκδοσης</a><br />
 &nbsp; <a href="#features">Λίστα Χαρακτηριστικών</a><br />
 &nbsp; <a href="#anniversary">25 Years of Database Innovation</a><br /> 
 &nbsp; <a href="#download">Τοποθεσίες Λήψης</a><br />
 &nbsp; <a href="#docs">Τεκμηρίωση</a><br />
 &nbsp; <a href="#license">Άδεια χρήσης</a><br />
 &nbsp; <a href="#contact">Επικοινωνία</a><br />
 &nbsp; <a href="#quoted_companies"> Πλήρες Κείμενο Ρήσεων και Εταιρικά Στοιχεία</a><br />
 &nbsp; <a href="#companies">Εταιρική Υποστήριξη</a><br />
</p>

<a name="original_release"></a><h2>Πρωτότυπο Δελτίο Τύπου</h2>
<p>
<b>12 Σεπτεμβρίου 2011:</b> 
Η Ομάδα Ανάπτυξης PostgreSQL (PostgreSQL Global Development Group) ανακοινώνει την έκδοση 9.1.
Αυτή η έκδοση της πρωτοπόρου ανοιχτού κώδικα σχεσιακής
βάσης δεδομένων προσφέρει  πρωτοποριακή τεχνολογία, ασύγκριτη επεκτασιμότητα και νέα χαρακτηριστικά,
 όπως σύγχρονο replication, K-Nearest Neighbor indexing, και  wrappers για εξωτερικές πηγές δεδομένων.
</p><p>
«Η PostgreSQL 9.1 προσφέρει μερικές από τις πιο προηγμένες δυνατότητες  για επιχειρησιακό λογισμικό συγκριτικά με οποιαδήποτε 
βάση δεδομένων ανοικτού κώδικα και υποστηρίζεται από μια δυναμική και καινοτόμο κοινότητα με αποδεδειγμένη επιτυχία στη βάση των πελατών. 
Η PostgreSQL κατέχει καλή θέση και όσο αφορά τη δημιουργία και εκτέλεση εφαρμογών στο cloud», δήλωσε ο Αντιπρόεδρος R&amp;D της Vmware  Charles Fan.
</p><p>

<h3>Απαντώντας σε Χρήστες</h3>
<p>
Η Έκδοση 9.1 διαθέτει αρκετά χαρακτηριστικά τα οποία οι χρήστες έχουν ζητήσει τα προηγούμενα χρόνια, 
αίροντας φραγμούς στην ανάπτυξη ή μεταφορά  εφαρμογών  σε PostgreSQL.
Στα χαρακτηριστικά περιλαμβάνονται:
</p><ul>
<li><b>Σύγχρονο Replication</b>: 
Επιτρέπει υψηλή διαθεσιμότητα (high-availability) με ταυτόχρονη εγγύηση ακεραιότητας δεδομένων  πάνω από πολλαπλούς κόμβους</li>
<li><b>Per-Column Collations</b>: Υποστήριξη για γλωσσικά-σωστή ταξινόμηση ανά βάση δεδομένων, πίνακα ή στήλη.</li>
<li><b>Unlogged Tables</b>: Βελτιώνει σε μεγάλο βαθμό την απόδοση χρησης προσωρινων δεδομένων.</li>
</ul><p>
«Η Heroku τρέχει τη μεγαλύτερη εγκατάσταση PostgreSQL ως υπηρεσία στον κόσμο» είπε ο James Lindenbaum, συνιδρυτής  της Heroku.
«Η δυνατοτητα συγχρονου data replication της 9.1 παρέχει στους πελάτες μας νέους καινοτόμους τρόπους για την προστασία κρίσιμων δεδομένων 
και  πιστοποιεί ότι η PostgreSQL είναι μία από της ταχύτερα εξελισσόμενες βάσεις δεδομένων»
</p>


<h3>Advancing the State of the Art</h3>
<p>
Η κοινότητα των contributors καινοτομεί με πρωτοποριακές λειτουργίες. Η Έκδοση 9.1
περιλαμβάνει πολλά χαρακτηριστικά τα οποία είναι νέα γενικά για όλη την βιομηχανία βάσεων δεδομένων, όπως:
</p><ul>
<li><b>K-Nearest-Neighbor Indexing</b>: index στην «αποσταση» για ταχιτερο εντοπισμο και ερωτηματα αναζήτησης κειμενου.</li>
<li><b>Serializable Snapshot Isolation </b>: Διατηρεί  ταυτόχρονα transactions   χωρίς κλείδωμα, με χρήση  της τεχνικης «true serializability»</li>
<li><b>Writeable Common Table Expressions </b>: Εκτέλεση πολύπλοκων και σε πολλαπλά στάδια  ερωτηματων αλαγης δεδομενων σε ενα ερωτημα (With clause) </li>
<li><b>Ενισχυση ασφάλειας </b>: ανάπτυξη στρατιωτικών προδιαγραφών ασφάλειας και Υποχρεωτικός  Έλεγχος Πρόσβασης </li>
</ul><p>
«Η OpenERP πάντα βασίζονταν στα επιχειρησιακής κλάσης χαρακτηριστικά της PostgreSQL ώστε να παρέχει μία γρήγορη, αξιόπιστη και επεκτάσιμη βάση για τις Επιχειρησιακές 
Εφαρμογές οι οποίες υποστηρίζουν τις διαδικασίες των πελατών μας σε καθημερινή βάση. Η ακεραιότητα των δεδομένων σε υψηλά concurrent και transactional
 πλαίσια είναι ένα κρίσιμο θέμα για εμάς, και είμαστε πολύ ενθουσιασμένοι σχετικά με τη νέα δυνατότητα Serializable Snapshot Isolation της PosgtreSQL 9.1!»
δήλωσε ο Olivier Dony,  Community Manager της OpenERP.


</p>
<h3>Επεκτινοντας την  Database Engine</h3>
<p>

Η δυνατότητα  για Επεκτασιμότητα της PostgreSQL επιτρέπει στους χρήστες να προσθέτουν νέες λειτουργίες σε βάσεις δεδομένων παραγωγής, και να τις χρησιμοποιούν για  εργασίες που
άλλα συστήματα βάσεων δεδομένων δεν μπορούν να ανταπεξέλθουν. Η Έκδοση 9.1 προσθέτει νέα εργαλεία επεκτασιμότητας, συμπεριλαμβανομένων:
</p><ul>
<li><b>Foreign Data Wrappers</b>: σύνδεση και ερωτήματα σε άλλες βάσεις δεδομένων από την PostgreSQL</li>
<li><b>Extensions</b>: ευκολία στην φόρτωση, και διαχείριση νέων λειτουργιών της PostgreSQL</li>
</ul>
Όλα τα παραπάνω χαρακτηριστικά, και πολλά άλλα, είναι καταγεγραμμένα λεπτομερώς στο
<a href="https://wiki.postgresql.org/wiki/What%27s_new_in_PostgreSQL_9.1">What's New In 9.1</a>
καθως και στο  <a href="http://www.postgresql.org/docs/current/static/release-9-1">release notes</a>.
</p><p>
Στο 25ο έτος ανάπτυξης  της PostgreSQL, η κοινότητά μας συνεχίζει να προοδεύει τεχνολογίκα  σε κάθε νεα έκδοση σε ετήσια βάση. Κατεβάστε έκδοση 9.1  τώρα
και αποκτήστε την εμπειρία  χρήσης του πιο προηγμένου συστήματος ανοικτού κώδικα βάσεων δεδομένων στον κόσμο.
</p><p>

<b> Σχετικά με την PostgreSQL</b>: Η PostgreSQL αποτελεί  ένα κορυφαίο σύστημα ανοικτού κώδικα βάσεων δεδομένων, με μια παγκόσμια κοινότητα χιλιάδων χρηστών και contributors καθώς και δεκάδες επιχειρήσεις και οργανισμούς. Το Project PostgreSQL βασίζεται σε 25 χρόνια ανάπτυξης, ξεκινώντας από το Πανεπιστήμιο της Καλιφόρνιας, Berkeley, και έχει σταθερό ρυθμό ανάπτυξης ως σήμερα.  
Το σύνολο ώριμων χαρακτηριστικών της  PostgreSQL οχι μονο ειναι εφάμιλλο δυνατοτήτων με κορυφαία συστήματα proprietary συστημάτων βάσεων δεδομένων, αλά σε πολλές περιπτώσεις υπερβαίνει σε προηγμένα χαρακτηριστικά επεκτασιμότητας, ασφάλειας και σταθερότητας.
Μάθετε περισσότερα για την PostgreSQL και να συμμετέχετε στην κοινότητά μας http://www.postgresql.org.
</p>




<h2>Αναλυτική πληροφόρηση σχετικά με την Έκδοση</h2>
     
    <a name="features"></a><h2>Λεπτομέρειες των χαρακτηριστικών</h2>
     
    <h3>Απαντώντας σε Χρήστες</h3>
    <p>Η Έκδοση 9.1 διαθέτει αρκετά χαρακτηριστικά τα οποία οι χρήστες έχουν ζητήσει τα προηγούμενα χρόνια,
 αίροντας φραγμούς στην ανάπτυξη ή μεταφορά  εφαρμογών  σε PostgreSQL. Μεταξύ αυτών περιλαμβάνονται:
    </p><dl>
    <dt><b>Σύγχρονο Replication for Clustering:</b></dt><dd> 
Επιτρέπει υψηλή διαθεσιμότητα (high-availability) με ταυτόχρονη εγγύηση ακεραιότητας δεδομένων  πάνω από πολλαπλούς κόμβους
με την εγκατάσταση PostgreSQL clusters κάνοντας χρήση  σύγχρονου replication. Το σύγχρονο replication υποστηρίζει την δυνατότητα "2-safe replication", 
ή οποία διασφαλίζει ότι τα transactions έχουν επιβεβαιωθεί από έναν standby
     server σε συνδυασμό με τον master, μειώνοντας σημαντικότατα την πιθανότητα απώλειας δεδομένων. Μόνο η PostgreSQL έχει transaction-level synchronous replication,
    επιτρέποντας στους χρήστες να διαλέξουν ανά transaction μεταξύ χρόνου απόκρισης και ασφάλειας των δεδομένων.</dd>
    <dt><b>Per-column Collations για πολυ-γλωσσικές βάσεις δεδομένων:</b></dt><dd> Οι χρήστες μπορούν τώρα να θέτους το collation για strings σε επίπεδο στήλης. 
Αυτό επιτρέπει πραγματικά πολυ-γλωσσικές βάσεις δεδομένων, όπου κάθε στήλη είναι σε διαφορετική γλώσσα, 
και το indexing και η ταξινόμηση επιτελούνται ορθά για αυτήν τη γλώσσα.</dd>
    <dt><b>Unlogged Πίνακες για τη Βελτίωση της Απόδοσης:</b></dt><dd> Όταν η απόδοση είναι πιο σημαντική από την ανθεκτικότητα (durability),
 οι unlogged πίνακες προσφέρουν έναν τρόπο για την βελτίωση της απόδοσης, οσο η διαχείριση γίνεται μέσα στην PostgreSQL.
 Η απομάκρυνση του logging μειωνει το I/O overhead, επιτρέποντας βελτιώσεις στην απόδοση έως και 10 φορές συγκρινόμενο με logged πίνακες.
 Τα σενάρια στα οποία αναμένεται η χρήση των unlogged πινάκων περιλαμβάνουν web session data, real time logging, ETL και temporary/intermediate πίνάκες για χρήση απο procedural functions.</dd>
    </dl>
    <h3>Advancing the State of the Art</h3>
    <p>
    Η κοινότητά μας είναι καινοτόμα, παραδίδοντας πρωοτποριακά χαρακτηριστικά τα οποία είναι νέα στην βιομηχανία των βάσεων δεδομένων. 
Κάποια από αυτά τα χαρακτηριστικά είναι διαθέσιμα μόνο στην PostgreSQL.
    </p><dl>
    <dt><b>Powerful Similarity Searches with K-Nearest-Neighbor (KNN) Indexing:</b></dt><dd> Δημιουσγείστε νέες εφαρμογές χρησιμοποιώντας KNN-GiST indexes της PostgreSQL,
     προσφέρουν καινοτομικο indexing προς αποφυγή ακριβών table scans. Το KNN εμπλουτίζει τις δυνατότητες query της PostgreSQL με το να χρησιμοποιεί την μαθηματική "απόσταση"
     για indexing και αναζητήσεις. Αυτοί οι δείκτες μπορούν να χρησιμοποιηθούν για να εμπλουτίσουν συνήθεις αναζητήσεις κειμένου, αναζητήσεις text-similarity, geospatial location comparisons
    και άλλα ερωτήματα. Δοκιμαστικές αναζητήσεις που έκαναν 2 δευτερόλεπτα χωρίς το ΚΝΝ index επέστρεψαν σε 20 ms με αυτό το χαρακτηριστικό. Οι text search δείκτες μπορούν τώρα να διαμορφωθούν
  ώστε να προσφέρουν υποστήριξη indexing για LIKE '%string%' ερωτήματα χωρίς να αλλάξει το SQL.  Η PostgreSQL είναι μεταξύ των πρώτων συστημάτων βάσεων δεδομένων που έχουν KNN.</dd>
    <dt><b>Serializable Snapshot Isolation:</b></dt><dd> Επιτρέπει στους χρήστες να επιβάλλουν αυθαιρέτως πολύπλοκους user-defined business rules μέσα στη βάση δεδομένων χωρίς μπλοκάρισμα (*blocking*),
 με το να διαγνώσκει αυτόματα live race conditions στα SQL transactions σε runtime.  Αυτό το χαρακτηριστικό, προς το παρόν, υπάρχει μόνο στην PostgreSQL.</dd>
    <dt><b>Writeable Common Table Expressions (wCTE):</b></dt><dd> Υποστηρίζει τη σχεσιακή ακεραιότητα των δεδομένων σας με το να επιτρέπει την ενημέρωση πολλαπλών, 
cascading, σχετιζόμενων εγγραφών σε μία μόνο εντολή.  Με το να χρησιμοποιείτε τα αποτελέσματα ενός ερωτήματος για να εκτελέσετε ένα άλλο,
 μπορείτε να κάνετε ενημερώσεις αναδρομικές, ιεραρχικές, πάνω από ξένα κλειδιά, ή ακόμα πιο δημιουργικά. 
Η PostgreSQL προσφέρει την πιο πλήρη και ευέλικτη υλοποίηση αυτού του SQL χαρακτηριστικού.</dd>
    <dt><b>Security-Enhanced Postgres (SE-Postgres):</b></dt><dd> Εγκαταστήστες military-grade ασφάλεια και υποχρεωτικό έλεγχο πρόσβασης με υποστήριξη για full-integration 
για Security-Enhanced Linux (SE-Linux). Το SE-Linux είναι ένα NSA project το οποίο μεταβάλει τον πυρήνα του linux με security-related functions. 
Υποστηρίζεται από και περιλαμβάνεται σε σημαντικές διανομές του linux περιλαμβάνοντας, μεταξύ άλλων,τις Red Hat, CentOS, Debian and Ubuntu. 
Η PostgreSQL είναι το μόνο σύστημα βάσεων δεδομένων που έχει στενό integration με το SE-Linux.</dd>



 <h3>Επεκτείνοντας την Database Engine</h3>
   <p> Η επεκτασιμοτητα της PostgreSQL επιτρέπει στους χρήστες να προσθέτουν νέα λειτουργικότητα σε μία βάση δεδομένων παραγωγής ενω τρέχει,
   και να χρησιμοποιήσουν αυτή τη λειτουργικότητα για δουλειές που κανένα άλλο σύστημα βάσεων δεδομένων δεν μπορεί να εκτελέσει.
    Η έκδοση 9.1 πορσθέτει νέα κρίσιμα χαρακτηριστικά σχετικά με την επεκτασιμότητα, που περιλαμβάνουν:
  </p><dl>
  <dt><b>Foreign Data Wrappers (FDW):</b></dt><dd> Ως μέρος της standards-compliant SQL/MED υποστήριξής μας για την αναζήτηση δεδομένων που βρίσκονται έξω από την βάση δεδομένων PostgreSQL,
 τα FDWs επιτρέπουν στους χρήστες να δημιουργήσουν "drivers" και να προσαρτήσουν εξωτερικές πηγές δεδομένων, οι οποίες μπορούν να χρησιμοποιηθούν ως read-only πίνακες.  
  Τα FDWs κάνουν την PostgreSQL ένα δυναμικό εργαλείο για την ενοποίηση enterprise δεδομένων, και κάνουν το migration ευκολότερο.  
 Τα FDWs που είναι αρχικώς διαθέσιμα από την κοινότητα περιλαμβάνουν comma-separated-value (CSV) αρχεία, Oracle, MySQL, CouchDB, ακόμα και Twitter πηγές.  
 Και πολύ περισσότερα αναμένονται στο άμεσο μέλλον.</dd>
 <dt><b>Επεκτάσεις:</b></dt><dd> Ενώ η PostgreSQL πάντα ήταν επεκτάσιμη, τώρα οι χρήστες μπορούν εύκολα να δημιουργήσουν, φορτώσουν, αναβαθμίσουν, και 
να διαχειριστούν οποιαδήποτε από τις δεκάδες των επεκτάσεων χρησιμοποιώντας το EXTENSION database object. 
 Το νέα site PGXN.org προσφέρει ένα αποθετήριο για να συνεισφέρετε και να κατεβάσετε επεκτάσεις.</dd>
 </dl>
 <p>



    <a name="anniversary"></a><h2>25 Χρόνια Καινοτομίας στις Δάσεις Δεδομένων</a></h2>
    <p>
 Το POSTGRES project εγκαινιάστηκε στο University of California, Berkeley, τον Ιούνιο του 1986 με τη δημοσίευση του αρχικού POSTGRES σχεδιασμού από τους Lawrence A. Rowe και Michael R. Stonebraker. 
 Στα 25 χρόνια που μεσολάβησαν, η POSTGRES έγινε ένα έργο ανοικτού κώδικα, μετατράπηκε ώστε να χρησιμοποιεί την SQL,
 άλλαξε το όνομά της σε PostgreSQL, και έγινε μία από τις κορυφαίες σχεσιακές βάσεις δεδομένων.
 Σήμερα, η κοινότητά μας ανταγωνίζεται μερικές από τις μεγαλύτερες εταιρείες λογισμικού στον κόσμο για να προσφέρει νέας λειτουργικότητα και καλύτερη απόδοση.
    </p><p>
    Έχουν υπάρξει 23 εκδόσεις στην POSTGRES και στην PostgreSQL, περιλαμβάνοντας την έκδοση 9.1.
  Η PostgreSQL είναι το μόνο μείζον SQL σύστημα βάσεων δεδομένων που έχει συνεπείς, γεμάτες με νέα χαρακτηριστικά εκδόσεις κάθε χρόνο.
    </p>









<a name="download"></a><h2>Downloads</h2>
<ul>
<li><a href="/download">Downloads page</a>, με συνδέσμους προς προγράμματα εγκατάστασης και εργαλεία.</li>
<li><a href="/ftp/source/v9.1.0">Πηγαίος Κώδικας</a></li>
<li><a href="/download/windows">Προγράμματα εγκατάστασης για Windows</a></li>
<li><a href="/download/linux">Προγράμματα εγκατάστασης για Linux</a> και αποθετήρια πακέτων</li>
<li><a href="/download/solaris">Πακέτα Solaris</a></li>
<li><a href="/download/macosx">Προγράμματα εγκατάστασης για Mac OSX</a></li>
<li><a href="/download/freebsd">Πακέτα FreeBSD</a></li>
<li><a href="http://pgxn.org">PostgreSQL Extension Network</a></li>
<li><a href="http://www.pgfoundry.org">Προαιρετικά Components και Add-Ons</a></li>
<li><a href="http://www.postgresql.org/download/product-categories">Σχετικό και Εμπορικό Λογισμικό</a></li>
</ul>






<a name="docs"></a><h2>Τεκμηρίωση</h2>

<p>
Τεκμηρίωση HTML και σελίδες man εγκαθίστανται μαζί με την PostgreSQL, αλλά μπορείτε να περιηγηθείτε, να αναζητήσετε και να σχολιάσετε την εκτεταμένη, διαδραστική
<a href="/docs/9.1/interactive">online τεκμηρίωση</a>.
</p>







<a name="license"></a>
<h2>Άδεια χρήσης</h2>
</p><p>
Η PostgreSQL χρησιμοποιεί την <a href="/about/licence">άδεια χρήσης PostgreSQL</a>, μια παρόμοια με BSD άδεια που προϋποθέτει μόνο τη διατήρηση των στοιχείων πνευματικών δεδομένων<br />
και άδειας χρήσης του πηγαίου κώδικα που αφορά.<br />
Αυτή η <a href="http://www.opensource.org/licenses/postgresql">πιστοποιημένη κατά OSI άδεια χρήσης</a>  αξιολογείται ευρέος ως ευέλικτη και φιλική προς τις επιχειρήσεις,<br />
καθώς δεν περιορίζει τη χρήση της PostgreSQL με εμπορικές και αποκλειστικές εφαρμογές. Μαζί με την υποστήριξη πολλών εταιριών και τη δημόσια ιδιοκτησία του κώδικα, η άδεια χρήσης BSD<br />
καθιστά την PostgreSQL πολύ δημοφιλή στους προμηθευτές που θέλουν να ενσωματώσουν μια βάση δεδομένων στο δικό τους προϊόν χωρίς να φοβούνται τις χρεώσεις, το  vendor lock-in<br />
ή τις αλλαγές στους όρους της Άδειας χρήσης.
</p>



<a name="contact"></a><h2>Επικοινωνία</h2>

<p>Web Pages</p>
<ul>
<li><a href="http://www.postgresql.org">Αρχική σελίδα PostgreSQL</a></li>
</ul>


<p>Πληροφορίες:<br />
Κωστας Μαϊστρέλης<br />
Τοπικός εκπρόσωπος επικοινωνίας της PostgreSQL<br />
Κινητό: +306946071060<br />
<a href="mailto:el@postgresql.org">el@postgresql.org</a></p>
<p>Για επικοινωνία με άλλες περιοχές, δείτε <a href="/about/press/contact">τη λίστα μας με τις διεθνείς επαφές.</a></p>


<a name="quoted_companies"></a><h2>Πλήρη κείμενα ρήσεων και εταιρικά στοιχεία</h2>
<p><i>
«Η PostgreSQL 9.1 προσφέρει μερικές από τις πιο προηγμένες δυνατότητες  για επιχειρησιακό λογισμικό συγκριτικά με οποιαδήποτε 
βάση δεδομένων ανοικτού κώδικα και υποστηρίζεται από μια δυναμική και καινοτόμο κοινότητα με αποδεδειγμένη επιτυχία στη βάση των πελατών. 
Η PostgreSQL κατέχει καλή θέση και όσο αφορά τη δημιουργία και εκτέλεση εφαρμογών στο cloud», δήλωσε ο Αντιπρόεδρος R&amp;D της Vmware  Charles Fan.
</i>
</p><p>
<b>Σχετικά με το VMWare:</b> <a href="http://vmware.com">VMware</a> (NYSE:VMW), ο παγκόσμιος ηγέτης στο virtualization και την υποδομή του cloud, 
παραδίδει λύσεις customer-proven οι οποίες επιταχύνουν την Πληροφορική Τεχνολογία μειώνοντας τη πολυπλοκότητα και δίνοντας τη δυνατότητα για πιο ευέλικτη,
παράδοση agile υπηρεσιών. Η VMWare δίνει τη δυνατότητα στις επιχειρήσεις να υιοθετήσουν ένα cloud μοντέλο το οποίο να ανταποκρίνεται στις δικές τους μοναδικές
 επιχειρησιακές απαιτήσεις. Η προσέγγιση της VMWare επιταχύνει τη μετάβαση στο cloud computing ενώ παράλληλα διατηρεί τις ήδη υπάρχουσες επενδύσεις και βελτιώνει
 την ασφάλεια και τον έλεγχο. Με περισσότερους από 250.000 πελάτες και 25.000 συνεργάτες, οι λύσεις της VMWare βοηθούν οργανισμούς όλων των μεγεθών να μειώνουν τα κόστη, 
να αυξάνουν την επιχειρησιακή ευελιξία και να εξασφαλίζουν ελευθερία επιλογής.
 Επικοινωνία: <a href="mailto:prinquiries@vmware.com">VMWare PR</a> ή τηλέφωνο +1 (650) 427-2485
</p><p>
<i>«Η Heroku τρέχει τη μεγαλύτερη εγκατάσταση PostgreSQL ως υπηρεσία στον κόσμο,"</i> είπε ο James Lindenbaum, συνιδρυτής  της Heroku.
<i>"Η δυνατοτητα συγχρονου data replication της 9.1 παρέχει στους πελάτες μας νέους καινοτόμους τρόπους για την προστασία κρίσιμων δεδομένων 
και  πιστοποιεί ότι η PostgreSQL είναι μία από της ταχύτερα εξελισσόμενες βάσεις δεδομένων»</i>
</p><p>
<b>Σχετικά με τη Heroku:</b> Η <a href="http://www.heroku.com">Heroku</a> είναι η προπορευόμενη ανοιχτή platform as a service (PaaS) 
η οποία εστιάζει στην ευκολία χρήσης, τον αυτοματισμό, και την αξιοπιστία. Με την έδρα της στο San Francisco, CA, η Heroku είναι παθιασμένη με, αλλά και ενεργή υποστηρικτής των
τεχνολογιών Ruby και της αρχιτεκτονικής cloud. Η Heroku πρόσφατα μπήκε στη λίστα "Dow Jones FASTech 50
 Start-ups to Watch", αναγνωρίστηκε ως Gartner "Cool Vendor in Application Platforms as a Service" τον Απρίλιο του 2010, μπήκε στις Always
 OnDemand Top 100 Private Companies, και αναγνωρίστηκε ως μία των "Best Products of 2009" και των "Best Platform of 2010" από το ReadWriteWeb. 
Τον Απρίλιο του 2011, η Heroku ονομάστηκε #2 στην ετήσια λίστα "Best Places to Work" στη Bay Area από τους San Francisco Business Times. Για περισσότερες πληροφορίες, 
παρακαλώ επισκεφτείτε <a href="http://www.heroku.com">την ιστοσελίδα μας</a> και <a href="http://blog.heroku.com">το blog mας</a> 
ή ακολουθήστε τη <a href="http://twitter.com/heroku">Heroku στο Twitter</a>. Η Heroku είναι μία πλήρως κύρια θυγατρική του salesforce.com.
 Επικοινωνία: <a href="mailto:jill@blackswansmedia.com">Jill Ratkevic</a>
</p><p>
<i>"Η OpenERP πάντα βασίζονταν στα επιχειρησιακής κλάσης χαρακτηριστικά της PostgreSQL ώστε να παρέχει μία γρήγορη, αξιόπιστη και επεκτάσιμη βάση για τις Επιχειρησιακές Εφαρμογές οι
 οποίες υποστηρίζουν τις διαδικασίες των πελατών μας σε καθημερινή βάση. Η ακεραιότητα των δεδομένων σε υψηλά concurrent και transactional
 πλαίσια είναι ένα κρίσιμο θέμα για εμάς, και είμαστε πολύ ενθουσιασμένοι σχετικά με τη νέα Serializable Snapshot Isolation της PosgtreSQL 9.1!
 Το σύγχρονο replication και οι περισσότερες βελτιστοποιήσεις απόδοσης είναι δύο ακόμα λόγοι για τους οποίους ανυπομονούμε για την επόμενη έκδοση της PostgreSQL, 
πραγματικά την επιτομή του Open Source software,"</i> είπε ο Olivier Dony,  Community Manager της OpenERP.
</p><p>
<b>Σχετικά με την OpenERP: Η</b> <a href="http://www.openerp.com">OpenERP S.A.</a> είναι η εκδότης της OpenERP, μίας περιεκτικής Open Source Business Application Suite,
 η οποία συμπεριλαμβάνει CRM, Πωλήσεις, Λογιστικά, Διαχείριση Έργων, Διαχείριση Αποθήκης, Κατασκευές, Ανθρώπινους Πόρους, και άλλα. Η OpenERP που ιδρύθηκε το 2005
 από τον CEO Fabien Pinckaers, εξελίσσεται σε ένα μοναδικό οικοσύστημα το οποίο συνδυάζει τα στοιχεία της κοινότητάς της, του δικτύου συνεργατών της. Η κοινότητα 
(1500 ενεργά μέλη ως τον Αύγουστο του 2011) συνεισφέρει καθημερινά στον εμπλουτισμό της OpenERP. Το δίκτυο συνεργατών,
 καθιερωμένο σε περισσότερες από 65 χώρες, επεκτείνει τη λύση τοπικά. 
Επίσης, διαθέσιμη ως online service (SaaS), η OpenERP είναι μία από τις περισσότερο εγκατεστημένες business suites παγκοσμίως (1,000 downloads/ημέρα).
 Επικοινωνία Media: <a href="mailto:press@openerp.com">Nicoleta Gherlea</a> +32-2-290-34-90
</p>

<a name="companies"></a><h2>Εταιρική Υποστήριξη</h2>



<p>
Η PostgreSQL χαίρει την υποστήριξη πολλών εταιριών, οι οποίες επιχορηγούν προγραμματιστές, προσφέρουν πόρους φιλοξενίας και παρέχουν οικονομική υποστήριξη.
Οι μεγαλύτεροι και μακροβιότεροι χορηγοί μας καταγράφονται<a href="/about/sponsors">στη σελίδα χορηγών ανάπτυξης.</a></p>

<p>Υπάρχει επίσης μια μεγάλη κοινότητα<a href="/support/professional_support">εταιριών που προσφέρουν Υποστήριξη στην PostgreSQL</a>, 
από μεμονωμένους συμβούλους μέχρι πολυεθνικές εταιρίες.</p>

<p><a href="/about/donate">Δωρεές</a> γίνονται ευχαρίστως δεκτές.</p>



{%endblock%}
