{%extends "base/page.html"%}
{%block title%}PostgreSQL 9.1 Press Kit{%endblock%}
{%block contents%}

<h1>PostgreSQL 9.1 Press Kit</h1>

<h2>Conţinut</h2>

<p>
 &nbsp; <a href="#original_release">Comunicatul de presă</a><br />
 &nbsp; <a href="#features">Detalii despre noile funcţionalităţi</a><br />
 &nbsp; <a href="#anniversary">25 ani de inovaţii in domeniul bazelor de date</a><br /> 
 &nbsp; <a href="#download">Download</a><br />
 &nbsp; <a href="#docs">Documentaţie</a><br />
 &nbsp; <a href="#license">Licenţa</a><br />
 &nbsp; <a href="#contact">Date de contact</a><br />
 &nbsp; <a href="#quoted_companies">Textul complet şi original al citatelor</a><br />
 &nbsp; <a href="#companies">Suport corporate</a><br />
</p>

<a name="original_release"></a><h2>Comunicatul de presă</h2>
<p>
<b>12 SEPTEMBRIE 2011:</b> PostgreSQL Global Development Group anunţă lansarea PostgreSQL 9.1.  Această ultimă versiune oferă tehnologii inovative, extensibilitate fără egal, precum şi facilităţi noi : replicare sincronă, indexare de tip K-Nearest Neighbor şi wrappere pentru surse externe de date.  
</p><p>
"PostgreSQL 9.1 oferă unele dintre cele mai avansate capabilităţi dintre bazele de date open source , avînd în spate o comunitate activă şi inovativă.  PostgreSQL este bine poziţionat pentru construirea şi rularea de aplicaţii cloud," a declarat Charles Fan, Sr. VP R&amp;D, VMware.
</p>
<h3>Îndeplinirea cerinţelor venite de la utilizatori</h3>
<p>
Versiunea 9.1 introduce o serie de facilităţi cerute de mult timp de către utilizatori, îndepărtînd astfel unele obstacole care împiedicau pînă acum implementarea anumitor aplicaţii noi sau portate la PostgreSQL.  Noile facilităţi sînt:
</p><ul>
<li><b>Replicare Sincronă</b>: permite obţinerea unui grad înalt de disponibilitate prin utilizarea mai mai multor servere sincronizate</li>
<li><b>Collations la nivel de coloană</b>: permite sortare corectă din punct de veder lingvistic la nivel de bază de date, tabelă sau coloană.</li>
<li><b>Tabele ne-logate</b>: îmbunătăţeşte semnificativ performanţele pentru tabelele care conţin date efemere</li>
</ul><p>
"Heroku întreţine cel mai mare serviciu de tip database-as-a-service PostgreSQL din lume," a spus James Lindenbaum, con-fondator al Heroku . "Sincronizarea sincronă a datelor introdusă de versiunea 9.1 le oferă clienţilor noştri noi modalităţi de protejare a datelor cu caracter critic, şi validează PostgreSQL ca fiind unul dintre cele mai importante dintre modalităţile de stocare a datelor existente."
</p>
<h3>Inovaţii</h3>
<p>
Comunitatea noastră a introdus inovaţii de ultimă oră. PostgreSQL 9.1 include o serie de facilităţi noi în domeniul bazelor de date :
</p><ul>
<li><b>K-Nearest-Neighbor Indexing</b>: indexare după "distanţă" pentru a rapidiza cererile de tip text şi localizare</li>
<li><b>Serializable Snapshot Isolation</b>: menţine consistenţa tranzacţiilor concurente fără a recurge la blocare, folosind  "serializabilitatea reală"</li>
<li><b>Writeable Common Table Expressions</b>: execuţia update-urilor complexe multi-stage într-un singur query</li>
<li><b>Security-Enhanced Postgres</b>: permite implementarea securităţii de nivel militar şi Mandatory Access Control</li>
</ul><p>
"OpenERP s-a bazat dintotdeauna pe facilităţile de nivel enterprise ale PostgreSQL ca fundaţie rapidă, robustă şi scalabilă a aplicaţiilor business capabile să deservească operaţiunile zilnice ale clienţilor noştri. Integritatea datelor într-un mediu concurent şi tranzacţional este un element critic pentru noi, motiv pentru care sîntem foarte entuziasmaţi de noua facilitate Serializable Snapshot Isolation cu care vine  PostgreSQL 9.1!"  a spus Olivier Dony, OpenERP Community Manager.
</p>
<h3>Extinderea motorului bazei de date</h3>
<p>
Extensibilitatea PostgreSQL-ului constă în posibilitatea de a adăuga noi funcţionalităţi bazelor de date deja aflate în funcţiune.  Versiunea 9.1 aduce noi unelte de extindere, cum sînt:
</p><ul>
<li><b>Foreign Data Wrappers</b>: posibilitatea de a realiza legături cu alte baze de date, putîndu-le accesa prin cereri SQL din PostgreSQL</li>
<li><b>Extensions</b>: crearea, încărcarea şi gestionarea uşoară a funcţionalităţilor suplimentare ale bazei de date</li>
</ul>
Toate facilităţile menţionate mai sus, precum şi altele, sînt detaliate în pagina <a href="https://wiki.postgresql.org/wiki/What%27s_new_in_PostgreSQL_9.1">What's New In 9.1</a> şi în <a href="/docs/current/static/release-9-1">release notes</a>.
</p><p>
În cei 25 ani de existenţă a PostgreSQL, fiecare nouă versiune a introdus tehnologii noi. Descărcaţi PostgreSQL 9.1 şi faceţi cunoştinţă cu cel mai avansat sistem de baze de date open source din lume.
</p><p>
<b>Despre PostgreSQL</b>: PostgreSQL este sistemul de baze de date open source de referinţă, avînd o comunitate formată din mii de utilizatori şi contributori, precum şi numeroase companii şi organizaţii.  Proiectul PostgreSQL are în spate o muncă de 25 de ani, originea sa fiind la University of California, Berkeley. În ziua de astăzi nu are egal în ceea ce priveşte ritmul în care se desfăşoară dezvoltarea. Setul matur de fucţionalităţi ale PostgreSQL nu numai că este la acelaşi nivel cu sistemele de baze de date comerciale de top, ci chiar le depăşeşte prin facilităţi, extensibilitate, securitate şi stabilitate.  Puteţi afla mai multe despre PostgreSQL accesînd <a href="https://www.postgresql.org">https://www.postgresql.org</a>.
</p>

<h2>Informaţii suplimentare</h2>

<a name="features"></a><h2>Detalii despre noile funcţionalităţi</h2>

<h3>Îndeplinirea cerinţelor venite de la utilizatori</h3>
<p>
Versiunea 9.1 introduce o serie facilităţi cerute de mult timp de către utilizatori, îndepărtînd astfel unele obstacole care stăteau în calea implementării anumitor aplicaţii noi sau portării lor la PostgreSQL.  Noile facilităţi sînt:
</p><dl>
<dt><b>Replicare Sincronă:</b></dt><dd> Permite obţinearea unui grad înalt de disponibilitate prin instalarea de clustere PostgreSQL sincronizate între ele în mod sincron. Replicarea sincronă suportă aşa numita "2-safe replication" care garantează că tranzacţiile sînt confirmate de către serverul standby, ceea ce limitează riscul unor eventuale pierderi de date. PostgreSQL este singurul care oferă replicare sincronă la nivel de tranzacţie, ceea ce permite utilizatorilor să aleagă pentru fiecare tranzacţie în parte între viteza de răspuns şi siguranţa datelor.</dd>
<dt><b>Collations la nivel de coloană:</b></dt><dd> Utilizatorii pot acum preciza collation-ul pentru fiecare coloană în parte. Aceasta permite bazei de date să suporte cu adevărat mai multe limbi simultan, adică este posibil ca fiecare coloană text să aibă setată o altă limbă - iar indecşii şi sortările să fie efectuate corect conform fiecărei limbi.</dd>
<dt><b>Tabele ne-logate:</b></dt><dd> Atunci cînd viteza este mai importantă decît siguranţa datelor, tablele ne-logate oferă posibilitatea de a mari performanţele păstrînd datele în PostgreSQL. Renunţarea la logare reduce volumul I/O , obţinîndu-se timpi de răspuns cu pînă la 10 ori mai mici. Tabelele ne-logate pot fi folosite de exemplu pentru a memora date efemere cum sînt cele corespunzătoare sesiunilor web, mesaje de log în timp real, ETL sau tabele ce conţin date temporare.</dd>
</dl>
<h3>Inovaţii</h3>
<p>
Comunitatea noastră a introdus inovaţii de ultimă oră. O parte dintre facilităţile prezentate mai jos sînt disponibile numai în PostgreSQL.
</p><dl>
<dt><b>K-Nearest-Neighbor (KNN) Indexing:</b></dt><dd> Noua metodă de indexare KNN-GiST permite parcurgerea costisitoare a taelelor. KNN extinde capabilităţile PostgreSQL prin utilizarea "distanţei matematice" pentru indexare şi căutări. Aceşti indecşi pot fi folosiţi pentru căutări text, căutări după similaritatea valorilor text, comparaţii geospaţiale şi nu numai. De exemplu există cazuri în care o cerere care înainte dura 2 secunde se execută acum in 20 milisecunde. Indecşii definiţi pe coloane text pot fi configuraţi să fie utilizabili şi pentru cererile de tip LIKE '%string%' , fără nici un fel de modificări ale cererilor SQL.  PostgreSQL este printre primele sisteme de baze de date care au KNN.</dd>
<dt><b>Serializable Snapshot Isolation:</b></dt><dd> Le permite utilizatorilor să implementeze reguli business complexe arbitrare fără a necesia blocking , datorită detecţiei automate a conflictelor dintre tranzacţiile SQL.  La momentul actual, numai PostgreSQL are această funcţionalitate.</dd>
<dt><b>Writeable Common Table Expressions (wCTE):</b></dt><dd> Suportă integritatea relaţională a daelor prin faptul că permie execuţia update-urilor complexe (în cascadă) într-o singură comoandă.  Prin utilizarea rezultatelor unui query la execuţia  unui alt query devine posibil update-ul recursiv, ierarhic de-a lungul înregistrarilor legate prin chei externe.  PostgreSQL are cea mai completă şi flexibilă implementare a acestei funcţionalităţi.</dd>
<dt><b>Security-Enhanced Postgres (SE-Postgres):</b></dt><dd> Permite implementarea unei securităţi de nivel militar, precum şi mandatory access control, datorită integrarii complete a Security-Enhanced Linux (SE-Linux). SE-Linux este un proiect NSA care adaugă kernelului Linux o serie de funcţii pentru securitate.  SE-Linux este inclus în majoritatea distribuţiilor Linux , cum sînt Red Hat, CentOS, Debian, Ubuntu şi nu numai.  PostgreSQL este singurul sistem de baze de date care are această integrare strînsă cu SE-Linux.</dd>
</dl>

<h3>Extinderea motorului bazei de date</h3>
<p>
Extensibilitatea PostgreSQL-ului constă în posibilitatea de a adăuga noi funcţionalităţi bazelor de date deja aflate în funcţiune. Versiunea 9.1 aduce noi unelte de extindere, cum sînt: 
</p><dl>
<dt><b>Foreign Data Wrappers (FDW):</b></dt><dd> Ca parte integrantă a suportului pentru standardul SQL/MEDA, facilitatea FDW permit efectuarea de cereri către seturi de date externe, care nu sînt stocate în baza de date PostgreSQL. FDW le permite utilizatorilor să creeze "drivere" pentru ataşarea la surse externe de date, care apoi pot fi folosite ca tabele read-only.  FDW fac din PostgreSQL o unealtă puternică pentru integrarea datelor, iar în plus pot uşura procesul de migrare.  FDW-urile disponibile iniţial includ : fişiere CSV, Oracle, MySQL, CouchDB, şi chiar surse Twitter.  Este de aşteptat ca în curînd să fie realizate mult mai multe.</dd>
<dt><b>Extensions:</b></dt><dd> PostgreSQL a fost dintotdeauna extensibil. Noutatea constă în faptul că acum a fost introdus conceptul de EXTENSION , ca obiect al bazei de date. Acesta permite utilizatorilor să creeze, încarce, actualizeze şi să gestioneze multitudinea de extensii disponibile. Noul site PGXN.org oferă un repository pentru extensii, de unde utilizatorii pot descărca extensii sau pot pune la dispoziţia altora extensiile realizate de ei. </dd>
</dl>
<p>
Pentru mai multe informaţii despre funcţionalităţile prezentate vă invităm să consultaţi următoarele :
</p>
<ul>
<li><a href="/docs/9.1/static/release-9-1.html">Release Notes</a></li>
<li><a href="https://wiki.postgresql.org/wiki/What%27s_new_in_PostgreSQL_9.1">What's New In 9.1</a></li>
<li><a href="/about/featurematrix">Feature matrix (English only)</a></li>
</ul>

<a name="anniversary"></a><h2>25 ani de inovaţii în domeniul bazelor de date</a></h2>
<p>
Proiectul POSTGRES a început la University of California, Berkeley, în iunie 1986 odată cu publicarea design-ului original POSTGRES de către Lawrence A. Rowe şi Michael R. Stonebraker.  În cei 25 de ani trecuţi de atunci POSTGRES a devenit un proiect open source , a trecut la SQL, schimbîndu-şi numele în PostgreSQL, şi a devenit una dintre bazele de date relaţionale de top.  Astăzi, comunitatea noastră este în competiţie cu companii mari de software pentru a furniza noi facilităţi şi performanţe mai bune.
</p><p>
Au existat 23 de versiuni ale POSTGRES şi PostgreSQL, inclusiv 9.1.  PostgreSQL este singurul sistem de baze de date relaţionale important care are lansează în mod consistent cîte o versiune în fiecare an, venind de fiecare dată cu noi facilităţi.
</p>
<a name="download"></a><h2>Download</h2>
<ul>
<li><a href="/download">Pagina Download</a> conţine link-uri către installere şi utilitare.</li>
<li><a href="/ftp/source/v9.1.0">Codul sursă</a></li>
<li><a href="/download/windows">Installer pentru Windows</a></li>
<li><a href="/download/linux">Installer-e pentru Linux </a> şi package repositories</li>
<li><a href="/download/solaris">Pachete Solaris</a></li>
<li><a href="/download/macosx">Installer pentru Mac OSX</a></li>
<li><a href="/download/freebsd">FreeBSD Ports</a></li>
<li><a href="http://pgxn.org">PostgreSQL Extension Network</a></li>
<li><a href="http://www.pgfoundry.org">Componente opţionale şi addon-uri</a></li>
<li><a href="/download/product-categories">Software comercial</a></li>
</ul>

<a name="docs"></a><h2>Documentaţie</h2>

<p>
Documentaţia în format HTML şi paginile man sînt instalate împreună cu PostgreSQL. În plus poate fi consultată <a href="/docs/9.1/static">documentaţia online</a> , care oferă posibilitatea de căutare şi de scriere de comentarii .
</p>

<a name="license"></a><h2>Licenţa</h2>
<p>
PostgreSQL foloseşte <a href="/about/licence">Licenţa PostgreSQL</a>, o licenţă de tip BSD care nu necesită decît păstrarea informaţiilor referitoare la copyright şi licenţiere în codul sursă lansat. Această licenţă
<a href="http://www.opensource.org/licenses/postgresql">certificată OSI</a> este apreciată pentru flexibilitate şi avantajoasă pentru companii, deoarece nu restricţionează utilizarea PostgreSQL ca bază de date pentru aplicaţiile comerciale şi proprierare. Împreună cu suportul tehnic oferit de numeroase companii şi cu codul sursă public , termenii licenţei fac ca PostgreSQL să fie foarte popular printre producătorii de software care doresc să includă o bază de date în propriile produse fără grija unor costuri suplimentare, dependenţa de furnizor sau schimbarea termenilor licenţei. 
</p>

<a name="contact"></a><h2>Date de contact</h2>

<p>Web Pages</p>
<ul>
<li><a href="https://www.postgresql.org">Site-ul PostgreSQL</a></li>
</ul>

<p>Press Inquiries</p>
<p>România<br />
Adrian Maier<br />
<a href="mailto:ro@postgresql.org">ro@postgresql.org</a><br />
</p>



<a name="quoted_companies"></a><h2>Textul complet şi original al citatelor</h2>
<p>
"PostgreSQL 9.1 provides some of the most advanced enterprise capabilities of any open source database, and is backed by a vibrant and innovative community with proven customer success.  PostgreSQL is well positioned for building and running applications in the cloud," a declarat Charles Fan, Sr. VP R&amp;D, VMware.
</p><p>
<b>Despre VMWare:</b> <a href="http://vmware.com">VMware</a> (NYSE:VMW), liderul mondial în domeniul virtualizării şi a infrastructurii cloud, oferă soluţii robuste şi verificate care accelerează infrastructura IT prin reducerea complexităţii şi oferirea de servicii flexibile, agile. VMware ajută companiile să adopte modelul cloud, pentru a putea răspude necesităţilor proprii. Abordarea VMware constă în accelerarea trecerii la cloud computing, păstrînd în acelaşi timp invesiţiile IT deja existente şi îmbunătăţind securiate şi controlul. Cu peste 250,000 clienţi şi 25,000 parteneri, VMware oferă soluţii concepute să ajute organizaţii de orice mărime să reducă costurile, să mărească agilitatea în usiness şi să asigure libertatea de alegere.  Contact: <a href="mailto:prinquiries@vmware.com">VMWare PR</a> or phone +1 (650) 427-2485
</p><p>
"Heroku runs the largest PostgreSQL database-as-a-service in the world," a spus James Lindenbaum, co-fondatorul Heroku . "The release of synchronous data replication with 9.1 provides our customers with innovative new ways of protecting mission-critical data, and validates PostgreSQL as one of the fastest-moving datastores available."
</p><p>
<b>Despre Heroku:</b> <a href="http://www.heroku.com">Heroku</a> este furnizorul de referinţă pentru "platform as a service (PaaS)" , punînd accentul pe uşurinţa de utilizare, automatizare şi robusteţe. Heroku are sediul central în San Francisco şi este un 
suporter activ al tehnologiilor Ruby şi a arhitecturii cloud. Heroku a fost recent inclus în lista "Dow Jones FASTech 50 Start-ups to Watch" , recunoscut de Gartner ca fiind "Cool Vendor in Application Platforms as a Service" în aprilie 2010, a fost inclus în "Always OnDemand Top 100 Private Companies", şi recunoscut de ReadWriteWeb ca "Best Products of 2009" şi "Best Platform of 2010" . În aprilie 2011, Heroku a
primit locul 2 în lista "Best Places to Work" a San Francisco Business Times. Pentru mai multe informaţii puteţi vizita <a href="http://www.heroku.com">www.heroku.com</a> şi <a href="http://blog.heroku.com">blog-ul heroku</a> , sau puteţi urmări <a href="http://twitter.com/heroku">Heroku on Twitter</a>. Heroku este o filială a salesforce.com. Contact: <a href="mailto:jill@blackswansmedia.com">Jill Ratkevic</a>
</p><p>
"OpenERP has always relied on the enterprise-class features of PostgreSQL to provide a fast, reliable and scalable foundation for the Business Applications supporting our customers' operations every day. Data integrity in highly concurrent and transactional contexts is a critical topic for us, and we're very enthusiastic about the new Serializable Snapshot Isolation of PosgtreSQL 9.1! Synchronous replication and more performance optimizations are two other reasons we are looking forward to the next release of PostgreSQL, truly the epitome of Open Source software," a declarat Olivier Dony, OpenERP Community Manager.
</p><p>
<b>Despre OpenERP:</b> <a href="http://www.openerp.com">OpenERP S.A.</a> este creatorul OpenERP, o suită open-source de aplicaţii business care include CRM, Vînzări, Contabilitate, Project Management, Gestiuni, Producţie, Resurse Umane, şi nu numai. Fondat în 2005 de către Fabien Pinckaers (CEO) , OpenERP prosperă într-un ecosistem unic combinînd resursele comunităţii, ale reţelei de parteneri şi cele proprii.
Comunitatea (1500 de membri activi în august 2011) contribuie zi de zi la dezvoltarea OpenERP. Reţeaua de parteneri din peste 65 implementează soluţia la nivel local. 
Disponibilă şi sub formă de serviciu online (SaaS), OpenERP este una dintre suitele de aplicaţii business cu cele mai multe instalări (1,000 download-uri pe zi ). Media Contact: <a href="mailto:press@openerp.com">Nicoleta Gherlea</a> +32-2-290-34-90
</p>

<a name="companies"></a><h2>Suport corporate</h2>

<p>PostgreSQL se bucură de sprijin din partea a numeroase companii care sponsorizează dezvoltatori, oferă resurse (găzduire) şi oferă suport financiar. Cei mai importanţi dintre sponsori sînt listaţi <a href="/about/sponsors">aici.</a></p>

<p>Există de asemenea numeroase  <a href="/support/professional_support">companii care oferă suport tehnic pentru PostgreSQL </a>, lista incluzînd atît consultanţi individuali cît şi companii multinaţionale.</p>

<p>Puteţi găsi <a href="/about/donate">aici</a> informaţii despre cum puteţi face donaţii.</p>



{%endblock%}
