{%extends "base/page.html"%}
{%block title%}PostgreSQL 10 Press Kit{%endblock%}
{%block contents%}

<div><span>This page in: </span>
    <span lang="my"><a href="/about/press/presskit10/my/">Burmese</a></span>
    / <span lang="cn"><a href="/about/press/presskit10/cn/">Chinese</a></span>
    / <span lang="en"><a href="/about/press/presskit10/">English</a></span>
    / <span lang="fr"><a href="/about/press/presskit10/fr/">French</a></span>
    / <span lang="de"><a href="/about/press/presskit10/de/">German</a></span>
    / <span lang="il"><a href="/about/press/presskit10/il/">Hebrew</a></span>
    / <span lang="hi"><a href="/about/press/presskit10/hi/">Hindi</a></span>
    / <span lang="id"><a href="/about/press/presskit10/id/">Indonesian</a></span>
    / <span lang="it"><a href="/about/press/presskit10/it/">Italian</a></span>
    / <span lang="kr"><a href="/about/press/presskit10/kr/">Korean</a></span>
    / <span lang="pt"><a href="/about/press/presskit10/pt/">Portuguese</a></span>
    / <span lang="ru"><a href="/about/press/presskit10/ru/">Russian</a></span>
    / <span lang="es"><a href="/about/press/presskit10/es/">Spanish</a></span>
    / <span lang="th"><a href="/about/press/presskit10/th/">Thai</a></span>
    / <span lang="vi"><a href="/about/press/presskit10/vi/">Vietnamese</a></span><br/><br/>
</div>

<h1>PostgreSQL 10 Press Kit <img class="logo" src="/media/img/about/press/elephant.png" alt="PostgreSQL Elephant Logo" /></h1>

<h2>မာတိကာ</h2>

<ul>
 <li><a href="#original_release">မူရင္းထုတ္ျပန္ခ်က္</a></li>
 <li><a href="#features">အခ်က္အလက္မ်ား</a></li>
 <li><a href="#download"> Download ဆြဲရန္ေနရာ </a></li>
 <li><a href="#docs">မွတ္တမ္းစာရြက္စာတမ္း</a></li>
 <li><a href="#license">လိုင္စင္</a></li>
 <li><a href="#contact">ဆက္သြယ္ရန္</a></li>
 <li><a href="#graphics">ပံုႏွင့့္အမွတ္အသားမ်ား</a></li>
 <li><a href="#about">PostgreSQL အေျကာင္း</a></li>
 <li><a href="#quoted_companies">Quoted Companies and Full Text of Quotes</a></li>
 <li><a href="#companies">လုပ္ငန္းဆိုင္ရာေထာက္ပံ့အားေပးမႈ</a></li>
</ul>

<a name="original_release"></a><h2>မူရင္းထုတ္ျပန္ခ်က</h2>

<p> XX 5 အောက်တိုဘာလ ၂၀၁၇ ၂၀၁၇ - ေနာက္ဆုံးေပၚ ကမာၻ ့ ေခတ္အမွီဆုံး Open Source ေဒတာေဘ့စ္
ျဖစ္တဲ့ PostgreSQL 10 ကို PostgreSQL ကမာၻလုံးဆိုင္ရာ တိုးတက္ေရး အဖြဲ ့အစည္း မွ ယေန ့ ထုတ္ျပန္
ေျကညာလိုက္ပါသည္။</p>

<p> ယေန႔ Digital ေခတ္ လုပ္ငန္းပမာဏ (workloads) ေတြရဲ႕ အေရးပါေသာအခ်က္မွာ ျမန္ဆန္္ေသာ
အခ်က္အလက္ ရယူႏုိင္စြမ္း၊စီမံခန္႕ခြဲႏုိင္မႈႏွင့္ခြဲျခမ္းစိတ္ျဖာႏိုင္စြမ္း တို ့ရရွိႏုိင္ေအာင္ Nodes
အမ်ားျကီးဆီသို႕ ေဒတာ ျဖန္ ့ျဖဴးႏုိင္စြမ္းျဖစ္ျပီး ထိုအရာကို “Divide and Conquer” ဗ်ဴဟာဟုလည္း
ေခၚဆိုႏုိင္ပါသည္။ PostgreSQL 10 ထုတ္ျပန္မႈတြင္ ပါဝင္သည့္ သိသာထင္ရွားေသာ တိုးတက္မႈမ်ား မွာ native logical replication, declarative table partitioning ႏွင့္ query parallelism
ကိုတိုးတက္ေကာင္းမြန္လာေစျခင္းတိုု ့ျဖစ္ပါသည္။ ထိုအရာ မ်ားသည္ divide and conquer ဗ်ဴဟာ
ကိုထိေရာက္စြာ အေကာင္အထည္ေဖာ္ရာတြင္ ပံံ့ပိုးေပးပါသည္။</p>

<p>“ကြ်န္ေတာ္တို ့ရဲ ့IT ေဆာ့ဖ္ဝဲအသိုင္းအဝိုင္း သည္ လုပ္ငန္းပမာဏ မ်ား ကိုေခတ္မွီေသာ
အေျခခံဖြဲ ့စည္းပုံမ်ား ႏွင့္ကိုက္ညီေသာ အခ်က္မ်ား တည္ေဆာက္္ျခင္းကို အဓိကထားပါသည္” ဟု Magnus
Hagander၊ <a href="/developer/core/">core team</a> PostgreSQL ကမာၻလုံးဆိုင္ရာ တိုးတက္ေရး အဖြဲ ့အစည္း
  <a href="/"> အသင္းဝင္ </a>. &quot;Logical Replication ႏွင့္ Improved Query Parallelism စေသာအခ်က္မ်ား သည္
ေျပာင္းလဲလာေသာနည္းပညာ ၏ ေတာင္းဆိုမႈအရ Postgres  အသိုင္းအဝိုင္း၏ ႏွစ္ျကာရွည္စြာ
ျကိဳးပမ္းအားထုတ္မႈတို ့ေျကာင့္ သက္ဆိုင္ရာက႑ တြင္ ဦးေဆာင္ေန မည္မွာအေသအခ်ာပင္ျဖစ္သည္။&quot;
</p>

<p> ဤထုတ္ျပန္မႈသည္ PostgreSQL versioning စနစ္ကို “x.y” ပုံစံအျဖစ္ေျပာင္းလဲမႈကို
အမွတ္အသားျပဳပါသည္။ ဤအဓိပၸာယ္မွာ ေနာင္ထြက္ရွိမည့္ အငယ္စား PostgreSQL version
ထုတ္ျပန္မႈမွာ 10.1 ျဖစ္ျပီး ေနာင္အေရးပါေသာ PostgreSQL version ထုတ္ျပန္မႈမွာ 11 ျဖစ္ပါသည္။
</p>

<b> Logical Replication - ေဒတာျဖန္႔ျဖဴး မႈအတြက္ ထုတ္ျပန္ထားေသာ အေျခခံ အခ်က္မ်ား </b>

<p> Logical replication သည္ လက္ရွိ replication လုပ္ေဆာင္ခ်က္မ်ားထက္သာျပီး မတူညီေသာ 54PostgreSQL ေဒတာေဘ့စ္မ်ားကို database တစ္ခုစာႏွင့္ table တစ္ခုစာ အဆင့္မ်ားအထိ 55ျပဳျပင္မြမ္းမံႏုိင္စြမ္းရွိပါသည္။ အသုံးျပဳသူမ်ားသည္ ယခုေျပာင္းလဲမႈေျကာင့္ ေဒတာမ်ားကို ေဒတာေဘ့စ္ 56အစုအေဝး အမ်ားအျပားသို ့ပုံတူပြားျပီး အေသးစိတ္ခ်ိန္ညွိႏုိင္ပါသည္။ အသုံးျပဳသူမ်ားသည္လည္း 57အနာဂတ္မွာ ထြက္ေပၚလာမည့္ အေရးပါေသာ PostgreSQL versions မ်ားသို႕တိုးျမွင့္ခ်ိန္တြင္ 58ကြန္ပ်ဴတာ၏ အလုပ္လုပ္မႈ ေႏွာင့္ေႏွးခ်ိန္ မရွိပဲလုပ္ေဆာင္သြားႏုိင္မည္ျဖစ္သည္။</p>

<p>&quot;ကြ်န္ေတာ္တို ့သည္ PostgreSQL ကို version 9.3 ထဲက က်ယ္ျပန္ ့စြာ အသုံးျပဳခဲ့ျပီး ယခု version
10 အတြက္ လြန္စြာ စိတ္လႈပ္ရွားေနျခင္းမွာ version 10 သည္ ျကာရွည္စြာေစာင့္ဆိုင္းခဲ့ရေသာ
လုပ္ေဆာင္ခ်က္မ်ားျဖစ္သည့္ Partitioning ႏွင့္ Logical Replication တို ့ပါဝင္ေသာေျကာင့့္ျဖစ္သည္။ ဤလုပ္ေဆာင္ခ်က္မ်ား ပါဝင္ျခင္းသည္ ကြ်န္ေတာ္တို႕ အေနျဖင့္ PostgreSQL ၏ ေဆာင္ရြက္မႈမ်ားကို ပိုမို
အသုံးျပဳလာႏုိင္ေစပါသည္။&quot; ဟု Vladimir Borodin (DBA အဖြဲ ့ေခါင္းေဆာင္) ကေျပာျကားခဲ့ပါသည္။
  <a href="https://www.yandex.com/" target="_blank" rel="noopener">Yandex</a>.</p>

<b> Declarative Table Partitioning - ေဒတာကို ခြဲျခားရာတြင္ အဆင္ေျပမႈ </b>

<p> Table Partitioning သည္ PostgreSQL မွာတည္ရွိခဲ့သည္္မွာႏွစ္ေပါင္း မ်ားစြာရွိခဲ့ေသာ္လည္း
အသုံးျပဳသူသည္ partitioning ကိုအသုံးျပဳမည္ဆိုလ်ွင္ လိုက္နာရမည့္စည္းမ်ဥ္းစည္းကမ္းမ်ားကို
ထိန္းသိမ္းရန္လိုအပ္သည္။ PostgreSQL 10 သည္ partitioned tables မ်ားကို list လုပ္ျခင္းႏွင့္ range
ဖန္တီး ထိန္းသိမ္းျခင္းမ်ားကို Table Partitioning syntax အျဖစ္ အသုံးျပဳသူမ်ားကို
မိတ္ဆက္ေပးလိုက္ပါသည္။ PostgreSQL မ်ားအတြင္း addition of the partitioning syntax သည္
ေကာင္းမြန္ေသာ Partitioning အေျခခံကို ေပးေဆာင္ႏုိင္ေအာင္ စီစဥ္ ထားသည့္ ပထမဆုံးေျခလွမ္း
 ျဖစ္ပါသည္။</p>

<b> Improved Query Parallelism - စိစစ္ေလ့လာမႈကို လ်င္ျမန္ေသာနည္းျဖင့့္ ျပီးစီးျခင္း </b>

<p> PostgreSQL 10 သည္ query ၏အစိတ္အပိုင္းေျမာက္မ်ားစြာ ျပီးစီးျခင္းႏွင့္ပတ္သက္ေသာ
လုပ္ငန္းမ်ားကို parallelize လုပ္ရာတြင္ ယခင္ထက္ ပိုမိုေကာင္းမြန္စြာ ပံံ့ပိုးေပးပါသည္။ တိုးတက္မႈမ်ားမွာ
parallelized ျဖစ္ျပီးသား data scans အမ်ိဳးအစားအသစ္မ်ားႏွင့္ pre sorting ကဲ့သို ့data မ်ား ျပန္လည္
ေပါင္းစပ္ျပီး ျဖစ္ေပၚလာေသာ အဆင့္ျမွင့္တင္မႈမ်ားပါဝင္သည္။ဤ တိုးတက္မႈမ်ားသည္ ရလဒ္မ်ားကိို
လ်င္ျမန္စြာ ရရွိႏုိင္ေအာင္ လုပ္ေဆာင္ေပးပါသည္</p>

<b> Quorum Commit for Synchronous Replication – Data မ်ားကိုပိုင္ႏိုင္စိတ္ခ်မႈျဖင့္ ျဖန္ ့ျဖဴးျခင္း</b>

<p> PostgreSQL 10 သည္ synchronous replication အတြက္ quorum commit ကို
မိတ္ဆက္ပါသည္။ ဤလုပ္ေဆာင္ခ်က္သည္ primary database ၏ လုပ္ငန္းတြင္ပါဝင္ေသာ
အခ်က္အလက္မ်ားကိုအေဝးမွ ပံုတူပြားယူႏိုင္စြမ္း remote replicas ျဖင့္
ျပဳလြယ္ျပင္လြယ္ရွိေအာင္ဖန္တီးထားသည္။
ယခုအခါ administrator တစ္ေယာက္သည္ မိမိ၏ database ထဲတြင္ ပုံစံတူ ဘယ္ႏွစ္ခု
 ျပဳလုပ္ထားသည္ဆိုသည့္ ေျပာင္းလဲမႈ ရွိလာတိုင္း သတ္မွတ္သိရွိႏိုင္ျခင္းျဖင့္ data မ်ားကို လုံျခံဳစိတ္ခ်စြာျပဳျပင္ ေရးဆြဲ ႏုိင္ပါသည္။ </p>

<p>&quot;PostgreSQL 10 တြင္ရွိေသာ sychronous replication မ်ားအတြက္သံုးႏိုင္သည့္ Quorum commit
သည္ သံုးစြဲရာတြင္ ကြန္ပ်ဴတာ အလုပ္လုပ္မႈ ေႏွာင့္ေႏွးခ်ိန္ မရွိဘဲ database infrastructure မ်ား၏
ျပဳႏုိင္စြမ္း ပိုမို ေကာင္းမြန္ေစသည္ ။ ဤလုပ္ေဆာင္ခ်က္သည္ windows မ်ားကို
ၾကာရွည္ထိန္းသိမ္းျပဳျပင္ရန္မလိုအပ္ပဲ ကြ်န္ေတာ္တို ့၏ database infrastructure
ကိုအဆက္မျပတ္သံုးစြဲ၊ျမွင့္တင္ျခင္းျပဳလုပ္ႏုိင္သည္&quot; ဟု Curt Micol,Staff Infrastructure Engineer at
  <a href="https://www.simple.com/" target="_blank" rel="noopener">Simple Finance</a>.</p>

<b> SCRAM-SHA-256 authentication - ေဒတာကို လုံျခဳံစိတ္ခ်စြာ အသုံးျပဳမႈ </b>

<p>Salted Challenge Response Authentication Mechanism (SCRAM) ရဲ ႔အဓိပၸာယ္ သည္
  <a href="https://tools.ietf.org/html/rfc5802" target="_blank" rel="noopener">RFC5802</a>
    တြင္ေဖာ္ျပထားပါသည္။ SCRAM သည္ data သိမ္းဆည္းမႈႏွင့္ passwords မ်ား ဖလွယ္ျခင္းတို႕
လုပ္ရာတြင္ ပိုမိုတုိးတက္ေကာင္းမြန္ေသာ password လုံျခဳံေရး အေျခခံမ်ားကိုေပးပါသည္။ PostgreSQL
10 သည္ SCRAM-SHA-256 authentication နည္းလမ္းကိုစတင္ မိတ္ဆက္ေပးပါသည္။ ဤနည္းလမ္း၏ အဓိပၸာယ္ကိ
  <a href="https://tools.ietf.org/html/rfc7677" target="_blank" rel="noopener">RFC7677</a>ွာေဖာ္ျပထားပါသည္။ ဤနည္းလမ္းသည္ လက္ရွိ MD5-based password authentication
နည္းလမ္းထက္ ပိုမိုေကာင္းမြန္ေသာ လုံျခံဳေရးကိုလည္းေပးပါသည္။ </p>

<a name="features"></a><h2> အခ်က္အလက္မ်ား </h2>
 <p>
 အထက္ပါေဖာ္ျပထားေသာလုပ္ေဆာင္ခ်က္မ်ားႏွင့္အျခားအရာမ်ား၏ရွင္းလင္းတင္ျပခ်က္အတြက္,
ေအာက္ေဖာ္ျပပါ resources မ်ားကိုျကည့္ရႈႏုိင္ပါသည္။
 </p>
<ul>
  <li><a href="https://www.postgresql.org/docs/current/release-10.html">Release Notes</a></li>
  <li><a href="https://wiki.postgresql.org/wiki/New_in_postgres_10">What's New in 10</a></li>
  <li><a href="/about/featurematrix">Feature matrix (English only)</a></li>
  <li><a href="https://momjian.us/main/writings/pgsql/features.pdf">Major Features slide deck</a></li>
  <li><a href="https://www.hagander.net/talks/PostgreSQL_10.pdf">Major Features slide deck (2)</a></li>
</ul>

 <a name="download"></a><h2> Download ဆြဲရန္ေနရာ </h2>
<ul>
  <li><a href="/download/">Downloads page</a>  with links to Windows, Linux, macOS, BSD and Solaris installers and tools.</li>
  <li><a href="/ftp/source/v10.0">Source Code</a></li>
  <li><a href="https://hub.docker.com/_/postgres/">Postgres Docker image</a></li>
  <li><a href="http://pgxn.org">PostgreSQL Extension Network</a></li>
</ul>

 <a name="docs"></a><h2> မွတ္တမ္းစာရြက္စာတမ္း </h2>

<p>
HTML documentation and man pages မ်ားသည္ PostgreSQL ထဲပါ၀င္ျပီးသာျဖစ္ေသာ္လည္း,
  online documentation  တြင္ရွာေဖြျကည့္ရႈႏုိင္ပါသည္။ <a href="/docs/10/">online
   documentation</a>.
</p>

<a name="license"></a><h2> လိုင္စင္ </h2>
<p>
 PostgreSQL သည္ <a href="/about/licence/">PostgreSQL License</a>,, ကိုသံုးပါသည္။ဤအရာကို BSD ကဲ့သို ့
"permissive" license ဟုလည္းေခၚသည္။ထို <a href="http://www.opensource.org/licenses/postgresql/">OSI-certified license
</a>  ကိုျပင္လြယ္ေျပာင္းလြယ္ႏုိင္ျပီး လုပ္ငန္းကြ်မ္းဝင္မႈရွိသည့္အျပင္ PostgreSQL သည္စီးပြားျဖစ္
ကိုယ္ပိုင္ အသုံးျပဳျခင္းကို ကန္ ့သတ္ထားျခင္း မရွိသည့္အတြက္ မ်ားစြာ အသိအမွတ္ျပဳထားပါသည္။
ကုမၸဏီမ်ား၏အားေပးေထာက္ခံမႈႏွင့္တကြ အမ်ားပိုင္ code ျဖစ္သည့္အတြက္ ကိုယ္ပိုင္ လုပ္ငန္းတြင္
database အသုံးျပဳခ်င္သူမ်ားအား လိုင္စင္ သတ္မွတ္ခ်က္အေျပာင္းအလဲမ်ား၊ vendor lock-
 in၊ေစ်းႏႈန္းမ်ားအတြက္ ပူပင္မႈကင္းျခင္းအတြက္ ဤလိုင္စင္သည္ PostgreSQL ကိုလူျကိဳက္မ်ားေစပါသည္။
</p>

<a name="contact"></a><h2> ဆက္သြယ္ရန္ </h2>

<p>Web Pages</p>
<ul>
<li><a href="https://www.postgresql.org/">PostgreSQL home page</a></li>
</ul>

<p>English-Language Press Inquiries</p>

<p>USA, Canada and General Inquiries<br />
PostgreSQL Press Team<br />
<a href="mailto:press@postgresql.org">press@postgresql.org</a><br />
Phone: +1 (347) 674-7759</p>

<p>Myanmar<br />
Suu Myat Khin<br />
<a href="mailto:mm@postgresql.org">mm@postgresql.org</a><br />
+95 9 42011 5959</p>

<a name="graphics"><h2> ပံုႏွင့့္အမွတ္အသားမ်ား </h2></a>

<img src="https://www.postgresql.org/media/img/about/press/elephant64.png" alt="PostgreSQL Logo" />

<ul>
<li><a href="https://www.postgresql.org/media/img/about/press/elephant.png">PostgreSQL Elephant Logo, PNG format</a></li>
<li><a href="https://www.postgresql.org/media/img/about/press/elephant64.png">PostgreSQL Elephant Icon</a></li>
<li><a href="https://www.postgresql.org/media/img/about/press/slonik_with_black_text_and_tagline.gif">PostgreSQL Banner with Logo, Elephant and Slogan</a></li>
</ul>
<p>
အမွတ္အသားအားလုံးကို PostgreSQL လိုင္စင္ေအာက္မွာ ျပဳျပင္ျခင္းႏွင့္ ျပန္လည္ျဖန္ ့ျဖဴးျခင္း
တို႕အား လုပ္ေဆာင္ႏုိင္ပါသည္။ PostgreSQL နာမည္ႏွင့္ အမွတ္အသားမ်ားသည္ ကေနဒါရွိ
PostgreSQL အဖြဲ႕အစည္း ၏ မူပိုင္လကၡဏာျဖစ္သည္။
</p>

<a name="about"></a><h2> PostgreSQL အေျကာင္း </h2>
<p>
 PostgreSQL သည္ ကမာၻ ့ေခတ္အမွီဆုံး open source database ျဖစ္ျပီး ကမာၻတစ္ဝွမ္းမွ
ေထာင္ေက်ာ္ေသာ အသုံးျပဳသူမ်ား၊အျကံျပဳ ပါဝင္သူမ်ား၊ ကုမၸဏီမ်ားႏွင့္
အဖြဲ ႔အစည္းအမ်ားအျပားသုံးစြဲေသာ database ျဖစ္ပါသည္။PostgreSQL စီမံခ်က္စတင္
တည္ေဆာက္ခဲ့သည္မွာ ႏွစ္ေပါင္း ၃၀ေက်ာ္ရွိလာခဲ့ျပီး Berkeley ရွိ University of California မွာ
စတင္ခဲ့ျခင္းျဖစ္သည္။ ဤစီမံခ်က္၏ ဖြံျဖိဳးတိုးတက္လာမႈႏႈန္းမ်ားသည္
မယွဥ္ႏုိင္ေလာက္ေအာင္ပဲရွိခဲ့ပါသည္။PostgreSQL ၏ ျပီးျပည့္စုံေသာ အခ်က္သည္ထိပ္တန္း database
system ေတြနွင့္ယွဥ္ႏုိင္ရုံတင္သာမက ပိုမိုအဆင့္ျမင့္ေသာ database အခ်က္အလက္မ်ားရွိမႈ
၊က်ယ္ျပန္႔စြာအသုံးျပဳႏုိင္မႈ၊အာမခံခ်က္ရွိမႈ၊တည္ျငိမ္မႈတို႕တြင္ ပိုမိုေကာင္းမြန္ေျကာင္းေတြ႕ရသည္။ PostgreSQL အေျကာင္းပိုမိုသိရွိလိုျပီး၊ PostgreSQL ၏အသိုင္းအဝိုင္းတြင္ ပါဝင္ခ်င္သည္ဆိုပါက ေအာက္ေဖာ္ျပပါ website သို႕ဝင္ေရာက္ျကည့္ရႈႏုိင္ပါသည္။ <a href="https://www.postgresql.org">PostgreSQL.org</a>.
</p>

<a name="quoted_companies"></a><h2>Quoted Company Information and Full Text of Quotes</h2>
<p>&quot;ကြ်န္ေတာ္တို ့ရဲ ့IT ေဆာ့ဖ္ဝဲအသိုင္းအဝိုင္း သည္ လုပ္ငန္းပမာဏ မ်ား ကိုေခတ္မွီေသာ
အေျခခံဖြဲ ့စည္းပုံမ်ား ႏွင့္ကိုက္ညီေသာ အခ်က္မ်ား တည္ေဆာက္္ျခင္းကို အဓိကထားပါသည္&quot;
   ဟု Magnus Hagander <a href="https://www.postgresql.org/developer/core/">
  core team</a> PostgreSQL ကမာၻလုံးဆိုင္ရာ တိုးတက္ေရး
 အဖြဲ ့အစည္း  <a href="https://www.postgresql.org/">
   အသင္းဝင္ </a>. &quot; Logical Replication ႏွင့္ Improved Query Parallelism စေသာအခ်က္မ်ား သည္
ေျပာင္းလဲလာေသာနည္းပညာ ၏ ေတာင္းဆိုမႈအရ Postgres  အသိုင္းအဝိုင္း၏ ႏွစ္ျကာရွည္စြာ
ျကိဳးပမ္းအားထုတ္မႈတို ့ေျကာင့္ သက္ဆိုင္ရာက႑ တြင္ ဦးေဆာင္ေန မည္မွာအေသအခ်ာပင္ျဖစ္သည္။&quot;
</p>
<p> PostgreSQL သည္ ကမာၻ ့ေခတ္အမွီဆုံး open source database ျဖစ္ျပီး ကမာၻတစ္ဝွမ္းမွ
 ေထာင္ေက်ာ္ေသာ အသုံးျပဳသူမ်ား၊အျကံျပဳ ပါဝင္သူမ်ား၊ ကုမၸဏီမ်ားႏွင့္
 အဖြဲ ႔အစည္းအမ်ားအျပားသုံးစြဲေသာ database ျဖစ္ပါသည္။PostgreSQL စီမံခ်က္စတင္
 တည္ေဆာက္ခဲ့သည္မွာ ႏွစ္ေပါင္း ၃၀ေက်ာ္ရွိလာခဲ့ျပီး Berkeley ရွိ University of California မွာ
 စတင္ခဲ့ျခင္းျဖစ္သည္။ ဤစီမံခ်က္၏ ဖြံျဖိဳးတိုးတက္လာမႈႏႈန္းမ်ားသည္
 မယွဥ္ႏုိင္ေလာက္ေအာင္ပဲရွိခဲ့ပါသည္။PostgreSQL ၏ ျပီးျပည့္စုံေသာ အခ်က္သည္ထိပ္တန္း database
 system ေတြနွင့္ယွဥ္ႏုိင္ရုံတင္သာမက ပိုမိုအဆင့္ျမင့္ေသာ database အခ်က္အလက္မ်ားရွိမႈ
 ၊က်ယ္ျပန္႔စြာအသုံးျပဳႏုိင္မႈ၊အာမခံခ်က္ရွိမႈ၊တည္ျငိမ္မႈတို႕တြင္ ပိုမိုေကာင္းမြန္ေျကာင္းေတြ႕ရသည္။ PostgreSQL အေျကာင္းပိုမိုသိရွိလိုျပီး၊ PostgreSQL ၏အသိုင္းအဝိုင္းတြင္ ပါဝင္ခ်င္သည္ဆိုပါက ေအာက္ေဖာ္ျပပါ website သို႕ဝင္ေရာက္ျကည့္ရႈႏုိင္ပါသည္။<a href="https://www.postgresql.org">PostgreSQL.org</a>.
</p>
<p>&quot;ကြ်န္ေတာ္တို ့သည္ PostgreSQL ကို version 9.3 ထဲက က်ယ္ျပန္ ့စြာ အသုံးျပဳခဲ့ျပီး ယခု version
10 အတြက္ လြန္စြာ စိတ္လႈပ္ရွားေနျခင္းမွာ version 10 သည္ ျကာရွည္စြာေစာင့္ဆိုင္းခဲ့ရေသာ
လုပ္ေဆာင္ခ်က္မ်ားျဖစ္သည့္ Partitioning ႏွင့္ Logical Replication တို ့ပါဝင္ေသာေျကာင့့္ျဖစ္သည္။
လုပ္ေဆာင္ခ်က္မ်ား ပါဝင္ျခင္းသည္ ကြ်န္ေတာ္တို႕ အေနျဖင့္ PostgreSQL ၏ ေဆာင္ရြက္မႈမ်ားကို ပိုမို အသုံးျပဳလာႏုိင္ေစပါသည္။&quot; ဟု Vladimir Borodin (DBA အဖြဲ ့ေခါင္းေဆာင္)
  <a href="https://www.yandex.com/" target="_blank" rel="noopener">Yandex</a>.
</p>
<p>
<a href="https://yandex.com/" target="_blank" rel="noopener">Yandex</a>  သည္ ျမင့္မားေသာထုတ္ကုန္
ႏွင့္ဝန္ေဆာင္မႈမ်ားကို Machine Learning သံုး၍ တည္ေဆာက္ေသာကုမၸဏီျဖစ္သည္။
Yandex၏ ရည္မွန္းခ်က္မွာ အသုံးျပဳသူႏွင့္စီးပြားေရးလုပ္ငန္းမ်ားျကား online ႏွင့္ offline
က႑တြင္ ပိုမိုေကာင္းမြန္ေသာ ဆက္သြယ္ေရး ရရွိရန္ ရည္ရြယ္သည္။ ၁၉၉၇ခုႏွစ္မွစ၍ Yandex
သည္ ကမာၻ ့အဆင့္မွီ၊ ျပည္တြင္းႏွင့္ဆက္စပ္ေသာ ရွာေဖြေရးႏွင့္ အခ်က္အလက္ စုေဆာင္းေရး
ဝန္ေဆာင္မႈမ်ားကို လုပ္ေဆာင္ခဲ့ပါသည္။ ထို ့အျပင္ Yandex သည္ ေစ်းကြက္မ်ားတြင္
ဦးေဆာင္မႈေပးေနေသာ ပို႕ေဆာင္ေရးႏွင့္ ဆက္သြယ္ေရး ဝန္ေဆာင္မႈမ်ားအျပင္ အျခား mobile applications မ်ားအား ကမာၻအဝွမ္းရွိ သန္းခ်ီေသာ အသုံးျပဳသူမ်ား အတြက္ လုပ္ေဆာင္ေပးထားပါသည္။  To contact Yandex, please visit
<a href="https://yandex.com/company/contacts/" target="_blank" rel="noopener">
  https://yandex.com/company/contacts/
</a>
</p>
<p>&quot;PostgreSQL 10 တြင္ရွိေသာ sychronous replication မ်ားအတြက္သံုးႏိုင္သည့္ Quorum
commit သည္ သံုးစြဲရာတြင္ ကြန္ပ်ဴတာ အလုပ္လုပ္မႈ ေႏွာင့္ေႏွးခ်ိန္ မရွိဘဲ database infrastructure
မ်ား၏ ျပဳႏုိင္စြမ္း ပိုမို ေကာင္းမြန္ေစသည္ ။ ဤလုပ္ေဆာင္ခ်က္သည္ windows မ်ားကို
ၾကာရွည္ထိန္းသိမ္းျပဳျပင္ရန္မလိုအပ္ပဲ ကြ်န္ေတာ္တို ့၏ database infrastructure
ကိုအဆက္မျပတ္သံုးစြဲ၊ျမွင့္တင္ျခင္းျပဳလုပ္ႏုိင္သည္&quot; ဟု Curt Micol,Staff Infrastructure
  <a href="https://www.simple.com/" target="_blank" rel="noopener">Simple Finance</a>.</p>
<p>၂၀၀၉ ခုႏွစ္တြင္ 272စတင္တည္ေထာင္ခဲ့ျပီး  <a href="https://www.simple.com/" target="_blank" rel="noopener">Simple</a>
  လူအမ်ား၏ဘဏ္အျမင္ႏွင့္ ယင္းတို ့၏ေငြေျကးဆိုင္ရာ
အေတြးအေခၚမ်ားကိုေျပာင္းလဲေပးေနေသာ နည္းပညာ ကုမၸဏီ တစ္ခုျဖစ္သည္။ Simple
၏ထုတ္ကုန္မ်ားသည္ ေငြေျကးႏွင့္ဘ႑ေရးဆိုင္ရာမ်ားကို app တစ္ခု အျဖစ္ ေပါင္းစပ္ျပီး အသုံးျပဳသူမ်ား လိုအပ္ေသာ အရာမ်ားကို ေငြေျကးစုေဆာင္း ေပးျပီး လိုခ်င္ေသာ အရာမ်ားအတြက္ သုံးစြဲမႈထိန္းသိမ္းႏိုင္ေအာင္ ကူညီလုပ္ေဆာင္ေပးေသာ ကိရိယာမ်ားပါဝင္သည္။ Contact
  <a href="https://www.simple.com/" target="_blank" rel="noopener">Simple</a> at
  <a href="mailto:press@simple.com">press@simple.com</a>
</p>

<a name="companies"></a><h2> လုပ္ငန္းဆိုင္ရာေထာက္ပံ့အားေပးမႈ </h2>

<p> PostgreSQL သည္ ေငြေျကးအေထာက္အပ့ံေပးျခင္း၊ hosting resources မ်ားစီစဥ္ေပးျခင္းႏွင့္
developers မ်ားကိုစပြန္ဆာေပးေသာ ကုမၸဏိီမ်ားစြာ၏ အားေပးေထာက္ခံမူ မ်ားကိုပိုင္ဆိုင္ထား ပါသည္။
  See our
  <a href="/about/sponsors/">sponsors page</a> for
   some of these project supporters.</p>

<p> PostgreSQL Support ကိုေပးေနေသာကုမၸဏီအသိုင္းအဝိုင္း
  <a href="/support/professional_support/"> မ်ားစြာလည္းရွိပါသည္္။
  </a>, ဤအသိုင္းအဝိုင္းမ်ားတြင္ တစ္ဦးတည္းပိုင္ ကုမၸဏီမ်ားမွစ၍ ႏုိင္ငံတကာ အေျခစိုက္
ကုမၸဏီမ်ားပါဝင္သည္။ </p>

<p><a href="/about/donate/">လွဴဒါန္းျခင္း </a> မ်ားကို ဝမ္းေျမာက္စြာ လက္ခံပါသည္။ </p>

<p> သို႕မဟုတ္ ေအာက္ေဖာ္ျပပါဆိုင္မွ အခ်ိဳ ့ေသာ ေရာင္းကုန္မ်ားဝယ္ယူႏုိင္ပါသည္။
  <a href="http://www.zazzle.com/postgresql">Zazzle PostgreSQL Store</a>
</p>
{% endblock %}
