{%extends "base/page.html"%}
{%block title%}PostgreSQL 10 — материалы для прессы{%endblock%}
{%block contents%}

<div><span>This page in: </span>
    <span lang="my"><a href="/about/press/presskit10/my/">Burmese</a></span>
    / <span lang="cn"><a href="/about/press/presskit10/cn/">Chinese</a></span>
    / <span lang="en"><a href="/about/press/presskit10/">English</a></span>
    / <span lang="fr"><a href="/about/press/presskit10/fr/">French</a></span>
    / <span lang="de"><a href="/about/press/presskit10/de/">German</a></span>
    / <span lang="il"><a href="/about/press/presskit10/il/">Hebrew</a></span>
    / <span lang="hi"><a href="/about/press/presskit10/hi/">Hindi</a></span>
    / <span lang="id"><a href="/about/press/presskit10/id/">Indonesian</a></span>
    / <span lang="it"><a href="/about/press/presskit10/it/">Italian</a></span>
    / <span lang="kr"><a href="/about/press/presskit10/kr/">Korean</a></span>
    / <span lang="pt"><a href="/about/press/presskit10/pt/">Portuguese</a></span>
    / <span lang="ru"><a href="/about/press/presskit10/ru/">Russian</a></span>
    / <span lang="es"><a href="/about/press/presskit10/es/">Spanish</a></span>
    / <span lang="th"><a href="/about/press/presskit10/th/">Thai</a></span>
    / <span lang="vi"><a href="/about/press/presskit10/vi/">Vietnamese</a></span><br/><br/>
</div>

<h1>PostgreSQL — материалы для прессы <img class="logo" src="/media/img/about/press/elephant.png" alt="PostgreSQL Elephant Logo" /></h1>

<h2>Содержание</h2>

<ul>
 <li><a href="#original_release">Официальный пресс-релиз</a></li>
 <li><a href="#features">Подробнее о новинках</a></li>
 <li><a href="#download">Где скачать</a></li>
 <li><a href="#docs">Документация</a></li>
 <li><a href="#license">Лицензия</a></li>
 <li><a href="#contact">Контакты</a></li>
 <li><a href="#graphics">Графика и логотипы</a></li>
 <li><a href="#about">О проекте PostgreSQL</a></li>
 <li><a href="#quoted_companies">Информация о компаниях, упомянутых в цитатах, и полные тексты цитат</a></li>
 <li><a href="#companies">Корпоративная поддержка</a></li>
</ul>

<a name="original_release"></a><h2>Официальный пресс-релиз</h2>

<p>5 ОКТЯБРЯ 2017 - Всемирная группа разработки PostgreSQL объявила сегодня
  о выпуске PostgreSQL 10, новой версии лидирующей реляционной системы
  управления базами данных с открытым исходным кодом.</p>

<p>Критически важная особенность современных высоконагруженных систем —
  способность распределять данные на несколько узлов для обеспечения более
  быстрого доступа, управления и анализа, что известно как стратегия
  «разделяй и властвуй». PostgreSQL 10 содержит ряд существенных улучшений,
  позволяющих эффективно применять данную стратегию: нативная логическая
  репликация, декларативное партиционирование таблиц и улучшеное параллельное
  исполнение запросов.</p>

<p>«Наше сообщество разработчиков сфокусировано на развитии таких свойств
  системы, которые позволяют наиболее полно использовать возможности
  современных инфраструктур с распределённым характером нагрузки», — говорит
  Магнус Хагандер (Magnus Hagander), член <a href="/developer/core/">основной
  команды</a> Всемирной группы разработки PostgreSQL. — «Такие функции как
  логическая репликация и улучшенный параллелизм исполнения запросов отражают
  годы работы и демонстрируют постоянный фокус сообщества на обеспечении
  лидирующей роли PostgreSQL в условиях растущих технологических
  требований».</p>

<p>С появлением данного релиза меняется схема версий PostgreSQL, новый формат
  — «x.y». Это означает, что следующее минорная версия будет 10.1, а следующий
  мажорный релиз — 11.</p>

<b>Логическая репликация — фреймворк для распространения данных по модели
  «публикация/подписка»</b>

<p>Логическая репликация расширяет дополняет существующий набор видов
  репликации в PostgreSQL за счёт возможности передавать данные о модификации
  данных на уровне конкретной базы данных или на уровне таблиц в другие базы
  данных PostgreSQL. Пользователи теперь могут определять, какие именно данные
  нужно реплицировать. Кроме этого, появляется возможность выполнять переход
  на новые мажорные версии PostgreSQL без простоя и за счёт встроенных в ядро
  СУБД средств.</p>

<p>«Мы активно используем PostgreSQL, начиная с версии 9.3, и очень рады
  появлению версии 10, так как она содержит долгожданные возможности
  партиционирования и встроенной логической репликации. Это позволит нам
  использовать PostgreSQL в ещё большем количестве сервисов», — заявил Владимир
  Бородин, компания
  <a href="https://www.yandex.ru/" target="_blank" rel="noopener">«Яндекс»</a>.</p>

<b>Декларативное партиционирование таблиц: разделяйте ваши данные с
  лёгкостью</b>

<p>Возможность партиционирования таблиц долгие годы присутствовала в
  PostgreSQL, но при этом требовала от пользователя значительных усилий
  по поддержке нетривиального множества правил и триггеров. В PostgreSQL 10
  представлен синтаксис для партиционирования, позволяющий пользователям с
  лёгкостью создавать и поддерживать таблицы с интервальной или списочной схемой
  партиционирования. Добавление синтаксиса партиционирования — первый шаг из
  запланированной серии изменений, ведуших к высокопроизводительному фреймворку
  партиционирования в PostgreSQL.</p>

<b>Улучшенный параллелизм выполнения запросов: захватите власть над данными</b>

<p>PostgreSQL 10 содержит улучшенную поддержку параллелизации выполнения
  запросов — ещё больше частей плана выполнения запроса теперь могут
  исполняться параллельно. Улучшения заключаются в том, что ещё больше типов
  операций сканирования данных поддаются параллелизации, а также в том, что в
  некоторых случаях (например, когда данные уже отсортированы) проводится
  дополнительная оптимизация. В итоге, пользователь получает данные намного
  быстрее.</p>

<b>Кворум-коммит для синхронной репликации: распределяйте данные надёжно</b>

<p>В PostgreSQL 10 появляется кворум-коммит для синхронной репликации, что
  обеспечивает гибкость процесса оповещения основной БД о том, изменения
  успешно записаны на удалённые реплики. Администратор может теперь указывать,
  что если определённое число реплик получило информацию об изменении, данное
  изменение можно рассматривать как надёжно зафиксированное.</p>

<p>«Кворум-коммит для синхронной репликации в PostgreSQL 10 даёт нам больше
  вариантов расширять нашу инфраструктуру баз данных с временем простоя работы
  приложений, стремящимся к нулю. Это позволяет нам непрерывно выкатывать
  изменения и обновлять нашу инфраструктуру без необходимости объявления
  длительных периодов обслуживания», — сказал Курт Микол (Curt Micol),
  инженер инфраструктуры в компании
  <a href="https://www.simple.com/" target="_blank" rel="noopener">Simple Finance</a>.</p>.

<b>Аутентификация SCRAM-SHA-256: обезопасьте доступ к вашим данным</b>

<p>SCRAM (The Salted Challenge Response Authentication Mechanism), описанный в
  <a href="https://tools.ietf.org/html/rfc5802" target="_blank" rel="noopener">RFC5802</a>,
  определяет протокол безопасного хранения и передачи паролей за счёт
  использования специального фреймворка для более строгого сопоставления
  паролей. В PostgreSQL 10 представлена поддержка метода SCRAM-SHA-256,
  описанного в
  <a href="https://tools.ietf.org/html/rfc7677" target="_blank" rel="noopener">RFC7677</a>.
  Данный подход является намного более безопасным, чем существующий метод
  аутентификации с использованием MD5.</p>

<a name="features"></a><h2>Подробнее о новинках</h2>
<p>
Более подробную информацию о новых возможностях можно найти по следующим ссылкам
(данные материалы предоставлены на английском языке):
</p>
<ul>
  <li><a href="https://www.postgresql.org/docs/current/release-10.html">Информация об изменениях (Release Notes)</a></li>
  <li><a href="https://wiki.postgresql.org/wiki/New_in_postgres_10">Что нового в PostgreSQL 10</a></li>
  <li><a href="/about/featurematrix">Матрица возможностей</a></li>
  <li><a href="https://momjian.us/main/writings/pgsql/features.pdf">Основные возможности (слайды)</a></li>
  <li><a href="https://www.hagander.net/talks/PostgreSQL_10.pdf">Основные возможности (слайды, вариант 2)</a></li>
</ul>

<a name="download"></a><h2>Где скачать</h2>
<ul>
  <li><a href="/download/">Основная страница загрузки</a> с ссылками на установщики
    для Windows, Linux, macOS, BSD и Solaris, а также дополнительные инструменты</li>
  <li><a href="/ftp/source/v10.0">Исходный код</a></li>
  <li><a href="https://hub.docker.com/_/postgres/">Docker-образ для Postgres</a></li>
  <li><a href="http://pgxn.org">Сеть расширений PostgreSQL (PGXN)</a></li>
</ul>

<a name="docs"></a><h2>Документация</h2>

<p>
Документация в формате HTML и страницы с руководством устанавливаются вместе с PostgreSQL, но вы можете без
каких-либо ограничений просматривать, пользоваться поиском и комментировать нашу подробную, интерактивную
<a href="/docs/10/">онлайн-документацию</a>.
</p>

<a name="license"></a><h2>Лицензия</h2>
<p>PostgreSQL использует <a href="/about/licence">собственную</a>, BSD-подобную лицензию, которая требует только
сохранения в лицензируемом исходном коде информации об авторских правах и текста самой лицензии.
Эта <a href="http://www.opensource.org/licenses/postgresql">сертифицированная организацией OSI</a> лицензия
широко известна своей гибкостью и удобством для бизнеса, поскольку она не запрещает использовать PostgreSQL
в составе коммерческих и закрытых приложений. Наряду с поддержкой множеством компаний и совместным владением
исходного кода, наша лицензия делает PostgreSQL очень популярной среди производителей, желающих внедрить СУБД
в свой продукт без каких-либо отчислений, привязки к производителю или риска изменений в лицензировании.</p>

<a name="contact"></a><h2>Контакты</h2>

<p>Web-страницы</p>
<ul>
<li><a href="https://www.postgresql.org/">Домашняя страница PostgreSQL</a></li>
</ul>

<p>Контакты для прессы</p>

<p>Для запросов на русском языке<br />
Николай Самохвалов<br />
<a href="mailto:RU@POSTGRESQL.ORG">ru@postgresql.org</a><br />
Телефон/Telegram/WhatsApp: +7-905-783-9804</p>
</p>



<a name="graphics"><h2>Графика и логотипы</h2></a>

<img src="https://www.postgresql.org/media/img/about/press/elephant64.png" alt="PostgreSQL Logo" />

<ul>
<li><a href="https://www.postgresql.org/media/img/about/press/elephant.png">Логотип слона PostgreSQL в формате PNG</a></li>
<li><a href="https://www.postgresql.org/media/img/about/press/elephant64.png">Значок слона PostgreSQL</a></li>
<li><a href="https://www.postgresql.org/media/img/about/press/slonik_with_black_text_and_tagline.gif">Баннер PostgreSQL с логотипом, слоном и слоганом</a></li>
</ul>
<p>
Модификация и распространение всех приведенных логотипов разрешена в соответствии с лицензией PostgreSQL.
Имя и логотип PostgreSQL являются торговыми марками ассоциации сообщества PostgreSQL Канады
(The PostgreSQL Community Association of Canada).
</p>

<a name="about"></a><h2>О проекте PostgreSQL</h2>
<p>PostgreSQL является ведущей СУБД с открытыми исходными текстами, с глобальным сообществом из тысяч пользователей
и разработчиков, объединяющим множество компаний и организаций. Проект PostgreSQL создаётся на основе более
чем 25-летнего опыта проектирования и разработки, начавшейся в Калифорнийском университете Беркли, и в настоящее
время разрабатывается беспрецедентными темпами. Продуманный набор возможностей PostgreSQL не только не уступает
ведущим коммерческим СУБД, но и превосходит их развитой функциональностью, расширяемостью, безопасностью и
стабильностью. Вы можете получить дополнительную информацию о PostgreSQL и присоединиться к нашему сообществу
по адресу <a href="https://www.postgresql.org">PostgreSQL.org</a>.</p>

<a name="quoted_companies"></a><h2>Информация о компаниях, упомянутых в цитатах, и полные тексты цитат</h2>
<p>«Наше сообщество разработчиков сфокусировано на развитии таких свойств
  системы, которые позволяют наиболее полно использовать возможности
  современных инфраструктур с распределённым характером нагрузки», — говорит
  Магнус Хагандер (Magnus Hagander), член <a href="/developer/core/">основной
  команды</a> Всемирной группы разработки PostgreSQL. — «Такие функции как
  логическая репликация и улучшенный параллелизм исполнения запросов отражают
  годы работы и демонстрируют постоянный фокус сообщества на обеспечении
  лидирующей роли PostgreSQL в условиях растущих технологических
  требований».</p>

<p>PostgreSQL является ведущей СУБД с открытыми исходными текстами, с глобальным сообществом из тысяч пользователей
и разработчиков, объединяющим множество компаний и организаций. Проект PostgreSQL создаётся на основе более
чем 25-летнего опыта проектирования и разработки, начавшейся в Калифорнийском университете Беркли, и в настоящее
время разрабатывается беспрецедентными темпами. Продуманный набор возможностей PostgreSQL не только не уступает
ведущим коммерческим СУБД, но и превосходит их развитой функциональностью, расширяемостью, безопасностью и
стабильностью. Вы можете получить дополнительную информацию о PostgreSQL и присоединиться к нашему сообществу
по адресу <a href="https://www.postgresql.org">PostgreSQL.org</a>.</p>

<p>«Мы активно используем PostgreSQL, начиная с версии 9.3, и очень рады
  появлению версии 10, так как она содержит долгожданные возможности
  партиционирования и встроенной логической репликации. Это позволит нам
  использовать PostgreSQL в ещё большем количестве сервисов», — заявил Владимир
  Бородин, компания
  <a href="https://www.yandex.ru/" target="_blank" rel="noopener">«Яндекс»</a>.</p>

<p>«Кворум-коммит для синхронной репликации в PostgreSQL 10 даёт нам больше
  вариантов расширять нашу инфраструктуру баз данных с временем простоя работы
  приложений, стремящимся к нулю. Это позволяет нам непрерывно выкатывать
  изменения и обновлять нашу инфраструктуру без необходимости объявления
  длительных периодов обслуживания», — сказал Курт Микол (Curt Micol),
  инженер инфраструктуры в компании
  <a href="https://www.simple.com/" target="_blank" rel="noopener">Simple Finance</a>.</p>

<p>Основанная в 2009, <a href="https://www.simple.com/" target="_blank" rel="noopener">Simple</a>
  является технологической компанией, которая меняет то, как люди используют
  банковские услуги и относятся к своим деньгам. Продукты компании Simple
  вписывают банковские услуги и бюджетирование в одно элегантное приложение —
  инструмент, помогающий людям копить деньги на свои нужды и тратить более
  разумно. Связаться с представителями
  <a href="https://www.simple.com/" target="_blank" rel="noopener">Simple</a> можно по email:
  <a href="mailto:press@simple.com">press@simple.com</a>
</p>

<a name="companies"></a><h2>Корпоративная поддержка</h2>
<p>Проекту PostgreSQL помогают многочисленные компании, спонсирующие разработчиков, предоставляющие ресурсы для
хостинга и финансовую поддержку. Некоторые из них представлены на странице
<a href="https://www.postgresql.org/about/sponsors/">компаний-спонсоров</a>.</p>

<p>Помимо этого, множество компаний занимается <a href="/support/professional_support">поддержкой СУБД PostgreSQL</a>,
от индивидуальных консультантов до многонациональных корпораций.</p>

<p><a href="/about/donate">Пожертвования</a> также тепло приветствуются.</p>
<p>А ещё вы можете купить сувенирную продукцию нашего <li><a href="http://www.zazzle.com/postgresql">магазина PostgreSQL на платформе Zazzle </a></li>
{% endblock %}
