{%extends "base/page.html"%}
{%block title%}{{title}}{%endblock%}
{%block contents%}
<h1>{{title}}  <i class="fa fa-question-circle"></i></h1>

{%if support%}
<p>Commercial support is available from many different companies providing professional services
to the PostgreSQL community.</p>
{%else%}
<p>Many companies provide hosting solutions based on PostgreSQL. Some also provide complete
solutions including support contracts.</p>
{%endif%}

<p>If your company would like to be listed here, please fill out this <a href="/account/services/new/">form</a>.</p>

<p>Please select a region:</p>

<ul>
{%for rl, rn in regions%}
 <li><a href="/support/professional_{{what}}/{{rl}}/">{{rn}}</a></li>
{%endfor%}
</ul>

{%endblock%}
