{%extends "base/cocpage.html"%}
{%load pgfilters%}
{%block title%}Code of Conduct - Hebrew Translation{%endblock%}

{% block cocmain %}
<h1 dir="rtl">קוד התנהגות <i class="fas fa-gavel"></i></h1>

<p><em>Last updated: 2020-08-18 {%git_changes_link%}</em></p>

<h2 dir="rtl">
הקדמה
</h2>


<p dir="rtl">
פרויקט PostgreSQL מתגאה באיכות הקוד והעבודה שלנו, ובהישגים הטכניים והמקצועיים של הקהילה שלנו. אנו מצפים מכל המשתתפים להתנהל בצורה מקצועית, לפעול בנימוס בסיסי ולמען האינטרסים המשותפים של כולנו, עם כבוד הדדי לכל המשתתפים והמפתחים שלנו.
</p>


<p dir="rtl">
לצורך כך חיברנו את קוד ההתנהגות, לצרכי אינטראקציה בתוך הקהילה והשתתפות בעבודת הפרויקט ובעבודת הקהילה בכלל. קוד זה ינסה לכסות את כל סוגי האינטראקציה בין חברי הקהילה, בין אם הדבר מתקיים במסגרת התשתית של postgresql.org או לא, כל עוד אין קוד התנהגות אחר, שמקבל קדימות (כגון קוד התנהגות של כנס).
</p>


<h2 dir="rtl">
הכללה והתנהגות נאותה
</h2>


<p dir="rtl">
פרויקט PostgreSQL פתוח להשתתפות לכל אדם עם עניין בעבודה עם PostgreSQL, ללא קשר לרמת הניסיון שלהם עם התוכנה, או עם טכנולוגיה באופן כללי. אנו מעודדים פיתוח ותרומה מכל המשתתפים שלנו, יהיה הרקע שלהם אשר יהיה.
אנו מעודדים דיון מעורר מחשבה ובונה לגבי התוכנה וקהילה זו, מצבם הנוכחי וכיוונים אפשריים לפיתוח. המיקוד של הדיונים שלנו צריך להיות הקוד והטכנולוגיה, הפרויקטים הקהילתיים והתשתית הקשורים אליו.
</p>


<p dir="rtl">
התקפות בעלות אופי אישי והערות שליליות לגבי מאפיינים אישיים אינן מקובלות ולא יורשו. דוגמאות למאפיינים אישיים כוללות, אך אינן מוגבלות לגיל, גזע, מוצא לאומי או היסטורי, דת, מגדר או נטייה מינית.
</p>


<p dir="rtl">
התנהגויות נוספות שמהוות הפרה של קוד התנהגות זה כוללות, אך אינן מוגבלות לאיומים באלימות נגד פרטים או קבוצות, איומי חבלה מקצועית, קהילתית ו/או חבלה בפרויקט, תשומת לב לא רצויה בעלת אופי מיני משום צורה, כל התנהגות שהיא שעלולה לפגוע בשמו הטוב של פרויקט PostgreSQL וסירוב לעצור התנהגות לא נאותה כשהאדם נדרש לעשות כן.
</p>


<h2 dir="rtl">
תגובה
</h2>


<p dir="rtl">
כמו כן, אסור בתכלית להגיב כנגד אדם המעלה תלונה תחת קוד התנהגות זה, או אדם המתעקש על חקירת תלונה שכזו. התגובה עלולה, בין היתר, לקבל את אחת מהצורות הבאות:


</p>


<ul dir="rtl">
<li>
המשך התקפות אישיות (ציבוריות או פרטיות),
</li>
<li>
פעולות שחותרות תחת הסטטוס המקצועי ו/או הסטטוס התעסוקתי של האדם מול מעסיקיו, חבריו לעבודה, לקוחותיו או הקהילה,
</li>
<li>
פעולות המאיימות על פרטיותו, בריאותו הגופנית, רווחתו, ביתו ו/או משפחתו של האדם.
</li>
</ul>


<p dir="rtl">
פעולות תגובה יטופלו באותה דרך כמו כל הפרה אחרת של קוד התנהגות זה.
</p>


<h2 dir="rtl">
ועדת קוד ההתנהגות
</h2>


<p dir="rtl">
צוות הליבה ימנה וועדת קוד התנהגות לקבלת וחקירת כל התלונות, ויו"ר לאותה וועדה. כל חבר בקהילה רשאי להתנדב להיות חבר בוועדה, למעט חברי צוות הליבה. היות וצוות הליבה מפקח על הוועדה, חברי צוות הליבה לא יהיו רשאים להיות חברים בוועדה, על מנת למנוע ניגוד עניינים. רשימת החברים בוועדה תהיה זמינה לצפייה בכל רגע וניתן לראות אותה
<a href="https://www.postgresql.org/about/policies/coc/">כאן </a>
</p>
<p dir="rtl">
החברות בוועדה תחודש על בסיס שנתי. צוות הליבה או יו"ר הוועדה יכריזו על תאריכי הפתיחה והסגירה של תהליך בחירת החברות השנתי דרך ערוצי התקשורת הקהילתיים המקובלים.
</p>
<p dir="rtl">
כל חבר קהילה, שירצה לשמש כחבר וועדה ישלים את שאלון הסקירה הראשוני של צוות הליבה והוועדה הנוכחית. חברי הוועדה הנוכחיים יסקרו את המועמדים ויקיימו ראיונות במקרה הצורך. חברי הוועדה הנוכחיים יספקו המלצות וצוות הליבה יבחר את חברי הוועדה החדשים.
</p>
<p dir="rtl">


הוועדה תוכל לאפשר תקופת חפיפה של עד חודש אחד על מנת לאפשר העברת ידע ואחריות בין החברים היוצאים לאלה הנכנסים.
</p>
<p dir="rtl">
בעוד אין מספר מוגדר של חברי וועדה, שרשאים לשרת בעת ובעונה אחת, הוועדה תכיל לפחות ארבעה חברים בכל עת. חברי וועדה מתבקשים לשרת בוועדה מינימום של שנה אחת, והם רשאים לשרת בוועדה למשך זמן ארוך יותר אם הם רוצים בכך, עד פרק זמן מקסימלי של 3 שנים.
</p>
<p dir="rtl">
חברי הוועדה משרתים בה לפי ראות עיניהם של חברי צוות הליבה, וצוות הליבה רשאי לשחרר חברי וועדה מאחריותם, אם צוות הליבה מאמין שאותו חבר אינו עומד באחריות הנדרשת מתוקף תפקידו.
</p>
<p dir="rtl">
חברי הוועדה רשאים ליצור קשר מיוזמתם עם צוות הליבה על מנת לתאם את הסרתו של חבר וועדה, אם אדם זה אינו מסוגל או אינו רוצה למלא את האחריות הנדרשת מתוקף תפקידו.
</p>


ֿ<h2 dir="rtl">
דיווח
</h2>


<p dir="rtl">
אם הופנתה כלפיך התנהגות בלתי הולמת, או שהינך עד/ה להתנהגות כזו, אנא דווח/י מיד לוועדת קוד ההתנהגות בכתובת
<a href="mailto:coc@postgresql.org">coc@postgresql.org</a>
. במקרה המצער שבו ברצונך להתלונן כנגד אחד או אחת מחברי הוועדה, הינך רשאי/ת ליצור קשר עם חבר/ה וועדה אחר/ת באופן אישי.
</p>
<p dir="rtl">
בדיווח, אנא כלול/כללי כמה שיותר פרטים:
</p>
<ul dir="rtl">
<li>
תיאור של האירוע
</li>
<li>
תזמון האירועים
</li>
<li>
תמונות מסך של כל דיון אלקטרוני
</li>
<li>
שמות ובמידת האפשר- פרטי קשר של עדים,
</li>
<li>
כל סוג מידע אחר, שלדעתך יכול לעזור בחקירה.
</li>
</ul>


ֿ<h2 dir="rtl">
טיפול בתלונות
</h2>


<p dir="rtl">
הוועדה תאשר קבלת כל תלונה בהקדם האפשרי ותחקור כל תלונה. עם שיתוף הפעולה של כל הצדדים, הוועדה תכוון להשלים את החקירה תוך תקופה של שבועיים מרגע קבלת התלונה.
</p>
<p dir="rtl">
דו"חות אירוע ופעילויות החקירה יישארו חסויים ככל האפשר, בהתאם לצורך לנהל חקירה תקינה.
</p>
<p dir="rtl">
הוועדה תיידע את המתלונן/ת ואת המפר/ה לכאורה לגבי החלטתה באותו זמן. אם החקירה עדיין מתמשכת, הוועדה תספק לשני הצדדים דו"ח מצב ותאריך משוער להשלמת החקירה.
</p>
<p dir="rtl">
חוסר שיתוף פעולה עלול להאריך את החקירה. הוועדה תעשה כל מאמץ להשלים את החקירה ולספק תוצאות עבור המתלונן/ת והמפר/ה בהקדם האפשרי, ותעדכן את שני הצדדים לגבי החלטתם עם השלמת החקירה.
</p>
<p dir="rtl">
במקרה של תלונה ע"י או נגד חבר בוועדת קוד ההתנהגות או חבר צוות הליבה, הטיפול בתלונה ימשיך כרגיל, אך האדם המעורב בתלונה לא יהיה שותף להליכים כחלק מתפקידו בוועדה או בצוות הליבה.
</p>
<p dir="rtl">
תוצאות אפשריות כוללות, אך אינן מוגבלות ל-:
</p>


<ul dir="rtl">
<li>
קביעת אי הפרה של קוד ההתנהגות;
</li>
<li>
נזיפה אישית עם הנחיה ספציפית לגבי התנהגות נאותה של האדם/אנשים המעורב/ים;
</li>
<li>
נזיפה פומבית עם הנחיה ספציפית לגבי התנהגות נאותה של האדם/אנשים;
</li>
<li>
חסימה זמנית או קבועה מחלק או כל החללים בניהול הקהילה, כולל, אך לא מוגבל לרשימות דיוור של הקהילה, פורומים, IRC, ואובדן הזכויות בקהילה;
</li>
<li>
דרישה להתנצלות פומבית ו/או אישית.
</li>
</ul>


<p dir="rtl">
עקב חומרת הקביעה המערכת חסימה זמנית או קבועה, והפעולות הטכניות והתשתיתיות הכרוכות בכך, ממצאים כאלה יהיו נתונים לבדיקה על ידי צוות הליבה לפני עדכון הצדדים המעורבים לגבי ההחלטה. במידה וצוות הליבה לא מסכים עם החלטת הוועדה, יציג צוות הליבה את סיבותיו לוועדה. הוועדה תשקול את המלצות צוות הליבה ותידון בנושא שנית במקרה הצורך. במידה וצוות הליבה והוועדה לא מצליחים להגיע להסכמה, תקבל החלטתו של צוות הליבה קדימות.
</p>
<p dir="rtl">
הוועדה רשאית להחליט, שהפרה מסוימת של המדיניות התרחשה בתום לב, אולי עקב הבדלים תרבותיים (לדוגמא, השימוש במונחי סלנג שאינם פוגעניים בשפה מסוימת ונחשבים פוגעניים בשפה אחרת) או כניסיון כושל להשתמש בהומור. מקרים כאלה יטופלו כהזדמנות לחינוך יותר מאשר לענישה. במידה והוועדה מחליטה, שאירוע שדווח נופל בקטגוריה של הפרה בתום לב, תחליט הוועדה מה ההסתברות שההפרה תחזור על עצמה על ידי אחרים, ובמידה שכן, תחלוק את המידע בצורה כללי עם חברי הקהילה, על מנת למנות הישנות של אירועים מסוג זה.
</p>
<p dir="rtl">
אם כל אחד מהצדדים מרגיש, שהקביעה שגויה, אותו צד רשאי לערער אצל הוועדה תוך שבוע מקבלת ההחלטה. הערעור צריך לכלול מידע חדש, מקורות, עדים וכדומה, על מנת לספק לוועדה מידע נוסף, כדי שתשקול מחדש את האירוע.
</p>
<p dir="rtl">
רשומות של דו"חות אירוע, חקירות, החלטות הוועדה וכל העניינים הקשורים לכך יישמרו למשך תקופה של שלוש שנים קלנדריות, מתאריך הפריט האחרון בקובץ האירוע. הוועדה תנקוט בצעדים מתאימים על מנת לוודא של חיסיון כל הדו"חות והדיונים.
</p>
<p dir="rtl">
הוועדה תייצר עד סוף הרבעון הראשון של השנה דו"ח שנתי עבור השנה שחלפה, המסכם את סוגי התלונות שהתקבלו, ואת הפעולות שננקטו על מנת לטפל בתלונות, ותשתף את הדו"ח עם הקהילה. התלונות והפעולות יהיו אנונימיות על מנת להגן על זהות כל הצדדים המעורבים.
</p>


<h2 dir="rtl">
פעולה בתום לב
</h2>


<p dir="rtl">
כל אדם המגיש תלונה הנוגעת לאירוע, מצופה לעשות כן בתום לב ועם סיבות מספקות להאמין, שהמידע המסופק מציג הפרה של מדיניות זו. כל האשמה שתתגלה כלא מהימנה, ושיוכח כי נעשתה בזדון או מתוך ידיעה שהיא שגויה, תטופל העבירה קהילתית חמורה וכהפרה של קוד התנהגות זה.
</p>


<h2 dir="rtl">
עדכונים לקוד ההתנהגות
</h2>


<p dir="rtl">
הוועדה ו/או צוות הליבה ישקלו עדכונים לקוד התנהגות לפי הצורך, ולפחות פעם בשנה, בהתבסס על האירועים שידווחו, המלצות באנשי מקצוע בתחום החוק, הצעות מחברי הקהילה, התפתחויות תרבותיות בקהילה או אירועים אחרים שיצרו צורך לשינוי.
</p>
<p dir="rtl">
חברי קהילה המעוניינים להציע שינויים לקוד ההתנהגות רשאים להגיש את רעיונותיהם לוועדה דרך כתובת מייל
<a href="mailto:coc@postgresql.org">coc@postgresql.org</a>.
</p>


<h2 dir="rtl">
כנסים ואירועים
</h2>


<p dir="rtl">
הפרויקט מעודד את מארגני כל האירועים ליצור ולשמור על קוד התנהגות לאירוע שלהם. קודים אלה יכולים להיות זהים לקוד התנהגות זה, או לא. מארגן כל אירוע יהיה אחראי לטיפול בהתנהגות בלתי נאותה באירוע שלהם בצורה מהירה ואובייקטיבית.
</p>


<h2 dir="rtl">
סיכום
</h2>


<p dir="rtl">
אנו מעודדים יחסים נאותים וקולגיאליים בין חברי הקהילה. עם זאת, חברי הקהילה חייבים להיות רגישים להתנהגות, שעלולה להיחשב פוגענית, מצדם של חברי קהילה אחרים, ועליהם להימנע מהתנהגות כזו.
</p>


<p dir="rtl">
בכל האינטראקציות עם הקהילה, השתמשו בשיקול דעת מקצועי ושמרו על דיון ממוקד לגבי קידום הפרויקט שלנו והקהילה שלנו בצורה חיובית, למען כולנו.
</p>
{% endblock cocmain %}
