{%extends "base/cocpage.html"%}
{%load pgfilters%}
{%block title%}Code of Conduct - Russian Translation{%endblock%}

{% block cocmain %}
<h1>Code of Conduct <i class="fas fa-gavel"></i></h1>

<p><em>Last updated: 2022-05-02 {%git_changes_link%}</em></p>

<h2>Вступление</h2>

<p>
  Проект PostgreSQL гордится своей работой, качеством кода, а также техническими
  и профессиональными достижениями сообщества. Мы ожидаем, что все участники
  нашего проекта будут вести себя профессионально, вежливо, учитывать общие
  интересы и уважать всех остальных пользователей и разработчиков.
</p>

<p>
  Поэтому мы создали настоящий Кодекс поведения для взаимодействия с сообществом
  и участия в работе проекта и сообщества в целом. Данный Кодекс охватывает все
  аспекты взаимодействия участников сообщества, независимо от того,
  осуществляется ли это взаимодействие в пределах инфраструктуры postgresql.org
  или нет, при условии, что не существует более приоритетного кодекса поведения
  (например, Кодекса поведения на конференции).
</p>

<h2>Открытость и приемлемое поведение</h2>

<p>
  Проект PostgreSQL открыт для участников любого уровня, интересующихся
  PostgreSQL, независимо от их опыта работы с данной СУБД или с информационными
  технологиями в целом. Мы приветствуем разработку и оказание помощи проекту
  всеми пользователями, независимо от их квалификации.
</p>

<p>
  Мы одобряем вдумчивое и конструктивное обсуждение программного обеспечения и
  данного сообщества, текущего состояния и направлений развития. Наши обсуждения
  должны фокусироваться на коде и связанных с ним технологиях, проектах
  сообщества и инфраструктуре.
</p>

<p>
  Личные нападки и негативные комментарии относительно личных характеристик
  неприемлемы и категорически запрещены. К личным характеристикам, в частности,
  относятся возраст, раса, национальное или родовое происхождение, религия, пол
  или сексуальная ориентация.
</p>

<p>
  Также к нарушающим настоящий кодекс относятся, в частности, следующие виды
  поведения: угрозы насилия в отношении отдельного лица или группы, угрозы
  профессионального и социального плана, саботаж проекта, нежелательное
  сексуальное внимание в любой форме, активность, которая может повредить
  репутации проекта PostgreSQL, и продолжение ненадлежащего поведения, несмотря
  на требования прекратить его.
</p>

<h2>Ответные меры</h2>

<p>
  Любому лицу также категорически запрещается принимать ответные меры против
  лица, подавшего жалобу в соответствии с настоящим Кодексом поведения или
  оказывающего содействие в расследовании такой жалобы. Ответные меры, помимо
  прочего, могут включать:
</p>

<ul>
  <li>дальнейшие личные нападки (в публичном или частном общении);</li>
  <li>
    действия, дискредитирующие профессиональный статус человека, и/или
    подрывающие его авторитет в глазах работодателя, среди коллег или в
    сообществе;
  </li>
  <li>
    действия, которые угрожают физическому лицу, его частной жизни,
    благополучию, дому и/или семье.
  </li>
</ul>

<p>
  Все факты применения ответных мер будут расцениваться так же, как и любое
  другое нарушение настоящего Кодекса поведения.
</p>

<h2>Комитет по контролю за исполнением Кодекса поведения</h2>

<p>
  Главная команда (Core Team) назначает Комитет по контролю за исполнением
  Кодекса поведения для получения и проверки всех жалоб, а также Председателя
  данного Комитета. Любой участник сообщества, за исключением представителей
  Главной команды, может подать заявку для волонтёрской работы в составе
  Комитета.
</p>

<p>
  Поскольку Главная команда контролирует работу Комитета, во избежание конфликта
  интересов члены Главной команды не могут быть представителями Комитета. Список
  членов Комитета опубликован <a href="/about/policies/coc_committee/">здесь</a>
  и доступен в любое время. Главная команда или Председатель Комитета будут
  объявлять даты начала и завершения ежегодных выборов новых членов Комитета,
  используя обычные коммуникационные каналы сообщества.
</p>

<p>
  Любой участник сообщества, который хотел бы работать в Комитете, заполняет
  первоначальную анкету для рассмотрения Главной командой и действующим
  Комитетом. Действующие члены Комитета рассматривают его кандидатуру и проводят
  собеседования, если потребуется. Они уполномочены давать рекомендации, и
  Главная команда выберет новых членов Комитета.
</p>

<p>
  Комитет может выделить переходный период сроком до одного месяца для передачи
  нужной информации и обязанностей от уходящих членов Комитета приходящим.
</p>

<p>
  Количество членов Комитета, представляющих его одновременно, может быть
  произвольным, но в нём всегда должно быть не менее четырёх человек. Срок
  деятельности члена Комитета составляет 1 (один) год. Оставаться членом
  Комитета можно в течение нескольких сроков, но не более 3 (трёх) подряд.
</p>

<p>
  Члены Комитета действуют в интересах Главной команды. Главная команда может
  освободить члена Комитета от обязанностей, если считает, что назначенный на
  должность участник сообщества не соответствует данной позиции.
</p>

<p>
  Члены Комитета могут по своей инициативе обратиться к Главной команде с
  просьбой скоординировать исключение одного из членов Комитета, если он не
  способен или не желает исполнять свои обязанности.
</p>

<h2>Сообщение о ненадлежащем поведении</h2>

<p>
  Если вы стали жертвой либо свидетелем ненадлежащего поведения, просьба
  незамедлительно сообщить о нем в Комитет на адрес
  <a href="mailto:coc@postgresql.org">coc@postgresql.org</a>. Если же
  возникла исключительная ситуация, в которой вы хотите пожаловаться на
  какого-либо члена Комитета, вы можете связаться с любым другим членом Комитета
  в индивидуальном порядке.
</p>

<p>Предоставьте в своём сообщении как можно больше подробных сведений:</p>

<ul>
  <li>описание инцидента;</li>
  <li>время, когда происходили описанные события;</li>
  <li>скриншоты переписки в электронном виде;</li>
  <li>имена и, если возможно, контактные данные имеющихся свидетелей;</li>
  <li>любую другую информацию, которая, как вы считаете, может помочь ходу расследования.</li>
</ul>

<h2>Обработка обращений</h2>

<p>
  Комитет обязуется незамедлительно подтвердить получение обращения и провести
  расследование каждого инцидента, по поводу которого отправлено обращение.
  Комитет будет стремиться провести расследование с привлечением всех
  заинтересованных сторон не дольше чем за две недели с момента обращения.
</p>

<p>
  Сообщения об инцидентах, материалы и процесс расследования будут оставаться
  строго конфиденциальными, насколько это возможно для его надлежащего
  завершения.
</p>

<p>
  Комитет проинформирует заявителя и предполагаемого нарушителя о своем решении
  в течение двух недель. Если расследование не закончится в срок, Комитет
  предоставит сторонам отчёт о состоянии дел и назовёт предполагаемую дату
  завершения расследования.
</p>

<p>
  Нежелание сотрудничать может затянуть расследование. В любом случае, Комитет
  приложит все усилия для его скорейшего завершения и сообщит о его результатах
  и своём решении заявителю и предполагаемому нарушителю, как только
  расследование будет завершено.
</p>

<p>
  В случае получения жалобы от одного из членов Комитета или Главной команды, а
  также на одного из членов этих структур, рассматриваться она будет в обычном
  порядке за тем исключением, что лицо, которого касается жалоба, будет
  отстранено от разбирательств в роли представителя Комитета либо Главной
  команды.
</p>

<p>В частности, возможны следующие результаты рассмотрения дела:</p>

<ul>
  <li>Констатация факта отсутствия нарушения.</li>
  <li>
    Выговор нарушившему правила лицу (лицам) в частном порядке с конкретными
    указаниями по исправлению поведения.
  </li>
  <li>
    Публичный выговор нарушившему правила лицу (лицам) с конкретными указаниями
    по исправлению поведения.
  </li>
  <li>
    Временный или постоянный запрет доступа к некоторым или всем управляемым
    сообществом площадкам, включая, помимо прочего, списки рассылки сообщества,
    форумы, IRC, и лишение права на коммит.
  </li>
  <li>
    Требование публичных извинений и (или) извинения в частном порядке.
  </li>
</ul>

<p>
  Ввиду серьёзности решения о временном или постоянном исключении из сообщества, а также необходимости технических и инфраструктурных мероприятий для его исполнения, такое решение должно быть рассмотрено Главной командой до того, как лица, которых касается решение, будут о нём проинформированы. Если Главная команда не согласится с выводом Комитета, она предоставит Комитету свои аргументы. Комитет рассмотрит доводы Главной команды и при необходимости продолжит обсуждение инцидента. Если Главная команда и Комитет не смогут прийти к единому решению, преимущественную силу будет иметь решение Главной команды.
</p>

<p>
  Комитет может постановить, что нарушение настоящего Кодекса было
  непреднамеренным и могло произойти из-за культурных различий (например,
  использования жаргонного термина, который нейтрален в одном языке и
  оскорбителен в другом), или из-за неудачной попытки пошутить. Подобные случаи
  будут рассматриваться как повод для разъяснительной работы, а не для выговора.
  Если Комитет решит, что рассматриваемый инцидент относится к категории
  непреднамеренных нарушений и что возможно повторение этого поведения другими
  лицами, информация о нём в общем виде будет доведена до сообщества для
  предотвращения подобных инцидентов.
</p>

<p>
  Если какая-либо из сторон считает, что решение неверно, в течение одной недели
  после его принятия в Комитет может быть подана апелляция. В апелляции
  необходимо предоставить дополнительную информацию, сообщить о свидетелях,
  других источниках и т. д., чтобы Комитет мог повторно рассмотреть инцидент с
  учётом новых сведений.
</p>

<p>
  Сообщения об инцидентах, материалы расследований, решения Комитета и все
  относящиеся к ним сведения будут храниться в течение трех календарных лет с
  даты добавления последнего материала в дело об инциденте. Комитет примет
  соответствующие меры для обеспечения конфиденциальности всех сообщений и
  обсуждений.
</p>

<p>
  До конца первого квартала каждого года Комитет будет составлять годовой отчет
  за предыдущий год, содержащий обобщённые данные о типах полученных жалоб и
  предпринятых в связи с ними действиях, и предоставлять его сообществу для
  ознакомления. Для защиты персональных данных всех участников жалобы и действия
  в этом отчёте будут анонимизированы.
</p>

<h2>Добросовестность действий</h2>

<p>
  Ожидается, что любой участник, подающий жалобу с описанием инцидента,
  действует добросовестно и имеет разумные основания полагать, что передаваемые
  им сведения указывают на нарушение данного Кодекса. Любые обвинения, которые в
  результате проверок будут признаны необоснованными или заведомо ложными и
  направленными Комитету злонамеренно, будут расцениваться как оскорбление
  сообщества и считаться серьезным нарушением настоящего Кодекса поведения.
</p>

<h2>Внесение изменений в Кодекс поведения</h2>

<p>
  Комитет и/или Главная Команда будут обсуждать необходимость внесения изменений
  в настоящий Кодекс поведения, если это потребуется, либо подводя итоги года.
  Основаниями для внесения изменений могут служить сообщения об инцидентах,
  рекомендации юристов, предложения от членов сообщества, культурное развитие
  сообщества, а также другие события, диктующие необходимость пересмотреть
  правила.
</p>

<p>
  Участники сообщества, у которых есть предложения касательно пересмотра данного
  Кодекса поведения, могут направлять свои идеи Комитету на адрес
  <a href="mailto:coc@postgresql.org">coc@postgresql.org</a>.
</p>

<h2>Конференции и мероприятия</h2>

<p>
  Проект приветствует разработку организаторами специальных Кодексов поведения
  для их мероприятий. Данные Кодексы поведения могут быть идентичны настоящему
  Кодексу поведения, либо отличаться от него. Каждый организатор мероприятия
  несет ответственность за своевременное и объективное реагирование на
  ненадлежащее поведение на своем мероприятии.
</p>

<h2>Заключение</h2>

<p>
  В проекте PostgreSQL приветствуются приличия и коллегиальные отношения между
  участниками сообщества; при этом участники должны воздерживаться от поведения,
  которое может доставлять неудобства другим, и не поддерживать подобное
  поведение.
</p>

<p>
  Проявляя любую активность в сообществе, будьте профессиональны и
  рассудительны, удерживайте фокус дискуссий на продвижении нашего проекта и
  нашего сообщества в позитивном для всех направлении.
</p>
{% endblock cocmain %}
