{%extends "base/cocpage.html"%}
{%load pgfilters%}
{%block title%}Code of Conduct - Chinese Translation{%endblock%}
{%block cocmain%}
<h1>行为准则 <i class="fas fa-gavel"></i></h1>

<p><em>Last updated: August 18, 2020. {%git_changes_link%}</em></p>

<h2>序言</h2>

<p>PostgreSQL项目以我们的代码和工作质量，以及社区的技术和专业成就而自豪。我们希望所有的参与者品行专业，以礼相待，互惠互利，尊重所有用户和开发者。</p>

<p>为此，我们制定了社区互动和社区参与项目工作的行为准则。这个准则涵盖了社区成员之间的所有互动，无论是否在postgresql.org基础架构中，只要没有其他更优先的行为准则（例如会议的行为准则），均以此准则为准。</p>

<h2>包容和适当的行为</h2>

<p>我们鼓励任何对使用PostgreSQL有兴趣的人参加PostgreSQL项目，无论在软件或一般技术方面的经验水平如何。我们鼓励所有用户对PostgreSQL做出发展和贡献，英雄不问出处。</p>

<p>我们鼓励对软件和社区目前的现状及未来的发展方向进行有深思的，建设性的讨论。我们讨论的焦点应该是代码和相关技术，社区项目以及基础设施建设。</p>

<p>我们拒绝和反对人身攻击以及对人格特征的负面评论。个人特征包括但不限于年龄，种族，国籍或血统，宗教，性别或性取向。</p>

<p>违反本行为准则的其他行为包括但不限于：对个人或群体的暴力威胁、对专业，社区或项目破坏性的威胁、任何形式的性骚扰、从事可能使PostgreSQL项目名誉受损的行为、以及予以警示后仍拒绝停止不当行为等。</p>

<h2>报复</h2>

<p>明确禁止任何人对根据本《行为准则》提出投诉或协助调查此类投诉的人进行报复。报复行动的形式包括：</p>

  <ul>
      <li>进一步的人身攻击（公共或私人）；</li>

      <li>破坏个人的职业声誉，或其雇主/同事/客户及社区社会地位的行为；</li>

      <li>威胁个人隐私，人身安全，健康，住所或家庭的行为。</li>
</ul>

<p>对报复行为的处理方式将与任何其他违反本行为准则的行为相同。</p>

<h2>行为准则委员会</h2>

<p>核心团队将任命一个行为准则委员会来接收和调查所有投诉，并任命一名委员会主席。除核心团队成员外，社区的任何成员都可以自愿加入委员会。由于核心团队负责监督委员会，核心团队成员将不会在委员会任职，以防止利益冲突。该委员会的成员名单将随时向公众公开，并可在 <a href="/about/policies/coc_committee/">此处]</a> 查看。</p>

<p>委员会成员将每年更新一次。核心团队或委员会主席将通过社区官方渠道宣布年度会员遴选过程的开始和结束日期。</p>

<p>任何想在委员会中任职的社区成员都将填写一份初步调查表，以备核心团队和现任委员会审核。现任委员会成员将先审查候选人，如有必要将进行面试，之后根据审核结果向核心团队进行推荐，最终由核心团队将为委员会选择新成员。</p>

<p>委员会的过渡期最长为一个月，以便退出成员和新成员做好信息对称和权责交接。</p>

<p>虽然委员会成员人数没有规定，可以随时任职，但委员会始终至少由四人组成。委员会成员需保证至少服务一年，如果愿意可以服务更久，但最多为三年。</p>

<p>委员会成员为核心团队服务，而如果核心团队认为某委员会成员不履行其职务职责，核心团队可免除该委员会成员的职责。</p>

<p>如果某委员会成员不能或不愿履行其职务的责任，委员会也可以主动联系核心团队，协调免除该委员会成员的职责。</p>

<h2>举报</h2>

<p>如果您是不当行为的接受者，或目睹此类行为，请立即将其报告给行为规范委员会，网址为coc@postgresql.org。如果不幸的是您希望对委员会的某个成员提出投诉，您可以改为单独联系任何其他委员会成员。</p>

<p>在您的报告中，请尽可能多地提供详细信息：</p>

  <ul>
      <li>事件描述；</li>

      <li>事件发生的时间；</li>

      <li>任何电子讨论的屏幕截图；</li>

      <li>姓名（如果可能的话）、任何证人的联系方式；</li>

      <li>您认为对调查有帮助的任何其他信息。</li>

  </ul>

<h2>投诉处理</h2>

<p>委员会将迅速收悉并调查每起举报的事件。在各方合作下，委员会将争取在收到投诉后两周内完成调查。</p>

<p>因充分调查的需要，事件报告和调查活动将尽可能保密。</p>

<p>委员会届时将通知申诉人和被指控的违反者处理决定。如果调查仍在进行中，委员会将向当事方提供一份现况报告和预计的完成日期。</p>

<p>调查可能会因缺乏配合而延长时间。委员会将尽一切努力完成调查，调查结束后尽快将调查结果提交申诉人和被指控的违反者，并通知他们委员会的决定。</p>

<p>如果CoC委员会成员或核心团队成员提出投诉或被投诉，投诉处理将照常进行，但提出投诉或被投诉的委员会成员或核心团队成员，将被要求停止以委员会或核心团队成员角色处理此案件。</p>

<p>可能的结果包括但不限于：</p>

  <ul>
      <li>确定不违反《行为准则》;</li>

      <li>对所涉个人可接受的行为进行具体指导的私人训斥;</li>

      <li>对个人可接受的行为进行具体指导的公开谴责;</li>

      <li>暂时或永久禁止使用某些或所有社区管理的空间，包括但不限于社区邮件列表、论坛、IRC 和丧失承诺特权;</li>

      <li>决定公开和/或私下道歉。</li>
  </ul>

<p>由于涉及临时禁令或永久禁令的裁定的严重性，以及结果需要采取的相关技术和基础设施行动，在将决定通知有关各方之前，这一调查结果将由核心小组审查。如果核心小组不同意委员会的调查结果，则核心小组将向委员会陈述其理由。委员会将考虑核心小组的建议，并在需要时进行进一步讨论。如果核心团队和委员会无法就决定达成一致，则以核心团队的决定为准。</p>

<p>委员会可能认定，违反这项政策是无意的，可能是文化差异造成的（例如，使用俚语，在一种语言中无害，在另一种语言中具有冒犯性），或者是出于对幽默的误解。这类案件将被视为教训，而不应被谴责。如果委员会确定举报的事件属于无意违反事件的类别，则委员会将判断其他人是否可能再次发生该事件，如果是，则在社区内分享这个信息，以防止同样的事情再次发生。</p>

<p>如果任何一方认为确定不正确，则可在其决定后的一周内向委员会提出上诉。上诉应包括新的信息，消息来源，证人等，以便委员会提供补充资料，以重新审议这一事件。</p>

<p>事件报告，调查，委员会决定以及所有相关事项的记录将从事件档案中最后一项的日期起保留三个日历年。委员会将采取适当措施，确保所有报告和讨论的机密性。</p>

<p>委员会将制作一份年度报告，总结上一年的每年第一季度末之前收到的投诉类型以及为解决这些投诉所采取的措施，并与社区分享该报告。投诉和行为将被匿名化，以保护所有相关方的身份。</p>

<h2>诚实行事</h2>

<p>对事件进行投诉的任何人都应本着诚信的态度行事，并且有合理的理由相信所披露的信息表明违反了本政策。任何证明不成立的指控，以及被证明是恶意或有意为虚假的指控，都将被视为严重的社区犯罪，并且违反了本《行为准则》。</p>

<h2>行为准则更新</h2>

<p>委员会或核心团队将根据：所报告的事件、法律专业人士的建议、社区成员的建议、社区文化发展、及其他需要修订的事件等，考虑对本行为准则的更新，至少每年一次。</p>

<p>建议修订《行为准则》的社区成员可以通过电子邮件<a href="mailto:coc@postgresql.org">coc@postgresql.org</a>向委员会提交其想法。</p>

<h2>会议与活动</h2>

<p>我们鼓励每个活动的组织者为其活动创建并维护行为准则。这些行为准则可能与本行为准则相同或不同。每个活动的组织者都有责任及时，客观的处理其活动中的不当行为。</p>

<h2>结论</h2>

<p>我们鼓励社区成员之间建立适当和合作的关系：然而，成员必须对可能被其他成员认为是冒犯的行为敏感，并必须避免从事这种行为。在与社区的所有互动中，我们希望您运用的专业判断力，让讨论专注于推动我们的项目和社区朝着面向所有人的积极方向发展。</p>
{% endblock %}
