{%extends "base/page.html"%}
{%block title%}Alpha Information{%endblock%}
{%block contents%}
<h1>Alpha Information</h1>

<p>
PostgreSQL alpha releases are snapshots of development code.  They are
intended to preview and test upcoming features and to provide the
possibility for early feedback.  They should not be used in production
installations or active development projects.  While the PostgreSQL
code is continuously subject to a number of automated and manual
tests, alpha releases might have serious bugs.  Also features may be
changed incompatibly or removed at any time during the development
cycle.
</p>
<p>
The development cycle of a PostgreSQL major release alternates between
periods of development and periods of integration work, called <a href="http://commitfest.postgresql.org/">commit
fests</a>, normally one month each.  Alpha releases are planned to be
produced at the end of every commit fest, thus every two months.
Since the first commit fest starts within a month from the beginning
of development altogether, early alpha releases are <i>not</i> indicative of
the likely feature set of the final release.
</p>
<p>
There are currently no alpha versions available for testing.
</p>
<p>We depend on our large community of users to test the features in alpha
 releases and report issues.  If you are able to contribute to PostgreSQL by
doing alpha testing, please see our 
<a href="http://wiki.postgresql.org/wiki/HowToBetaTest">Alpha/Beta Testing Page.</a></p>
{%endblock%}
