{%extends "base/page.html"%}
{%block title%}Alpha Information{%endblock%}
{%block contents%}
<h1>Alpha Information</h1>

<p>
PostgreSQL alpha releases are snapshots of development code.  They are
intended to preview and test upcoming features and to provide the
possibility for early feedback.  They should not be used in production
installations or active development projects.  While the PostgreSQL
code is continuously subject to a number of automated and manual
tests, alpha releases might have serious bugs.  Also features may be
changed incompatibly or removed before beta releases.
</p>
<p>
There are no alpha releases in the PostgreSQL 9.6 version.  The developers have
chosen to proceed directly to <a href="/developer/beta">9.6 beta</a>.
</p>
<!--
<p>We depend on our large community of users to test the features in alpha
 releases and report issues.  If you are able to contribute to PostgreSQL by
doing alpha testing, please see our 
<a href="https://wiki.postgresql.org/wiki/HowToBetaTest">Alpha/Beta Testing Page.</a></p>
-->
{%endblock%}
