{%extends "base/page.html"%}
{%block title%}Beta Information{%endblock%}
{%block contents%}
<h1>Beta Information</h1>

<p>
PostgreSQL release candidates pre-release testing versions, not meant for production use. They are feature-frozen, and we release these to the public for testing before our final release.
</p>

<!--
<p>
RC versions should not be used in production installations or active development projects. While the PostgreSQL code is continuously subject to a number of automated and manual tests, beta 
releases might have serious bugs. Also features may be changed incompatibly or removed at any time during the development of the betas.
</p>
<p>The development cycle of a PostgreSQL major release alternates between periods of development and periods of integration work, called <a href="http://commitfest.postgresql.org">commit fests</a>, normally one month each. 
As we approach release, we will release a series of betas, as needed.
</p>
-->

<p>
PostgreSQL 9.0 Beta is over.  Please download the <a href="/download">release version of 9.0</a>
</p>

<p>
If you wish to help with alpha-testing version 9.1, <a href="/developer/alpha">please see the Alpha page.</a>
</p>

<p>
Version 9.1 will go into beta <a href="http://wiki.postgresql.org/wiki/PostgreSQL_9.1_Development_Plan">sometime around March 2011.</a>
</p>

<!--
<p>
We depend on our large community of users to test the features and report issues. If you are able to contribute to PostgreSQL by doing testing, please see our <a 
href="http://wiki.postgresql.org/wiki/HowToBetaTest">Alpha/Beta Testing Page</a>.
</p>
-->
{%endblock%}
