{%extends "base/page.html"%}
{%block title%}Beta Information{%endblock%}
{%block contents%}
<h1>Beta Information</h1>

<p>PostgreSQL beta and release candidate releases are pre-release testing versions, not meant for production use. They
    are feature-frozen, and we release these to the public for testing before our final release.</p>

<p>The PostgreSQL Global Development Group strongly advises against using beta versions of PostgreSQL in production
    installations or active development projects. While the PostgreSQL code is continuously subject to a number of
    automated and manual tests, beta releases might have serious bugs. Features are subject to changes that are
    backwards incompatible at any time during the development of the betas, and could possibly be removed
    altogether.</p>

<p>Betas and release candidates are meant for everyone who uses PostgreSQL to test before the full release. The process
    of testing these betas will help the community to identify and fix bugs prior to release.  They are especially
    useful for developers of platforms, drivers, tools, and utilities which depend upon PostgreSQL in order to prepare
    for changes in the new version.</p>

<!--
<p>PostgreSQL 10 has been released. The first beta of version 11 is not yet available for testing. Beta testing of
    version 11 is likely to begin in mid 2018.</p>
-->

<p>The current test release is <strong>PostgreSQL 10 RC 1</strong>.  For more information on the current test release and how
    to test, please view the links below.</p>

<ul>
  <li>
    <a href="/about/news/1776/">Release Announcement</a>
  </li>
  <li>
    <a href="/ftp/source/v10rc1">Download 10 RC 1 source code</a>
  </li>
  <li>
    <a href="/docs/devel/static/index.html">Development Version of the Docs</a>
  </li>
  <li>
    <a href="https://wiki.postgresql.org/wiki/HowToBetaTest">A Guide to PostgreSQL Beta Testing</a>
  </li>
</ul>
{%endblock%}
