{%extends "base/page.html"%}
{%block title%}Core Team{%endblock%}
{%block contents%}

<h1>Core Team <i class="fa fa-users"></i></h1>

<p>The PostgreSQL Global Development Group core team is composed of five long-time community members
with various specialisations.  Their roles include:</p>
<ul>
  <li>Coordinating release activities.</li>
  <li>Acting as a conduit for confidential communication.</li>
  <li>Making policy announcements.</li>
  <li>Managing permissions for commits, infrastructure, etc.</li>
  <li>Handling disciplinary issues.</li>
  <li>Making difficult decisions when consensus is lacking.</li>
</ul>

<p>The core team avoids involvement in topics that are best dealt with in
an open forum, like technical direction and advocacy.  Core team members
are appointed by existing core team members.</p>

<p>The core team members are listed on the
<a href="/community/contributors/">Contributor Profiles</a> page.</p>

<p>You can contact the core team by emailing pgsql-core [at] postgresql [dot] org.</p>
{%endblock%}
