{%extends "base/page.html"%}
{%block title%}Roadmap{%endblock%}
{%block contents%}

<h1>Roadmap</h1>

<p>PostgreSQL is a non-commercial, all volunteer, free software project, and as
such there is no formal list of feature requirements required for development. 
We really do follow the mantra of letting developers scratch their own itches.
</p>

<p>The next release of PostgreSQL is planned to be the 9.5 release. A
tentative schedule for this version has a release in the 
fourth quarter of 2015.</p>

<p>While there are no formal requirements for each PostgreSQL release, there 
are several places you can look to find out more information on upcoming
features:</p>
<dl>
	<dt>General <a href="https://wiki.postgresql.org/wiki/Development_information">development information</a></dt>
	<dd>A wiki page about various aspects of the PostgreSQL development process</dd>
	<dt>Information about the current <a href="https://commitfest.postgresql.org/">commit fest</a></dt>
	<dd>An overview about the status on patches for the current commitfest</dd>
</dl>

{%endblock%}
