{%extends "base/page.html"%}
{%block title%}Roadmap{%endblock%}
{%block contents%}

<h1>Roadmap <i class="fas fa-road"></i></h1>

<p>PostgreSQL is a noncommercial, all volunteer, free software project, and as
such there is no formal list of feature requirements required for development.
We enjoy allowing developers to explore the topics of their choosing, though
we also ensure that all new features committed to PostgreSQL are thoroughly
vetted by our community of contributors and committers.
</p>

<h2>Upcoming minor releases</h2>
<p>
The PostgreSQL project aims to make <em>at least</em> one minor release every quarter,
on a predefined schedule. If it becomes necessary due to an important bugfix or
security issue, more releases will be made between these dates, so this list should
be considered a minimum. At each of these dates, a new minor release will be made
for each <a href="/support/versioning/">supported version</a>.
</p>
<p>
The target date for these releases are, unless otherwise stated, the second
Thursday of February, May, August, and November. The current schedule for upcoming
releases is:
</p>
<ul>
  <li>November 12th, 2020</li>
  <li>February 11th, 2021</li>
  <li>May 13th, 2021</li>
  <li>August 12th, 2020</li>
</ul>

<h2>Next major release</h2>

<p>
  The next major release of PostgreSQL is planned to be the 13 release. A
  tentative schedule for this version has a release in the third quarter of
  2020.
</p>

<!-- <p>The next major release of PostgreSQL is planned to be the 12 release. Currently,
  the scheduled date for this release is October 3, 2019.</p> -->

<p>While there are no formal requirements for each PostgreSQL release, there
are several places you can look to find out more information on upcoming
features:</p>
<ul>
	<li>General <a href="https://wiki.postgresql.org/wiki/Development_information" target="_blank" rel="noopener">development information</a> - A wiki page about various aspects of the PostgreSQL development process</li>
	<li>Information about the current <a href="https://commitfest.postgresql.org/" target="_blank" rel="noopener">commit fest</a> - An overview about the status on patches for the current commitfest</li>
</ul>

{%endblock%}
