{%extends "base/page.html"%}
{%block title%}Google Summer of Code Program{%endblock%}
{%block contents%}

<h1>PostgreSQL and Google Summer of Code <i class="fa fa-code"></i></h1>

<p>The PostgreSQL Project is participating in the Google <a
href="https://summerofcode.withgoogle.com/" target="_blank" rel="noopener">Summer of Code 2018</a>
program! This program funds students to contribute to an open source project over
their summer break.</p>

<ul>
<li><a href="#2018mentors">2018 Mentors</a></li>

<li><a href="#2018projects">2018 Accepted Projects</a></li>

<li><a href="#past">Previously Accepted Projects</a></li>

<li><a href="#faq">Frequently Asked Questions</a></li>
</ul>

<a id="2018mentors" name="2018mentors"></a>

<h2>2018 Mentors</h2>

<p>PostgreSQL follows an open community development model, so student projects
are likely to be reviewed and commented on by any and all members of the
PostgreSQL community. This also means that we may be able to find mentors for
additional projects by reaching out to this community. If you are interested in
working on a project not explicitly mentioned above, you may want to contact
one of the Summer of Code liaisons below about writing a proposal.</p>

<p>The GSoC Admins are:</p>
<ul>
	<li>Stephen Frost &lt;sfrost @ snowman.net&gt;</li>
	<li>David Steele &lt;david.steele @ crunchydata.com&gt;</li>
</ul>

<p>The mentors for GSoC 2018 are:</p>

<ul>
	<li>Anastasia Lubennikova</li>
	<li>Atri Sharma</li>
	<li>Andrey Borodin</li>
	<li>Mark Wong</li>
	<li>Aleksander Alekseev</li>
</ul>

<a id="2018projects" name="2018projects"></a>

<h2>2018 Accepted Projects</h2>

<p>The PostgreSQL project accepted the following proposals:</p>

<ul>
	<li>Performance Farm - Hongyuan Ma</li>
	<li>Implement pg_thrift plugin - Yan (Charles) Cui</li>
	<li>Sorting Algorithms Benchmark and Implementation - Kefan Yang</li>
</ul>

<a id="past" name="past"></a>
<h2>Previously Accepted Projects</h2>
<ul>
	<li>Re-logging of unlogged tables</li>
	<li>Index-Only scans for GiST</li>
	<li>Fast GiST index build</li>
	<li>New phpPgAdmin Plugin Architecture</li>
	<li>pgAdmin database designer</li>
	<li>Better indexing for ranges</li>
	<li>Document Collection Foreign-data Wrapper</li>
</ul>

<p>More information on past GSoC participation can be found on PostgreSQL GSoC pages:
(<a href="https://wiki.postgresql.org/wiki/GSoC_2017">2017</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2016">2016</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2015">2015</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2014">2014</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2013">2013</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2012">2012</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2011">2011</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2010">2010</a>
 | <a href="https://code.google.com/soc/2008/postgres/about.html">2008</a>
 | <a href="https://code.google.com/soc/2007/postgres/about.html">2007</a>
 | <a href="https://code.google.com/soc/2006/pgsql/about.html">2006</a>)</p>


<a id="faq" name="faq"></a>

<h2>Frequently Asked Questions</h2>

<ul>
<li>
<p><strong>What is the timeline for GSoC 2018?</strong></p>

<p>Please see the <a href="https://developers.google.com/open-source/gsoc/timeline">
Google Summer of Code 2018 Timeline</a> for the complete GSoC 2018 timeline.</p>

</li>

</ul>
{%endblock%}
