{%extends "base/page.html"%}
{%block title%}Google Summer of Code Program{%endblock%}
{%block contents%}

<div id="CONTENTWRAP">
<h1>PostgreSQL and Google Summer of Code</h1>

<p>The PostgreSQL Project is planning on participating in the Google <a
href="https://summerofcode.withgoogle.com/">Summer of Code 2016</a> program. This
program endeavors to fund students to contribute to an open source project over
the summer break.</p>

<ul>
<li><a href="#ideas">Example Proposal Ideas</a>

<li><a href="#mentors">Possible Mentors</a></li>

<li><a href="#proposals">Proposal Guidelines</a></li>

<li><a href="#past">Previously Accepted Projects</a></li>

<li><a href="#faq">Frequently Asked Questions</a></li>
</ul>

<a id="ideas" name="ideas"></a>
<h2>Example Proposal Ideas</h2>
<p>The PostgreSQL Project has a wide range of opinions on what it feels are
acceptable GSoC projects. The examples listed here are meant only as a
suggestion of things we would likely find useful, but you should not feel
obligated to pick from this list by any means. If you have just discovered a
new algorithm as part of your thesis work, we would love to see a proposal
implementing that in PostgreSQL. The point is that all proposals will be
evaluated on their own merits, so be creative.

<ul>
<li><strong>TODO Items</strong>: A number of the items on our TODO list have
been marked as good projects for beginners who are new to the PostgreSQL code.
Items on this list have the advantage of already having general community
agreement that the feature is desireable. These items should also have some
general discussion available in the mailing list archives to help get you
started. You can find these items on the
<a href="https://wiki.postgresql.org/wiki/Todo">TODO</a> list, they will be
marked with an [E].
</li>
<li><strong>Other Ideas</strong>: are given on our <a href="https://wiki.postgresql.org/wiki/GSoC_2016#Project_Ideas">GSoC 2016 Wiki Page</a></li>

<a id="mentors" name="mentors"></a>
<h2>Mentors</h2>

<p>PostgreSQL follows an open community development model, so student projects
are likely to be reviewed and commented on by any and all members of the
PostgreSQL community. This also means that we may be able to find mentors for
additional projects by reaching out to this community. If you are interested in
working on a project not explicitly mentioned above, you may want to contact
one of the Summer of Code liaisons below about writing a proposal.</p>

<ul>
	<li>Thom Brown &lt;thom @t linux.com&gt;, EnterpriseDB, GSoC admin</li>
	<li>Josh Berkus &lt;josh @t postgresql.org&gt;, PostgreSQL Experts, performance engineering</li>
</ul>

<p>A list of prospective mentors will be provided on our <a href="https://wiki.postgresql.org/wiki/GSoC_2016#2016_Mentors">GSoC 2016 Wiki Page</a></p>

<p>If your project is not selected for funding by Google, but you still think you have a
feasible project proposal, then please email our developers mailing list at <a
href="mailto:pgsql-hackers@postgresql.org">pgsql-hackers@postgresql.org</a>.</p>

<a id="proposals" name="proposals"></a>

<h2>Proposal Guidelines</h2>

<p>From March 14th, 2016, students can apply to Summer of Code at the <a href="https://summerofcode.withgoogle.com">GSoC website</a></p>

<p>Students are responsible for writing a proposal and submitting it to Google before the
application deadline. The following outline was adapted from the Perl Foundation <a
href="http://www.perlfoundation.org/how_to_write_a_proposal">open source proposal
HOWTO</a>. A strong proposal will include:</p>

<ul>
<li><strong>Benefits to the PostgreSQL Community</strong> - a good project will not just be
fun to work on, but also generally useful to others.</li>

<li><strong>Deliverables</strong> - It is very important to list quantifiable results
here</li>

<li><strong>Project Schedule</strong> - How long will the project take? When can you
begin work?</li>

<li><strong>Bio</strong> - Who are you? What makes you the best person to work on this
project?</li>

<li><strong>Contact</strong> - How can we contact if we have questions about your project? 
Can you supply us with an email/IM/phone method for being contacted, in case of emergency?</li>
</ul>

<p>Please also see our additional <a href="/developer/summerofcodeadvice">Advice to Students</a> <strong>before</strong> submitting a proposal.</p>

<p>We would prefer that development discussion occur on our project mailing lists when possible, with special recognition being given to those students who vet their proposal with community developers before submitting their proposal to Google SoC. This is not required, but can have a large impact on the chances of your proposal being accepted, so please don't be shy. In any case, you will be required to keep open lines of communication with your mentor should you be accepted, so if you have circumstances that may affect this, please explain them up front in your proposal.</p>

<a id="past" name="past"></a>
<h2>Previously Accepted Projects</h2>
<ul>
	<li>Re-logging of unlogged tables</li>
	<li>Index-Only scans for GiST</li>
	<li>Fast GiST index build</li>
	<li>New phpPgAdmin Plugin Architecture</li>
	<li>pgAdmin database designer</li>
	<li>Better indexing for ranges</li>
	<li>Document Collection Foreign-data Wrapper</li>
</ul>

<p>More information on these projects can be found on Google's PostgreSQL SoC pages: 
(<a href="https://wiki.postgresql.org/wiki/GSoC_2015">2015</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2014">2014</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2013">2013</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2012">2012</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2011">2011</a>
 | <a href="https://wiki.postgresql.org/wiki/GSoC_2010">2010</a>
 | <a href="http://code.google.com/soc/2008/postgres/about.html">2008</a>
 | <a href="http://code.google.com/soc/2008/postgres/about.html">2007</a>
 | <a href="http://code.google.com/soc/2006/pgsql/about.html">2006</a>)</p>


<a id="faq" name="faq"></a>

<h2>Frequently Asked Questions</h2>

<ul>
<li>
<p><strong>Am I eligible?</strong></p>

<p>Please see the Google <a href="https://developers.google.com/open-source/gsoc/faq#what_are_the_eligibility_requirements_for_participation">
Students and Eligibility FAQ</a> for all questions about eligibility.</p>

</li>

<li>
<p><strong>When is the proposal deadline?</strong></p>

<p>According to the <a href="https://summerofcode.withgoogle.com/how-it-works/">Summer
of Code timeline</a>, the deadline for submitting student proposals is March
25th, 2016 (19:00 UTC). Please remember that proposals must submitted to Google
themselves<!-- (via the <a href="http://code.google.com/soc/student_step1.html">student
application form</a>) -->, although we are happy to discuss any proposals with
you ahead of time.</p>
</li>

</ul>
</div>
{%endblock%}
