{%extends "base/page.html"%}
{%block title%}Testing{%endblock%}
{%block contents%}

<h1>Testing</h1>

<p>The following links are relevant to PostgreSQL testing.</p>

<h2>Test Builds </h2>
<ul>
    <li><a href="/developer/alpha">Current Alpha release information</a></li>
    <li><a href="/ftp/snapshot/dev/">Download nightly code build</a></li>
    <li><a href="/download/snapshots">Download periodic binary builds</a></li>
    <li><a href="http://buildfarm.postgresql.org/">Distributed Build Farm</a></li>
</ul>

<h2>QA and Performance </h2>
<p>
We have two performance labs. One is located in Portland Oregon at <a href="http://www.commandprompt.com">Command Prompt's</a> facility. The other is located in France at the OpenWide facility.
These facilities are used for a wide range of tasks from DBT-style tests, to system monitoring and feature specific testing. You can review more information at the <a href="http://wiki.postgresql.org/wiki/Performances_QA_testing">Performance and QA testing wiki page.</a>
<p>
<h2>Documentation</h2>
<ul>
	<li><a href="http://developer.postgresql.org/docs/postgres/index.html">Developer Version of The Docs</a> (<a href="http://developer.postgresql.org/docs/postgres/buildlog.html">build log</a>) </li>
</ul>
<ul>
	<li><a href="/files/documentation/pdf/8.4/postgresql-8.4rc1-A4.pdf">Downloadable (PDF) version of 8.4 rc1 (A4 version)</a> (Last updated: Jun 12, 2009)
	<li><a href="/files/documentation/pdf/8.4/postgresql-8.4beta2-US.pdf">Downloadable (PDF) version of 8.4 beta2 (US version)</a> (Last updated: May 16, 2009)
	</li>
</ul>
{%endblock%}
