{%extends "base/page.html"%}
{%block title%}Financial Sponsors{%endblock%}
{%block contents%}

<h1>Financial Sponsors <i class="fas fa-money-bill-alt"></i></h1>

  <p><a href="/about/financial">Financial Sponsors</a> are people or companies who have donated money to help
  support one of the <a href="/about/policies/npos/">Recognised PostgreSQL Nonprofit Organisations</a> that
  support the project around the world. Each NPO determines how their sponsors are grouped and listed in this section.
  </p>

<h2>PostgreSQL Community Association</h2>

<p>The <a href="https://postgres.ca/">PostgreSQL Community Association</a> is dedicated to stewarding the project
trademarks and domain names, to ensure that PostgreSQL will remain free and open to all. The following sponsorship
levels are used:</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Level</th>
      <th>Minimum Donation in USD (from January 2025)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Benefactor</th>
      <td>$30,000</td>
    </tr>
    <tr>
      <th scope="row">Patron</th>
      <td>$15,000</td>
    </tr>
    <tr>
      <th scope="row">Supporter</th>
      <td>$5,000</td>
    </tr>
    <tr>
      <th scope="row">Friend</th>
      <td>$2,500</td>
    </tr>
    <tr>
      <th scope="row">Donor</th>
      <td>&lt; $2,500</td>
    </tr>
  </tbody>
</table>

<p>
  Find out more information about what PGCA does and its mission on the
  <a href="https://www.postgres.ca/donate/">PGCA donation page</a>.
</p>

<h3>PostgreSQL Community Association Sponsors</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Date of donation</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="organisation-logo">
        <a href="https://www.enterprisedb.com" target="_blank" rel="noopener">
          <img class="organisation-logo" src="/media/img/about/sponsors/logo_edb.png" alt="EDB" />
        </a>
      </th>
      <td><a href="https://www.enterprisedb.com" target="_blank" rel="noopener">EDB</a></td>
      <td>24th January 2025</td>
      <td>Benefactor</td>
    </tr>
    <tr>
      <th scope="row" class="organisation-logo">
        <a href="https://aws.amazon.com" target="_blank" rel="noopener">
          <img class="organisation-logo" src="/media/img/about/sponsors/logo_aws.svg" alt="AWS" />
        </a>
      </th>
      <td><a href="https://aws.amazon.com" target="_blank" rel="noopener">AWS</a></td>
      <td>19th July 2024</td>
      <td>Benefactor</td>
    </tr>
  </tbody>
</table>

{%endblock%}
