{%extends "base/page.html"%}
{%block title%}Server Sponsors{%endblock%}
{%block contents%}

<h1>Server Sponsors <i class="fas fa-server"></i></h1>

<p>
The servers that power the services of <a href="/">www.postgresql.org</a> are provided by
different companies and organisations around the world.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    	<th>Provider</th>
    	<th>Dedicated</th>
    	<th>Specs</th>
    	<th>OS</th>
    	<th>Location</th>
    	<th>Usage</th>
    </tr>
  </thead>
  <tbody>
    {%for server in servers %}
      <tr>
        <th scope="row">{{ server.name }}</th>
        <td>
          {% for sponsor in server.sponsors.all %}
            <a href="{{ sponsor.url }}" target="_blank" rel="noopener">{{ sponsor.name }}</a>{%if not forloop.last%}, {%endif%}
          {% endfor %}
        </td>
        <td>{{ server.dedicated|yesno:"Yes,No" }}</td>
        <td>{{ server.performance }}</td>
        <td>{{ server.os }}</td>
        <td>{{ server.location }}</td>
        <td>{{ server.usage }}</td>
      </tr>
    {%endfor%}
  </tbody>
</table>

<h2>Additional Hosting Services</h2>

{# Image included to meet the requirements of the Fastly agreement #}
<a href="https://www.fastly.com/"><img class="organisation-logo" src="/media/img/about/sponsors/logo_fastly.png" alt="Fastly" /></a>
<p>In addition to the servers listed above, the PostgreSQL Project is grateful to 
    <a href="https://www.fastly.com/">Fastly</a> for providing CDN and other 
    services at no cost.
</p>

{%endblock%}
