{%extends "base/page.html"%}
{%block title%}Sponsors{%endblock%}
{%block contents%}

<h1>Sponsors <i class="fa fa-users"></i></h1>

  <p>Sponsors to the PostgreSQL project are listed in three different categories, based on the ways in which they support
  the project:</p>

<h2>Contributing Sponsors</h2>
  <p><a href="/about/contributing/">Contributing Sponsors</a> are companies that support the project by allowing their
  employees to spend some or all of their working time helping to build PostgreSQL and work on other project areas
  and eco-system projects that benefit PostgreSQL users and the project in general.</p>

<h2>Financial Sponsors</h2>
  <p><a href="/about/financial/">Financial Sponsors</a> are people or companies who have donated money to help
  support one of the <a href="/about/policies/npos/">Recognised PostgreSQL Nonprofit Organisations</a> that
  support the project around the world. Each NPO determines how their sponsors are grouped and listed in this section.
  </p>

<h2>Server Sponsors</h2>
  <p>A project like PostgreSQL requires a significant amount of online infrastructure in order to operate. These
  <a href="/about/servers/">Server Sponsors</a> provide one or more servers and/or hosting to help support the project.
  </p>
{%endblock%}
