{%extends "base/page.html"%}
{%block title%}Case Studies: Mohawk Software{%endblock%}
{%block contents%}
<h1>Case Studies: Mohawk Software</h1>
<h3>Milton, Massachusetts, United States</h3>

<h2>Company Background</h2>

<p>Mohawk Software provides consulting services to many types of companies seeking to deploy complex knowledge management and data mining systems.  They provide solutions that <b>match the power and sophistication</b> of larger systems deployed at Fortune 500 companies, while proving to be <b>easy to administer</b> and <b>cost significantly less than their proprietary counterparts</b>.</p>

<h2>Challenging Proprietary Databases</h2>

<p>For many projects, including handling data from the US Census, Mohawk sought a solution that could handle the demands of large data sets as well as <b>supporting industry standards for access and control of data</b>.</p>

<p>Before Open Source alternatives such as PostgreSQL, Mohawk would have had to settle for a proprietary system that may or may not support open data-handling standards.  The cost for their clients would also have been prohibitive, and would not be feasible with the minimal budgets allocated for information technology.</p>


<h2>PostgreSQL Implements Standards And Exposes Powerful API</h2>

<p>By using PostgreSQL in their deployments, Mohawk Software was able to <b>reduce the hassle and extra development</b> involved with a deployment, while providing the latest and most standard compliant software for their clients.</p>

<p>"PostgreSQL <b>handles virtually all the standard SQL constructs</b>. It is easy (relatively speaking) to administer, <b>it is fast</b>, it is efficient, <b>it has a great API</b>, and <b>it supports ODBC</b>, why would you choose something else?. states Mark Woodward, Independent Consultant from Mohawk Software.</p>

<p>"Any responsible CTO/CIO should seriously evaluate lower cost alternatives [such as PostgreSQL] first."</p>
{%endblock%}
