{%extends "base/page.html"%}
{%block title%}Case Studies: Shannon Medical Center{%endblock%}
{%block contents%}
<h1>Case Studies: Shannon Medical Center</h1>
<h3>San Angelo, Texas, United States</h3>

<h2>Company Background</h2>
<p>Shannon Medical Center performs data analysis for financial, operational, and clinical care systems of hospitals and health care institutions.</p>
<p>In their industry, the company must rely on <b>robust technology to handle sensitive and important data</b> across many different aspects of a hospital's information infrastructure.  In their solutions, they strive for <b>ease of implementation</b> as well as <b>low cost of deployment</b>.</p>

<h2>Looking For Flexibility At The Right Price</h2>
<p>In a recent implementation, the team at Shannon Medical Center was tasked with making use of an already implemented Decision Support System that contained important hospital data.</p>

<p>Instead of working with the inflexible technology already in place, the implementation team chose to rebuild the key system from scratch using PostgreSQL as the database.  "With PostgreSQL, I was able to create a system with <b>maximum flexibility and control</b> and <b>minimal cost</b>," says Andrew Gould, the principal architect in charge of Shannon Medical Center team.  "I am now able to provide Senior Management with information that they've never had."</p>

<h2>PostgreSQL Solves The Data Dilemma</h2>

<p>Thanks to the <b>open standards</b> used by PostgreSQL, and the <b>ease of use in a complex IT infrastructure</b>, Shannon Medical Center succeeded in deploying the technology with little difficulty and with great benefit for their client.  The analysts were now able to work with data in new and exciting ways to improve the hospital.s bottom line.</p>
{%endblock%}
