{%extends "base/page.html"%}
{%block title%}PostgreSQL 9.0 Press Kit{%endblock%}
{%block contents%}


<h1>Δελτίο Τύπου για την PostgreSQL 9.0</h1>

<h2>Περιεχόμενα</h2>


<p>
 &nbsp; <a href="#original_release">Κείμενο Αρχικής Έκδοσης</a><br />
 &nbsp; <a href="#additional_features">Λίστα Χαρακτηριστικών</a><br />
 &nbsp; <a href="#download">Τοποθεσίες Λήψης</a><br />
 &nbsp; <a href="#docs">Τεκμηρίωση</a><br />
 &nbsp; <a href="#license">Άδεια χρήσης</a><br />
 &nbsp; <a href="#contact">Επικοινωνία</a><br />
 &nbsp; <a href="#quoted_companies">Πλήρες Κείμενο Ρήσεων και Εταιρικά Στοιχεία</a><br />
 &nbsp; <a href="#companies">Εταιρική Υποστήριξη</a><br />
</p>



<a name="original_release"></a><h2>Πρωτότυπο Δελτίο Τύπου</h2>




<p>
20 Σεπτεμβρίου 2010: Η Ομάδα Ανάπτυξης PostgreSQL (PostgreSQL Global Development Group) ανακοινώνει την έκδοση 9.0, 
την πιο πρόσφατη έκδοση της πρωτοπόρου ανοιχτού κώδικα σχεσιακής
βάσης δεδομένων. Σε αυτή την  έκδοση  περιλαμβάνονται βελτιώσεις και προσθήκες σε ασφάλεια, υποστήριξη εφαρμογών, monitoring, επιδόσεων και
υποστήριξη αποθήκευσης ειδικής μορφής δεδομένων. Είναι ιδιαίτερα σημαντικές οι νέες προσθήκες που υποστηρίζουν λειτουργίες replication και  hot standby,
επιταχύνοντας την αποδοχή της PostgeSQL σε περιβάλλοντα Cloud και scalable εφαρμογών.
</p><p>
"Η Ενσωματωμένη υποστήριξη για replication  και hot standby  στην 9.0 αποτελούσαν τα πιο δημοφιλή αιτήματα για αρκετά χρόνια."
είπε ο Simon Riggs, CTO στην  2ndQuadrant και contributor στο Hot standby της PostgreSQL. 
"Το Αποτελεσματικό, low latency streaming replication  προστατεύει καλύτερα τα δεδομένα σας, ενώ το hot standby μειώνει σημαντικά το συνολικό κόστος λειτουργίας.
Σε proprietary προϊόντα, αυτή η δυνατότητα είναι μια προσθήκη που κοστίζει χιλιάδες δολάρια."

</p><p>
H Έκδοση 9.0 περιλαμβάνει αρκετές (πάνω από 10) σημαντικές βελτιώσεις σε κάθε πτυχή της σχεδίασης και των επιδόσεων, συμπεριλαμβανομένων:
υποστήριξη 64-bit Windows,  conditional and per-column triggers, upgrade-in-place from 8.3 and 8.4, deferrable unique constraints and high-performance event messaging. 
Για μια πλήρη λίστα των νέων χαρακτηριστικών, δείτε τη σελίδα μας  με τις πληροφορίες  Έκδοσης.
</p><p>
"Ως ένας απο τους παγκόσμιος μεγαλύτερους διαχειριστές υποδομών Internet registries,  Η Afilias εκφράζει την ικανοποίηση της για την ενσωμάτωση in-place upgrades στην PostgreSQL 9.0,
αυτο το χαρακτηριστικό μας επιτρέπει να αναβαθμίσουμε τις 16 εκατομμύρια domain  name βάσεις μας με την ελάχιστη ζημία", δήλωσε  ο Ram Mohan CTO στην Afilias.
</p><p>
"Είμαστε πολύ ενθουσιασμένοι με τα νέα χαρακτηριστικά ... ιδίως με τα deferrable unique constraints ως μια ευκαιρία για την επιτάχυνση των διαδικασιών update και upgrade για τους
πελάτες μας"  δήλωσε ο Paolo Juvara, CTO της OpenBravo.

</p><p>

Ο Marc Balmer, ιδρυτής της Micro Systems στην Ελβετία, ενδιαφέρεται περισσότερο για την βελτιώση της λειτουργίας  LISTEN/NOTIFY event messaging:
"Το καινούριο option data payload στα ασύγχρονα notifications θα ενισχύσει την επόμενη έκδοση τον εφαρμογών εμφάνισης απομακρυσμένων δεδομένων που αναπτύσσουμε."

</p><p>
Χάρη στη συμβολή προγραμματιστών και επιχειρήσεων απο όλο τον κόσμο, όπως οι  NTT Open Source, EnterpriseDB, 2ndQuadrant, Red Hat και πολλών άλλων, 
o ρυθμός ανάπτυξης και  υιοθέτησης από χρήστες είναι μεγαλύτερος απο οποτεδήποτε.

</p><p>
«Εδώ στην τράπεζα CAIXA χρησιμοποιούμε PostgreSQL σε περιβάλλοντα διαχείρισης κρίσιμων οικονομικών δεδομένων 
γιατί έχει την δυνατότητα να υποστηρίξει τις λειτουργίες μας", δήλωσε ο Clarice Coppetti, IT Αντιπρόεδρος της CAIXA Τράπεζας στην Βραζιλία. 
"Η νέα έκδοση δείχνει ότι η PostgreSQL αναπτύσσεται γρήγορα με τρόπο που την κάνει να μπορεί να ανταποκρίνεται στις  ανάγκες της επιχείρησής μας."
</p><p>

Σχετικά με την PostgreSQL: Η PostgreSQL είναι η πρώτη ανοιχτού λογισμικού βάση δεδομένων, με μια παγκόσμια κοινότητα χιλιάδων χρηστών και contributors καθως και δεκάδες εταιρείες και οργανισμούς. 
Το Project της PostgreSQL διαθέτει πάνω απο 20 χρόνια ανάπτυξης, ξεκίνησε απο το Πανεπιστήμιο της Καλιφόρνιας, Berkeley, και σήμερα ο ρυθμός ανάπτυξης του είναι χωρίς προηγούμενο.
Τα χαρακτηριστικά της PostgreSQL οχι μόνο ισοτιμούν με αντίστοιχα κορυφαίων proprietary συστημάτων βάσεων δεδομένων, αλλά υπερβαίνουν αυτά σε προηγμένα χαρακτηριστικά όπως
επεκτασιμότητα,  ασφάλεια και σταθερότητα. Μπορείτε να  μάθετε περισσότερα για την PostgreSQL και να συμμετέχετε στην  κοινότητά μας, στο www.postgresql.org.
</p>

<h2>Αναλυτική πληροφόρηση σχετικά με την Έκδοση</h2>

<a name="additional_features"></a><h2>Feature List</h2>
<p>


Η Έκδοση 9.0 έχει ένα πρωτοφανή αριθμό νέων σημαντικών χαρακτηριστικών, που καταδεικνύουν την επιτάχυνση της ανάπτυξης της κοινότητας προγραμματιστών και υποστηρικτών μας κατά το τελευταίο έτος:


</p>
<h3>
Replication and Scalability
</h3>
<ul>
<li>Hot Standby</li>
<li>Streaming Replication</li>
</ul>
<h3>
Διαχείριση και Ασφάλεια
</h3>
<ul>
<li>Integrated Upgrade-in-Place (pg_upgrade)</li>
<li>RADIUS Authentication</li>
<li>Password Strength Checking (passwordcheck)</li>
<li>Easier Database Permissions Management Commands (GRANT ON ALL and DEFAULT PERMISSIONS)</li>
</ul>

<h3>
Σχεδιασμός Βάσης και SQL
</h3>
<ul>
<li>Deferrable Unique Constraints</li>
<li>Conditional Triggers</li>
<li>Column Triggers</li>
<li>Ordering in Aggregates</li>
<li>New Windowing Functions (ROWS PRECEDING and FOLLOWING)</li>
</ul>

<h3>
Stored Procedures
</h3>
<ul>
<li>Anonymous Procedure Code Blocks (DO statement)</li>
<li>Improved Perl and Python Stored Procedures (including support for Python 3)</li>
<li>Named Parameters in Stored Procedure Calls</li>
</ul>

<h3>
Επιδόσεις και προηγμένα χαρακτηριστικά 
</h3>
<ul>
<li>Improved Event Messaging (LISTEN/NOTIFY)</li>
<li>64-bit Windows Support</li>
<li>Optimization for ORM-Generated Queries (JOIN removal)</li>
<li>Unique Keys for Non-Scalar Data (Exclusion Constraints)</li>
<li>Expanded Support for Key-value Data (HStore)</li>
<li>JSON and XML Explain Plans</li>
</ul>

<h3>
Περισσότερες πληροφορίες για αυτά τα Χαρακτηριστικά.
</h3>
<p>
Για επεξηγήσεις αυτών των χαρακτηριστικών , παρακαλούμε ανατρέξτε στης παρακάτω αναφορές.
</p>
<ul>
<li><a href="/docs/9.0/static/release-9-0.html">Release Notes</a></li>
<li><a href="https://wiki.postgresql.org/wiki/What's_new_in_PostgreSQL_9.0">Τι νεο υπάρχει στην 9.0</a></li>
<li><a href="/about/featurematrix">Πίνακας χαρακτηριστικών </a></li>
</ul>
<a name="download"></a><h2>Downloads</h2>
<ul>
<li><a href="/download">Downloads page</a>, με συνδέσμους προς προγράμματα εγκατάστασης και εργαλεία.</li>
<li><a href="/ftp/source/v9.0.0">Πηγαίος Κώδικας</a></li>
<li><a href="/download/windows">Προγράμματα εγκατάστασης για Windows</a></li>
<li><a href="/download/linux">Προγράμματα εγκατάστασης για Linux</a> και αποθετήρια πακέτων</li>
<li><a href="/download/solaris">Πακέτα Solaris</a></li>
<li><a href="/download/macosx">Προγράμματα εγκατάστασης για Mac OSX</a></li>
<li><a href="/download/freebsd">Πακέτα FreeBSD</a></li>
<li><a href="http://www.pgfoundry.org">Προαιρετικά Components and Add-Ons</a></li>
<li><a href="/download/product-categories">Σχετικό και Εμπορικό Λογισμικό</a></li>
</ul>








<a name="docs"></a><h2>Τεκμηρίωση</h2>

<p>
Τεκμηρίωση HTML και σελίδες man εγκαθίστανται μαζί με την PostgreSQL, αλλά μπορείτε να περιηγηθείτε, να αναζητήσετε και να σχολιάσετε την εκτεταμένη, διαδραστική <a href="/docs/9.0/interactive">online τεκμηρίωση</a>.
</p>

<a name="license"></a><h2>Άδεια χρήσης</h2>
<p>
Η PostgreSQL χρησιμοποιεί την <a href="/about/licence">άδεια χρήσης PostgreSQL</a>, μια παρόμοια με BSD άδεια που προϋποθέτει μόνο τη διατήρηση των στοιχείων πνευματικών δεδομένων 
και άδειας χρήσης του πηγαίου κώδικα που αφορά. 
Αυτή η <a href="http://www.opensource.org/licenses/postgresql">πιστοποιημένη κατά OSI άδεια χρήσης</a>  αξιολογείται ευρέος ως ευέλικτη και φιλική προς τις επιχειρήσεις, 
καθώς δεν περιορίζει τη χρήση της PostgreSQL με εμπορικές και αποκλειστικές εφαρμογές. Μαζί με την υποστήριξη πολλών εταιριών και τη δημόσια ιδιοκτησία του κώδικα, η άδεια χρήσης BSD 
καθιστά την PostgreSQL πολύ δημοφιλή στους προμηθευτές που θέλουν να ενσωματώσουν μια βάση δεδομένων στο δικό τους προϊόν χωρίς να φοβούνται τις χρεώσεις, το  vendor lock-in 
ή τις αλλαγές στους όρους της Άδειας χρήσης.
</p>


<a name="contact"></a><h2>Επικοινωνία</h2>

<p>Web Pages</p>
<ul>
<li><a href="http://www.postgresql.org">Αρχική σελίδα PostgreSQL</a></li>
</ul>


<p>Πληροφορίες:<br />
Κωστας Μαϊστρέλης<br />
Τοπικός εκπρόσωπος επικοινωνίας της PostgreSQL<br />
Κινητό: +306946071060<br />
<a href="mailto:el@postgresql.org">el@postgresql.org</a></p>



<p>Για επικοινωνία με άλλες περιοχές, δείτε <a href="/about/press/contact">τη λίστα μας με τις διεθνείς επαφές.</a></p>


<a name="quoted_companies"></a><h2>Πλήρη κείμενα Ρήσεων και Εταιρικά Στοιχεία</h2>

<p>

Η PostgreSQL 9,0 έχει προσελκύσει μεγάλο ενδιαφέρον από χρήστες βάσεων δεδομένων σε όλο τον κόσμο. 
Τα ακόλουθα αποσπάσματα αποδεικνύουν τον ενθουσιασμό των επιχειρήσεων απο Αγγλία, Καναδά, Ισπανία, Ελβετία και  Βραζιλία σχετικά με τα νέα χαρακτηριστικά. 
Επικοινωνήστε μαζί μας για να ορίσουμε μια συνέντευξη με οποιαδήποτε από αυτές τις εταιρείες. 
</p>

<h3>2ndQuadrant</h3>
<p>
"Η Ενσωματωμένη υποστήριξη για replication  και hot standby  στην 9.0 αποτελούσαν τα πιο δημοφιλή αιτήματα για αρκετά χρόνια."
είπε ο Simon Riggs,CTO στην  2ndQuadrant.  
"Το Αποτελεσματικό, low latency streaming replication  προστατεύει καλύτερα τα δεδομένα σας, ενώ το hot standby μειώνει σημαντικά το συνολικό κόστος λειτουργίας.
Σε proprietary προϊόντα, αυτή η δυνατότητα είναι μια προσθήκη που κοστίζει χιλιάδες δολάρια."
</p>
<p>
<i>Σχετικά με 2ndQuadrant:</i> <a href="http://www.2ndquadrant.com">2ndQuadrant</a> 
η 2ndQuadrant είναι παγκόσμια συμβουλευτική και παροχής υποστήριξης εταιρεία με ειδίκευση σε υπηρεσίες PostgreSQL  με πελάτες σε περισσότερες από 15 χώρες.
Οι σύμβουλοι της εταιρείας έχουν συμβάλει στην ανάπτυξη σημαντικών χαρακτηριστικών σε 
κάθε μια από τις τελευταίες έξι κυκλοφορίες της PostgreSQL. Επικοινωνία: <a href="mailto:info@2ndQuadrant.com">info@2ndQuadrant.com</a> +44 8707667756  (αγγλικά, ιταλικά, γαλλικά)
</p>



<h3>Afilias</h3>
<p>
"Ως ένας απο τους παγκοσμίως μεγαλύτερους διαχειριστές υποδομών Internet registries,  Η Afilias εκφράζει 
την ικανοποίηση της για την ενσωμάτωση in-place upgrades στην PostgreSQL 9.0, αυτο το χαρακτηριστικό μας επιτρέπει να αναβαθμίσουμε τις 16 εκατομμύρια domain  
name βάσεις μας με την ελάχιστη ζημία, Επιπλέον, περιμένουμε να χρησιμοποιήσουμε το Hot Standby και το Streaming Replication, τα οποία συμπληρώνουν
το είδη ισχυρό replication μέσω του Slony.  Αυτού του είδους οι προσθήκες ισχυροποιούν τον λόγο για τον οποίο κρίσιμες τεχνολογικά 
διαδικασίες μπορούν να βασίζονται στη δύναμη, την ευελιξία και την ευρωστία της PostgreSQL.", δήλωσε  ο Ram Mohan CTO στην Afilias.
</p>
<p>
<i>Σχετικα με Afilias</i>: <a href="http://www.afilias.info">Afilias</a>
Η  Afilias είναι ένας παγκόσμιος προμηθευτής υπηρεσιών υποδομής οι οποίες συνδέουν τους πελάτες με τα δεδομένα τους. Η Afilias είναι 
αξιόπιστη, ασφαλής, scalable και με παγκόσμιο δίκτυο υποστήριξης,  διαθέτει ένα ευρύ φάσμα εφαρμογών,  συμπεριλαμβανομένου και  υπηρεσιών Internet domain registry, 
Managed DNS,  και υπηρεσίες σχετικές με  RFID και αλυσίδες προμηθειών.
Για περισσότερες πληροφορίες σχετικά με την Afilias μπορειτε να επισκεφθείτε <a href="http://www.afilias.info">την ιστιοσελιδα μας</a>
ή επικοινωνήστε με  <a href="mailto:hread@afilias.info">Heather Read</a> (μόνο στα Αγγλικά)
</p>



<h3>Openbravo</h3>
<p>

"Η Openbravo υπήρξε ενθουσιώδης χρήστης της PostgreSQL.  Ενσωματώνουμε την PostgreSQL στα  Cloud Appliances και βασιζόμαστε σε αυτήν στα Ubuntu πακέτα μας.  Παρόλο που το προϊόν υποστηρίζει πολλές 
βάσεις δεδομένων, το 93% των Openbravo  εγκαταστάσεων είναι σε PostgreSQL. Κάθε νέα έκδοση της PostgreSQL έχει προσθέσει αξιοπιστία και απόδοση και περιμένουμε από την 9,0
να συνεχίσει στα ίδια βήματα.
"Είμαστε πολύ ενθουσιασμένοι με τα νέα χαρακτηριστικά ... ιδίως με τα deferrable unique constraints ως μια ευκαιρία για την επιτάχυνση των διαδικασιών update και upgrade για τους
πελάτες μας"  δήλωσε ο Paolo Juvara, CTO της OpenBravo.
Το νέο ενσωματωμένο  binary, log based replication απευθύνετε στους πιο απαιτητικούς  χρήστες μας  που ενδιαφέροντε για redundancy και υψηλή διαθεσιμότητα.
 Τέλος, όλοι μας οι προγραμματιστές περιμένουν την νεα εντολή VACUUM FULL.
 Έχουμε κάνει ήδη κάποιες προκαταρκτικές δοκιμές της PostgreSQL 9.0 και δεν έχουμε βρει κανένα σημαντικό πρόβλημα. Εντοπίσαμε κάποιες μικρές ασυμβατότητες
 αλλά πιστεύουμε οτι η επίλυση τους θα είναι απλή. Η Openbravo προτίθεται να αρχίσει την υποστήριξη της PostgreSQL 9.0 μόλις αυτή καταστεί production, και να την υιοθετήσει
ως προεπιλεγμένη εγκατάσταση μόλις αυτή αρχίσει να υποστηρίζεται από τις μεγάλες διανομές Linux "δήλωσε ο Paolo Juvara, CTO της OpenBravo.







</p>
<p>
<i>Σχετικά με Openbravo</i>: <a href="http://www.openbravo.com">Openbravo</a>
είναι η εταιρία ανάπτυξης του Openbravo ERP, μιας web-based εμπορικής ανοιχτού λογισμικού ERP λύσης  για  μικρομεσαίες επιχειρήσεις, Η πρώτη πραγματικά  εναλλακτική λύση  στο proprietary λογισμικό.
οι ERP και  Point of Sale (PoS) λύσεις, οι ποιο δημοφιλείς στην αγορά τους, έχουν γίνει download πάνω από 1,5 εκατομμύριο φορές και χρησιμοποιούνται σε περισσότερες από 50 χώρες. 
Επικοινωνία: <a href="media@openbravo.com">Carme Zaragoza</a> +34 932725947  (ισπανικά, αγγλικά)


</p>
<h3>micro systems</h3>
<p>
Ο Marc Balmer, ιδρυτής της Micro Systems στην Ελβετία, ενδιαφέρεται περισσότερο για την βελτίωση της λειτουργίας LISTEN/NOTIFY event messaging:
"Το καινούριο option data payload στα ασύγχρονα notifications θα ενισχύσει την επόμενη έκδοση τον εφαρμογών εμφάνισης απομακρυσμένων δεδομένων που αναπτύσσουμε, 
το οποίο είναι ενα σύστημα έκδοσης εισιτήριων και σημείο λιανικής πώλησης για ζωολογικούς κήπους και μουσεία."
</p>
<p>
<i>Σχετικά με micro systems</i>: <a href="http://www.msys.ch">micro systems</a> 
η micro systems είναι μια ελβετική εταιρεία  που ασχολείται με  Consulting και ανάπτυξη εφαρμογών, χρησιμοποιεί ώριμα προϊόντα ανοιχτού κώδικα όπως
το BSD Unix και την PostgreSQL.  η micro μεταφέρει οτι καλύτερο έχει να δώσει το ανοιχτό λογισμικό στους πελάτες τις και ενισχύει τη κοινότητες
ανοιχτού λογισμικού.
Επικοινωνία:  <a href="vera@msys.ch">Vera Hardmeier</a>, +41 61 383 50 10 (γερμανικά, αγγλικά)
</p>
<h3>Τραπεζα CAIXA</h3>
<p>
«Εδώ στην τράπεζα CAIXA χρησιμοποιούμε PostgreSQL σε περιβάλλοντα διαχείρισης κρίσιμων οικονομικών δεδομένων 
γιατί έχει την δυνατότητα να υποστηρίξει τις λειτουργίες μας", δήλωσε ο Clarice Coppetti, IT Αντιπρόεδρος της CAIXA Τράπεζας στην Βραζιλία. 
"Η νέα έκδοση δείχνει ότι η PostgreSQL αναπτύσσεται γρήγορα με τρόπο που την κάνει να μπορεί να ανταποκρίνεται στις  ανάγκες της επιχείρησής μας."
</p>
<p>
<i>Σχετικα με την CAIXA</i>: <a href="http://www.caixa.gov.br/">CAIXA</a> 

αποτελεί τον κύριο παράγοντα για τις δημόσιες πολιτικές της ομοσπονδιακής κυβέρνησης και είναι παρούσα στη ζωή  εκατομμυρίων Βραζιλιάνων.
Το Ίδρυμα είναι 100% δημόσιο και δεν εξυπηρετεί μόνο τους πελάτες της τράπεζας, αλλά το σύνολο του πληθυσμού της Βραζιλίας, μέσω της λαχείων,
το επενδύσεων σε αστικές υποδομές και τις κοινωνικές πληρωμές προγραμμάτων, FGTS, PIS και Επιδόματος Ανεργίας. 
 <a href="http://www.caixa.gov.br/">CAIXA αρχική σελίδα </a> (πορτογαλικά μόνο)
</p>






<a name="companies"></a><h2>Εταιρική Υποστήριξη</h2>

<p>Η PostgreSQL χαίρει την υποστήριξη πολλών εταιριών, οι οποίες επιχορηγούν  προγραμματιστές, προσφέρουν πόρους φιλοξενίας και παρέχουν οικονομική υποστήριξη. 
Οι μεγαλύτεροι και μακροβιότεροι χορηγοί μας καταγράφονται στη <a href="/about/sponsors">σελίδα χορηγών ανάπτυξης.</a></p>


<p>Υπάρχει επίσης μια μεγάλη κοινότητα <a href="/support/professional_support">εταιριών που προσφέρουν Υποστήριξη στην PostgreSQL</a>, από μεμονωμένους συμβούλους μέχρι πολυεθνικές εταιρίες.</p>

<p><a href="/about/donate">Δωρεές</a> γίνονται ευχαρίστως δεκτές.</p>



{%endblock%}
