{%extends "base/page.html"%}
{%block title%}PostgreSQL 9.0 Press Kit{%endblock%}
{%block contents%}

<h1>PostgreSQL 9.0プレスキット</h1>

<h2>目次</h2>

<p>
 &nbsp; <a href="#original_release">リリース原文</a><br />
 &nbsp; <a href="#additional_features">機能一覧</a><br />
 &nbsp; <a href="#download">ダウンロード</a><br />
 &nbsp; <a href="#docs">文書</a><br />
 &nbsp; <a href="#license">ライセンス</a><br />
 &nbsp; <a href="#contact">問い合わせ先</a><br />
 &nbsp; <a href="#quoted_companies">引用の全文とその企業について</a><br />
 &nbsp; <a href="#companies">法人サポート</a><br />
</p>

<a name="original_release"></a><h2>リリース原文</h2>
<p>
2010年9月20日: PostgreSQLグローバル開発グループは、最も先端的なオープンソースリレーショナルデータベースの最新バージョンであるPostgreSQL 9.0のリリースをアナウンスします。このメジャーリリースでは、セキュリティ、アプリケーションサポート、監視、性能、特別なデータの格納という点において先端的な機能を有します。利用者は特に、クラウドホスティングやスケーラブルなアプリケーションへの適用を加速する、PostgreSQL 9.0の新しいレプリケーションおよびホットスタンバイ機能に興味を持つことでしょう。
</p><p>
2ndQuadrantのCTO、かつホットスタンバイの重要な貢献者であるSimon Riggsは次のように述べています。
「9.0に組み込まれたレプリケーションとホットスタンバイへのクエリ実行機能は、何年もの間、PostgreSQLにおいてもっとも要望の多かった機能です。効率的かつ遅延の少ないストリーミングレプリケーションは、より優れたデータ保護を実現します。一方、ホットスタンバイはTCO（Total Cost of Ownership、総所有コスト）を大きく低減します。この機能は商用製品では数千ドルのコストがかかるアドオンとして提供されているものです。」
</p><p>
PostgreSQL 9.0には、データベースアプリケーション設計および性能に関して、あらゆる面において拡張を実現する多数の大きな改良が含まれています。64ビット版のWindowsサポートや条件付きトリガ、列単位のトリガ、8.3および8.4から（フルダンプ＆フルレストアが不要な）その場でのメジャーアップグレード、遅延可能な一意性制約、高性能イベントメッセージなどが含まれます。新機能の全リストについてはリリース情報ページを参照してください。
</p><p>
AfiliasのCTOであるRam Mohanは次のように述べています。
「コアインターネットインフラストラクチャレジストリの世界最大のオペレータの1つとして、AfiliasはPostgreSQL 9.0に（フルダンプ＆フルレストアが不要な）その場でのアップグレードが加わったことに喜んでいます。これにより1600万強のドメイン名データベースを最小限の中断で新しいバージョンのデータベースに更新することができます。」
</p><p>
OpenBravoのCTOであるPaolo Juvaraは次のように述べています。
「PostgreSQLの新しい機能に非常に興奮しています。特に、遅延可能な一意性制約の機能について、当社顧客のためのデータ更新やアップグレードを高速化できる機会として期待しています。」
</p><p>
スイスMicro Systemsの設立者であるMarc Balmerは大きく改良されたLISTEN/NOTIFYイベントメッセージ処理機能により興味を持ち、次のように述べています。
「非同期通知における新しいデータペイロードオプションは、当社のリモートデータ表示プログラムの次期バージョンを一層強化するでしょう。」
</p><p>
開発者および、NTT OSSセンタ、EnterpriseDB、2ndQuadrant、Red Hatなどその他多くの世界中の企業の協力のおかげで、ユーザへの導入と開発の勢いはこれまでになく盛んなものになりました。
</p><p>
ブラジルCAIXA銀行のIT副社長であるClarice Coppettiは次のように述べています。
「CAIXA銀行ではPostgreSQLをミッションクリティカルな財務環境で使用しています。当社の業務をサポートできる品質を持っているためです。この新しいバージョンは、PostgreSQLが私たちのビジネスニーズに合致し続けられるように急速に改良されていることを示しています。」
</p><p>
PostgreSQLについて：
PostgreSQLは数千のユーザと貢献者、多くの企業や組織によるグローバルなコミュニティを持つ、先端的なオープンソースデータベースシステムです。カリフォルニア大学バークレイ校から始まったPostgreSQLプロジェクトの開発は20年以上経過しており、今日では他と比較にならないペースでその開発が進んでいます。PostgreSQLの成熟した機能群は、業界トップの商用データベースシステムに匹敵するだけではなく、先端的なデータベース機能、拡張性、セキュリティ、安定性という点でそれらを超えています。PostgreSQLの詳細についてはwww.postgresql.orgにある私達のコミュニティを参照ください。またコミュニティへの参加をお待ちしています。
</p>

<h2>詳細リリース情報</h2>

<a name="additional_features"></a><h2>機能一覧</h2>
<p>
バージョン9.0には、予期されてなかったほど多くの新しい主要機能があります。このことは、過去1年間における開発協力者のコミュニティの加速的な成長を証明しています。
</p>
<h3>
レプリケーションとスケーラビリティ
</h3>
<ul>
<li>ホットスタンバイ</li>
<li>ストリーミングレプリケーション</li>
</ul>
<h3>
管理性とセキュリティ
</h3>
<ul>
<li>（フルダンプ＆フルレストアが不要な）その場でのメジャーアップグレードの統合(pg_upgrade)</li>
<li>RADIUS認証</li>
<li>パスワードの強度検査(passwordcheck)</li>
<li>より簡単なデータベース権限管理コマンド(GRANT ON ALL and DEFAULT PERMISSIONS)</li>
</ul>

<h3>
データベース設計とSQL
</h3>
<ul>
<li>遅延可能一意性制約</li>
<li>条件付きトリガ</li>
<li>列トリガ</li>
<li>集約における順序付け</li>
<li>新しいウィンドウ関数(ROWS PRECEDING and FOLLOWING)</li>
</ul>

<h3>
ストアドプロシージャ
</h3>
<ul>
<li>匿名プロシージャコードブロック(DO文)</li>
<li>改良されたPerlおよびPythonストアドプロシージャ(Python 3サポートを含む)</li>
<li>ストアドプロシージャにおける名前付きパラメータ呼び出し</li>
</ul>

<h3>
性能とその他の先進的な機能
</h3>
<ul>
<li>イベントメッセージ処理の改良(LISTEN/NOTIFY)</li>
<li>64ビットWindowsサポート</li>
<li>O/Rマッパが生成する問い合わせの最適化(JOINの除去)</li>
<li>スカラデータ以外に対する一意キー(排他制約)</li>
<li>キー/バリューデータに対するサポート拡張(HStore)</li>
<li>JSONおよびXMLによる計画の表示</li>
</ul>

<h3>
上記機能に関する詳細
</h3>
<p>
上記機能などの詳細については以下のリソースを参照してください。
</p>
<ul>
<li><a href="/docs/9.0/static/release-9-0.html">リリースノート</a></li>
<li><a href="https://wiki.postgresql.org/wiki/What's_new_in_PostgreSQL_9.0">9.0の新機能</a></li>
<li><a href="/about/featurematrix">機能マトリクス(英語のみ)</a></li>
</ul>
<a name="download"></a><h2>ダウンロード</h2>
<ul>
<li><a href="/download">ダウンロードページ</a>。インストーラやツールへのリンクもあります。</li>
<li><a href="/ftp/source/v9.0.0">ソースコード</a></li>
<li><a href="/download/windows">Windowsインストーラ</a></li>
<li><a href="/download/linux">Linuxインストーラ</a>およびパッケージリポジトリ</li>
<li><a href="/download/solaris">Solarisパッケージ</a></li>
<li><a href="/download/macosx">Mac OSXインストーラ</a></li>
<li><a href="/download/freebsd">FreeBSDポート</a></li>
<li><a href="http://www.pgfoundry.org">オプションのコンポーネントとアドオン</a></li>
<li><a href="/download/product-categories">関連ソフトウェアおよび商用ソフトウェア</a></li>
</ul>

<a name="docs"></a><h2>文書</h2>

<p>HTML文書およびマニュアルページはPostgreSQLでインストールされますが、拡張可能かつ対話式の<a href="/docs/9.0/static">オンライン文書</a>で閲覧、検索、コメント記入を自由に行ってください。</p>

<a name="license"></a><h2>ライセンス</h2>
<p>
PostgreSQLは<a href="/about/licence">PostgreSQLライセンス</a>を使用しています。
これはBSDライセンスと似たものであり、ソースコードに元のコピーライトとライセンス情報を含めることのみを要求します。
この<a href="http://www.opensource.org/licenses/bsd-license.php">OSI認証ライセンス</a>は、柔軟かつビジネスに利用しやすいため広く評価されています。
このため、商用アプリケーションやプロプライエタリアプリケーションにおけるPostgreSQLの使用は制限されていません。
複数企業のサポートとソースコードの公的所有とあいまって、このライセンス条項によって、料金・ベンダロックイン・ライセンス条項の変更などの心配が不要な自社製品への組込用データベースを求めるベンダに、PostgreSQLは非常に人気があります。
</p>

<a name="contact"></a><h2>問い合わせ先</h2>

<p>wwwページ</p>
<ul>
<li><a href="https://www.postgresql.org">PostgreSQL home page</a></li>
<li><a href="http://www.postgresql.jp">日本PostgreSQLユーザ会</a></li>
</ul>

<p>Press Inquiries</p>
<p>問い合わせ先</p>
<p>日本PostgreSQLユーザ会<br />
+81-3-5951-1214<br />
<a href="mailto:jpug-staff@postgresql.jp">jpug-staff@postgresql.jp</a><br />
</p>

<a name="quoted_companies"></a><h2>引用の全文とその企業について</h2>

<p>
PostgreSQL 9.0は世界中のビジネスデータベースユーザから大きな興味を引き付けています。
以下の引用文は、新機能に対するイギリス、カナダ、スペイン、スイス、ブラジルにある企業からの強い興味を示しています。
これらの企業のいずれかとのインタビューを調整したい場合には、本プレスキットの問い合わせ先に連絡してください。
(以下の問い合わせ先からの回答はリストにある言語のみです。)
</p>

<h3>2ndQuadrant</h3>
<p>
> 「9.0に組み込まれたレプリケーションとホットスタンバイへのクエリ実行機能は、何年もの間、PostgreSQLにおいてもっとも要望の多かった機能です。効率的かつ遅延の少ないストリーミングレプリケーションは、より優れたデータ保護を実現します。一方、ホットスタンバイはTCO（Total Cost of Ownership、総所有コスト）を大きく低減します。この機能は商用製品では数千ドルのコストがかかるアドオンとして提供されているものです。」
</p>
<p>
<i>2ndQuadrantについて:</i> <a href="https://2ndquadrant.com">2ndQuadrant</a>は15以上の国に顧客を持つ、PostgreSQLデータベースサービスに特化したグローバルなコンサルティングおよびサポート企業です。この企業のコンサルタントたちは、PostgreSQLの過去6リリースのそれぞれ主要機能に対して貢献してきました。問い合わせ先:<a href="mailto:info@2ndQuadrant.com">info@2ndQuadrant.com</a> +44 8707667756 (英語、イタリア語、フランス語、スペイン語、エストニア語)</p>

<h3>Afilias</h3>
<p>
「コアインターネットインフラストラクチャレジストリの世界最大のオペレータの1つとして、AfiliasはPostgreSQL 9.0に（フルダンプ＆フルレストアが不要な）その場でのアップグレードが加わったことに喜んでいます。これにより1600万強のドメイン名データベースを最小限の中断で新しいバージョンのデータベースに更新することができます。
さらに、すでにslonyで実現された堅牢なレプリケーションを補うものとして、ホットスタンバイとストリーミングレプリケーション機能の利用を待ち望んでいます。
こうした機能追加は、ミッションクリティカルなタスクが、なぜ継続的にPostgreSQLのパワー・柔軟性・堅牢性に依存し続けられるのか、それを証明する強力な実例となっています。」
</p>
<p>
<i>Afiliasについて</i>: <a href="http://www.afilias.info">Afilias</a>は人とデータを結び付ける、グローバルなインターネットインフラストラクチャサービス提供者です。Afiliasの高信頼性、セキュア、スケーラブル、全世界から利用可能な技術は、インターネットドメインレジストリサービス、マネージドDNS、RFIDにおけるサービス、Afiliasディスカバーサービスを用いたサプライチェーンマーケットなど幅広いアプリケーションをサポートします。
Afiliasに関する詳細については<a href="http://www.afilias.info">ホームページ</a>を閲覧、または、<a href="mailto:hread@afilias.info">Heather Read</a>までお問い合わせください。(英語のみ)
</p>

<h3>Openbravo</h3>
<p>
OpenbravoのCTOであるPaolo Juvaraは次のように述べています。
「OpenbravoはPostgreSQLの熱心なユーザです。
当社はPostgreSQLをクラウドアプライアンスに組込んでいますし、また、当社のUbuntuのパッケージにおいてもPostgreSQLに依存しています。
この製品は複数のデータベースをサポートしていますが、Openbravoの導入の93%はPostgreSQLです。
すべてのPostgreSQLのリリースは信頼性と性能を向上させたものでしたし、当社は9.0でもこれが続くものと期待しています。
PostgreSQLの新しい機能に非常に興奮しています。特に、遅延可能な一意性制約の機能について、当社顧客のためのデータ更新やアップグレードを高速化できる機会として期待しています。
新しく組み込まれたログベースのバイナリレプリケーションは、冗長性と高可用性を求めるより多くのユーザに気に入られることでしょう。
最後に、当社のすべての開発において、新しいVACUUM FULLコマンドを待ち望んでいます。
PostgreSQL 9.0に基づいた予備試験をいくつか実施したところ、大きな問題はありませんでした。
いくつか小さな非互換性を検知しましたが、その解消はささいなことであると考えています。
OpenbravoはPostgreSQL 9.0が実用段階になればすぐにそのサポートを始め、また、主要Linuxディストリビューションでサポートされるようになればすぐに導入におけるデフォルトの選択肢として採用を始めるつもりです。」
</p>
<p>
<i>Openbravoについて</i>: <a href="http://www.openbravo.com">Openbravo</a>はアワードを受賞し、業界で最初にプロプライエタリソフトウェアを置き換えられるものとなった、中小企業向けのwebベースの商用オープンソースERPソリューションOpenbravo ERPを開発している企業です。
市場でもっとも人気のある、この企業のERP（Enterprise Resource Planning）と販売時点情報管理(Point of Sales, POS)ソリューションは150万件以上ダウンロードされ、50ヶ国以上で利用されています。
問い合わせ先:<a href="mailto:media@openbravo.com">Carme Zaragoza</a> +34 932725947 (スペイン語、英語)
</p>

<h3>micro systems</h3>
<p>
スイスMicro Systemsの設立者であるMarc Balmerは大きく改良されたLISTEN/NOTIFYイベントメッセージ処理機能により興味を持ち、次のように述べています。
「非同期通知における新しいデータペイロードオプションは、動物園および博物館向けのチケット販売PoSソリューションarcapos用のリモートデータ表示プログラムの次期バージョンを一層強化するでしょう。」
</p>
<p>
<i>micro systemsについて</i>: <a href="http://www.msys.ch">micro systems</a>はスイスにある、商用環境でBSD UnixやPostgreSQLなどの成熟したオープンソース製品に注目したコンサルティングおよび開発企業です。
micro systemsは顧客に最も優れたオープンソースを提供し、オープンソースコミュニティに還元しています。問い合わせ先:<a href="mailto:vera@msys.ch">Vera Hardmeier</a>, +41 61 383 50 10 (ドイツ語、英語)
</p>

<h3>CAIXA Bank</h3>
<p>
「CAIXA銀行ではPostgreSQLをミッションクリティカルな財務環境で使用しています。当社の業務をサポートできる品質を持っているためです。この新しいバージョンはPostgreSQLが私たちのビジネスニーズに合致し続けられるように高速に改良されることを示しています。」
</p>
<p>
<i>CAIXAについて</i>: <a href="http://www.caixa.gov.br/">CAIXA</a>は連邦政府の公的政策のためのメイン代理店であり、数100万のブラジル人の生活の中に存在しています。この機構は完全に公的な組織であり、銀行顧客だけではなく、宝くじや都市部のインフラ投資、社会問題料金、FGTS、PIS、離職者の雇用保険を通してブラジル人全体にサービスを提供しています。
これらの軸を通して2009年、CAIXAはGDPの6%程度となる1500億レアル以上を財政に再投入しました。
住宅供給、基本衛生設備、インフラやサービス部門での活動により、CAIXAはこの国の都市開発と社会正義の促進において根本的な役割を果たし、住民、特に低所得者の生活水準の向上に貢献しています。<a href="http://www.caixa.gov.br/">CAIXAのホームページ</a> (ポルトガル語のみ)
</p>

<a name="companies"></a><h2>法人サポート</h2>

<p>PostgreSQLは、企業による多くサポートを受けています。これらスポンサー企業は開発者の後援、ホスティングリソースの提供や金銭的なサポートを行います。大規模、長期のスポンサーの一覧は<a href="/about/sponsors">開発スポンサーページ</a>にあります。
</p>

<p>また、個別のコンサルティングから多国企業まで、<a href="/support/professional_support">PostgreSQLサポートを提供する企業</a>という大規模なコミュニティもあります。</p>

<p><a href="/about/donate">寄付</a>は喜んで受け付けます。</p>



{%endblock%}
