{%extends "base/page.html"%}
{%load markup%}
{%block title%}News archive{%if tag%} - {{tag.name}}{%endif%}{%endblock%}
{%block contents%}
<h1>News archive{%if tag%} - {{tag.name}}{%endif%}</h1>

<p>
{%for t in newstags%}<span class="newstag"><a href="/about/newsarchive/{{t.urlname}}/">{{t.name}}</a></span> {%endfor%}
</p>

{%for obj in news %}
<h2><a href="/about/news/{{obj.id}}/">{{obj.title}}</a></h2>
<div class="newsdate">Posted on <strong>{{obj.displaydate}}</strong></div>
{{obj.content|markdown|striptags|truncatewords:20}}
{%endfor%}
<p><a href="/account/news/new/">Submit news</a></p>
{%endblock%}
