{%extends "base/page.html"%}
{%block title%}Local PostgreSQL User Groups{%endblock%}
{%block contents%}
<h1>Local User Groups <i class="fa fa-users"></i></h1>

<p>The PostgreSQL community is proud to have many local chapters that advocate and educate users about PostgreSQL.  Below is a list of PostgreSQL User Groups (PUGs) sorted by country and local area.</p>
<p>If you would like to start a PostgreSQL User Group, please send an email to <a href="mailto:usergroups@postgresql.org">usergroups@postgresql.org</a> and describe the PUG that you want to create. If a PUG already exists in your area, follow the URLs below to find out how to attend and participate.</p>
<p>PostgreSQL User Groups must follow the <a href="/about/policies/user-groups/">Recognised PostgreSQL User Group</a> policy.</p>

{% for pug_group in pug_list %}
  <h2>{{ pug_group.country }}</h2>
  <ul>
  {% for pug in pug_group.pugs %}
    <li>
      <strong>{{ pug.locale }}</strong>:
      {% if pug.website_url %}
        <a href="{{ pug.website_url }}" target="_blank" rel="noopener">
      {% endif %}
      {{ pug.title }}
      {% if pug.website_url %}
        </a>
      {% endif %}
      {% if pug.website_url %}
        (<a href="{{ pug.website_url }}" target="_blank" rel="noopener">website</a>)
      {% endif %}
      {% if pug.mailing_list_url %}
        (<a href="{{ pug.mailing_list_url }}" target="_blank" rel="noopener">mailing list</a>)
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}
{%endblock%}
