{%extends "base/base.html" %}
{% load pgfilters %}
{%block title%}The world's most advanced open source database{%endblock%}
{%block meta%}
  <meta name="description" content="The official site for PostgreSQL, the world's most advanced open source database" />
{%endblock%}
{%block layoutblock%}
<div class="jumbotron jumbotron-fluid pg-jumbotron">
  <div class="container">
    <h1 class="text-white pg-jumbotron-header">PostgreSQL: The World's Most Advanced Open Source Relational Database</h1>
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-light btn-rounded" role="button" href="/download/">Download <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <a class="btn btn-light btn-rounded" role="button" href="/about/">New to PostgreSQL?</a>
      </div>
    </div>
  </div>
</div>
<!-- END Jumbotron -->
<div class="container margin">
  <!-- Start First Feature Row -->

  <div class="row">
    <!-- Feature -->
    <div class="col-lg-6 feature">
      <img src="/media/img/about/press/elephant.png" alt="PostgreSQL Elephant Logo">
      <h2>New to PostgreSQL?</h2>
      <div class="text">
        <p>
          PostgreSQL is a powerful, open source object-relational database system with over 30 years of active development
          that has earned it a strong reputation for reliability, feature robustness, and performance.
        </p>
        <p>
          There is a wealth of information to be found describing how to <a href="{{link_root}}/download/">install</a> and <a href="{{link_root}}/docs/">use</a> PostgreSQL through the <a href="{{link_root}}/docs/">official documentation</a>.
          The PostgreSQL community provides many helpful places to become familiar with the technology, discover how it works, and find
          career opportunities. Reach out to the community <a href="{{link_root}}/community/">here</a>.
        </p>
      </div>
      <a href="{{link_root}}/about/" title="Read More"><button type="button" class="btn btn-center btn-primary">Read More</button></a>
    </div>
    <!-- END Feature -->

    <!-- Feature -->
    <div class="col-lg-6 feature">
      <i class="fas fa-download"></i>
      <h2>Latest Releases</h2>
      <div class="text">
        <p>
          <strong>
            2020-02-13 - PostgreSQL 12.2, 11.7, 10.12, 9.6.17, 9.5.21, and
            9.4.26 Released!
          </strong>
        </p>
        <p>
          The PostgreSQL Global Development Group has released an update to
          all supported versions of our database system, including
          <a href="/about/news/2011/">12.2, 11.7, 10.12, 9.6.17, 9.5.21, and 9.4.26</a>.
          This release fixes one <a href="/support/security/">security issue</a>
          found in the PostgreSQL server and over 75 bugs reported over the last
          three months.
        </p>
        <p>
          Users should plan to update as soon as possible.
        </p>
        <p>
          This is the last release for PostgreSQL 9.4, which will no longer
          receive security updates and bug fixes. To receive continued support,
          we suggest that you make plans to upgrade to a newer,
          supported version of PostgreSQL. Please see the PostgreSQL
          <a href="/support/versioning/">versioning policy</a> for more
          information.
        </p>
        <p>
          You can <a href="/download/">download</a> the update <a href="/download/">here</a>.
        </p>
        <ul>
          {% for v in versions %}
            <li class="{% cycle '' 'pg-bg-gray' %}"><strong>{{ v.numtree }}.{{ v.latestminor }}</strong> &middot; {{ v.reldate|date:"Y-m-d" }} &middot; <a href="/docs/{{ v.numtree }}/{{ v.relnotes }}">Notes</a></li>
          {% endfor %}
        </ul>
      </div>
      <a href="{{link_root}}/download/" title="Download"><button type="button" class="btn btn-center btn-primary">Download</button></a>
      <a href="{{link_root}}/support/versioning/" title="Why Upgrade?"><button type="button" class="btn btn-center btn-outline-secondary btn-inline-block">Why Upgrade?</button></a>
      <a href="{{link_root}}/support/security/" title="Security"><button type="button" class="btn btn-center btn-outline-secondary btn-inline-block">Security</button></a>
    </div>
    <!-- END Feature -->

  </div>
  <!-- END First Feature Row -->
  <!-- Start Second Feature Row -->
  <div class="row">
    <!-- Feature -->
    <div class="col-lg-6 feature">
      <i class="fas fa-calendar-alt"></i>
      <h2>Upcoming Events</h2>
      <div class="text">
        <ul>
          {% for event in events %}
            <li class="{% cycle '' 'pg-bg-gray' %} {% if not event.badged%}non-badged{% endif %}">
              {% if event.badged %}
                <img src="/media/img/PostgreSQL_Badge1.svg" class="community" alt="PostgreSQL Community Event">
              {% endif %}
              {{ event.displaydate|safe }} &middot; <a href="/about/event/{{ event.id }}/">{{ event.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <p>
          <img src="/media/img/PostgreSQL_Badge1.svg" class="community" alt="PostgreSQL Community Event">
          indicates that an event is recognised under the <a href="/community/recognition/#conferences">community event guidelines</a> and is directly helping the PostgreSQL community.
        </p>
      </div>
      <a href="/about/events/" title="Check Schedule"><button type="button" class="btn btn-center btn-primary btn-inline-block">Check Schedule</button></a>
      <a href="/account/events/new/" title="Add Your Event"><button type="button" class="btn btn-center btn-primary btn-inline-block">Add Your Event</button></a>
    </div>
    <!-- END Feature -->
    <!-- Feature -->
    <div class="col-lg-6 feature">
      <i class="fas fa-envelope"></i>
      <h2>Mailing Lists</h2>
      <div class="text">
        <p>
          The PostgreSQL <a href="https://lists.postgresql.org" target="_blank">mailing lists</a> enable you to interact with active community participants on subjects related to the development of PostgreSQL, discovering how to use PostgreSQL, or learning about upcoming events and product releases.
        </p>
        <p>
          In order to manage your mailing list subscription, you need a <a href="{{link_root}}/account/">PostgreSQL community account</a>. <a href="{{link_root}}/account/">Signing up</a> is easy and gives you direct access to the <a href="{{link_root}}/community/">global PostgreSQL community</a>.
        </p>
      </div>
      <a href="https://lists.postgresql.org" title="Subscribe"><button type="button" class="btn btn-center btn-primary">Subscribe</button></a>
      <a href="https://www.postgresql.org/list/" title="View Archives"><button type="button" class="btn btn-center btn-primary">View Archives</button></a>
    </div>
    <!-- END Feature -->
  </div>
  <!-- END Second Feature Row -->
</div>
<!-- CTA -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 cta cta-3"></div>
    <div class="col-lg-6 cta-text">
      <h2>Learning Opportunities Ahead</h2>
      <p class="text-left">
        Want to learn more about PostgreSQL and help build the community? Come to one of the many events, local user groups, &amp; training sessions where you can meet experienced PostgreSQL users and enhance your database skills.
      </p>
      <a href="{{link_root}}/about/events/" title="Browse Events"><button type="button" class="btn btn-light btn-rounded">Browse Events</button></a>
      <a href="{{link_root}}/community/user-groups/" title="Browse User Groups"><button type="button" class="btn btn-light btn-rounded">Browse User Groups</button></a>
    </div>
  </div>
</div>
<!-- END CTA -->
<!-- News -->
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h2 class="centered-lines">Latest News</h2>
      <!-- Featured Post -->
        <header>
          <h3>
            <a href="/about/news/2011/">
              PostgreSQL 12.2, 11.7, 10.12, 9.6.17, 9.5.21, and 9.4.26 Released
            </a>!
          </h3>
          <ul class="meta">
            <li><i class="far fa-clock"></i>&nbsp;2020-02-13</li>
            <!--<li><i class="far fa-comments"></i> 0</li>-->
          </ul>
        </header>
        <p>
          The PostgreSQL Global Development Group has released an update to
          all supported versions of our database system, including
          <a href="/about/news/2011/">12.2, 11.7, 10.12, 9.6.17, 9.5.21, and 9.4.26</a>.
          This release fixes one <a href="/support/security/">security issue</a>
          found in the PostgreSQL server and over 75 bugs reported over the last
          three months.
        </p>
        <p>
          Users should plan to update as soon as possible.
        </p>
        <p>
          This is the last release for PostgreSQL 9.4, which will no longer
          receive security updates and bug fixes. To receive continued support,
          we suggest that you make plans to upgrade to a newer,
          supported version of PostgreSQL. Please see the PostgreSQL
          <a href="/support/versioning/">versioning policy</a> for more
          information.
        </p>
        <p>
          You can <a href="/download/">download</a> the update <a href="/download/">here</a>.
        </p>
        <ul class="bold">
          <li><a href="/about/news/2011/">Release Announcement</a></li>
          <li><a href="/docs/12/release-12-2.html">Release Notes</a></li>
          <li><a href="/support/versioning/">Versioning Policy</a></li>
          <li><a href="/download/">Download</a></li>
        </ul>
        <a href="/about/newsarchive/" title="Archives"><button type="button" class="btn btn-primary btn-center btn-inline-block">Browse Archives</button></a>
        <a href="/account/news/new/" title="Submit News"><button type="button" class="btn btn-primary btn-center btn-inline-block">Submit News</button></a>
    </div>
    <div class="col-lg-5">
      <div class="sidebar">

        <!-- Archives -->
        <ul class="divided">
          {% for n in news %}
            <li>
              <h3><a href="/about/news/{{ n.id }}/">{{ n.title }}</a></h3>
              <ul class="meta">
                <li><i class="far fa-clock"></i>&nbsp;{{ n.displaydate }} by {{ n.org.name }}</li>
              </ul>
            </li>
          {% endfor %}
        </ul>
        <!-- END Archives -->
      </div>
    </div>
  </div>
</div>
<!-- Blog -->
 <div class="container margin">
   <div class="row">
     <div class="col-md-12">
       <h2 class="centered-lines"><span>PLANET POSTGRESQL</span></h2>
       <div class="feature"><i class="fas fa-globe"></i></div>
    </div>
   </div>
   <!-- First Row Planet PostgreSQL -->
   <div class="row">
     <!-- First Column First Row Planet PostgreSQL -->
      {%for post in planet %}
        <div class="col-md-4">
          <div class="text-center">
            <h3><a href="{{ post.url }}">{{ post|planet_title }}</a></h3>
            <ul class="meta">
              <li><i class="far fa-comments"></i>&nbsp;{{ post|planet_author }}</li>
              <li><i class="far fa-clock"></i>&nbsp;{{ post.date }}</li>
            </ul>
          </div>
        </div>
      {% endfor %}
   </div>
   <!-- END First Row Planet PostgreSQL -->
   <div class="row">
     <div class="col-sm-12">
       <a href="https://planet.postgresql.org" title="Browse Archives" target="_blank"><button type="button" class="btn btn-center btn-primary">Browse Archives</button></a>
     </div>
   </div>
 </div>
 <!-- SUBMIT A BUG -->
 <div class="container-fluid">
   <div class="row">
     <div class="col-lg-6 cta-text">
       <h2>Seeing unexpected behavior?</h2>
       <p>
         The PostgreSQL community takes pride in releasing software that will reliably store your data. If you believe you've discovered a bug, please click the button below and follow the instructions on how to submit a bug.
       </p>
       <a href="/account/submitbug/" title="Submit a Bug"><button type="button" class="btn btn-light btn-rounded">Submit a Bug</button></a>
     </div>
     <div class="col-lg-6 cta cta-2"></div>
   </div>
 </div>
 <!-- END SUBMIT A BUG -->
{%endblock%}
