{%extends "base/base.html" %}
{%block title%}The world's most advanced open source database{%endblock%}
{%block meta%}
  <meta name="description" content="The official site for PostgreSQL, the world's most advanced open source database" />
{%endblock%}
{%block layoutblock%}
        <div id="pgFrontContainer">
          <div id="pgFrontMain">
            <div id="pgFrontFeature">
              <div id="pgFrontFeatureContent">
		<p><b>31<sup>st</sup> March 2016</b></p>
                <h1 id="txtFrontFeatureHeading">
                  PostgreSQL 9.5.2, 9.4.7, 9.3.12, 9.2.16 and 9.1.21 Released!
                </h1>
                <p>
                   The PostgreSQL Global Development Group is pleased to announce the availability of
                   PostgreSQL 9.5.2, 9.4.7, 9.3.12, 9.2.16 and 9.1.21.
                </p>
                <p>
		  This is an update release that fixes two security issues in
		  version 9.5 as well as several bugs in all current releases.
		  In particular, the 9.5.2 release disables an optimization
		  present in 9.5 and newer that can lead to corruption of
		  text indexes in non-C locales. Users of 9.5 should update
		  as soon as convenient and REINDEX potentially corrupt indexes.
		</p>
                <div id="txtFrontFeatureLink">
                  <br/>
                  <img src="/media/img/layout/blt_blu_arrow.png" width="6" height="6" alt="" /><a href="/about/news/1656/" title="Release Announcement">Release Announcement</a><br />
                  <img src="/media/img/layout/blt_blu_arrow.png" width="6" height="6" alt="" /><a href="/docs/9.5/static/release-9-5-2.html" title="Release Notes">Release Notes</a><br />
                  <img src="/media/img/layout/blt_blu_arrow.png" width="6" height="6" alt="" /><a href="/download/" title="Download">Download</a><br />
                </div>
              </div>
            </div> <!-- pgFrontFeature -->
            <div id="pgFrontUSSContainer">
              <div id="pgFrontUser">
                <div id="pgFrontUserInner">
                  <div id="pgFrontUserWrap">
                    <h2><img src="/media/img/hdr/hdr_featureduser.png" width="104" height="10" alt="Featured User" /></h2>
                    <div id="pgFrontUserContent">
                      <div id="txtFrontUserText">{{quote.quote}}</div>
                      <div id="txtFrontUserName"><b>{{quote.who}}, <a href="{{quote.link}}">{{quote.org}}</a></b></div>
                      <div id="txtFrontUserLink">
                          <img src="/media/img/layout/blt_blu_arrow.png" width="6" height="5" alt="" /><a href="/about/casestudies">Case Studies</a><span class="txtDivider">|</span><a href="/about/quotesarchive" title="See more quotes">More Quotes</a><span class="txtDivider">|</span><a href="/about/users" title="See featured users">Featured Users</a>
                      </div>
                    </div>
                  </div> <!-- pgFrontUserWrap -->
                </div>
              </div>
            </div> <!-- pgFrontUSSContainer -->
          </div> <!-- pgFrontMain -->
        </div> <!-- pgFrontContainer -->
        <div id="pgFrontRightContainer">
          <div id="pgFrontLatestReleases">
            <h2><img src="/media/img/hdr/hdr_latestreleases.png" width="120" height="10" alt="Latest Releases" /></h2>
            <div id="pgFrontLatestReleasesWrap">
             {%for v in versions %}
             <b>{{v.tree}}.{{v.latestminor}}</b> &middot; {{v.reldate}} &middot; <a href="/docs/{{v.tree}}/static/{{v.relnotes}}">Notes</a>
             <br />
             {%endfor%}
            </div>
	    <div id="pgFrontLatestReleasesNote"><b><a href="/download">Download</a></b> | <a href="/versions.rss" title="Versions RSS Feed"><img class="pgRSSImage" src="/media/img/misc/ico_rss.png" width="28" height="13" alt="Versions RSS Feed" /></a><br /><a href="/support/versioning">Why should I upgrade?</a><br/><a href="/developer/roadmap/">Upcoming releases</a></div>
          </div> <!-- pgFrontLatestreleases -->
          <div id="pgFrontShortcuts">
            <h2><img src="/media/img/hdr/hdr_shortcuts.png" width="85" height="10" alt="Shortcuts" /></h2>
            <div id="pgFrontShortcutsWrap">
              <ul id="pgFrontShortcutsList">
                <li>
                  <a href="/support/security/">Security</a>
                </li>
                <li>
                  <a href="/community/international">International Sites</a>
                </li>
                <li>
                  <a href="/community/lists">Mailing Lists</a>
                </li>
                <li>
                  <a href="https://wiki.postgresql.org/">Wiki</a>
                </li>
                <li>
                  <a href="/support/submitbug">Report a Bug</a>
                </li>
                <li>
                  <a href="/docs/faq/">FAQs</a>
                </li>
              </ul>
            </div>
          </div> <!-- pgFrontShortcuts -->
          <div id="pgFrontSupportUs">
            <h2><img src="/media/img/hdr/hdr_supportus.png" width="81" height="10" alt="Support Us" /></h2>
            <div id="pgFrontSupportUsWrap">
              <div id="txtFrontSupportUsText">
                PostgreSQL is free. Please support our work by making a <a href="/about/donate">donation</a>.
              </div>
            </div>
          </div> <!-- pgFrontSupportUs -->
        </div> <!-- pgFrontRightContainer -->
        <div id="pgFrontBottomContainer">
         <div id="pgFrontNews" class="txtNewsEvent">
           <a href="/about/newsarchive">  
           <img src="/media/img/hdr/hdr_latestnews.png" width="90" height="10" alt="Latest News" />
           </a>
           <div class="pgNewsEventsWrap">
             {% for n in news %}
             <p>
              <span class="txtDate">{{n.displaydate}}</span> <br/>
              <a href="/about/news/{{n.id}}/">{{n.title}}</a>
             </p>
             {% endfor %}
             <div>
               <img class="pgArrowImage" src="/media/img/layout/blt_blu_arrow.png" width="6" height="5" alt="" />
               <ul class="pgRSSBottomList">
                 <li>
                   <a href="/about/newsarchive" title="More News">More</a>
                 </li>
                 <li>
                  <a href="/account/news/new/">Submit News</a>
                 </li>
                 <li class="last-child">
                   <a href="/news.rss" title="News RSS Feed"><img class="pgRSSImage" src="/media/img/misc/ico_rss.png" width="28" height="13" alt="News RSS Feed" /></a>
                 </li>
               </ul>
             </div>
           </div>
         </div> <!-- pgFrontNews -->
         <div id="pgFrontPlanet">
           <a href="http://planet.postgresql.org">
           <img src="/media/img/hdr/hdr_planetpg.png" width="140" height="10" alt="Planet PostgreSQL" />
           </a>
           <div id="pgFrontPlanetWrap">
            {%for post in planet%}
            <p>
              <span class="txtDate">{{post.date}}</span><br />
              <a href="{{post.url}}">{{post.title}}</a>
            </p>
            {%endfor%}
            <div>
             <img class="pgArrowImage" src="/media/img/layout/blt_blu_arrow.png" width="6" height="5" alt="" />
             <ul class="pgRSSBottomList">
              <li>
               <a href="http://planet.postgresql.org" title="More Blog Posts">More</a>
              </li>
              <li class="last-child">
               <a href="http://planet.postgresql.org/rss20.xml" title="PlanetPostgreSQL RSS Feed"><img class="pgRSSImage" src="/media/img/misc/ico_rss.png" width="28" height="13" alt="PlanetPostgreSQL RSS Feed" /></a>
              </li>
             </ul>
            </div>            
           </div> <!-- pgFrontPlanetWrap -->
         </div> <!-- pgFrontPlanet -->
         <div id="pgFrontEvents" class="txtNewsEvent">
           <a href="/about/events/">
           <img src="/media/img/hdr/hdr_upcomingevents.png" width="123" height="10" alt="Upcoming Events" />
           </a>
           <div class="pgNewsEventsWrap">
           {% for e in events %}
            <p>
             <span class="txtDate">{{e.displaydate|safe}}</span><br />
             <a href="/about/event/{{e.id}}/">{{e.title}}</a><br/> ({{e.locationstring}})
            </p>
           {% endfor %}
           </div>
           <div style="margin-bottom: 10px;">
             <img class="pgArrowImage" src="/media/img/layout/blt_blu_arrow.png" width="6" height="5" alt="" />
             <ul class="pgRSSBottomList">
               <li>
                 <a href="/about/events/" title="More Events">More</a>
               </li>
               <li>
                <a href="/account/events/new/">Submit Event</a>
               </li>
               <li class="last-child">
                <a href="/events.rss" title="Events RSS Feed"><img class="pgRSSImage" src="/media/img/misc/ico_rss.png" width="28" height="13" alt="Events RSS Feed" /></a>
               </li>
             </ul>
           </div>
           <a href="/about/events/">
           <img src="/media/img/hdr/hdr_upcomingtraining.png" width="140" height="10" alt="Upcoming training" />
           </a>
           <div class="pgNewsEventsWrap">
             <div id="pgFrontTrainingSummary">
             {%if traininginfo.id__count %}
              There are {{traininginfo.id__count}} training events in {{traininginfo.country__count}} countries
              scheduled over the next six months from
              {%if trainingcompanies|length_is:"1"%}{{trainingcompanies|first}}.
              {%else%}
               {%if trainingcompanies|length_is:"2"%}{{trainingcompanies|join:" and "}}.
               {%else%}
               {{trainingcompanies|slice:":2"|join:", "}} and others.
               {%endif%}
              {%endif%}
              <p>Take a look at our <a href="/about/events/#Training">schedule</a> to find the training that you want.</p>
             {%else%}
              There are no training events currently scheduled.
             {%endif%}
            </div>
           </div> <!-- pgNewsEventsWrap -->
         </div> <!-- pgFrontEvent -->
        </div> <!-- pgFrontBottomContainer -->
{%endblock%}

