{%extends "base/page.html"%}
{%block title%}PostgreSQL Regional Contacts{%endblock%}
{%block contents%}

<div id="pgPressContacts">
<h1>Press Contacts</h1>

<p>Please refer to the list of country contacts below for press enquiries.</p>
<p>For general press enquiries in English, see <a href="#USA">USA &amp; General Enquiries</a>.</p>

<h2>Americas</h2>
<dl>
<dt>Argentina</dt>
<dd>Mariano Reingart
<br /><a href="mailto:ar@postgresql.org">ar@postgresql.org</a>
<br />Phone: +54 (011) 4450-0716
<br /><a href="http://www.postgresql.org.ar">http://www.postgresql.org.ar</a>
</dd>
<dt>Brazil</dt>
<dd>Euler Taveira de Oliveira
<br /><a href="mailto:br@postgresql.org">br@postgresql.org</a>
<br />Phone: +55 63 84594598
<br /><a href="http://www.postgresql.org.br">http://www.postgresql.org.br</a>
</dd>
<dt>Chile</dt>
<dd>Álvaro Herrera
<br /><a href="mailto:alvherre@postgresql.org">alvherre@postgresql.org</a>
<br />Phone: +56 9 73736518
<br /><a href="http://www.postgresql.org.es/">http://www.postgresql.org.es/</a>
</dd>
<dt>Cuba</dt>
<dd>Gilberto Castillo Martínez
<br /><a href="mailto:cu@postgresql.org">cu@postgresql.org</a>
<br />Phone: +53 52881491
</dd>
<dt>Dominican Republic</dt>
<dd>Edwin Quijada 
<br /><a href="mailto:do@postgresql.org">do@postgresql.org</a>
<br />Cell: +1-809-849-8087
<br /><a href="http://www.postgresql.org.es/">http://www.postgresql.org.es/</a>
</dd>
<dt>Ecuador</dt>
<dd>Jaime Casanova
<br /><a href="mailto:ec@postgresql.org">ec@postgresql.org</a>
<br />Cell: +593 987171157
<br /><a href="http://www.postgresql.org.es/">http://www.postgresql.org.es/</a>
</dd>
<dt>Panama</dt>
<dd>Santiago Zárate
<br /><a href="mailto:pa@postgresql.org">pa@postgresql.org</a>
<br />Phone: +5078312500 ext 7932
<br />Cell: +(507) 64271684
<br /><a href="http://www.postgresql.org.es/">http://www.postgresql.org.es/</a>
</dd>
<dt>Uruguay</dt>
<dd>Fernando Fontana
<br /><a href="mailto:uy@postgresql.org">uy@postgresql.org</a>
<br />Phone: +598 99639046
<br /><a href="http://www.postgresql.org.es/">http://www.postgresql.org.es/</a>
</dd>
<dt><a name="USA"></a>USA and General Enquiries</dt>
<dd>PostgreSQL PR Team
<br /><a href="mailto:press@postgresql.org">press@postgresql.org</a>
<br />Phone: +1 347-6-PGSQL-9 (or +1-347-674-7759)
</dd>
<dt>Venezuela</dt>
<dd>Ernesto Lozano
<br /><a href="mailto:ve@postgresql.org">ve@postgresql.org</a>
<br />Phone: 584244374108
<br /><a href="http://www.postgresql.org.es/">http://www.postgresql.org.es/</a>
</dd>
</dl>

<h2>Asia and Pacific</h2>
<dl>
<dt>China</dt>
<dd>Daojing Zhou
<br /><a href="mailto:cn@postgresql.org">cn@postgresql.org</a>
<br />Phone: 086 13515513326
</dd>
<dt>Indonesia</dt>
<dd>Julyanto Sutandang
<br /><a href="mailto:id@postgresql.org">id@postgresql.org</a>
<br />Phone: +628164858028
</dd>
<dt>Japan</dt>
<dd>Japan PostgreSQL Users Group
<br /><a href="mailto:jpug-staff@postgresql.jp">jpug-staff@postgresql.jp</a>
<br />Phone: +81-3-5979-2729
<br /><a href="http://www.postgresql.jp">http://www.postgresql.jp</a>
</dd>
<dt>Malaysia</dt>
<dd>Chris Travers
<br /><a href="mailto:my@postgresql.org">my@postgresql.org</a>
</dd>
<dt>Pakistan</dt>
<dd>Malik Muhammad Hashim
<br /><a href="mailto:pk@postgresql.org">pk@postgresql.org</a>
<br />Phone: +92-300-375-4107
</dd>
</dl>

<h2>Europe and Africa</h2>
<dl>
<dt>Finland</dt>
<dd>Jussi Mikkola
<br /><a href="mailto:fi@postgresql.org">fi@postgresql.org</a>
<br />Phone: +358-40-830-7561
</dd>
<dt>France and French-Speaking Europe and Africa</dt>
<dd>Stéphane Schildknecht
<br /><a href="mailto:fr@postgresql.org">fr@postgresql.org</a>
<br />Phone: +33 951.23.72.21
<br />Cell: +33 617.11.37.42
<br /><a href="http://www.postgresql.fr">http://www.postgresql.fr</a>
</dd>
<dt>Germany</dt>
<dd>Andreas Scherbaum
<br /><a href="mailto:de@postgresql.org">de@postgresql.org</a>
<br />Phone: +49 33056 406869
<br /><a href="http://www.postgresql.de">http://www.postgresql.de</a>
</dd>
<dt>Ireland</dt>
<dd>Raymond O'Donnell
<br /><a href="mailto:ie@postgresql.org">ie@postgresql.org</a>
<br />Cell: +353 (0)87 2241365
</dd>
<dt>Italy</dt>
<dd>Gabriele Bartolini
<br /><a href="mailto:it@postgresql.org">it@postgresql.org</a>
<br />Cell: +39 338 1566217
<br /><a href="http://www.itpug.org">http://www.itpug.org</a>
</dd>
<dt>Poland</dt>
<dd>Szymon Lipiński
<br /><a href="mailto:pl@postgresql.org">pl@postgresql.org</a>
</dd>
<dt>Russia</dt>
<dd>Nikolay Samokhvalov
<br /><a href="mailto:ru@postgresql.org">ru@postgresql.org</a>
<br />Phone: +7-905-783-9804
<br /><a href="http://postgresqlrussia.org/">http://postgresqlrussia.org/</a>
</dd>
<dt>Spain</dt>
<dd>Álvaro Hernández Tortosa
<br /><a href="mailto:es@postgresql.org">es@postgresql.org</a>
<br />Phone: +34 91 652 4902
<br /><a href="http://www.postgrespaña.es/">http://www.postgrespaña.es/</a>
</dd>
<dt>Sweden</dt>
<dd>Magnus Hagander
<br /><a href="mailto:se@postgresql.org">se@postgresql.org</a>
<br />Cell: +46-708-969691
</dd>
<dt>Switzerland</dt>
<dd>Markus Wanner
<br /><a href="mailto:ch@postgresql.org">ch@postgresql.org</a>
<br />Cell: +41 78 715 11 31
</dd>
<dt>Turkey</dt>
<dd>Devrim Gündüz
<br /><a href="mailto:devrim@postgresql.org">devrim@postgresql.org</a>
<br />Cell: +90.532.633.9886
<dt>United Kingdom</dt>
<dd>Simon Riggs
<br /><a href="mailto:uk@postgresql.org">uk@postgresql.org</a>
<br />Cell: +44-7900-255520
</dd>
</dl>
</div>
{%endblock%}
