{%extends "base/page.html"%}
{%block title%}PostgreSQL Press FAQ{%endblock%}
{%block contents%}

<h1>Frequently Asked Questions</h1>

<p><strong>Q: What is the current version of PostgreSQL?</strong><br />
A: 12, which was released October 3, 2019. This is our 30th major release in over 30 years of development. We release a new version of PostgreSQL every year, which is unique among SQL databases.</p>

<p><strong>Q: Does the PostgreSQL Project have a Code of Conduct?</strong><br />
A: The PostgreSQL Project prides itself on the quality of our code and our work, and the technical and professional accomplishments of our community. We expect everyone who participates to conduct themselves in a professional manner, acting with common courtesy and in the common interest, with respect for all users and developers. To that end, we established a <a href="https://www.postgresql.org/about/policies/coc/">Code of Conduct</a> for community interaction and participation in the project’s work and the community at large.

<p><strong>Q: What will the version number of the next major release be?  What will the version number of the next patch release be?</strong><br />
A: The next major release of PostgreSQL will be version 13, and follows a two-part version numbering scheme.  So the first patch release for 12 will be 12.1. The version of PostgreSQL released in 2020 will be version 13.</p>

<p><strong>Q: Why are older versions that are labeled 9.6.6 or 9.5.9?</strong><br />
A: Because of the long history of our project the first two decimals are major releases.  Thus 9.6, 9.5 etc. were all major releases.  Minor releases have numbers like 9.6.6. Since version 10, the project has adopted a two-part version numbering scheme.</p>

<p><strong>Q: How is PostgreSQL licenced? How much does it cost?</strong><br />
A: PostgreSQL is released under the OSI-approved PostgreSQL Licence.  There is no fee, even for use in commercial software products.  Please see <a href="/about/licence/">the PostgreSQL Licence</a>.</p>

<p><strong>Q: How many developers work on PostgreSQL?</strong><br />
A: Over 500.  As with other open source projects, of course, we depend on hundreds of community members for documentation, translations, advocacy, conferences, website development, infrastructure, and peer-to-peer support.</p>

<p><strong>Q: How many PostgreSQL users are there, worldwide?</strong><br />
A: Our wide distribution through the open source world and liberal licensing make that a difficult question to answer with any accuracy.  451Research estimates that around 30% of tech companies use PostgreSQL for core applications as of 2012, and around 11% of Debian users worldwide install PostgreSQL. Most users get PostgreSQL with a Linux distribution, or with some of the many other products, OSS software, and hardware devices that include PostgreSQL. Many indexes, such as the <a href="https://db-engines.com/en/ranking" target="_blank">DB-Engines Ranking</a>, demonstrate that PostgreSQL adoption continues to grow at a rapid pace, including DB-Engines recognition of PostgreSQL as the <a href="https://db-engines.com/en/blog_post/76">DBMS of the Year in 2017</a> and <a href="https://db-engines.com/en/blog_post/79" target="_blank">2018</a>.</p>

<p><strong>Q: Can we talk to some of your users?</strong><br />
A: Please contact <a href="mailto:press@postgresql.org">press@postgresql.org</a> and our press volunteers will try to arrange a contact.</p>

<p><strong>Q: What company owns PostgreSQL?</strong><br />
A: None.  We are an unincorporated association of volunteers and companies who share code under the PostgreSQL Licence.   The PostgreSQL project involves a couple dozen companies who either support PostgreSQL contributors or directly contribute corporate projects to our repository.  Some of our major corporate sponsors are on the <a href="/about/sponsors/">sponsors page,</a> and there are many more companies who contribute to the project in other ways.</p>

<p><strong>Q: Where can people get support for PostgreSQL?</strong><br />
A: There are several companies which provide paid support for PostgreSQL.  Most of them are regional in nature.  People should contact the nearest regional contact volunteer to be connected with one or more companies, or check our <a href="/support/professional_support/">professional services list</a>.</p>

<p><strong>Q: What's the relationship between the PostgreSQL Project and the companies listed on the "Sponsors" page?</strong><br />
A: The PostgreSQL project enjoys the support of multiple companies who sell products or services built with PostgreSQL, and in turn contribute code, money and staff time to the project.  None of them "own" PostgreSQL, nor is any individual company responsible for PostgreSQL code development. This is the same as Linux, Apache and FreeBSD.</p>

<p><strong>Q: Does PostgreSQL run on the Cloud?</strong><br />
A: Yes.  Like other open source databases, PostgreSQL is easy to run in both containers and virtual machines and is highly portable. Many companies have support for PostgreSQL in cloud hosting environments, including all of the major cloud providers.</p>

<p><strong>Q: How does PostgreSQL compare to MySQL?</strong><br />
A: This is a topic that can start several hours of discussion.  As a quick summary, MySQL is the "easy-to-use, web developer" database, and PostgreSQL is the "feature-rich, standards-compliant" database. PostgreSQL is liberally licenced and owned by its community; MySQL is GPL-licenced and owned by Oracle.  Beyond that, each database user should make his own evaluation; open source software makes doing comparisons very easy.</p>

<p><strong>Q: How does PostgreSQL compare to Oracle/DB2/MS SQL Server/Informix?</strong><br />
A: Our feature set is generally considered to be very competitive with other leading SQL RDBMSes.  Certainly there are features some of them have which we don't, and the reverse is also true.  To date, only a few benchmarks have been published showing PostgreSQL to be within 10-30% of proprietary competitors (sometimes faster, sometimes slower).  However, we have had many users migrate from other database systems &ndash; primarily Oracle and Informix &ndash; and they are completely satisfied with the performance of their PostgreSQL systems.</p>

<p><strong>Q: How does PostgreSQL compare to "NoSQL"?</strong><br />
A: The term "NoSQL" covers such a diverse array of non-relational database implementations, from tiny embedded databases like BerkeleyDB to massive clustered data processing platforms like Hadoop, that it's impossible to comment on them as a general class.  Non-relational databases preceded relational databases and have existed alongside them for forty years, so choosing between relational and nonrelational databases is nothing new.  Users should choose the database whose features, implementation, and community support their current application needs. Further, using multiple different databases for large projects is fast becoming the norm, and PostgreSQL users are no exception.</p>

<p><strong>Q: Are there any published benchmarks for PostgreSQL?</strong><br />
A: To date there is one: a <a href="http://www.spec.org/jAppServer2004/results/res2007q3/jAppServer2004-20070703-00073.html">SpecJAppserver2004 benchmark</a>, which at time of publication was within 10% of the leading commercial SQL RDBMS. We are not certain when another benchmark will be published, as verifiable benchmarks are expensive and time-consuming for a not-for-profit community to undertake.</p>

<p><strong>Q: When will PostgreSQL get database server clustering?</strong><br />
A: We already have it.  Since no one type of clustering satisfies all needs, we have several different clustering tools which take various clustering approaches.  The open source projects PostgresXC and Postgres-XL are available, as well as open source forks and proprietary tools such as Greenplum Database, Citus Data and several others.  Also, PostgreSQL is supported by filesystem-based clustering systems for failover, including ones from Red Hat, Microsoft, Veritas and Oracle.</p>

<p><strong>Q: When will PostgreSQL 13 come out?</strong><br />
A: The PostgreSQL project begins work on the next version of PostgreSQL in July of each year, and it generally takes 12 to 15 months to work to a release. So expect version 13 around September 2020.</p>

<p><strong>Q: What features will 13 have?</strong><br />
A: As always, we can't be certain what will go in and what won't; the project has strict quality standards that not all patches can make before deadline. All we can tell you is what's currently being worked on, which continued work on the pluggable storage interface (including plugins such as zheap or zedstore), native transparent data encryption support, continued improvements to parallelism and partitioning, and many more features. By the time 13 is released, though, this list may have changed considerably.</p>

<p><strong>Q: How do you pronounce PostgreSQL</strong><br />
A: post-GRES-que-ell, per this <a href="/files/postgresql.mp3">audio file</a>.  Many people, however, just say "post-GRES" or "post-GREZ".</p>
{%endblock%}
