{%extends "base/page.html"%}
{%load markup%}
{%block title%}Software Catalogue - {{category.catname}}{%endblock%}
{%block contents%}

<h1>Software Catalogue - {{category.catname}}</h1>

<p>{{productcount}} product(s) were found in this category. {{category.blurb|safe}}</p>

{%for product in products %}

<div class="tblBasic">
<table class="tblBasicGrey">
<tr>
  <th class="colFirst">Product</th>
  <td class="colLast"><a href="{{product.url}}">{{product.name}}</a></td>
</tr>
<tr>
  <th class="colFirst" style="vertical-align: top;">Description</th>
  <td class="colLast">{{product.description|markdown}}</td>
</tr>
<tr>
  <th class="colFirst">Licence</th>
  <td class="colLast">{{product.licencetype}}</td>
</tr>
{%if product.price%}
<tr>
  <th class="colFirst">Pricing&nbsp;info</th>
  <td class="colLast">{{product.price}}</td>
</tr>
{%endif%}
<tr>
  <th class="colFirst">Publisher</th>
  <td class="colLast"><a href="{{product.org.url}}">{{product.org.name}}</a></td>
</tr>
</table>
</div>

{%endfor%}

<p><em><strong>Note:</strong> The PostgreSQL Global Development Group do not endorse or
recommend any products listed, and cannot vouch for the quality or reliability
of any of them.</em></p>

{%endblock%}
