{% extends "pages/about/press/presskit12/base.html" %}

{% block presskit_content %}
<h1 dir="rtl">PostgreSQL 12 שוחררה לאוויר</h1>

<p dir="rtl">קבוצת הפיתוח הגלובלית של PostgreSQL הודיעה היום על שחרורה של PostgreSQL 12, הגרסה העדכנית ביותר של מסד הנתונים המתקדם בעולם עם קוד פתוח.</p>

<p dir="rtl">שיפורי PostgreSQL 12 כוללים שיפורים בולטים בביצועי השאילתה, במיוחד על מערכי נתונים גדולים וניצול שטח כללי. מהדורה זו מספקת למפתחי יישומים יכולות חדשות כגון תמיכה בביטוי PATH  SQL / JSON, אופטימיזציות לביצוע שאילתות CTE מסוג  (<code>WITH</code>) וייצור עמודות. קהילת PostgreSQL ממשיכה לתמוך בהרחבה והחוסן של PostgreSQL, עם תוספות נוספות לבינאום, אימות ומתן דרכים קלות יותר לניהול PostgreSQL. מהדורה זו מציגה גם את ממשק אחסון טבלאות הניתן לחיבור, המאפשר למפתחים ליצור שיטות משלהם לאחסון נתונים.</p>

<p dir="rtl">"קהילת המפתחים מאחורי PostgreSQL תרמה תכונות עבור PostgreSQL 12 המציעות שיפור בביצועים וניהול שטחי איחסון שמשתמש שלנו יכול להשיג עם מאמץ מינימלי, כמו גם שיפורי בתחום אימות משתמשים, פונקציונליות ניהול ותמיכת SQL / JSON." אמר דייב פייג ', חבר צוות ליבה קבוצת הפיתוח הגלובלית של PostgreSQL. "מהדורה זו ממשיכה את המגמה להקל על ניהול עומסי עבודה מסדי נתונים גדולים וקטנים תוך בניית המוניטין של גמישות, אמינות ויציבות בסביבות ייצור ל PostgreSQL."</p>

<p dir="rtl">PostgreSQL נהנה ממעל 20 שנה של פיתוח עם קוד פתוח והפך למסד הנתונים היחסי של הקוד הפתוח המועדף על ארגונים בכל הגדלים. הפרויקט ממשיך לקבל הכרה בכל הענפים, כולל הכרה  בשנה השנייה ברציפות בתור "DBMS של השנה" בשנת 2018 על ידי DB-Engines וקבלת פרס קוד פתוח "מפעל חיים" ב- OSCON 2019.</p>

<h3 dir="rtl">שיפורי ביצועים כלליים</h3>

<p dir="rtl">PostgreSQL 12 מספק שיפורי ביצועים ותחזוקה משמעותיים למערכת האינדקס שלה ול partitioning.</p>

<p dir="rtl">אינדקסים B-tree, סוג האינדקס הרגיל ב- PostgreSQL, עברו אופטימיזציה ב- PostgreSQL 12 כדי להתמודד טוב יותר עם עומסי עבודה בהם משנים לעתים קרובות את האינדקסים. באמצעות יישום לשימוש הוגן של מדד ה- TPC-C, המערכת הדגימה בממוצע ירידה של 40% בניצול החלל ורווח כולל בביצועי השאילתה.</p>

<p dir="rtl">שאילתות בטבלאות מחולקות ניתן לראות גם שיפורים ניתנים להצגה, במיוחד עבור טבלאות עם אלפי מחיצות שצריכות רק לאחזר נתונים מקבוצת משנה מוגבלת. PostgreSQL 12 משפר גם את הביצועים של הוספת נתונים לטבלאות מחולקות עם <code>INSERT</code> ו- <code>COPY</code>, וכולל את היכולת לחבר מחיצה חדשה לטבלה מבלי לחסום שאילתות.</p>

<p dir="rtl">ישנם שיפורים נוספים לאינדקס ב  PostgreSQL 12 המשפיעים על הביצועים הכוללים, כולל תקורה נמוכה יותר ביצירת WAL עבור אידנקס GiST, GIN ו- SP-GiST, היכולת ליצור אינדקסים מכסים (<code>INCLUDE</code>) באינדקס GiST. , היכולת לבצע שאילתות K-nearest neighbor עם אופרטור המרחק (<code>&lt;-&gt;</code>) באמצעות אינדקסים של SP-GiST, ו- <code>CREATE STATISTICS</code> תומכות כעת בסטטיסטיקות הערך הנפוצות ביותר (MCV) כדי לעזור ליצור תכניות הרצת שאילתות יותר טובות בשימוש עמודות המופצות באופן לא אחיד.</p>

<p dir="rtl">קומפילציה Just-in-time (JIT) באמצעות LLVM, שהוצגה ב- PostgreSQL 11, מופעלת כעת כברירת מחדל. אוסף JIT יכול לספק יתרונות ביצועים לביצוע ביטויים בסעיפי WHERE, ברשימות יעד, אגרגטים וכמה פעולות פנימיות, וזמין אם התקנת PostgreSQL שלך מורכבת או ארוזה עם LLVM.</p>

<h3 dir="rtl">שיפורים להתאמת SQL ופונקציונליות</h3>

<p dir="rtl">PostgreSQL ידועה בהתאמתו לתקן SQL - אחת הסיבות לכך ששמה שונה מ- "POSTGRES" ל- "PostgreSQL" - ו- PostgreSQL 12 מוסיף מספר תכונות להמשך יישום תקן SQL עם פונקציונליות משופרת.</p>

<p dir="rtl">PostgreSQL 12 מציגה את היכולת להריץ שאילתות על מסמכי JSON באמצעות ביטויי נתיב JSON שהוגדרו בתקן SQL / JSON. שאילתות כאלה יכולות להשתמש במנגנוני האינדקסים הקיימים עבור מסמכים המאוחסנים בפורמט <code>JSONB</code> לצורך אחזור יעילות של נתונים.</p>

<p dir="rtl">ביטויי טבלה נפוצים, הידועים גם כ שאילתות <code>WITH</code>, יכולים כעת להיות מסומנים אוטומטית על ידי PostgreSQL 12, אשר בתורם יכולים לעזור להגדיל את הביצועים של שאילתות רבות קיימות. במהדורה זו ניתן לקבוע שאילתת <code>WITH</code> אם היא אינה רקורסיבית, אין לה תופעות לוואי ומפנים אותה רק פעם אחת בחלק מאוחר יותר של השאילתה.</p>

<p dir="rtl">PostgreSQL 12 מציגה "עמודות מחושבות." המוגדרות בתקן SQL, סוג זה של עמודה מחשב את ערכו מתוכן העמודות האחרות באותה טבלה. בגירסה זו, PostgreSQL תומך ב"עמודות מחושבות מאוחסנות ", בהן הערך המחושב מאוחסן בדיסק.</p>

<h3 dir="rtl">בינאום</h3>

<p dir="rtl">PostgreSQL 12 מרחיבה את תמיכתו בקולקציות ICU בכך שהיא מאפשרת למשתמשים להגדיר "קולציות לא-דטרמיניסטיות" שיכולות, למשל, לאפשר השוואות שונות.</p>

<h3 dir="rtl">אימות</h3>

<p dir="rtl">PostgreSQL מרחיבה את תמיכת שיטות האימות החזקות שלה עם מספר שיפורים המספקים אבטחה ופונקציונליות נוספים. מהדורה זו מציגה הצפנה של צד לקוח וגם מצד שרת לאימות באמצעות ממשקי GSSAPI, כמו גם את היכולת של PostgreSQL לגלות שרתי LDAP אם PostgreSQL נבנה עם OpenLDAP.</p>

<p dir="rtl">בנוסף, PostgreSQL 12 תומכת כעת בצורת אימות מולטי-פקטור. שרת PostgreSQL יכול כעת לדרוש מלקוח לספק תעודת SSL בתוקף עם שם המשתמש שלו באמצעות האפשרות <code>clientcert=verify-full</code> ולשלב זאת עם הדרישה של שיטת אימות נפרדת (למשל <code>scram-sha-256</code>).</p>

<h3 dir="rtl">ניהול</h3>

<p dir="rtl">PostgreSQL 12 מציגה את היכולת לבנות מחדש אינדקסים מבלי לחסום כתיבה לאינדקס באמצעות הפקודה <code>REINDEX CONCURRENTLY</code>, ומאפשרת למשתמשים להימנע מתרחישים של השבתה לצורך בנייה מחדש של אינדקס ארוך.</p>

<p dir="rtl">בנוסף, PostgreSQL 12 יכולה כעת להפעיל או בדיקות page checksums באמצעות הפקודה <code>pg_checksums</code>. בעבר ניתן היה לאפשר את בדיקת page checksums, תכונה העוזרת לאמת את שלמות הנתונים המאוחסנים בדיסק, רק בזמן אתחול PostgreSQL באמצעות <code>initdb</code>.</p>

<p dir="rtl">לרשימה המלאה של התכונות הכלולות במהדורה זו, אנא קרא את הערות הגרסה, אשר ניתן למצוא בכתובת:
 <a href="/docs/12/release-12.html">https://www.postgresql.org/docs/12/release-12.html</a></p>
{% endblock presskit_content %}

{% block presskit_about %}
<h2 dir="rtl">אודות PostgreSQL</h2>


<p dir="rtl">PostgreSQL הוא מסד נתונים בקוד פתוח המתקדם ביותר בעולם, עם קהילה גלובלית של אלפי משתמשים, תורמים, חברות וארגונים.
</p>

<p dir="rtl">הפרויקט PostgreSQL נבנה על מעל 30 שנות הנדסה, החל באוניברסיטת קליפורניה, ברקלי, והמשיך להתפתח עם קצב ללא תחרות. ערכת התכונות הבשלות של PostgreSQL לא רק תואמת מערכות נתונים קנייניות מובילות, אלא עולה עליהן במאפיינים של מסדי נתונים מתקדמים ,הרחבה, אבטחה ויציבות.</p>

<p dir="rtl">למידע נוסף על PostgreSQL והשתתפות בקהילה שלנו ניתן ב <a href="https://www.postgresql.org">PostgreSQL.org</a>.</p>
{% endblock presskit_about %}
