{% extends "pages/about/press/presskit13/base.html" %}

{% block presskit_content %}
<h1>PostgreSQL 13 Released!</h1>

<p>
  <strong>24 września 2020 &mdash;</strong> Grupa PostgreSQL Global Development
  ogłosiła dzisiaj wydanie <a href="/docs/13/release-13.html">PostgreSQL 13</a>,
  najnowszej wersji <a href="https://www.postgresql.org/">najbardziej zaawansowanej bazy danych open source</a>.
</p>

<p>
  PostgreSQL 13 zawiera znaczące ulepszenia systemów indeksowania i wyszukiwania,
  z których najbardziej skorzystają duże bazy danych, włączając w to m.in.
  oszczędność pamięci i lepszą wydajność indeksów, krótsze czasy odpowiedzi dla
  zapytań używających agregatów i partycji, a także lepsze planowanie zapytań dzięki
  rozszerzonym statystykom.
</p>

<p>
  Wydanie to zawiera również bardzo oczekiwane funkcje, takie jak <a href="/docs/13/sql-vacuum.html">równoległe czyszczenie (vacuum)</a>
  oraz <a href="/docs/13/runtime-config-query.html#GUC-ENABLE-INCREMENTAL-SORT">sortowanie przyrostowe</a>.
  PostgreSQL 13 zapewnia lepsze środowisko zarządzania danymi dla baz o dużym
  i małym obciążeniu, z optymalizacjami dla codziennego zarządzania bazami, a
  także więcej udogodnień dla twórców aplikacji oraz ulepszenia zabezpieczeń.
</p>

<p>
  PostgreSQL 13 jest przykładem współpracy i zaangażowania naszej globalnej
  społeczności w rozwijaniu możliwości najbardziej zaawansowanej na świecie
  relacyjnej bazy danych typu open source&quot; - powiedział Peter Eisentraut,
  członek zespołu PostgreSQL Core Team. &quot;Innowacje, które niesie ze sobą każde
  wydanie, wraz z reputacją niezawodności i stabilności, jest powodem,
  dla którego coraz więcej osób decyduje się na używanie PostgreSQL w swoich
  aplikacjach.
</p>

<p>
  <a href="https://www.postgresql.org">PostgreSQL</a>, to innowacyjny system
  zarządzania danymi znany ze swojej niezawodności i solidności. Rozwijany od
  ponad 25 lat jako open source przez <a href="/community/">globalną społeczność programistów</a>
  stał się ulubioną relacyjną bazą danych open source wśród organizacji o różnej
  wielkości.
</p>

<h3 id="nieustanny-wzrost-wydajno-ci">Nieustanny wzrost wydajności</h3>

<p>
  Kontynuując ulepszenia z poprzedniego wydania, PostgreSQL 13 może wydajnie obsługiwać
  <a href="/docs/13/btree-implementation.html#BTREE-DEDUPLICATION">duplikowane dane w indeksach B-tree</a>,
  które są standardowym typem indeksu. Dzięki temu zapotrzebowanie na pamięć
  używaną przez te indeksy zostało zmniejszone, co poprawia ogólną wydajność
  zapytań.
</p>

<p>
  PostgreSQL 13 wprowadza sortowanie przyrostowe, w którym dane posortowane na
  wcześniejszym etapie wykonywania zapytania mogą zostać użyte do sortowania w
  późniejszym etapie. Dodatkowo PostgreSQL może teraz używać systemu
  <a href="/docs/13/planner-stats.html#PLANNER-STATS-EXTENDED">rozszerzonych statystyk</a>
  (który jest dostępny poprzez <a href="/docs/13/sql-createstatistics.html"><code>CREATE STATISTICS</code></a>))
  do poprawienia planów zapytań wykorzystujących <code>OR</code> oraz w
  wyszukiwaniach <code>IN</code>/<code>ANY</code> działających na listach.
</p>

<p>
  W PostgreSQL 13, więcej typów <a href="/docs/13/functions-aggregate.html">agregatów</a>
  oraz <a href="/docs/13/queries-table-expressions.html#QUERIES-GROUPING-SETS">grupowania zbiorów</a>,
  może korzystać z wydajnej agregacji korzystającej z funkcji skrótu (hash
  aggregation), jako że zapytania z dużą liczbą agregatów nie muszą mieścić się
  całkowicie w pamięci. Zapytania z <a href="/docs/13/ddl-partitioning.html">partycjnowanymi tabelami</a>
  zyskały lepszą wydajność dzięki zwiększeniu przypadków,
  w których partycje mogą być pominięte albo złączone.
</p>

<h3 id="ulepszenia-administracyjne">Ulepszenia administracyjne</h3>

<p>
  <a href="/docs/13/routine-vacuuming.html">Czyszczenie (vacuum)</a>
  jest istotną częścią administracji bazą PostgreSQL. Pozwala na odzyskanie miejsca
  zajmowanego przez zmienione albo usunięte wiersze. Proces ten również może być
  wyzwaniem dla administratorów, chociaż wcześniejsze wydania bazy PostgreSQL
  zmniejszały obciążenie związane z nim.
</p>

<p>
  PostgreSQL 13 kontynuuje usprawnianie systemu czyszczenia poprzez wprowadzenie
  <a href="/docs/13/sql-vacuum.html">równoległego czyszczenia dla indeksów</a>.
  Poza zwiększoną wydajnością, użycie tej nowej funkcjonalności może być dostosowane
  do obciążenia bazy danych, ponieważ administratorzy mogą określić liczbę równolegle
  działających procesów. Dodatkowo, teraz wstawianie danych może również uruchamiać
  proces czyszczenia.
</p>

<p>
  <a href="/docs/13/warm-standby.html#STREAMING-REPLICATION-SLOTS">Sloty replikacji</a>,
  używane do zapobiegania usuwania dzienników zapisu z
  wyprzedzeniem (write-ahead log - WAL) zanim otrzyma je replika bazy danych, mogą
  być dostosowane w PostgreSQL 13 poprzez określenie
  <a href="/docs/13/runtime-config-replication.html#GUC-MAX-SLOT-WAL-KEEP-SIZE">maksymalnej liczby plików WAL do pozostawienia</a>,
  co pomoże w uniknięciu błędów zapełnienia dysku.
</p>

<p>
  PostgreSQL 13 wprowadza również dodatkowe sposoby, dzięki którym administrator może
  monitorować aktywność bazy danych, włączając w to pokazanie statystyk użycia logów
  WAL w <code>EXPLAIN</code>, postęp strumieniowego robienia kopii bazy danych, a także postęp
  polecenia <code>ANALYZE</code>. Dodatkowo, można sprawdzić integralność
  działania polecenia <a href="/docs/13/app-pgbasebackup.html"><code>pg_basebackup</code></a>
  za pomocą nowego polecenia <a href="/docs/13/app-pgverifybackup.html"><code>pg_verifybackup</code></a>
</p>

<h3 id="ulepszenia-dla-programist-w">Ulepszenia dla programistów</h3>

<p>
  PostgreSQL 13 pozwala na jeszcze łatwiejszą pracę z typami danych pochodzącymi z
  różnych źródeł. To wydanie dodaje funkcję
  <a href="/docs/13/functions-json.html#FUNCTIONS-SQLJSON-OP-TABLE"><code>datetime()</code></a>
  do zapytań używających ścieżek dla typu JSON (SQL/JSON path), która konwertuje
  różne typy czasu (np. w formacie ISO 8601) do wewnętrznych typów PostgreSQL.
  Dodatkowo, funkcja do generowania UUID v4 <a href="/docs/13/functions-uuid.html"><code>gen_random_uuid()</code></a>
  jest teraz dostępna bez potrzeby instalowania rozszerzeń.
</p>

<p>
  System partycjonowania jest bardziej elastyczny, jako że partycjonowane tabele
  w pełni obsługują logiczną replikację oraz wyzwalacze wierszowe BEFORE.
</p>

<p>Składnia <a href="/docs/13/sql-select.html#SQL-LIMIT"><code>FETCH FIRST</code></a> w
  PostgreSQL 13 jest rozszerzona i aktualnie zawiera klauzulę <code>WITH TIES</code>,
  która zawiera wszystkie wiersze, które, bazując na klauzuli <code>ORDER BY</code>,
  są związane z ostatnim wierszem wynikowego zbioru danych.
</p>

<h3 id="ulepszenia-bezpiecze-stwa">Ulepszenia bezpieczeństwa</h3>

<p>
  System rozszerzeń PostgreSQL jest kluczowym składnikiem stabilności bazy danych,
  jako że pozwala programistom rozszerzać jej funkcjonalność. W poprzednich wydaniach
  nowe rozszerzenia mogły być instalowane jedynie przez superużytkownika. W celu
  polepszenia rozszerzalności, PostgreSQL 13 dodaje koncepcję
  &quot;<a href="/docs/13/sql-createextension.html">zaufanego rozszerzenia</a>&quot;,
  która pozwala użytkownikom na instalowanie rozszerzeń, które zostały oznaczone
  przez superużytkownika jako &quot;zaufane&quot;. Niektóre wbudowane rozszerzenia są domyślnie
  oznaczone jako zaufane, m.in.:
  <a href="/docs/13/pgcrypto.html"><code>pgcrypto</code></a>,
  <a href="/docs/13/tablefunc.html"><code>tablefunc</code></a>,
  <a href="/docs/13/hstore.html"><code>hstore</code></a>.
</p>

<p>
  Aplikacje, które wymagają bezpiecznego uwierzytelnienia, PostgreSQL 13 pozwala
  klientom na żądanie
  <a href="/docs/13/libpq-connect.html#LIBPQ-CONNECT-CHANNEL-BINDING">channel binding</a>
  podczas używania
  <a href="/docs/13/sasl-authentication.html#SASL-SCRAM-SHA-256">uwierzytelniania SCRAM</a>.
  Dodatkowo, wrapper zewnętrznych danych PostgreSQL (foreign data wrapper)
  <a href="/docs/13/postgres-fdw.html"><code>postgres_fdw</code></a>
  może teraz korzystać z uwierzytelnienia opartego na certyfikatach.
</p>

<h3 id="o-postgresql">O PostgreSQL</h3>

<p>
  <a href="https://www.postgresql.org">PostgreSQL</a> to najbardziej zaawansowana baza danych
  open source na świecie, z globalną społecznością tysięcy użytkowników,
  współtwórców, firm i organizacji. PostgreSQL, bazujący na ponad trzydziestu latach
  pracy inżynierów, został zapoczątkowany na University of California w Berkeley.
  Późniejszy rozwój był kontynuowany z niezrównaną prędkością.
  Dojrzałe cechy PostgreSQLa nie tylko dorównują głównym komercyjnym systemom baz
  danych, ale w wielu przypadkach przewyższają je, jeśli chodzi o zaawansowane
  funkcjonalności, rozszerzalność, bezpieczeństwo i stabilność.
</p>

<h3 id="linki">Linki</h3>

<ul>
  <li><a href="/download/">Pobierz</a></li>
  <li><a href="/docs/13/release-13.html">Informacje o wydaniu</a></li>
  <li><a href="/about/press/">Informacje dla prasy</a></li>
  <li><a href="/support/security/">Bezpieczeństwo</a></li>
  <li><a href="/support/versioning/">Polityka wersjonowania</a></li>
  <li><a href="https://twitter.com/postgresql">Śledź @postgresql na Twitterze</a></li>
</ul>

{% endblock presskit_content %}
