{% extends "pages/about/press/presskit13/base.html" %}

{% block presskit_content %}
<h1>PostgreSQL 13 Released!</h1>

<p>
  Всемирная группа разработки PostgreSQL объявила сегодня о выходе <a href="/docs/13/release-13.html">PostgreSQL 13</a>,
  новейшей версии <a href="https://www.postgresql.org/">лидирующей реляционной
    системы управления базами данных (СУБД) с открытым исходным кодом</a>.
</p>

<p>
  PostgreSQL 13 содержит существенные улучшения систем индексирования и поиска
  данных, которые будут полезны при работе с большими БД. Среди таких улучшений:
  экономия места и прирост производительности индексов; меньшее время ответа для
  запросов, которые используют агрегацию и секционирование; лучшее планирование
  запросов при использовании расширенной статистики.
</p>

<p>
  Наряду с такими давно ожидаемыми возможностями как <a href="/docs/13/sql-vacuum.html">параллелизация очистки (vacuuming)</a>
  и <a href="/docs/13/runtime-config-query.html#GUC-ENABLE-INCREMENTAL-SORT">инкрементальная сортировка</a>,
  PostgreSQL 13 обеспечивает намного более удобную работу по управлению данных,
  в больших и малых масштабах, превнося оптимизации процессов ежедневного
  администрирования, удобства для разработчиков приложений и улучшения
  безопасности.
</p>

<p>
  «Глобальное сообщество вокруг PostgreSQL 13 демонстрирует высокий уровень
  коллаборации и ориентированность на развитие возможностей самой совершенной в
  мире реляционной СУБД с открытым исходным кодом, - говорит Питер Айзентраут
  (Peter Eisentraut), член основной команды PostgreSQL. – Инновации, которые
  появляются с каждым релизом, а также репутация надёжности и стабильности
  являются причиной того, что всё больше людей предпочитают использовать
  PostgreSQL для своих приложений.»
</p>

<p>
  <a href="https://www.postgresql.org">PostgreSQL</a>, инновационная система
  управления данными, известная своей надёжностью и производительностью,
  пользуется плодами 25 лет открытой разработки, осуществляемой
  <a href="/community/">глобальным сообществом разработчиков</a>). В результате
  сегодня во всём мире организации любого размера отдают предпочтение PostgreSQL
  как СУБД с открытым иходным кодом.
</p>

<h3 id="-">Прирост производительности, снова и секционирования</h3>

<p>
  Опираясь на работу в предыдущем релизе PostgreSQL, PostgreSQL 13 теперь может
  эффективно работать с
  <a href="/docs/13/btree-implementation.html#BTREE-DEDUPLICATION">дублирующимися данными в индексах B-tree</a>,
  основном виде индексов в база данных (БД). Это снижает количество места,
  занимаемого индексами B-tree, при этом одновременно улучшая общую
  производительность запросов.
</p>

<p>
  В PostgreSQL 13 появилась инкрементальная сортировка, при которой уже
  отсортированные данные из более раннего шага выполнения запроса могут ускорить
  работу сортировки на более позднем шаге. Кроме этого, PostgreSQL 13 теперь
  может использовать <a href="/docs/13/planner-stats.html#PLANNER-STATS-EXTENDED">расширенную статистику</a>,
  (доступную посредством использования <a href="/docs/13/sql-createstatistics.html"><code>CREATE STATISTICS</code></a>),
  чтобы создавать улучшенные планы для запросов с конструкциями <code>OR</code>
  и поиском в списках <code>IN</code>/<code>ANY</code>.
</p>

<p>
  В PostgreSQL 13 ещё больше типов запросов с <a href="/docs/13/functions-aggregate.html">агрегацией </a>
  и <a href="/docs/13/queries-table-expressions.html#QUERIES-GROUPING-SETS">наборов для группировки (grouping sets)</a>
  могут получать выгоду от применения эффективного хэш-агрегирования PostgreSQL,
  так как запросы с большими объёмами данных при агрегировании не обязательно
  должны помещаться в памяти. Запросы с <a href="/docs/13/ddl-partitioning.html">секционированными таблицами</a>
  получили улучшение производительности, так как теперь существует больше
  вариантов, когда секции могут быть отсечены и когда секции могут быть
  соединены напрямую.
</p>

<h3 id="-">Оптимизации задач администрирования</h3>

<p>
  <a href="/docs/13/routine-vacuuming.html">Очистка (vacuuming)</a> ― это
  существенная часть PostgreSQL-администрирования, позволяющая БД
  переиспользовать место после удаления и обновления строк. Данный процесс может
  приводить к различным трудностям при администрировании, хотя в предыдущих
  релизах PostgreSQL и была проделана заметная работа по уменьшению накладных
  расходов процессов очистки.
</p>

<p>
  PostgreSQL 13 улучшает систему очистки за счёт <a href="/docs/13/sql-vacuum.html">параллелизации очистки индексов</a>.
  Это ускоряет процесс очистки. Кроме того, администраторы могут использувать
  новую возможность для тюнинга под конкретные нагрузки, выбирая какое
  количество параллельных процессов очистки запускать. Помимо этого улучшения,
  вставка данных может теперь вызывать запуск процесса автоочистки.
</p>

<p>
  <a href="/docs/13/warm-standby.html#STREAMING-REPLICATION-SLOTS">Слоты репликации</a>,
  которые используются для предотвращения удаления файлов журнала предзаписи
  (WAL) до того, как они получены репликой, в PostgreSQL 13 могут быть настроены
  с указанием
  <a href="/docs/13/runtime-config-replication.html#GUC-MAX-SLOT-WAL-KEEP-SIZE">максимального количества WAL-файлов, которые разрешается сохранить</a>.
  Это позволяет защититься от ситуаций, когда место на диске закончилось.
</p>

<p>
  PostgreSQL 13 также предоставляет администраторам больше возможностей
  мониторинга баз данных, включая статистику использования WAL в выводе команды
  <code>EXPLAIN</code>, прогресс стриминга базовых бэкапов и прогресс работы
  команды <code>ANALYZE</code>. Кроме этого, целостность результата работы
  команды <a href="/docs/13/app-pgbasebackup.html"><code>pg_basebackup</code></a>
  может быть теперь преверена с помощью новой команды,
  <a href="/docs/13/app-pgverifybackup.html"><code>pg_verifybackup</code></a>.
</p>

<h3 id="-">Удобства разработки приложений</h3>

<p>
  PostgreSQL 13 облегчает работу с типами данных PostgreSQL из разных источников
  данных. Поддержка выражений путей SQL/JSON обогатилась появлением функции
  <a href="/docs/13/functions-json.html#FUNCTIONS-SQLJSON-OP-TABLE"><code>datetime()</code></a>,
  которая конвертирует валидные значения времени (например, строки ISO 8601) в
  «родные» типы PostgreSQL. Помимо этого, функция генерирования UUID v4,
  <a href="/docs/13/functions-uuid.html"><code>gen_random_uuid()</code></a>,
  доступна теперь без установки каких-либо расширений.
</p>

<p>
  Система секционирования PostgreSQL стала более гибкой, так как
  секционированные таблицы стали полностью поддерживать логическую репликацию и
  BEFORE-триггеры уровня строки.
</p>

<p>
  Синтаксис <a href="/docs/13/sql-select.html#SQL-LIMIT"><code>FETCH FIRST</code></a>
  в PostgreSQL 13 расширился, получив опцию <code>WITH TIES</code>. Когда
  используется <code>WITH TIES</code>, к результату работы запроса добавляются
  такие строки, о которых можно сказать что они, основываясь условии
  <code>ORDER BY</code>, совпадают с последней строкрой результирующего набора
  строк.
</p>

<h3 id="-">Улучшения безопасности</h3>

<p>
  Система расширений PostgreSQL ― ключевой компонент, так как она позволяет
  разработчикам расширять функциональность. В предыдущих релизах новые
  расширения могли устанавливаться только суперпользователем. Чтобы свойство
  расширяемости PostgreSQL сделать ещё более доступным, PostgreSQL 13 вводит
  понятие <a href="/docs/13/sql-createextension.html">«проверенных (trusted) расширений»</a>:
  обычные пользователи теперь могут устанавливать расширения, которые
  суперпользователь отметил как «проверенные». Определённые встроенные
  расширения отмечены как проверенные изначально; среди них
  <a href="/docs/13/pgcrypto.html"><code>pgcrypto</code></a>,
  <a href="/docs/13/tablefunc.html"><code>tablefunc</code></a>,
  <a href="/docs/13/hstore.html"><code>hstore</code></a> и другие.
</p>

<p>
  Для работы с приложениями, которым требуются безопасные методы аутентификации,
  PostgreSQL 13 разрешает требовать от клиентов
  <a href="/docs/13/libpq-connect.html#LIBPQ-CONNECT-CHANNEL-BINDING">«привязку канала» (channel binding)</a>
  при использовании <a href="/docs/13/sasl-authentication.html#SASL-SCRAM-SHA-256">SCRAM-аутентификации</a>,
  а обёртка сторонних данных PostgreSQL (<a href="/docs/13/postgres-fdw.html"><code>postgres_fdw</code></a>)
  теперь может использовать аутентификацию на основе сертификатов.
</p>

<h3 id="-postgresql">О PostgreSQL</h3>

<p>
  <a href="https://www.postgresql.org">PostgreSQL</a> является ведущей СУБД с
  открытыми исходными текстами, с глобальным сообществом из тысяч пользователей
  и разработчиков, объединяющим множество компаний и организаций. Проект
  PostgreSQL базируется на более чем 30-летнем опыте проектирования и
  разработки, начавшихся в Калифорнийском университете Беркли, и в настоящее
  время продолжает развиваться беспрецедентными темпами. Богатый набор
  возможностей PostgreSQL не только не уступает ведущим коммерческим СУБД, но и
  превосходит их развитой функциональностью, расширяемостью, безопасностью и
  стабильностью.
</p>

<h3 id="-">Ссылки</h3>

<ul>
  <li><a href="/download/">Скачать</a><</li>
  <li><a href="/docs/13/release-13.html">Release Notes</a></li>
  <li><a href="/about/press/">Пресс-кит</a></li>
  <li><a href="/support/security/">Страница безопасности</a></li>
  <li><a href="/support/versioning/">Политика управления версиями</a></li>
  <li><a href="https://twitter.com/postgresql">Подпишитесь на @postgresql в Twitter</a></li>
</ul>

{% endblock presskit_content %}
