{%extends "base/page.html"%}
{%block title%}International Sites{%endblock%}
{%block contents%}

<h1>International Sites</h1>

<p>The following are links to international PostgreSQL community websites.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Community</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    	<td><a href="http://www.postgres.cn/">Chinese (Simplified)</a></td>
    	<td>Simplified Chinese PostgreSQL Community</td>
    </tr>
    <tr>
    	<td><a href="https://postgresql.tw/">Chinese (Traditional)</a></td>
    	<td>Traditional Chinese PostgreSQL Community</td>
    </tr>
    <tr>
      <td><a href="https://www.postgres.cz/">Czech</a></td>
      <td>Informace o PostgreSQL v &#269;e&#353;tin&#283;</td>
    </tr>
    <tr>
    	<td><a href="http://www.postgres.de/">Deutsch</a></td>
    	<td>Die Deutsche PostgreSQL Seite</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.fr/">Fran&#231;ais</a></td>
    	<td>La communaute Fran&#231;aise de PostgreSQL</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.org.il/">Israel</a></td>
    	<td>The Israeli PostgreSQL Community</td>
    </tr>
    <tr>
    	<td><a href="https://www.itpug.org/">Italiano</a></td>
    	<td>Associazione ITPUG</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.jp/">Japanese</a></td>
    	<td>The Japanese PostgreSQL Community</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.kr/">Korean</a></td>
    	<td>The Korean PostgreSQL Community</td>
    </tr>
    <tr>
      <td><a href="https://rupostgres.org/">Russian</a></td>
      <td>Сообщество русскоязычных пользователей PostgreSQL</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.org.tr/">Türkce</a></td>
    	<td>Türkiye PostgreSQL Kullanıcıları Grubu</td>
    </tr>
  </tbody>
</table>

<p>If you know of an international PostgreSQL community site that isn't listed on this page, please contact <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>.</p>
{%endblock%}
