{%extends "base/page.html"%}
{%block title%}International Sites{%endblock%}
{%block contents%}

<h1>International Sites</h1>

<p>Following are links to international PostgreSQL community websites.</p>

<div class="tblBasic">
<table border="0" cellpadding="0" cellspacing="0" class="tblBasicGrey">
<tr>
	<th class="colFirst">Community</th>
	<th class="colLast">Description</th>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.postgresql.org.br/">Brazilian</a></td>
	<td class="colLast">O centro de informa&ccedil;&otilde;es para os usu&aacute;rios brasileiros</td>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.postgres.cn/">Chinese (Simplified)</a></td>
	<td class="colLast">Simplified Chinese PostgreSQL Community</td>
</tr>
<tr>
	<td class="colFirst"><a href="http://postgresql.tw/">Chinese (Traditional)</a></td>
	<td class="colLast">Traditional Chinese PostgreSQL Community</td>
</tr>
<tr>
        <td class="colFirst"><a href="http://www.postgres.cz/">Czech</a></td>
        <td class="colLast">Informace o PostgreSQL v &#269;e&#353;tin&#283;</td>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.postgres.de/">Deutsch</a></td>
	<td class="colLast">Die Deutsche PostgreSQL Seite</td>
</tr>
<tr>
	<td class="colFirst"><a href="https://www.postgresql.fr/">Fran&#231;ais</a></td>
	<td class="colLast">La communaute Fran&#231;aise de PostgreSQL</td>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.postgresql.org.il/">Israel</a></td>
	<td class="colLast">The Israeli PostgreSQL Community</td>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.psql.it/">Italiano</a></td>
	<td class="colLast">Comunità italiana di PostgreSQL </td>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.itpug.org/">Italiano</a></td>
	<td class="colLast">Associazione ITPUG</td>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.postgresql.jp/">Japanese</a></td>
	<td class="colLast">The Japanese PostgreSQL Community</td>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.postgresql.kr/">Korean</a></td>
	<td class="colLast">The Korean PostgreSQL Community</td>
</tr>
<tr>
	<td class="colFirst"><a href="http://www.postgresql.org.pl/">Polska</a></td>
	<td class="colLast">Informacje o PostgreSQL po polsku</td>
</tr>
<tr>
        <td class="colFirst"><a href="http://postgresql.ru.net/">Russian</a></td>
        <td class="colLast">A Russian community site</td>
</tr>

<tr class="lastrow">
	<td class="colFirst"><a href="http://www.postgresql.org.tr/">Türkce</a></td>
	<td class="colLast">Türkiye PostgreSQL Kullanıcıları Grubu</td>
</tr>
</table>
</div>

<p>If you know of an international PostgreSQL community site that isn't listed on this page, please contact <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>.</p>
{%endblock%}
