{%extends "base/page.html"%}
{%block title%}IRC{%endblock%}
{%block contents%}

<h1>IRC <i class="fas fa-comments"></i></h1>

<p>The PostgreSQL community is welcome to gather on the Libera Chat IRC network to discuss PostgreSQL,
generally chat among PostgreSQL community members, and to ask questions about PostgreSQL and assist others
using PostgreSQL.  The channel has many active users and it is an entry into participating in the wider
PostgreSQL community.  Don't forget to consult the <a href="/docs/">documentation</a> before asking
questions which may be answered there.</p>

<p>Note that, as with other community areas, all users should review and are required to follow the
PostgreSQL community <a href="https://www.postgresql.org/about/policies/coc/">Code of Conduct</a>.</p>

<p>Any issues, concerns, or violations of the CoC may be reported directly to the PostgreSQL IRC Admin team by
contacting them directly on Libera Chat, or by emailing the team at
<a href="mailto:irc-admins@lists.postgresql.org">irc-admins@lists.postgresql.org</a>.  CoC violations
can be alternatively submitted to the Code of Conduct Committee at
<a href="mailto:coc@postgresql.org">coc@postgresql.org</a>.</p>

<h2>PostgreSQL Channels:</h2>
<ul>
  <li><a href="irc://irc.libera.chat/postgresql">#postgresql</a>: General technical PostgreSQL discussion (English)</li>
  <li><a href="irc://irc.libera.chat/postgresql-lounge">#postgresql-lounge</a>: Off-topic discussion among PostgreSQL Users</li>
  <li><a href="irc://irc.libera.chat/postgresql-eu">#postgresql-eu</a>: European PostgreSQL Usergroup</li>
</ul>

<h2>Language Specific Channels:</h2>
<ul>
  <li><a href="irc://irc.libera.chat/postgresql-br">#postgresql-br</a>: Brazilian Portuguese</li>
  <li><a href="irc://irc.libera.chat/postgresql-fr">#postgresql-fr</a>: French</li>
  <li><a href="irc://irc.libera.chat/postgresql-it">#postgresql-it</a>: Italian</li>
  <li><a href="irc://irc.libera.chat/postgresql-de">#postgresql-de</a>: German</li>
</ul>

<h2>PostgreSQL IRC Admin Team:</h2>
<ul>
  <li>RhodiumToad [Andrew Gierth]</li>
  <li>xocolatl [Vik Fearing] - Admin for #postgresql-fr</li>
  <li>magnush [Magnus Hagander] - Admin for #postgresql-eu</li>
  <li>johto [Marko Tiikkaja]</li>
  <li>ilmari [Dagfinn Ilmari Mannsåker]</li>
  <li>davidfetter [David Fetter]</li>
  <li>Myon [Christoph Berg] - Admin for #postgresql-apt, #postgresql-de</li>
  <li>Zr40 [Matthijs van der Vleuten]</li>
</ul>

<h2>PostgreSQL Related Channels on other networks</h2>
<p>PostgreSQL Related Projects:</p>
<ul>
	<li>matrix: <a href="https://matrix.to/#/#postgis:osgeo.org">#postgis:osgeo.org</a>;
	    irc: <a href="irc://irc.libera.chat/postgis">#postgis</a>: Spatial objects for PostgreSQL</li>
</ul>
{%endblock%}
