{%extends "base/page.html"%}
{%block title%}IRC{%endblock%}
{%block contents%}

<h1>IRC</h1>

<p>If you have a problem that you cannot resolve, you might want to try asking a question in our IRC channel
<a href="irc://irc.freenode.net/postgresql">#postgresql on irc.freenode.net</a>. The channel has many active users,
and it is an entry into participating in the wider PostgreSQL community.  Don't forget to consult
the <a href="/docs">documentation</a> about your problem before asking your question.</p>

<h2>Other PostgreSQL Related Channels</h2>
<p>PostgreSQL Related Projects:</p>
<ul>
	<li><a href="irc://irc.freenode.net/pgadmin">pgAdmin</a> - Cross platform graphical administration</li>
	<li><a href="irc://irc.freenode.net/plphp">PLphp</a> - Procedures and Functions in PHP</li>
	<li><a href="irc://irc.freenode.net/postgis">PostGIS</a> -  Spatial objects for PostgreSQL</li>
	<li><a href="irc://irc.freenode.net/slony">Slony</a> - FOSS PostgreSQL replication</li>
	<li><a href="irc://irc.freenode.net/postgresql-eu">postgresql-eu</a> - European PostgreSQL Usergroup</li>
</ul>
<p>Language Specific Channels:</p>
<ul>
  <li><a href="irc://irc.freenode.net/postgresql-br">Brazilian Portuguese</a></li>
  <li><a href="irc://irc.freenode.net/postgresqlfr">French</a></li>
  <li><a href="irc://irc.freenode.net/postgresql-it">Italian</a></li>
  <li><a href="irc://irc.freenode.net/postgresql-es">Spanish</a></li>
  <li><a href="irc://irc.freenode.net/postgresql-de">German</a></li>
  <li><a href="irc://irc.freenode.net/postgresql-tr">Turkish</a></li>
</ul>
{%endblock%}
