{%extends "base/page.html"%}
{%block title%}Propaganda{%endblock%}
{%block contents%}

<h1>Propaganda</h1>

<p><a href="http://www.templatemonster.com">Template Monster</a>, a graphics and website design company, has provided us with a number of updated PostgreSQL related graphics that you can use on your website. Right click on these images and select "Save As" to save the logo, then link them to the PostgreSQL home page at www.postgresql.org. You can also find more logos for different styles and colors, and the source files for these graphics, on our logo project page at <a href="http://pgfoundry.org/projects/graphics/">http://pgfoundry.org/projects/graphics/</a> in case you want to play around with them and maybe submit your own.
</p>

<table>
<tr>
	<td>
	<img src="/files/community/propaganda/32x32_1.gif" alt="PostgreSQL logo" />
	<img src="/files/community/propaganda/32x32_2.gif"  alt="PostgreSQL logo" />
	<img src="/files/community/propaganda/32x32_3.gif"  alt="PostgreSQL logo" />
	</td>
	<td><ul><li>32 x 32 pixels</li><li>Web Icons</li><li>Elephant Style</li><li>GIF Format</li></ul></td>
</tr>
<tr><td colspan="2"><hr /></td></tr>
<tr>
	<td>
	<img src="/files/community/propaganda/80x16_1.gif" alt="PostgreSQL logo"  />
	<br />
	<img src="/files/community/propaganda/80x16_2.gif"  alt="PostgreSQL logo" />
	<br />
	<img src="/files/community/propaganda/80x16_3.gif"  alt="PostgreSQL logo" />
	</td>
	<td><ul><li>80 x 15 pixels</li><li>"PostgreSQL Powered" logo</li><li>Suitable for any background, usually used on blogs</li><li>GIF Format</li></ul></td>
</tr>
<tr><td colspan="2"><hr /></td></tr>
<tr>
	<td><img src="/files/community/propaganda/88x31_2.gif"  alt="PostgreSQL logo" /></td>
	<td><ul><li>88 x 31 pixels</li><li>"PostgreSQL Powered" logo</li><li>Text Style</li><li>GIF Format</li></ul></td>
</tr>
<tr><td colspan="2"><hr /></td></tr>
<tr>
	<td><img src="/files/community/propaganda/95x51_4.gif"  alt="PostgreSQL logo" /></td>
	<td><ul><li>95 x 51 pixels</li><li>"PostgreSQL Powered" logo</li><li>Elephant Style</li><li>GIF Format</li></ul></td>
</tr>
<tr><td colspan="2"><hr /></td></tr>
<tr>
	<td><img src="/files/community/propaganda/95x51_6.gif"  alt="PostgreSQL logo" /></td>
	<td><ul><li>95 x 51 pixels</li><li>"PostgreSQL Powered" logo</li><li>Turtle Style</li><li>GIF Format</li></ul></td>
</tr>
<tr><td colspan="2"><hr /></td></tr>
<tr>
	<td><img src="/files/community/propaganda/100x58_1.gif"  alt="PostgreSQL logo" /></td>
	<td><ul><li>100 x 58 pixels</li><li>"PostgreSQL Powered" logo</li><li>Elephant Style</li><li>GIF Format</li></ul></td>
</tr>
</table>

<br />

<!-- Creative Commons License -->
These works are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License</a>.
<!-- /Creative Commons License -->

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
</License>

</rdf:RDF>

-->

{%endblock%}
