{%extends "base/page.html"%}
{%block title%}Recognised NPOs{%endblock%}
{%block contents%}

<h1>Recognised NPOs</h1>

<p>Recognised NPOs (Non Profit Organisations) are legal entities that support
    the PostgreSQL project as their primary objective, and are managed in
    accordance with the <a href="/about/policies/npos/">Recognised PostgreSQL
    Nonprofit Organisations</a> policy.</p>

<h2>PostgreSQL Europe</h2>

<p>PostgreSQL Europe is the "umbrella group" for PostgreSQL User Groups in
    Europe and for users in regions that don't have a local user group. It's
    goal is to promote the use of PostgreSQL in Europe, primarily by assisting
    local user groups to promote the product locally through conferences and
    other advocacy, as well as running European-wide conferences and other
    activities.</p>
<p>More information can be found on the
    <a href="https://www.postgresql.eu/">PostgreSQL Europe website</a>.</p>

<h2>PostgreSQLFr</h2>

<p>PostgreSQLFr has as its objectives the promotion, the support for
    deployment and the development of the Open Source software PostgreSQL
    and its derivatives and related projects in France and in French
    speaking countries.</p>
<p>PostgreSQLFr organises the "PG Day France" each year in a different
    city, since 2008.</p>
<p>More information can be found on the
    <a href="https://www.postgresql.fr/">PostgreSQLFr website</a>.</p>

<h2>Prairie Postgres</h2>

<p>Prairie Postgres NFP is a 501(c)(3) nonprofit organization chartered in 
    Illinois, the Prairie State, that serves the Midwestern United States. 
    Prairie Postgres hosts events and offers training, professional 
    development, and networking opportunities for technical practitioners 
    and researchers. The organization seeks to foster diversity, equity, and 
    inclusion through its work in the local technical community.</p>
<p>More information can be found on the
    <a href="http://prairiepostgres.org/">Prairie Postgres website</a>.</p>

<h2>United States PostgreSQL Association</h2>

<p>The United States PostgreSQL Association, affectionately known as PgUS,
    is a IRS 501(c)(3) public charity. It's purpose is to support the growth
    and education of PostgreSQL, The World's Most Advanced Open Source 
    Database.</p>
<p>More information can be found on the
    <a href="https://postgresql.us/">PgUS website</a>.</p>

<h2>Slonik Events Canada</h2>

<p>Slonik Events Canada is a Canadian Not-For-Profit incorporated for the
    purpose of running events for the PostgreSQL Community in Canada. Slonik
    Events Canada organise the annual PGConf.dev developer conference.</p>
<p>More information can be found on the
    <a href="https://www.pgevents.ca/">Slonik Events Canada website</a>.</p>
{%endblock%}
