{%extends "base/page.html"%}
{%block title%}Community Guidelines{%endblock%}
{%block contents%}

<h1>Community Recognition Guidelines <i class="fa fa-users"></i></h1>

<p>The PostgreSQL community is comprised of an international group of individuals and 3rd-party organisations who contribute to the PostgreSQL Development Group through various efforts.  In order to help recognise the efforts of everyone contributing to the PostgreSQL project, the <a href="/developer/core/">PostgreSQL Core Committee</a> has put together a set of guidelines to fairly recognise these contributions to the community.</p>

<p>The following sections provide the guidelines for how various affiliates of the PostgreSQL community can qualify for official recognition by the PostgreSQL Development Group.</p>

<ul>
  <li>
    <a href="#npos">Recognised PostgreSQL Nonprofit Organisations (NPOs)</a>
  </li>
  <li>
    <a href="#conferences">Community Conference Recognition</a>
  </li>
</ul>

<a name="npos" />

<h2>Recognised PostgreSQL Nonprofit Organisations (NPOs)</h2>
<p>Recognised PostgreSQL Nonprofit Organisations (NPOs) will be listed on the <a href="/">PostgreSQL Website</a> as such. To become recognised as an NPO, the organisation must self-certify that they meet the criteria below, aimed at ensuring they meet the standards of openness expected in the PostgreSQL Community.
</p>
<p>
  Use of the terms "MUST", "MUST NOT", "SHOULD" and "SHOULD NOT" in the criteria below should be interpreted per <a href="https://www.ietf.org/rfc/rfc2119.txt" target="_blank">RFC2119</a>.
</p>

<h3>General</h3>

<ul>
  <li>A Code of Conduct SHOULD be adopted and apply to all members and directors.</li>
  <li>The organisation MUST be registered as a Non Profit Organisation in the territory in which it operates.</li>
  <li>No payments may be made to directors or members for their service with the exception of reimbursement of expenses incurred on the organisation's business, and sponsorship of conference attendance where deemed appropriate to help ensure the success of an event.</li>
  <li>The organisation MUST work towards the betterment of the PostgreSQL Project and/or community. It may not participate in any activities which may bring the project into disrepute or otherwise work against the interests of the project or the community.</li>
  <li>The <a href="/developer/core/">PostgreSQL Core Team</a> may recognise, not recognise, or rescind a previous recognition of any organisation without justification, regardless of whether or not the criteria above are met.</li>
  <li>These criteria may be reviewed and potentially updated at any time.</li>
</ul>

<h3>Membership</h3>
<ul>
  <li>Membership MUST be open to anyone, limited only to the geographic area in which the NPO operates or a specific spoken language, if desired.</li>
  <li>Membership MUST be at zero cost or a nominal cost (up to US $50 per year) to allow participation from any interested community members.</li>
  <li>Corporate memberships may be allowed, at higher cost than individual membership if desired, provided the same membership terms are available to any company.</li>
  <li>Membership MUST be renewed at least once every three years. "Lifetime" memberships MUST NOT be allowed.</li>
</ul>

<h3>Directors</h3>
<ul>
  <li>The board of directors MUST be elected by the membership, and all members including any corporate members MUST have an equal vote.</li>
  <li>The board of directors SHOULD NOT consist of 50% or more directors working for the same company or group of companies under the same ultimate ownership or management, a situation which MUST be actively avoided as much as is possible. Should such a situation arise, for example, following the resignation of a director, an election SHOULD be held as soon as possible to restore the balance of the board.</li>
  <li>Director terms MUST last no longer than three years without re-election. A limit on the number of terms served may be set. "Lifetime" directorships MUST NOT be allowed.</li>
</ul>

<h3>Vetting</h3>
<ul>
  <li>Voting for the board of directors MUST be done in a way that may be externally vetted.</li>
  <li>Financial reports MUST be published at least annually for review by the membership.</li>
  <li>The organisation MUST make its financial reports and voting processes and records available to the <a href="/developer/core/">PostgreSQL Core Team</a> or their nominated representative for review if requested.</li>
</ul>

<a name="conferences" />
<h2>Community Conference Recognition</h2>
<p><em>Last updated: July 15, 2019</em></p>

<p>The Community Conference Recognition programme is a voluntary scheme under which submitters of events to the <a href="/about/events/">PostgreSQL Website listings</a> may self-assess their entry against the criteria below, and if they comply may market their event as a PostgreSQL Community event.</p>

<p>Events that do not meet the criteria will still be welcomed (where appropriate under the <a href="https://wiki.postgresql.org/wiki/NewsEventsApproval#Approving_Events_and_Event-Related_News_.28excluding_training.29" target="_blank">general listing policies</a>) - for example, events organised by a single company which may still be valuable for people to attend, but are not necessarily what we would consider fully "open."</p>

<p>Use of the terms "MUST", "MUST NOT", "SHOULD" and "SHOULD NOT" in the criteria below should be interpreted per <a href="https://www.ietf.org/rfc/rfc2119.txt" target="_blank">RFC2119</a>.</p>

<h3>General</h3>
<ul>
  <li>The event MUST be primarily focused on PostgreSQL and targeted at existing and/or potential developers and users of PostgreSQL.</li>
  <li>The event MUST adopt and follow an appropriate Code of Conduct to ensure a safe and enjoyable environment for anyone who wishes to attend.</li>
  <li>The <a href="/developer/core/">PostgreSQL Core Team</a> reserves the right to recognise, not recognise, or rescind a previous recognition for any event without justification.</li>
  <li>Information that is required to be publicly disclosed MUST be available on the website of the event, or, if it is not possible to publish to the event’s website, MUST be made available in the <a href="/about/events/">PostgreSQL Website events list</a>.</li>
  <li>Events are self-certified as complying with these criteria when <a href="/about/events/">listed on the PostgreSQL Website</a>. If an event is self-certified by the organisers and later found not to comply with the criteria, the <a href="/developer/core/">PostgreSQL Core Team</a> reserves the right to rescind the recognition of the event as a community event and, where appropriate, take further action up to a permanent ban on future event listings from the organisers.</li>
  <li>These criteria may be reviewed and potentially updated at any time.</li>
</ul>

<h3>Organisers</h3>
<ul>
  <li>The organizing committee (also referred to as a steering committee) MUST be fully disclosed on the event website OR the PostgreSQL Website event listing.</li>
  <li>The organizing committee SHOULD NOT consist of 50% or more members from a single company or group of companies under the same ultimate ownership or management.</li>
  <li>Any benefits granted to the companies that employ the organisers MUST be considered sponsorship benefits.</li>
  <li>
    The organizing committee MUST either:
    <ul>
      <li>Establish a code of conduct committee. The code of conduct committee MUST include at least one person who is not on the organizing committee. The membership of the code of conduct committee MUST be published. OR</li>
      <li>Adopt the <a href="/about/policies/coc/">PostgreSQL Code of Conduct</a> and refer code of conduct complaints to the <a href="/about/policies/coc_committee/">PostgreSQL Code of Conduct Committee</a>.</li>
    </ul>
  </li>
</ul>

<h3>Talk Selection</h3>
<ul>
  <li>The talk selection committee MUST be fully disclosed on the event website.</li>
  <li>The talk selection committee MUST NOT consist of 50% or more members from a single company or group of companies under the same ultimate ownership or management.</li>
  <li>All members of the talk committee MUST have an equal vote.</li>
  <li>The Call For Papers MUST be open for anyone to submit.</li>
  <li>Solicited or sponsor presentations may bypass the normal talk selection process, but MUST be approved by a majority of the talk selection committee.</li>
  <li>The full talk selection process and voting system MUST be fully disclosed to all members of the talk selection committee.</li>
  <li>Details of the talk selection process and how results were obtained MUST be provided to the <a href="/developer/core/">PostgreSQL Core Team</a> on request.</li>
</ul>

<h3>Sponsorship</h3>
<ul>
  <li>The sponsorship terms and/or prospectus MUST be published on the event website for public review.</li>
  <li>All sponsors of the same level or type MUST be treated equally; they MUST be offered the same benefits at the same cost as all others.</li>
  <li>Changes to the benefits offered SHOULD NOT be made following publication, and MUST NOT be made following the first executed sponsor agreement.</li>
  <li>There SHOULD NOT be an exclusive top sponsorship level.</li>
  <li>Sponsor benefits for all levels or types SHOULD include a listing on the event website. Ordering of the sponsor listing MUST be in randomised or predictable order with text stating how they are ordered, grouped by level or type of sponsorship.</li>
  <li>Sponsorship opportunities SHOULD be open to all, offered on a first-come, first-served basis. Limits on the number of any given level or type of sponsorship may be set.</li>
  <li>Only recognised sponsors may exhibit at the event, or be listed on the event website or other materials.</li>
</ul>

<h3>Financial</h3>
<ul>
  <li>The event organisers MUST provide copies of financial records to the <a href="/developer/core/">PostgreSQL Core Team</a> or their nominated representative for review if requested. Any financial statements shared with the Core Team will not be distributed by the Core Team to any 3rd parties without written permission from the event organisers or where required by court order or other forms of legal authority.</li>
  <li>
    A statement on the event website MUST indicate where any profits from the event will go, which specifically MUST support PostgreSQL community activities, either through:
    <ol>
      <li>a <a href="#npos">recognized PostgreSQL Nonprofit Organisation</a></li>
      <li>a detailed list of how the profits will support
      ongoing PostgreSQL Global Development Group development</li>
      <li>to the future growth and expansion of the event, OR</li>
      <li>a
      PostgreSQL-related activity that supports the community at-large
      that can be validated by the PostgreSQL Core Team</li>
    </ol>
  </li>
</ul>
{%endblock%}
