{%extends "base/page.html"%}
{%block title%}Resources{%endblock%}
{%block contents%}
<h1>Resources</h1>
<p>Following are resources that may be of interest to the PostgreSQL community.</p>
<h3>Community Resources</h3>
<ul>
<li><a href="http://planet.postgresql.org/">Planet PostgreSQL</a>, a site dedicated to aggregating PostgreSQL related blogs.</li>
<li><a href="https://wiki.postgresql.org">PostgreSQL Wiki</a>, our wiki, hosting user created content and development related information</li>
</ul>
<h3>External Resources</h3>
<ul>
<li><a href="http://www.pg-forum.de/">pg-forum.de</a>, a German PostgreSQL forum.</li>
<li><a href="http://www.pgsql.ru/">PGSearch</a>, a fast search engine (powered by PostgreSQL &amp; TSearch2) indexing a number of PostgreSQL and PostgreSQL related websites.</li>
</ul>
<p>Please send appropriate links to <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a> for possible inclusion on this page.</p>
{%endblock%}
