{%extends "base/page.html"%}
{%block title%}Contributors Committee{%endblock%}
{%block contents%}

<h1>Contributors Committee <i class="fa fa-users"></i></h1>

<p>
  All Contributor recognition is curated by the Contributor Committee,
  who decides on the status of each Contributor, or potential Contributor,
  on an individual basis. Decisions are made in accordance with the
  <a href="/about/policies/contributors/">Recognized Contributors</a> policy.
  The current method of choosing who qualifies as a Contributor is via simple
  majority vote of those on the committee. The decision of the committee is
  final unless overridden by the Core Team.
</p>

<p>
  The size and membership of the Committee is self determined,
  but ratified by a simple majority vote of the Core Team. Generally
  the goal is that there be a minimum of three people, with no single
  company employing a majority of the committee membership.
</p>

<p>
  The current members are:
</p>
<ul>
  <li>Christoph Berg</li>
  <li>Joe Conway</li>
  <li>Melanie Plageman</li>
</ul>

<p>
  The Contributor Committee strives to meet regularly to
  discuss the current pool of candidates. The
  <a href="/community/contributors/">Contributor Profiles</a> page is
  updated promptly after any decisions are made with respect to additions
  or changes.
</p>
{%endblock%}
