{%extends "base/page.html"%}
{%block title%}Infrastructure Team{%endblock%}
{%block contents%}

<h1>Infrastructure Team <i class="fa fa-users"></i></h1>

<p>
  The Infrastructure team is responsible for running all of the
  postgresql.org infrastructure. This includes a wide variety of
  public and non-public services. PostgreSQL website development
  is discussed on the
  <a href="http://archives.postgresql.org/pgsql-www/">pgsql-www mailing list</a>.
  Source code for the postgresql.org web site is stored in a public
  <a href="https://git.postgresql.org/gitweb/?p=pgweb.git;a=summary">GIT repository</a>.
</p>

<h2>Infrastructure Team Members</h2>

<p>
  The following people are part of the sysadmin team running the
  postgresql.org infrastructure.
</p>
<ul>
  <li>Magnus Hagander</li>
  <li>&Aacute;lvaro Herrera</li>
  <li>Stefan Kaltenbrunner</li>
  <li>Dave Page</li>
  <li>Joe Conway</li>
  <li>Christophe Pettus</li>
  <li>Yogesh Sharma</li>
</ul>

<p>
  In case you want to reach out to the Infrastructure team, please
  contact us at sysadmins@lists.postgresql.org
</p>

{%endblock%}
