{%extends "base/page.html"%}
{%load markup%}
{%block title%}Event archive{%endblock%}
{%block contents%}

{%for eventblock in eventblocks%}
<h1><a name="{{eventblock.name}}">{{eventblock.name}}</a></h1>
<p>
<i><b>Note:</b> The PostgreSQL Global Development Group does not endorse any
events run by third parties. No guarantee of the quality of events is offered
whatsoever.</i>
</p>
{%for event in eventblock.events %}
<div><a href="/about/event/{{event.id}}/">{{event.title}}</a></div>
<div>Date: <b>{{event.displaydate|safe}}</b></div>
<div>Location: <b>{{event.locationstring}}</b></div>
<p>
{{event.summary|markdown:"safe"}}
</p>
{%endfor%}
{%endfor%}

<p><a href="/account/events/new/">Submit event</a></p>
{%endblock%}

