{%extends "base/page.html"%}
{%load markup%}
{%block title%}{{obj.title}}{%endblock%}
{%block contents%}
<h1>{{obj.title}}</h1>
<div class="eventdate">Posted on <b>{{obj.displaydate|safe}}</b></div>
<div>Location: {{obj.locationstring}}</div>
<p>
{{obj.details|markdown:"safe"}}
</p>
{%if obj.has_organisation%}
<p>Posted by {{obj.org}}{%if obj.org.email%} ({{obj.org.email}}){%endif%}.</p>
{%else%}
<p><i>This event has been migrated from a previous version of the PostgreSQL
website. We apologise for any formatting issues caused by the migration.</i></p>
{%endif%}
<p>
<i><b>Note:</b> The PostgreSQL Global Development Group does not endorse any
events run by third parties. No guarantee of the quality of events is offered
whatsoever.</i>
</p>
{%endblock%}
