{%extends "base/page.html"%}
{%block title%}PostgreSQL 8.4 Press Kit{%endblock%}
{%block contents%}

<h1>PostgreSQL 8.4 Press Kit</h1>

<h2>Contents</h2>

<p>
 &nbsp; <a href="#original_release">Text of Original Release</a><br />
 &nbsp; <a href="#additional_features">Feature List</a><br />
 &nbsp; <a href="#download">Where to Download</a><br />
 &nbsp; <a href="#docs">Documentation</a><br />
 &nbsp; <a href="#license">License</a><br />
 &nbsp; <a href="#contact">Contacts</a><br />
 &nbsp; <a href="#quoted_companies">Full Text of Quotes and Company Information</a><br />
 &nbsp; <a href="#companies">Corporate Support</a><br />
 &nbsp; <a href="#translations">Official Translations of this PressKit</a><br />
</p>

<a name="original_release"></a><h2>Original Press Release</h2>

<p><b>1 July 2009</b> The PostgreSQL Global Development Group has released version 8.4, continuing the rapid development of the world's most advanced open source database.  This release contains an abundance of enhancements to make administering, querying, and programming of PostgreSQL databases easier than ever before.  With 293 new or improved features in version 8.4, there are even more reasons to choose PostgreSQL for your next project.</p>

<p>The most numerous changes in PostgreSQL 8.4 are new or improved administration and monitoring tools and commands.  Each user has their own favorite features which will make day-to-day work with PostgreSQL easier and more productive for them.</p>

<p><i>"We've used PostgreSQL for seven years now, and we're really looking forward to many of the features in 8.4, particularly column permissions, per-database locale, partial matches for GIN indexes and user defined exceptions,"</i> says Jeffrey Webster, CTO of ZooLoo.com. <i>"PostgreSQL has allowed us to grow without sacrificing data integrity."</i></p>

<p>Among the most popular enhancements are:</p>
<ul>
<li><b>Parallel Database Restore</b>, speeding up recovery from backup up to 8 times</li>
<li><b>Per-Column Permissions</b>, allowing more granular control of sensitive data</li>
<li><b>Per-database Collation Support</b>, making PostgreSQL more useful in multi-lingual environments</li>
<li><b>In-place Upgrades</b> through pg_migrator beta, enabling upgrades from 8.3 to 8.4 without extensive downtime</li>
<li><b>New Query Monitoring Tools</b>, giving administrators more insight into query activity</li>
</ul>

<p>Version 8.4 makes data analysis easier through the advanced ANSI SQL2003 features of <b>windowing functions</b>, <b>common table expressions</b> and <b>recursive joins</b>. <i>"These query structures increase the expressiveness of PostgreSQL's dialect of SQL substantially, allowing users to ask interesting questions in a single query that would have been impossible to ask before,"</i> explains Sailesh Krishnamurthy, Founder, Truviso.  Enhancements to stored procedures, such as <b>default parameters</b> and <b>variadic parameters</b>, make database server programming simpler and more compact.</p>

<p>The new release boosts application performance as well, as Kevin Grittner, Database Administrator for the Wisconsin Courts System comments, <i>"PostgreSQL continues to improve performance in every major release.  Version 8.4 has added several optimizations, such as semi-joins and anti-joins, which provide dramatic improvement in the run time of some of our most demanding queries."</i></p>

<p>These features mean that PostgreSQL 8.4 will serve more users than ever, such as the OpenStreetMap project. <i>"When we were planning the new version of the OpenStreetMap API, it became clear that we needed a world-class database that not only ticks the right feature boxes, but actually runs well at the scale we need. Although there are many open source databases available, PostgreSQL was the obvious choice,"</i> says Tom Hughes, OpenStreetMap system administrator.</p>


<h2>Extended Release</h2>

<a name="additional_features"></a><h2>Feature List</h2>
<p>
Version 8.4 has an unprecedented number of new features.  We've created additional pages to catalog them:
</p>
<ul>
<li><a href="/about/press/features84">Full list of features (English only)</a></li>
<li><a href="/about/featurematrix">Feature matrix (English only)</a></li>
<li><a href="/docs/8.4/static/release-8-4.html">Release Notes</a></li>
</ul>
<a name="download"></a><h2>Downloads</h2>
<ul>
<li><a href="/download">Downloads page</a>, with links to installers and tools.</li>
<li><a href="/ftp/source/v8.4.0">Source Code</a></li>
<li><a href="/download/windows">Windows Installers</a></li>
<li><a href="/download/linux">Linux Installers</a> and package repositories</li>
<li><a href="/download/solaris">Solaris Packages</a></li>
<li><a href="/download/macosx">Mac OSX Installers</a></li>
<li><a href="/download/freebsd">FreeBSD Ports</a></li>
<li><a href="http://pgfoundry.org/projects/pg-migrator/">pg_migrator Project</a></li>
<li><a href="http://www.pgfoundry.org">Optional Components and Add-Ons</a></li>
<li><a href="http://www.postgresql.org/download/product-categories">Related and Commercial Software</a></li>
</ul>

<a name="docs"></a><h2>Documentation</h2>

<p>HTML documentation and man pages are installed with PostgreSQL, but feel free to browse, search and comment on our extensive, interactive <a href="/docs/8.4/interactive">online documentation</a>.</p>

<a name="license"></a><h2>License</h2>
<p>
PostgreSQL uses the <a href="/about/licence">BSD license</a>, which only requires that the licensed source code maintain its copyright and licensing information. This
<a href="http://www.opensource.org/licenses/bsd-license.php">OSI-certified license</a> is widely appreciated as flexible and business-friendly, since it does not restrict the use of PostgreSQL with commercial and proprietary applications. Together with multi-company support and public ownership of the code, the BSD license makes PostgreSQL very popular with vendors wanting to embed a database in their own products without fear of fees, vendor lock-in, or changes in licensing terms.
</p>

<a name="contact"></a><h2>Contacts</h2>

<p><a href="http://www.postgresql.org">PostgreSQL home page</a></p>

<p><b>Press Inquiries</b></p>

<p>English-language Press are urged to contact one of our project volunteers below.  For contacts in other languages and regions, see <a href="/about/press/contact">our international contact list.</a></p>

<p>Eastern USA and Canada<br />
Bruce Momjian
<br /><a href="mailto:press@postgresql.org">press@postgresql.org</a>
<br />Phone: +1-610-359-1001</p>

<p>Western USA and Canada<br />
Josh Berkus
<br /><a href="mailto:press@postgresql.org">press@postgresql.org</a>
<br />Phone: +1-415-752-2500</p>

<p>India<br />
Ashish Mehra
<br /><a href="mailto:in@postgresql.org">in@postgresql.org</a>
<br />Cell: +91-9822002270</p>

<p>Pakistan<br />
Umair Shahid
<br /><a href="mailto:pk@postgresql.org">pk@postgresql.org</a>
<br />Phone: +92-300-852-6020</p>

<p>Ireland<br />
Raymond O'Donnell
<br /><a href="mailto:ie@postgresql.org">ie@postgresql.org</a>
<br />Cell: +353 (0)87 2241365</p>

<p>United Kingdom<br />
Simon Riggs
<br /><a href="mailto:uk@postgresql.org">uk@postgresql.org</a>
<br />Cell: +44-7900-255520</p>

<p>Australia<br />
>Charles Duffy
<br /><a href="mailto:au@postgresql.org">au@postgresql.org</a>
<br />Phone: 0439 594 738
<br />Cell: 0439 594 768</p>

<a name="quoted_companies"></a><h2>Full Text of Quotes and Company Information</h2>

<p><i>"We've used PostgreSQL for 7 years now, and we're really looking forward to many of the features in 8.4, particularly column permissions, per-database locale, partial matches for GIN indexes and user defined exceptions."</i> said Jeffrey Webster, CTO of ZooLoo.com. <i>"PostgreSQL has allowed us to grow without sacrificing data integrity."</i><br />
Contact: <a href="mailto:melissa@zooloo.com">Melissa</a> or visit <a href="http://www.zooloo.com/">ZooLoo.com</a></p>

<p><i>"PostgreSQL continues to improve performance in every major release,"</i> 
said Kevin Grittner, Database Administrator, Consolidated Court Automation Programs, Wisconsin Court System. 
<i>"Version 8.4 has added several optimizations, such as semi-joins and anti-joins, which provide dramatic improvement in the run time of
some of our most demanding queries."</i><br />
Contact: <a href="mailto:Kevin.Grittner@wicourts.gov">Kevin Grittner</a> or visit <a href="http://www.wicourts.gov/">Wisconsin Court System</a> </p>

<p><i>"These query structures increase the expressiveness of PostgreSQL's dialect of SQL substantially, allowing users to ask interesting questions in a single query that would have been impossible to ask before,"</i> explains Sailesh Krishnamurthy, Founder and VP Techology, Truviso.<br />
Contact: <a href="mailto:info@truviso.com">Info e-mail</a> or visit <a href="http://www.truviso.com">Truviso</a>.</p>

<p><i>"When we were planning the new version of the OpenStreetMap API, it
became clear that we needed a world-class database that not only ticks
the right feature boxes, but actually runs well at the scale we need. 
PostgreSQL allows us to support database consistency using foreign
keys and transactional updates whilst giving our system administrators
the tools required to work with our 850Gb database, managing the
continuing development of our table structures and operational
aspects such as consistent database snapshots. Although there are many
open source databases available, PostgreSQL was the obvious choice,"</i>
said Tom Hughes, OpenStreetMap project system administrator.<br />
Contact: <a href="mailto:webmaster@openstreetmap.org">Tom Hughes</a> or visit <a href="http://www.openstreetmap.org">OpenStreetMap</a>.</p>

<a name="companies"></a><h2>Corporate Support</h2>

<p>PostgreSQL enjoys the support of numerous companies, who sponsor developers, provide hosting resources, and give us financial support.  The largest long-term sponsors are listed on our <a href="/about/sponsors">development sponsors page.</a></p>

<p>There is also a large community of <a href="/support/professional_support">companies offering PostgreSQL Support</a>, from individual consultants to multinational companies.</p>

<p><a href="/about/donate">Donations</a> gladly accepted.</p>

<a name="Translations"></a><h2>Official Translations of this PressKit</h2>

<p>Official translations of this document can be found on <a href="/about/press">the postgresql.org website.</a></p>


{%endblock%}
