{%extends "base/page.html"%}
{%block title%}PostgreSQL 8.4 Press Kit{%endblock%}
{%block contents%}

<h1>PostgreSQL 8.4 Press Kit</h1>

<h2>Contenuti</h2>

<ul>
<li><a href="#original_release">Testo di rilascio originale</a></li>
<li><a href="#additional_features">Elenco delle caratteristiche</a></li>
<li><a href="#download">Dove scaricarlo</a></li>
<li><a href="#docs">Documentazione</a></li>
<li><a href="#license">Licenza</a></li>
<li><a href="#contact">Contatti</a></li>
<li><a href="#quoted_companies">Testo completo delle citazioni ed informazioni sulle aziende</a></li>
<li><a href="#companies">Supporto professionale</a></li>
</ul>

<a name="original_release"></a><h2>Testo del rilascio originale</h2>

<p><strong>1 luglio 2009:</strong> Il PostgreSQL Global Development Group ha rilasciato la versione 8.4, continuando il rapido sviluppo del database open source pi&ugrave; avanzato al mondo. Questa versione contiene un elevato numero
di miglioramenti che rendono pi&ugrave; semplice che mai l'amministrazione, l'interrogazione e la programmazione dei database PostgreSQL. Grazie alle 293 tra migliorie e novit&agrave; della versione 8.4,
ci sono ancora pi&ugrave; ragioni che suggeriscono di scegliere PostgreSQL per il vostro prossimo progetto.</p>

<p>La maggior parte delle modifiche presenti in PostgreSQL 8.4 riguardano nuovi strumenti e nuovi comandi dedicati all'amministrazione o al monitoraggio, unitamente a nuove versioni di soluzioni
gi&agrave; presenti nella versione 8.3. Ogni utente, indipendentemente dalle proprie caratteristiche preferite, trover&agrave; pi&ugrave; facile e produttivo il lavoro quotidiano.</p>

<p><em>"Usiamo PostgreSQL gi&agrave; da sette anni, e stiamo aspettando con trepidazione molte delle novit&agrave; della versione 8.4, in particolare i permessi sulle colonne, la localizzazione a livello di singolo database, i match parziali per gli indici GIN e le eccezioni definite dall'utente"</em>, afferma Jeffrey Webster, CTO di ZooLoo.com. <em>"PostgreSQL ci ha permesso di crescere senza sacrificare l'integrit&agrave; dei dati."</em></p>

<p>Tra i miglioramenti pi&ugrave; attesi troviamo:</p>

<ul>
<li><strong>Restore del database in parallelo</strong>, per velocizzare fino ad 8 volte un ripristino da backup</li>
<li><strong>Permessi per singola colonna</strong>, per permettere un controllo pi&ugrave; granulare dei dati sensibili</li>
<li><strong>Supporto alla collation per singolo database</strong>, per rendere PostgreSQL pi&ugrave; utile in ambienti multilingua</li>
<li><strong>Aggiornamenti in loco</strong> tramite pg_migrator beta, per permettere aggiornamenti dalla 8.3 alla 8.4 senza lunghe interruzioni del servizio</li>
<li><strong>Nuovi strumenti per il monitoraggio delle interrogazioni</strong>, per dare agli amministratori maggiori informazioni sull'attivit&agrave; delle query</li>
</ul>

<p>La versione 8.4 rende pi&ugrave; facile l'analisi dei dati tramite le funzioni avanzate dello standard ANSI SQL2003, quali le <strong>funzioni di windowing</strong>, le <strong>common table expression</strong>
e le <strong>join ricorsive</strong>.  <em>"Queste strutture di query aumentano notevolmente l'espressivit&agrave; del dialetto SQL di PostgreSQL, permettendo agli utenti di formulare con una sola query delle domande interessanti che sarebbero state impossibili in precedenza"</em>, spiega Sailesh Krishnamurti, fondatore di Truviso. Le migliorie alle stored procedure, come i <strong>parametri di default</strong> ed i <strong>parametri variadici</strong>, rendono pi&ugrave; semplice e compatta la programmazione del server di database.</p>

<p>La nuova versione migliora le prestazioni delle applicazioni, come commenta Kevin Grittner, amministratore di database per il sistema giudiziario del Wisconsin: <em>"PostgreSQL continua a migliorare le
prestazioni ad ogni versione. La versione 8.4 ha aggiunto diverse ottimizzazioni, come le semi-join e le anti-join, le quali permettono una notevole riduzione dei tempi di esecuzione di alcune delle nostre
query pi&ugrave; intensive."</em></p>

<p>Queste caratteristiche implicano che PostgreSQL coprir&agrave; un numero di utenze maggiore di prima, come ad esempio sta accadendo al progetto OpenStreetMap.
<em>"In fase di progettazione della nuova versione delle API di OpenStreetMap, emerse la necessit&agrave; di affidarsi a un database di classe superiore che,
oltre a coprire le funzionalit&agrave; desiderate, risultasse adeguato alle dimensioni richieste dal progetto. Bench&eacute; ci fossero molti database open source,
la scelta ovvia &egrave; stata PostgreSQL."</em>, dice Tom Hughes, amministratore di sistema per OpenStreetMap.</p>

<h2>Note di rilascio estese</h2>

<a name="additional_features"></a><h2>Elenco delle caratteristiche</h2>
<p>
La versione 8.4 ha un numero senza precedenti di nuove caratteristiche. Al fine di poterle elencare tutte, abbiamo creato delle pagine dedicate:
</p>
<ul>
<li><a href="/about/press/features84">Lista completa delle caratteristiche (solo in inglese)</a></li>
<li><a href="/about/featurematrix">Matrice delle caratteristiche (solo in inglese)</a></li>
<li><a href="/docs/8.4/static/release-8-4.html">Note di rilascio</a></li>
</ul>
<a name="download"></a><h2>Download</h2>
<ul>
<li><a href="/download">Pagina di download</a>, con collegamenti ad installer ed altri strumenti.</li>
<li><a href="/ftp/source/v8.4.0">Codice sorgente</a></li>
<li><a href="/download/windows">Installer per Windows</a></li>
<li><a href="/download/linux">Installer per Linux</a> e repository dei pacchetti</li>
<li><a href="/download/solaris">Pacchetti per Solaris</a></li>
<li><a href="/download/macosx">Installer per Mac OSX</a></li>
<li><a href="/download/freebsd">Porting per FreeBSD</a></li>
<li><a href="http://pgfoundry.org/projects/pg-migrator/">Progetto pg_migrator</a></li>
<li><a href="http://www.pgfoundry.org">Componenti aggiuntive</a></li>
<li><a href="http://www.postgresql.org/download/product-categories">Software collegato e/o commerciale</a></li>
</ul>

<a name="docs"></a><h2>Documentazione</h2>

<p>La documentazione in HTML e le pagine man vengono installate con PostgreSQL, ma sentitevi liberi di navigare, ricercare e commentare la nostra <a href="/docs/8.4/interactive">documentazione in linea</a>, estesa ed interattiva.</p>

<a name="license"></a><h2>Licenza</h2>
<p>
PostgreSQL utilizza la <a href="/about/licence">licenza BSD</a>, che richiede unicamente che il codice in licenza mantenga il suo copyright e le sue informazioni di licenza. Questa 
<a href="http://www.opensource.org/licenses/bsd-license.php">licenza certificata OSI</a> &egrave; largamente apprezzata in quanto flessibile e adatta alle imprese, visto che non restringe l'uso di PostgreSQL per applicazioni commerciali e proprietarie. Assieme al supporto da parte di pi&ugrave; compagnie ed alla propriet&agrave; pubblica del codice sorgente, la licenza BSD rende PostgreSQL molto popolare tra i vendor che vogliono includere un database all'interno del loro prodotto senza alcun timore di costi di licenza, <em>vendor lock-in</em> o cambi nei termini di licenza.
</p>


<a name="contact"></a><h2>Contatti</h2>

<p>Pagine Web</p>
<ul>
<li><a href="http://www.postgresql.org">Home page di PostgreSQL</a></li>
<li><a href="http://www.itpug.org/">Associazione Culturale ITPUG - Italian PostgreSQL Users Group</a></li>
<li><a href="http://www.psql.it/">PSQL.it</a></li>
</ul>

<p>Domande della stampa</p>
<p>Italia<br />
Stefano Reksten<br />
<a href="it@postgresql.org">it@postgresql.org</a><br />
+39 347 4745979</p>

<p>Associazione Culturale ITPUG - Italian PostgreSQL Users Group<br />
  <a href="mailto:info@itpug.org">info@itpug.org</a><br />
  <a href="http://www.itpug.org/">http://www.itpug.org/</a></p>

  <p>PSQL.it<br />
  <a href="http://www.psql.it/">http://www.psql.it/</a></p>

<p>Per i contatti in altre zone, controllate la nostra <a href="/about/press/contact">lista di contatti internazionali.</a></p>

<a name="quoted_companies"></a><h2>Testo completo delle citazioni ed informazioni sulle aziende</h2>

<p>I contatti seguenti sono unicamente in inglese.</p>

<p><em>"Usiamo PostgreSQL gi&agrave; da sette anni, e stiamo aspettando con trepidazione molte delle novit&agrave; della versione 8.4, in particolare i permessi sulle colonne, la localizzazione a livello di singolo database, i match parziali per gli indici GIN e le eccezioni definite dall'utente"</em>, afferma Jeffrey Webster, CTO di ZooLoo.com. <em>"PostgreSQL ci ha permesso di crescere senza sacrificare l'integrit&agrave; dei dati."</em><br />
Contattate <a href="mailto:melissa@zooloo.com">Melissa</a> o visitate <a href="http://www.zooloo.com/">ZooLoo.com</a></p>

<p>La nuova versione migliora le prestazioni delle applicazioni, come commenta Kevin Grittner, amministratore di database per il sistema giudiziario del Wisconsin: <em>"PostgreSQL continua a migliorare le
prestazioni ad ogni versione. La versione 8.4 ha aggiunto diverse ottimizzazioni, come le semi-join e le anti-join, le quali permettono una notevole riduzione dei tempi di esecuzione di alcune delle nostre
query pi&ugrave; intensive."</em><br />
Contattate <a href="mailto:Kevin.Grittner@wicourts.gov">Kevin Grittner</a> o visitate <a href="http://www.wicourts.gov/">Wisconsin Court System</a> </p>

<p><em>"Queste strutture di query aumentano notevolmente l'espressivit&agrave; del dialetto SQL di PostgreSQL, permettendo agli utenti di formulare con una sola query delle domande interessanti che sarebbero state impossibili in precedenza"</em>, spiega Sailesh Krishnamurti, fondatore di Truviso.<br />
Contattate <a href="mailto:info@truviso.com">la e-mail per informazioni</a> o visitate <a href="http://www.truviso.com">Truviso</a>.</p>

<p><em>"In fase di progettazione della nuova versione delle API di OpenStreetMap, emerse la necessit&agrave; di affidarsi a un database di classe superiore che,
oltre a coprire le funzionalit&agrave; desiderate, risultasse adeguato alle dimensioni richieste dal progetto. 
PostgreSQL ci permette di garantire la
consistenza dei dati utilizzando chiavi esterne ed aggiornamenti transazionali, dando nello stesso tempo
ai nostri amministratori gli strumenti necessari per lavorare col nostro
database da 850Gb, gestendo il continuo sviluppo delle strutture delle nostre tabelle e
gli aspetti operazionali come snapshot consistenti del database.
Bench&eacute; ci fossero molti database open source,
la scelta ovvia &egrave; stata PostgreSQL."</em>, dice Tom Hughes, amministratore di sistema per OpenStreetMap.<br />
Contattate <a href="mailto:webmaster@openstreetmap.org">Tom Hughes</a> o visitate <a href="http://www.openstreetmap.org">OpenStreetMap</a>.</p>

<a name="companies"></a><h2>Supporto professionale</h2>

<p>PostgreSQL beneficia del supporto da parte di numerose aziende, che sponsorizzano gli sviluppatori, forniscono risorse per l'hosting, e forniscono supporto economico al progetto. Gli sponsor pi&ugrave; importanti sono elencati nella nostra <a href="/about/sponsors">pagina degli sponsor per lo sviluppo.</a></p>

<p>C'&egrave; anche un vasto gruppo di <a href="/support/professional_support">aziende che offrono supporto professionale per PostgreSQL</a>, da consulenti individuali a aziende multinazionali.</p>

<p>Le <a href="/about/donate">donazioni</a> sono benvenute.</p>

{%endblock%}
