{%extends "base/page.html"%}
{%block title%}PostgreSQL 8.4 Press Kit{%endblock%}
{%block contents%}

<h1>PostgreSQL 8.4 Press Kit</h1>

<h2>Contents</h2>

<p>
 &nbsp; <a href="#original_release">Tekst van Original Release</a><br />
 &nbsp; <a href="#additional_features">Lijst van Features</a><br />
 &nbsp; <a href="#download">Download</a><br />
 &nbsp; <a href="#docs">Documentatie</a><br />
 &nbsp; <a href="#license">Licentie</a><br />
 &nbsp; <a href="#contact">Contactinformatie</a><br />
 &nbsp; <a href="#companies">Support voor bedrijven</a><br />
</p>

<a name="original_release"></a><h2>Original Press Release</h2>

<p><b>1 juli 2009</b> De PostgreSQL Global Development Group heeft vandaag versie 8.4 vrijgegeven van 's werelds meest geavanceerde open source database.  Deze release bevat vele verbeteringen op het gebied van beheer, zoekopdrachten en programmeren die het gebruik van PostgreSQL databases gemakkelijker maken.  Er zijn 293 nieuwe en verbeterde features in versie 8.4. Er zijn steeds meer redenen PostgreSQL te kiezen for je volgende projekt.</p>

<p>PostgreSQL 8.4 bevat talrijke nieuwe of verbeterde beheers- en monitoring-tools en opdrachten.  Iedere gebruiker heeft zijn eigen favoriete feature dat gebruik van PostgreSQL voor hen gemakkelijker en produktiever maakt.</p>

<p><i>"Wij gebruiken PostgreSQL nu zeven jaar, and wij zien uit naar de nieuwe features in 8.4, vooral column permissies, per-database locale, partial matches voor GIN indexen en gebruiker-gedefinieerde exceptions,"</i> zegt Jeffrey Webster, CTO van ZooLoo.com. <i>"Dankzij PostgreSQL konden wij groeien zonder problemen met data integriteit."</i></p>


<p>De meest populaire verbeteringen:</p>
<ul>
<li><b>Parallel Database Restore</b> - recovery vanaf backup verloopt tot 8 maal sneller</li>
<li><b>Per-Column Permissions</b> - meer granulaire controle op gevoelige gegevens</li>
<li><b>Per-database Collation Support</b> - nuttig in multi-lingual omgevingen</li>
<li><b>In-place Upgrades</b> - via pg_migrator beta: maakt upgrades mogelijk van 8.3 naar 8.4 zonder langdurige downtime</li>
<li><b>Nieuwe Query Monitoring Tools</b> - geeft administrators meer inzicht in query activiteit</li>
</ul>

<p>Versie 8.4 maakt data analyse gemakkelijker door de geavanceerde ANSI SQL2003 features van <b>windowing functions</b>, <b>common table expressions</b>, en <b>recursive queries</b>. <i>"Deze query structuren verbeteren de expressiviteit van PostgreSQL's SQL-dialect aanmerkelijk, en users kunnnen er in een enkele query interessante vragen mee formuleren die voorheen onmogelijk waren,"</i> zegt Sailesh Krishnamurthy, Founder, Truviso.  Verbeteringen aan stored procedures, zoals <b>default parameters</b> en <b>variadic parameters</b>, maakt database server programmeren eenvoudiger en compacter.</p>

<p>De nieuwe release verbetert ook applicatie prestaties, zoals Kevin Grittner (Database Administrator, Wisconsin Courts System) uitlegt: <i>"De snelheid van PostgreSQL blijft in iedere major release toenemen.  Versie 8.4 heeft verschillende optimalisaties zoals semi-joins en anti-joins die een dramatische verbetering in run-time geven van sommige van onze zwaarste queries ."</i></p>

<p>Door al deze features heeft PostgreSQL 8.4 meer gebruikers dan ooit, zoals het OpenStreetMap projekt. <i>"Toen we de nieuwe versie van de OpenStreetMap API planden, werd het duidelijk dat we een wereldklasse-database nodig hadden, met niet alleen de juiste feature-set, maar ook met goede prestaties op de schaal die wij nodig hebben.  Hoewel er vele open source databases beschikbaar waren, was PostgreSQL de evidente keus,"</i> zegt Tom Hughes, OpenStreetMap systeem administrator.</p>


<a name="additional_features"></a><h2>Lijst van Features</h2>
<p>
Versie 8.4 heeft een groot aantal nieuwe features.  We hebben er extra pagina's voor gemaakt:
</p>
<ul>
<li><a href="/about/press/features84">Full list of features (English only)</a></li>
<li><a href="/about/featurematrix">Feature matrix (English only)</a></li>
<li><a href="/docs/8.4/static/release-8-4.html">Release Notes</a></li>
</ul>
<a name="download"></a><h2>Downloads</h2>
<ul>
<li><a href="/download">Downloads page</a>, met links naar installers en tools.</li>
<li><a href="/ftp/source/v8.4.0">Bron Code</a></li>
<li><a href="/download/windows">Windows Installers</a></li>
<li><a href="/download/linux">Linux Installers</a> en package repositories</li>
<li><a href="/download/solaris">Solaris Packages</a></li>
<li><a href="/download/macosx">Mac OSX Installers</a></li>
<li><a href="/download/freebsd">FreeBSD Ports</a></li>
<li><a href="http://pgfoundry.org/projects/pg-migrator/">pg_migrator Projekt</a></li>
<li><a href="http://www.pgfoundry.org">Optionele Componenten en Add-Ons</a></li>
<li><a href="http://www.postgresql.org/download/product-categories">PostgreSQL-gerelateerde en Commerciele Software</a></li>
</ul>

<a name="docs"></a><h2>Documentatie</h2>

<p>HTML documentatie en man pages worden mee-geinstalleerd met PostgreSQL, maar je kunt ook gebruikmaken van onze uitgebreide, interactieve <a href="/docs/8.4/interactive">online documentatie</a>; je kunt er browsen, zoeken, en commentaar achterlaten.</p>


<a name="license"></a><h2>Licentie</h2>
<p>PostgreSQL gebruikt de <a href="/about/licence">BSD licentie</a>, die slechts vereist dat in de gelicenseerde broncode de auteursrecht-vermelding en licentie-informatie gehandhaafd blijft.  Deze <a href="http://www.opensource.org/licenses/bsd-license.php">OSI-gecertificeerde licentie</a> wordt wijd gewaardeerd als flexibel en "business-friendly", aangezien het het gebruik van PostgreSQL met commerciele en proprietaire toepassingen niet beperkt. Samen met de "multi-company" ondersteuning en het publieke eigendom van de code, maakt de BSD licentie PostgreSQL zeer populair bij bedrijven die een database in hun eigen producten willen meeleveren zonder bang te hoeven zijn voor extra kosten, "vendor lock-in", of veranderingen in licentie-overeenkomst.</p>

<a name="contact"></a><h2>Contactinformatie</h2>

<p>Web Pagina's</p>
<ul>
<li><a href="http://www.postgresql.org">PostgreSQL home page</a></li>
<li><a href="http://www.postgresql.nl">PostgreSQL Nederland</a></li>
</ul>

<p>Vragen:<br />
Gevik Babakhani<br />
PostgreSQL Nederland<br />
+31620006265<br />
<a href="mailto:nl@postgresql.org">nl@postgresql.org</a>
</p>

<i>Nederlandse vertaling, verzorgd door Mr. E. Rijkers.</i>

<p>Voor contactinformatie in andere regio's, zie <a href="/about/press/contact">onze internationale contacten lijst</a></p>

<a name="companies"></a><h2>Steun van Bedrijven</h2>

<p>PostgreSQL wordt gesteund door talrijke bedrijven, die ontwikkelaars sponsoren, hosting verzorgen en ons financi&euml;le steun geven.  De grootste lange-termijn sponsors zijn vermeld op onze <a href="/about/sponsors">pagina van ontwikkelingssponsors.</a></p>

<p>Er is ook een grote gemeenschap van <a href="/support/professional_support">bedrijven die commerci&euml;le PostgreSQL support aanbieden</a>, in grootte vari&euml;rend van individuele consultants tot multinationale bedrijven. De Nederlandse bedrijven zijn op <a href="http://www.postgresql.nl">www.postgresql.nl</a> te vinden.</p>

<p><a href="/about/donate">Donaties</a> graag geaccepteerd.</p>




{%endblock%}
