{%extends "base/page.html"%}
{%block title%}PostgreSQL 8.4 版发布宣传资料{%endblock%}
{%block contents%}

<h1>PostgreSQL 8.4 版发布宣传资料</h1>

<h2>目录</h2>

<p>
 &nbsp; <a href="#original_release">新版本发布说明的原文</a><br />
 &nbsp; <a href="#additional_features">特性列表</a><br />
 &nbsp; <a href="#download">下载地址</a><br />
 &nbsp; <a href="#docs">文档</a><br />
 &nbsp; <a href="#license">版权声明</a><br />
 &nbsp; <a href="#contact">联系方式</a><br />
 &nbsp; <a href="#quoted_companies">相关商业公司信息</a><br />
 &nbsp; <a href="#companies">企业支持</a><br />
</p>

<a name="original_release"></a><h2>新版本发布说明的原文</h2>

<p><b>2009/7/01</b>PostgreSQL8.4版发布，这个举措也兑现了PostgreSQL全球开发组对全球最为功能强大的开源数据库的持续快速开发。这个版本包含一系列的功能增强用于使数据库管理、查询、数据库编程等比以前更加简单，在8.4版本中多达293处新增或改进，这也给你下一个项目采用PostgreSQL提供了更多的理由。</p>

<p>在PostgreSQL 8.4版本中，更新内容最多的地方是提高管理和监控系统运行的工具或指令。每一个用户都会有他们喜欢的特性，来让每天的PostgreSQL的管理工作更加简单和更有效率。</p>

<p><i>“我们已使用PostgreSQL有七年了，我们的确很期待8.4版本中的新特性，特别是列级权限控制、分数据库的编码设置、GIN索引的局部匹配以及用户自定义的异常，”</i> 
来自ZooLoo.com公司的技术总监Jeffrey Webster说道， <i>“PostgreSQL允许我们的数据在快速增长后而不必降低数据集成性。”</i></p>

<p>在这些最引人关注的增强功能之中包括：</p>
<ul>
<li><b>并行方式进行数据恢复</b>，最高可提高至原来8倍速度</li>
<li><b>按列进行权限控制</b>，允许对敏感数据进行更加细致的授权控制</li>
<li><b>针对每一个数据库进行不同编码区分</b>，这尤其在多语言环境下非常有用</li>
<li><b>在线升级</b>，通过pg_migrator功能进行在线快速升级，允许从8.3至8.4升级时而不必会有较长的停机时间</li>
<li><b>新的查询监控工具</b>，从而给管理员对查询的运行以更多的参考信息</li>
</ul>

<p>PostgreSQL 8.4版通过使用ANSI SQL2003标准中的<b>窗口函数</b>、<b>公共表表达式</b>和<b>递归查询</b>使得数据分析更加容易。<i>“这些查询结构的增加充分地展示了PostgreSQL的查询能力，它允许用户在单个
查询中得出很有意思的结果，而这在以前是不可能实现的，”</i> 来自Truviso公司的创始人Sailesh Krishnamurthy评价道，  而对存储过程的增强，如<b>缺省参数</b>和<b>可变数量参数</b>的功能实现，使得
服务器端的编程更简单和简洁。</p>

<p>新版本也提升了应用程序的性能，来自威斯康星州法院的数据库管理员Kevin Grittner评论道，<i>“PostgreSQL在每一个主要版本中都提升了性能，8.4版本中增加了好几处优化，如半
联合和反联合查询，它们大大降低了我们查询请求量最多的查询的运行时间。”</i></p>

<p>这些更新的特性也意味着PostgreSQL 8.4版本将可能服务更多的用户，如OpenStreetMap项目。<i>“当我们计划为OpenStreetMap API开发一个新版本时，很明显我们需要一个世界级的数据库系统，它不仅要具备我们需要的一切特性，同时也要在我们的规模快速扩大时也可以运行得很好才行，虽然有很多开源数据库可供选择，很明显，PostgreSQL才是我们的选择。”</i> 来自OpenStreetMap公司的系统管理员Tom Hughes评价说。</p>


<h2>新版本发布说明（扩充部分）</h2>

<a name="additional_features"></a><h2>特性列表</h2>
<p>
PostgreSQL 8.4版前所未有地增加了很多新特性，我们创建一些专门页的来进行分类列表：
</p>
<ul>
<li><a href="/about/press/features84">所有特性列表页</a></li>
<li><a href="/about/featurematrix">特性矩阵</a></li>
<li><a href="/docs/8.4/static/release-8-4.html">发布说明</a></li>
</ul>
<a name="download"></a><h2>下载地址</h2>
<ul>
<li><a href="/download">下载页面</a>，链接至安装程序和相关工具软件。</li>
<li><a href="/ftp/source/v8.4.0">源代码</a></li>
<li><a href="/download/windows">Windows平台的安装程序</a></li>
<li><a href="/download/linux">Linux平台的安装程序</a> 和一些软件包的版本库</li>
<li><a href="/download/solaris">Solaris平台安装程序</a></li>
<li><a href="/download/macosx">Mac OSX平台安装程序</a></li>
<li><a href="/download/freebsd">FreeBSD平台安装程序</a></li>
<li><a href="http://pgfoundry.org/projects/pg-migrator/">pg_migrator项目</a></li>
<li><a href="http://www.pgfoundry.org">可选增值模块或附件</a></li>
<li><a href="http://www.postgresql.org/download/product-categories">相关商业软件</a></li>
</ul>

<a name="docs"></a><h2>文档</h2>

<p>HTML文档和man手册页会和PostgreSQL同步安装，用户也可以自由地通过在线方式对<a href="/docs/8.4/interactive">8.4版本的在线文档</a>免费地进行浏览、搜索或是交互式地进行注释。</p>

<a name="license"></a><h2>版权声明</h2>

<p>
PostgreSQL 使用<a href="/about/licence">BSD版权</a>，它只要求对有版权的源代码保留其版权和授权的信息即可。
由于这个经 <a href="http://www.opensource.org/licenses/bsd-license.php">OSI认证的版权</a>不限制PostgreSQL在商业环境和有版权的应用程序中使用，
因此被公认为是非常有灵活性和对商业应用是友好的。加上有多个公司的支持和源代码归属公共所有，BSD的版权使得PostgreSQL在那些希望在自己的产品里嵌入数据库的厂商中很
流行，因为他们不用担心费用、嵌入软件的版权锁以及版权条款的改变。
</p>


<a name="contact"></a><h2>联系方式</h2>

<p>Web Pages</p>
<ul>
<li><a href="http://www.postgresql.org">PostgreSQL网站首页</a></li>
</ul>


<p>联系人：<br />
何伟平<br />
北京<br />
<a href="mailto:laserhenry@gmail.com">laserhenry@gmail.com</a><br />
<br />
周到京<br />
合肥<br />
086013515513326<br />
<a href="mailto:cn@postgresql.org">cn@postgresql.org</a>
</p>

<p>要查询特定地区的联系人，可浏览<a href="/about/press/contact">我们的全球联系人员列表。</a></p>


<a name="quoted_companies"></a><h2>相关商业公司信息</h2>

<p>以下联系人仅限英语</p>

<p><i>“我们已使用PostgreSQL有七年了，我们的确很期待8.4版本中的新特性，特别是列级权限控制、分数据库的编码设置、GIN索引的局部匹配以及用户自定义的异常”</i> 来自ZooLoo.com公司的技术总监Jeffrey Webster说道， <i>“PostgreSQL允许我们的数据在快速增长后而不必降低数据集成性。”</i><br />
联系人：<a href="mailto:melissa@zooloo.com">Melissa</a> 或是浏览 <a href="http://www.zooloo.com/">ZooLoo.com网站</a></p>

<p><i>“PostgreSQL在每一个主要版本中都提升了性能，”</i> 来自威斯康星州法院的数据库管理员Kevin Grittner评论道，<i>“8.4版本中增加了好几处优化，如半
联合和反联合查询，它们大大降低了我们查询请求量最多的查询的运行时间。”</i><br />
联系人：<a href="mailto:Kevin.Grittner@wicourts.gov">Kevin Grittner</a> 或是浏览 <a href="http://www.wicourts.gov/">威斯康星州法院网站</a> </p>

<p><i>“这些查询结构的增加充分地展示了PostgreSQL的查询能力，它允许用户在单个查询中得出很有意思的结果，而这在以前是不可能实现的，”</i> 来自Truviso公司的创始人Sailesh Krishnamurthy评价道。<br />
联系人：<a href="mailto:info@truviso.com">Info e-mail</a> or visit <a href="http://www.truviso.com">Truviso网站</a>.</p>

<p><i>“当我们计划为OpenStreetMap API开发一个新版本时，很明显我们需要一个世界级的数据库系统，
它不仅要具备我们需要的一切特性，同时也要在我们的规模快速扩大时也可以运行得很好才行，PostgreSQL允许我们使用外键和事务更新来保证
数据的一致性，同时提供给我们系统管理员合适的工具管理我们约850GB的数据库，提供类似数据快照的操作和开发。虽然有很多开源数据库可供选择，
很明显，PostgreSQL才是我们的选择。”</i>来自OpenStreetMap公司的系统管理员Tom Hughes评价说。<br />
联系人：<a href="mailto:webmaster@openstreetmap.org">Tom Hughes</a> 联系人： <a href="http://www.openstreetmap.org">OpenStreetMap网站</a>.</p>

<a name="companies"></a><h2>企业支持</h2>

<p>PostgreSQL获得了一大批公司的支持，他们资助开发人员，提供网上资源以及给予了资金上的支持。一些较大的且长期支持的公司名单列在我们的 <a href="/about/sponsors">开发支持页面</a>。</p>

<p>还有<a href="/support/professional_support">大量的公司</a>提供从独立顾问到跨国公司的 PostgreSQL 支持。</p>


<p><a href="/about/donate">捐助</a> 方式也会被很高兴地接受。</p>



{%endblock%}
